[2019-07-15 13:29] samuelgarcia opened #1 "Start metapackage"
@alejoe91 @colehurwitz
I have started this.
This will work when spikecomparison will be released at least once.
Could you have a look ?

I did not make branch at the moment.
Shal we move some doc here ?

[2019-07-16 14:59] samuelgarcia commented on #1
@colehurwitz @alejoe91
spikeinterface is working.

Note when you install spikeinterface it will force all pacakge and break the ```python setup.py develop```

To fix this , you need to uninstall everything with
```pip uninstall spikeextractors spiketoolkit spikesorters spikewidgets spikecomparison``` and install back again all packages with "develop" option.

Then you can do ```import spikeinterfa

[2019-07-18 13:58] samuelgarcia opened #2 "Move some doc from spiketoolkit to spikeinterface."

[2019-08-10 17:18] mhhennig opened #4 "Missing dependency"
When installing SI from this location, the `requests` package is not installed.
`spikesorters/ironclust/mdaio.py` wants it.

[2019-08-21 06:53] alejoe91 commented on #2
implement full documentation here.

@samuelgarcia suggests sphinx-gallery

I think we should also have a read the docs and point to the spiketutorials for interactive widgets.

@magland I liked to google colab tutorial because it's very easy to run. We can update that too

[2019-08-26 10:30] samuelgarcia commented on #2
Hi all all.
i will start this week the new doc.

[2019-08-26 12:32] samuelgarcia commented on #4
I think we planed to move mdio from sorters to extractirs and make a weak dependency.
@colehurwitz @alejoe91 @magland is it still the case ?

[2019-08-26 12:39] magland commented on #4
my opinion is to include mdaio in spikesorters to reduce the dependencies. I don't think that spikeextractors should necessarily expose mdaio.

[2019-08-29 20:29] #1 closed

[2019-08-29 20:33] samuelgarcia opened #9 "Where and when to build the doc ? (and how to cache)"
Building the doc will ask for many CPU and will take some time.
More than test.

We should decide where and when to build the full documentation and how to cache for a next build.

Sphinx gallery cache the build, so only modiyed examples are rebuild. But since it also depend on 5 packages sometimes a full build should be done.
We should discuss a stragery for this doc build.

[2019-09-02 15:24] alejoe91 commented on #4
then we should add requests as requirement in the setup.py!

[2019-09-02 15:25] alejoe91 commented on #2
https://github.com/SpikeInterface/spikeinterface/pull/10

only spiketoolkit missing!

[2019-09-02 15:25] alejoe91 opened #11 "Release"
We should release all packages and spikeinterface soon :)

[2019-09-02 15:34] samuelgarcia commented on #2
I am on it.

[2019-09-02 15:35] samuelgarcia commented on #11
Agree but first the doc must auto build and all other doc/readme from other package must be cleaned.

[2019-09-02 15:39] samuelgarcia commented on #11
Maybe we could make a fast cycle with 0.5, 0.6, 0.7 for si before te 1.0.
I think targetting 1.0.0 for end sebtember is wise.

[2019-09-02 16:03] samuelgarcia opened #12 "Port from spiketoolkit examples."
Some NB need also to be prt to spikeinterface doc:
  * curation_sorting_extractor_example.ipynb
  * quality_metrics_curation_example.ipynb
  * validation_example.ipynb

The second one depend on a dataset and so cannot be include for an auto build.
Unless the file would be directly downloadable and quite lightweigh.

What the plan.

I can start porting the first and third one.

@colehurwitz @alejoe

[2019-09-02 16:09] samuelgarcia commented on #12
validation_example.ipynb is totally oudated and not relevant.
Could you confirm ?

[2019-09-02 16:34] samuelgarcia commented on #11
Before the release, we should finish to port all sorter that live in spikeforest but not in spikesorters like waveclust or jrclust.

[2019-09-02 16:35] alejoe91 commented on #12
I believe so. @colehurwitz can confirm!

[2019-09-02 17:53] colehurwitz commented on #12
Yep, validation example totally worthless now. Should be removed.

[2019-09-02 20:09] McDr opened #14 "Spikinterface has no attributes"
I first tried to run spiketoolkit without the spikeinterface meta package, just installed separately. I tried to run the command
`import spiketoolkit as st`
`st.sorters.available_sorters()`

and got the error

I found an open issue in spiketoolkit that suggested I try running spikeinterface instead as it is now packaged this way.  [](https://github.com/SpikeInterface/spiketoolkit/issues/209)

I tr

[2019-09-03 07:04] samuelgarcia commented on #14
For the first part.
For cycle import reason sorters is now totally out of spiketoolkit.
So you need to do ```import spikesorters as ss``` and ```ss.available_sorters()```

For ```AttributeError: module 'spikeinterface' has no attribute 'sorters' ```, this is strange.
Because, I have the same bug when I do it in ipython/jupyter but not in a script.

@alejoe91 : do you experience the same ?

See her

[2019-09-03 07:12] alejoe91 commented on #14
@McDr can you try:

[code]

This works for me.

@samuelgarcia this is strange. If I do:

[code]

it works. If I only import `spikeinterface` all I can access is `version`...

[2019-09-03 07:15] samuelgarcia commented on #14
SAme for me in ipython but not in a script this the test I made on the PR.

[2019-09-03 07:15] alejoe91 commented on #14
@samuelgarcia what you suggest works. Let's do that

[2019-09-03 07:16] samuelgarcia commented on #14
Yes but it make the metapackage enormous!!!!
Like if scipy would import everything at the beginning but not on demand.
I am not very happy with this solution.

[2019-09-03 07:17] alejoe91 commented on #14
what about lazy imports?

[2019-09-03 07:19] samuelgarcia commented on #14
It was a lazy import but this bug sometimes.

The ```from . import sorters``` is a full import.

[2019-09-03 07:24] alejoe91 commented on #14
I'll make a PR to show you what I mean :)

[2019-09-03 07:33] alejoe91 commented on #14
Ok I was kidding. What I had in mind doesn't work. Let's just use this:

[code]

It's not so huge. Alternatively, we can 'force' the user to import separate modules when needed:

[code]

[2019-09-03 09:58] McD-NMI commented on #14
@alejoe91 What you suggested:

`importspikeinter.spikesorters as ss`
`ss.available_sorters() `

works for me as script or in IPython.

[2019-09-03 10:05] alejoe91 commented on #14
Hi @McD-NMI and @McDr

With the latest commit, also:

[code]

should work. Can you confirm that?

[2019-09-03 10:16] McD-NMI commented on #14
@alejoe91

I can confirm this works now!

[2019-09-03 10:17] #14 closed

[2019-09-03 18:05] samuelgarcia opened #18 "Add page that describe sorters"
Add page that describe sorters:
  * url
  * authors
  * install tips

[2019-09-03 18:05] samuelgarcia opened #19 "Add links to spikeforest"

[2019-09-03 18:05] samuelgarcia opened #20 "Add link to spikely"

[2019-09-03 18:05] samuelgarcia opened #21 "Add auuthors/contributors pages."

[2019-09-03 18:06] #12 closed

[2019-09-03 18:07] #2 closed

[2019-09-03 20:00] samuelgarcia commented on #18
See #22

[2019-09-03 20:01] samuelgarcia commented on #19
See #22

[2019-09-03 20:01] samuelgarcia commented on #20
See #22

[2019-09-03 20:01] samuelgarcia commented on #21
See #22

[2019-09-03 20:01] samuelgarcia commented on #21
We also need to add other contributors that make PR on the 5 modules.

[2019-09-04 09:40] #20 closed

[2019-09-04 09:40] #19 closed

[2019-09-04 09:40] #18 closed

[2019-09-04 09:44] alejoe91 commented on #4
https://github.com/SpikeInterface/spikesorters/pull/50

[2019-09-04 09:51] samuelgarcia commented on #4
So we can remove from requirement.txt no ?

[2019-09-04 09:59] alejoe91 commented on #4
yes, I'll merge, release, and update

[2019-09-06 10:22] samuelgarcia opened #24 "Add page to detail strategy of groundtruth comparison."
We should also add a page to detail how make measure GT performence.

This is important. Because even internally we are not totally in tune. :)

[2019-09-08 09:47] alejoe91 commented on #4
https://github.com/SpikeInterface/spikeinterface/pull/23

[2019-09-08 09:47] #4 closed

[2019-09-09 21:46] colehurwitz opened #27 "Examples are no longer notebooks"
So we deleted all the examples that were originally notebooks. Are we ok with not having any notebook examples? Do you think it would make sense to have those as well?

[2019-09-10 07:57] samuelgarcia commented on #27
I think in spiketutorial, we can have notebook.
git history with notebook can be quite heavy so it is better to not include then in our code pacakge

The very best is to add example in spikeinterface/example/*.py with scripts that generate notebook, have a look it is very straigthforward.

.

[2019-09-11 12:55] teristam opened #28 "Supplying sampling_frequency doesn't work in compare_multiple_sorters"
The following code doesn't work if the sorters have no sampling_frequency specified, even though sampling_frequency is being passed as argument:
[code]

Possible cause:
In `MultiSortingComparison._do_matching`, the sampling frequency is never passed to `SortingComparison`

[2019-09-11 13:35] teristam opened #29 "Unexpected behaviour when reading sampling frequency after setting it"
The following code doesn't work:
[code]

Probable cause:
`set_sampling_frequency` set the `_sampling_frequency` on `MultiSortingExtractor` object, but `get_sampling_frequency` return the underlying `_sortings` object instead.

[2019-09-16 10:10] #28 closed

[2019-09-19 10:24] samuelgarcia opened #32 "Real dataset for example"
For comparison example I propose to include real dataset.
We could include in the git all the npz for one mearec with ks, ks2, tdc, hs.
It should quite light (I hope) and we could make more fancy plot to explain concept about GT comaprison (hungarian vs best, ...)

[2019-09-30 17:10] colehurwitz opened #33 "Documentation time outs"
It seems like the read the docs times out quite often. Any ideas how to fix this?

@samuelgarcia Can you rebuild the current documentation? I made some markdown changes.

[2019-09-30 17:34] #33 closed

[2019-10-01 11:49] #24 closed

[2019-10-01 11:50] #27 closed

[2019-10-08 00:03] rly opened #40 "Getting started tutorial use of mountainsort throws error"
When I run this line:
https://github.com/SpikeInterface/spikeinterface/blob/75dc13fdb947f031f7448167e6daa83f3116dc81/examples/getting_started/plot_getting_started.py#L135

I get the following error:
[code]

Packages:
ml-ms4alg                     0.2.3
spikecomparison               0.2.0
spikeextractors               0.7.0
spikeforestwidgets            0.1.4
spikeinterface                0.9.0
spi

[2019-10-08 00:21] rly commented on #40
Ah, never mind! I had installed ml-ms4alg from conda, which has an old version that is missing the `verbose` keyword.

[2019-10-08 00:21] #40 closed

[2019-10-08 08:37] #11 closed

[2019-10-08 08:37] #32 closed

[2019-10-25 09:08] McD-NMI opened #45 "Saving/Loading combined recording/sorting data"
So I am having a having a bit of a conceptual problem with trying to design a pipeline (I am quite new to electrophysiology). Essentially I want to load my file, sort the data, export it to a NEO compatible format, and import it to Elephant for further analysis. I have got up to the point of sorting the data, and now I am trying to firgure the best way to export it for further analysis.

However,

[2019-10-25 13:56] colehurwitz commented on #45
So how our exporting works is that if write_recording or write_sorting is implemented by a format class (it is a static function), then ALL extractors can be turned into that format.

So if you have a sorting output, you can choose any of the export functions and convert that output into the export format.

From spikeextractors import MDASortingExtractor

MDASortingExtractor.write_sorting(sorting=

[2019-10-25 13:59] colehurwitz commented on #45
Ooh, I think I understand your question. It seems like you want to export recordings and sorting to the same file. Currently, some exporters allow you to save to a preexisting file I believe so that may allow you to save both to the same file.

Also, the toolkit.export_to_phy saves both a recording and sorting into the phy format although it is a bit heavy to run.

[2019-10-29 12:36] McD-NMI commented on #45
Thanks! I can work with just the sorted data for now, but it would be a nice addition to NWB/NIX, and the Neo extractor as well when that come out.

[2019-11-01 13:26] yarikoptic opened #46 "[new interface] MatClust"
I saw https://www.mathworks.com/matlabcentral/fileexchange/39663-matclust used in a recent paper https://www.sciencedirect.com/science/article/pii/S0896627319307858?via%3Dihub , seems to be not interfaced here.  But also I am not sure if matclust is primarily for "assisted" and not automated sorting.

[2019-11-01 13:33] samuelgarcia commented on #46
It look like that mclust is more a GUI for manual cluster cut more that a spike sorter engine.
Not sure if it is relevant to port this in spikeinterface. Maybe it could be usefull to write an spikeextractor at least to format the data format in the good to export a result to mclust like we do for phy.

[2019-11-01 14:24] yarikoptic commented on #46
that is what I feared

do you want me to refile issue there or would you?

[2019-11-11 23:03] colehurwitz commented on #45
As it is now, export_to_phy tries to extract _all the spikes_ from the recording so you can do manual curation later. This will unfortunately not scale to large datasets. I am not sure exactly how to deal with that. @alejoe91 any ideas or plans for this? I am not sure where we left it.

[2019-11-12 08:47] McD-NMI commented on #45
Currently I am trying to write my own script that will map my recording and sorting to a Neo object, and then export it to a Neo-Nix object using the NeoIO. I havent had much time to work on this though. When I am done, I could try to add this to SpikeInterface if you want. I am trying to generalize it as much as a I can so it is not only specific to my MEA design.

One thing that might be nice wi

[2019-11-12 08:58] alejoe91 commented on #45
@colehurwitz unfortunately phy needs to extract all spikes to compute features from all of them. Otherwise the manual curation would be biased as some spikes will not show...I don't think there is a way around that

[2019-11-12 09:00] alejoe91 commented on #45
Hi @McD-NMI
I think having a function in spikeextractors that exports to NEO will be a good addition. The user should be able to pass any combination of recording and sorting extractor:

[code]

@samuelgarcia can probably help! I think it could go in the extraction_tools.

[2019-11-12 09:27] samuelgarcia commented on #45
Hi All.
Using NixIO format can be easy.
I can do it.

[2019-11-12 09:27] colehurwitz commented on #45
@alejoe91 thanks for replying! You are much more knowledgeable about this part than I am.

Do you think the memory limitations of the phy exporter could potentially be overcome by extracting and writing out in chunks?

[2019-11-12 09:39] alejoe91 commented on #45
mmm the waveforms are extracted to compute PCA features, so it's a bit more complicated than that. One could load a subset of features to compute the PCA model, then waveforms could be loaded, transformed, and saved out in chunks. But this would require an extensive rewrite.. I think that for large-scale recordings one needs an appropriate machine :)

[2019-11-12 09:46] colehurwitz commented on #45
Right, we would still need to extract waveforms for PCA, although I think we can pick an appropriate amount of spikes for that. It would be quite nice if this worked on regular sized machines as well. Also, I think some recordings will be too big for even the largest machines!

I think I will make an issue for this that we can address at any point (low priority).

[2019-11-13 12:48] colehurwitz opened #48 "Automatic citation maker"
I was discussing with another open source developer who is implementing an automatic citation creator for people that use the framework.

I think we can do something similar with SpikeInterface where the citations can be grabbed for different file formats or spike sorters from some internal property that stores citation formats (bibtex, etc.). I can try to do something like this for spikeextractor

[2019-11-18 11:07] WeissShahaf opened #49 "installation of sorters"
after following all installation instructions, only herding spikes is available in spikeinterface when running print available sorters.

tried in windows 7,10, with python 3.7 3.7.4, anaconda3, miniconda.

[2019-11-26 12:34] McD-NMI opened #50 "How are unit_ids linked channel_ids between recordings and sortings"
Hello,

I am trying to build a sorting extractor for MCS H5 files. I am able to extract the spiketrains by each channel, and assign each of these a unit_id (I am assuming at most one 'unit' per channel). I am a little stuck on how to link these spiketrains to the recordings.

For example, if I want to use:
`st.postprocessing.get_unit_waveforms(recordings, sorting, ms_before=1, ms_after=2)`

Then I

[2019-11-29 00:13] subhacom opened #51 "Temporal structure of recordings"
Does the `NumpyRecordingExtractor` allow different trials from the same recording session. Should one just concatenate all the trials and keep track of the boundaries separately?

It appears that different formats allow different levels of information - is it possible to add some documentation on the limitations/information loss when converting from one format to another?

[2019-12-15 11:52] WeissShahaf commented on #49
any thoughts?

[2019-12-15 17:52] mhhennig commented on #49
Could you describe in a bit more detail what you did? Note that for the matlab sorters you have to set an environment variable, pointing to the relevant directory. However, spykingcircus for example should work if you used pip to install. Can you run it standalone?

[2019-12-19 19:59] khengen opened #53 "stall in mountainsort?"
Hi Spikeinterface team,
    I'm psyched to transition to spikeinterface in the lab's pipeline, but I'm having trouble getting mountainsort4 to run correctly. I've created a conda environment with the bare essentials and I've tried both pip install as well as git clone of the various repositories - in both cases, I've found two problems.

First, there's an incompatibility in a variety of function n

[2019-12-20 16:34] khengen commented on #53
Hi Spikeinterface team - We found an issue with mountainlab from a prior version that was being called. Figured this out by installing spikeinterface on another machine (that did not have a previous copy of ms4). Sooooo, this problem (and the 2d I wasted trying to debug it) is on our end. Thanks for developing such a cool package!

 - k

[2019-12-20 16:34] #53 closed

[2020-01-15 10:11] mhhennig commented on #51
Apologies for the delay!
Yes, as it stands different trials would be concatenated and then sorted together, and have to be separated afterwards. None of the extractors does automate this at the moment. Combining separate trials/conditions is something we need to implement.
And yes, we should document what each format provides, thanks for the pointer.

[2020-01-15 10:15] mhhennig commented on #50
Yes, at the moment you would add the channel as a property, and then read that when looking for the relevant waveform. It is not straight forward to have a common method for relating channels and units as this may depend on the location of the spikes (e.g. HS2), or the template (KS2 etc.). We could think about adding convenience functions perhaps. How would you like to see this implemented/

[2020-01-15 12:47] colehurwitz commented on #51
Apologies for missing this issue! I think there are two ways to handle this currently in SpikeInterface:

1. **Concatenate the trials and then put them into a single `NumpyRecordingExtractor`.** You can then track the separate trials by manually using the `add_epoch(self, epoch_name, start_frame, end_frame)` function of the extractor. You can retrieve a `SubRecordingExtractor` for each specified e

[2020-01-15 12:56] colehurwitz commented on #48
I will get to this soon! I have some ideas. :)

[2020-01-17 21:16] alexmcclanahan commented on #49
@mhhennig, super excited to experiment with SpikeInterface; I think it will yield very useful information for the field, so, thanks!

I've experienced similar issues to those outlined by @WeissShahaf. I have successfully installed SpikeInterface. The individual sorters that are python-based do install with pip or conda in terminal. However, they aren't able to be called, as an example (assuming a

[2020-02-13 22:31] chengchichu opened #55 "Getting stuck on the toy example of sorting"
I was running the mountainsort4 with python version3.6 with anaconda environment. When I went through the toy example provided on

https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html

I got stuck on the sorting step. It return the message
[code]

and can't proceed

Do you know how to solve this? I am a user of previous version ml3 and would like to use some ne

[2020-02-20 20:58] samuelgarcia opened #56 "Many examples do not build because of many changes in all packages."
@colehurwitz @alejoe91

[2020-02-21 00:17] alexgonzl commented on #56
I can second this. I was running into QT issues when loading spike interface in Jupyter after upgrading to spyking-circus 0.9.2.

[2020-02-21 09:20] alejoe91 commented on #56
Yes everything is broken here! :) @samuelgarcia I suggest next week we merge what we can, make a release of all packages and update the docs and requirements of spikeinterface

[2020-02-24 08:53] samuelgarcia commented on #56
Not so much are borken but there is a subcopy of all pacakge with ```git clone``` that hack the version installed (but do not update locally) This make everything broken!!!!! I will fix this mechanism.

[2020-02-24 09:02] alejoe91 commented on #56
The git clone should not install the packages though, right? That is done only to pulled the source code to autogen the API docs

[2020-02-24 09:06] samuelgarcia commented on #56
No because
[code]
replace the installed pacakge.
I will do this only for readthedoc, there must be an environement variable that allow to check it.

[2020-02-24 09:08] alejoe91 commented on #56
Ah that's why! Tricky!

[2020-02-24 09:26] samuelgarcia commented on #56
Not so.
I thin this is good to build doc local with another copy of package because we can make mistake with branch.
I add git fecth for local mahcine and this should be OK have a look in conf.py.

[2020-02-25 11:43] #56 closed

[2020-02-25 11:43] samuelgarcia commented on #55
Could you check with the actual master ?

[2020-02-25 11:44] samuelgarcia commented on #51
Can we close this ?

[2020-02-25 11:48] samuelgarcia commented on #49
Hi @alexmcclanahan
Could you update all sorters python based and all package from spikeinterface:
[code]

Note that from tridesclous you should install openl (or numba) for high channel counts otherwise it will be slow.

[2020-03-03 15:41] alexmcclanahan commented on #49
@samuelgarcia: thanks -- I've tried that, to no avail. It seems as if the issue on my machine is that the various BaseSorter functions are erroring out as they don't see the sorters they point to during the BaseSorter.__init__ call within the individual sorter. I have tried installing each sorter individually on two systems, after installing SpikeInterface with the same errors both times.

I will

[2020-03-03 16:28] samuelgarcia commented on #49
Can you do give your ```pip list``` ?

[2020-03-04 21:00] alexmcclanahan commented on #49
Sure, here it is:
[pip_list.txt](https://github.com/SpikeInterface/spikeinterface/files/4289663/pip_list.txt)

[2020-03-09 10:40] samuelgarcia commented on #49
For tridesclous evrything looks fine.
What happen when you do tridesclous in a console ?

[2020-04-10 08:15] MingChingChiang opened #59 "Getting OSError: [Errno 8] Exec format error when using ss.run_klusta"
Hi,
I'm not sure whether here is the right place to report my question.
When I try to execute the ss.run_klusta on my data.
I got OSError: [Errno 8] Exec format error.
I'm using Pycharm 2020.1 Pro. Ed. on macOS Mojave for my data analysis.
My current python version is 3.7.7
I attached the full error messages below.
Hope someone knows how to fix the problem.
And I have no problem running ss.run_mou

[2020-04-13 05:30] MingChingChiang commented on #59
I found that after I follow the alternative way for spikeinterface development version installation, the OSError is disappeared. Now I can run the Klusta sorting.
So I suggest for the mac user, maybe not using pip for spikeinterface installation, but follow the alternative way install from source.

[2020-04-14 05:22] MingChingChiang commented on #49
Hi, I also have problems when executing ss.run_tridesclous,
even I have followed the installation steps from the tridesclous website.
When I type tdc in my terminal, I could launch the tridesclous GUI.
So...I'm not sure what happened to this problem.
I'm using macOS 10.14.6, python 3.7.7
Here's my PIP list.
[PIP_List.txt](https://github.com/SpikeInterface/spikeinterface/files/4473286/PIP_List.txt)

[2020-04-14 08:00] samuelgarcia commented on #49
Hi @MingChingChiang
Could you do this
```sorting_TDC = ss.run_tridesclous(recording, output_folder='tmp_TDC', raise_error=True)```
and copy/paste the error message ?

[2020-04-14 08:19] MingChingChiang commented on #49
Sure! I got these error messages:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-6-875d53373fb4>", line 2, in <module>
    sorting_TDC = ss.run_tridesclous(recording, output_folder=tmp_TDC, raise_error=True)
  File "/Users/Ming-C

[2020-04-14 10:57] samuelgarcia commented on #49
what happen if you do
```import tridesclous```
in ipython ?

[2020-04-15 01:23] MingChingChiang commented on #49
It returns:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-24-6bc6153f136e>", line 1, in <module>
    import tridesclous
  File "/Applications/PyCharm.app/Contents/plugins/python/helpers/pydev/_pydev_bundle/pydev_import_hook.py",

[2020-04-15 07:50] samuelgarcia commented on #49
Very strange that you have it in the pip list but not being able to import.
Which method did you used for installing tridesclous ```pip install tridesclous```?

[2020-04-15 09:45] MingChingChiang commented on #49
Yes, I used pip install tridesclous for installation.
The other strange thing is that after I created a new environment with python==3.7.6 and reinstall everything, including spikeinterface and tridesclous, everything just worked fine.
Not sure whether the python version has such strong impacts or not...
But at least I learned that avoid using python 3.7.7 or higher version for spikeinterface migh

[2020-04-15 13:04] samuelgarcia commented on #49
Thank you.
This is indeed very important feedback.
I will check.

[2020-04-16 10:23] MingChingChiang commented on #59
I got the same problem again when I setting up the environment on different mac.
Not sure what's wrong with my packages...
I attached my PIP LIST...
If someone has ant idea how to solve the problem please let me know
[PIP_List.txt](https://github.com/SpikeInterface/spikeinterface/files/4486420/PIP_List.txt)

[2020-04-19 19:48] mhhennig commented on #59
Just a guess, maybe script.bat needs to have the executable flag set? @colehurwitz, you could maybe check on your mac...

[2020-04-19 19:51] mhhennig commented on #51
We should make some documentation for this case. Let's leave it open, I have assigned myself as I have some example code for this.

[2020-04-20 02:01] MingChingChiang commented on #59
Hi, during the weekend, I have tried several parameters for this problem.
I found that after I carefully set the channel location and the channel map,
I can avoid the OSError during the ss.klusta execution.
However, since I tried to sort the data recorded from electrode bundles instead of silicon probes.
I have hard time setting dummy locations and channel maps.
For now, I just followed the tutori

[2020-04-27 11:28] fvcoen opened #60 "Getting 'numpy/arrayobject.h' file not found when installing klustakwik2"
Hello,

I'm trying to set up an environment for spikeinterface, however I'm running into an error when trying to install klustakwik2. Upon running `pip install klustakwik2` I get `klustakwik2/numerics/cylib/compute_cluster_masks_cy.c:613:10: fatal error: 'numpy/arrayobject.h' file not found`.

Obviously, this is a bit of an issue since most of the examples are using klusta. I've looked into it and

[2020-04-27 18:29] samuelgarcia commented on #60
Hi.
I think you should report this to klusta repo.

[2020-04-28 07:25] fvcoen commented on #60
Will do, thank you for your answer :)

[2020-04-28 07:25] #60 closed

[2020-05-11 20:30] yarikoptic commented on #48
not sure if that "open source developer" might have been me, but I would like to pitch about http://duecredit.org/ project which might be of help here! ;-)

[2020-05-11 20:31] yarikoptic opened #61 "Q: is release coming?"
ATM at 0.9.1-39-g6da0e53 with 0.9.1 released a good number of months back.  Just wanted to check if a new release being brewed to possibly chase fresh release of the spikextractors? ;)

[2020-05-12 08:03] samuelgarcia commented on #61
I think @alejoe91 plan to do it or have done it already.

[2020-05-12 08:06] alejoe91 commented on #61
Waiting for TDC 1.6. do you think you can release today?

[2020-05-12 08:07] samuelgarcia commented on #61
tdc 1.6 is not release yet but you can release spikesorter now.
it will works.

[2020-06-14 23:48] transedward opened #63 "Is it possible to load Mclust output (.t format)?"
Hi,

We were wondering if there is any way to load Mclust output (.t) into the pipeline so that automatically sorted spikes can be compared to manually sorted ones?

It was not clear for me how you would compared to ground truth (in this tutorial: https://spikeinterface.readthedocs.io/en/latest/sorters_comparison.html)? Or people use other python manual spike sorting softwares so that they can loa

[2020-06-15 15:15] samuelgarcia commented on #63
Hi @transedward
To use the comparison pipeline you can load the mclust there is 2 ways:
  * write a spikeextractor for mclust (quite easy)
  * load spiketrains from mclust into numpy array and use the NumpySortingExtractor
Then you can use the comparison frame work and use your manual files as a "ground truth".

[2020-07-10 14:18] bendichter opened #65 "include information for how to cite in README"

[2020-07-10 18:27] colehurwitz commented on #65
Added in the README. Thanks for pointing this out.

[2020-07-10 19:30] #65 closed

[2020-07-18 06:16] abhijithkrishnan93 opened #66 "Working with .mcd files"
Is it possible to open .mcd (Multi Channel Systems)or its raw binary variant (converted using MC Data Tool) in spikeinterface.
I saw the mcsh5 extractor. What are the steps to use the .mcd or converted raw file using this extractor?

[2020-07-18 08:51] samuelgarcia commented on #66
Hi.
I started a branch on neo for the msrd format : the new native format of multi channel system.
MCD is the old one I think.
The branch is here
https://github.com/samuelgarcia/python-neo/tree/format_msrd

Could you try it ? If it works I could then merge it in master and create a wrapper in spikeextractor.

[2020-07-18 09:36] abhijithkrishnan93 commented on #66
Hi,
My lab still uses the old .mcd format. Is there some way to convert. Also I am not familiar with neo. Is the documentation starightforward?

[2020-07-20 09:18] samuelgarcia commented on #66
I see.
the mcd file don't have public specification.

The mcs raw binary is in fact a simple binary format with a custom small header.
If it helps I can write a wrapper for the neo.RawMCSIO in spikeextractors.

Leave this open.

[2020-07-20 10:25] abhijithkrishnan93 commented on #66
I was able to use it with a wrapper based on other neo extractors.

class mcsrawRecordingExtractor(NeoBaseRecordingExtractor):
     extractor_name='mcsrawRecoding'
     mode='folder'
     NeoRawIOClass='RawMCSRawIO'

and then,

recording=mcsrawRecordingExtractor(filename='Data0349/Data0349.raw')

[2020-07-20 10:28] samuelgarcia commented on #66
Exactly.
Note that mode is 'file' in that case.

Could you make a PR ?

[2020-07-20 11:10] abhijithkrishnan93 commented on #66
I have made a PR in spikeextractors. I will close the issue now I think.

[2020-07-29 18:49] kwrigh42 commented on #40
I am getting the same error message: TypeError: mountainsort4() got an unexpected keyword argument 'verbose'. How did you fix this?

[2020-07-29 18:51] samuelgarcia commented on #40
You have to update ml-ms4alg and all SI package.

[2020-07-30 20:01] kwrigh42 commented on #40
Thank you!

[2020-08-05 20:00] guitchounts opened #69 "mountainsort4 running problems"
Hello,

I installed SpikeInterface and mountainsort4 but am having issues running it. Following the tutorial's `sorting_MS4 = ss.run_mountainsort4(recording=recording, detect_threshold=6)` line, I get two errors at the point where `sorting = ml_ms4alg.mountainsort4:`. First it was that ml_ms4alg.mountainsort4 got an unexpected keyword "verbose" (fixed this manually by inserting a dummy `verbose=Fa

[2020-08-05 20:08] guitchounts commented on #69
It looks like in ml_ms4alg/ms4alg.py and ml_ms4alg/mountainsort4.py (and probably elsewhere, too?), the recording's properties are called in camel case (e.g. getChannelIds() ) while they should actually be underscored lowercase (e.g. get_channel_ids()

[2020-08-05 20:34] guitchounts commented on #69
Looks like this issue was due to me installing mountainsort from the flatiron repo (https://github.com/flatironinstitute/mountainsort_examples/blob/master/README.md) rather than with `pip install ml_ms4alg`. All resolved!

[2020-08-05 20:34] #69 closed

[2020-08-24 08:28] #21 closed

[2020-08-24 14:41] guitchounts opened #72 "Slow curation and export"
I'm having trouble with curation and export to Phy steps taking a really long time. I'm sorting a 45-minute recording with 32 channels using Mountainsort4. The sorting takes ~11 minutes. Curating based on firing rates took several seconds, but curating based on SNR took 6800 seconds and the export to Phy step is taking several hours. I'm running this on a local machine (16-Gb RAM i7 MacBook Pro).

[2020-08-25 11:32] mhhennig commented on #72
My guess is that the bottleneck is likely the function collecting spike cut-outs (both used in curation and phy export). What format is your raw data file? Also, do you apply any filters on the recording extractor?

[2020-08-25 13:42] guitchounts commented on #72
The raw data was acquired with Open Ephys GUI, stored in their binary format. I'm applying bandpass filtering and common mode rejection on the recording extractor, and using the cmr'd extractor for sorting, curation, phy, etc.

Is it possible to speed up the cut-out step somehow? or at least to save the cutouts in one step so they don't have to be re-computed several times?

[2020-08-25 14:37] guitchounts opened #73 "get_unit_waveforms not taking params"
I'm trying to get waveforms from a sorting and need 1) only one channel instead of all channels, 2) +/- 1 ms instead of +/-3, and 3) more spikes than the default 1000. I'm trying two different ways of passing the params to `get_unit_waveforms` but the output is always the same (e.g. `waveforms[0].shape = (1000, 32, 180)` instead of e.g. `(10000,1,60)`. Am I doing something wrong?

![image](https:/

[2020-08-25 14:42] samuelgarcia commented on #72
in spike interface there is a cache system to avoid to recompute the preprocessing chain and extractor several times waveforms snippet (very long) @alejoe91 do we have a notebook example for the cache workflow ?

[2020-08-25 14:58] alejoe91 commented on #72
Hi @guitchounts

there are a few things you can do:

1. Cache the `recording_cmr` (VERY IMPORTANT): this dumps a binary version of your recording (in your case bandpass filtered + cmr) to a dat binary file. You can simply do: `recording_cmr = se.CacheRecordingExtractor(recording_cmr, 'recording_cmr.dat')`. The process will take a few minutes, but it'll speed up everything else (otherwise each sing

[2020-08-25 15:01] alejoe91 commented on #73
Hi @guitchounts

Since the first time you saved the waveforms as features (`save_as_features=True`), the next times you call the `get_unit_waveforms` it will return the already computed once. To recompute, you can use the `recompute_info=True` param (note that this holds for all `postprocessing`, `validation`, and `curation` functions)

[2020-09-06 20:26] audrocks17 opened #75 "Error with using neo based spike extractors"
Hello. I have been working to get spikeinterface up and running, but am running into an issue with running the NeuralyxRecordingExtractor. To install the packages, I cloned everything from each repository, ran the setup.py in every folder. Initially when I attempted to run NeuralyxRecordingExtractor I got an error that I needed to install neo, which was easily solved by doing so. But I can't seem

[2020-09-07 13:27] alejoe91 commented on #75
Hi @audrocks17

Can you try passing the folder containing the Neuralynx files? also you might need to add an `r` before your path as windows likes raw strings... `file_name=r'C:/Users/abranch6/Desktop/spikewhatever/data/883-11_RawData_300s.nrd'`

@samuelgarcia other ideas?

[2020-09-07 13:52] audrocks17 commented on #75
Thanks so much for the suggestion! If I understand correctly, I tried to define the file name by defining the current working directory and the file name in the first part of the script:

import sys
import os
sys.path.append(r'C:/ProgramData/Anaconda3/Lib/site-packages')
path = os.getcwd()
print(path)
import spikeextractors as se
import spikewidgets as sw
import spiketoolkit as st
import spikesort

[2020-09-07 13:56] alejoe91 commented on #75
Hi,

you don't need the `sys.path.append` stuff if you're using a proper environment :)

Can you try (after the imports):

[code]
?

[2020-09-07 13:59] audrocks17 commented on #75
Ha, yeah, that was left over from troubleshooting. Okay, I tried what you suggested just now and still get the same error.

[2020-09-07 14:02] alejoe91 commented on #75
Then we have to ask @samuelgarcia :)

[2020-09-07 14:03] audrocks17 commented on #75
Okay, thank you for the suggestions!

[2020-09-07 14:07] samuelgarcia commented on #75
Hi.

You have to use this:

[code]

this is because neuralynx is directory based and not file based.

[2020-09-07 14:27] audrocks17 commented on #75
Thanks! I am trying to implement your suggestion, and I do get past the original error, but to a new error, so maybe I am misunderstanding. If, after importing everything, I then run:

recording = se.NeuralynxRecordingExtractor(dirname=r'C:\Users\abranch6\spikewhatever\data')

---------------------------------------------------------------------------
TypeError                                 Trac

[2020-09-07 14:39] samuelgarcia commented on #75
Can you list the folder of r'C:\Users\abranch6\spikewhatever\data' ?

[2020-09-07 14:42] audrocks17 commented on #75
Sorry, I'm not sure I understand, but the only file that is in the folder is the data file 883-11_RawData_300s.nrd

[2020-09-07 14:45] samuelgarcia commented on #75
Neuralynx is supposed to have a folder with thoses file extentions  : 'nse', 'ncs', 'nev', 'ntt'

NCS contains signals for one channel
NEV contains events
NSE contains spikes and waveforms for mono electrodes
NTT contains spikes and waveforms for tetrodes

[2020-09-07 14:52] audrocks17 commented on #75
Ah, I see. I am trying to run this from an .nrd file, is that what's causing the problem?

[2020-09-07 14:57] samuelgarcia commented on #75
I knwon what is nrd files ?
Is it a new file format from neuralynx ?

[2020-09-07 15:00] audrocks17 commented on #75
I just realized that I forgot to clone the repository that contains the new script that my labmate wrote work with nrd files, sorry, stupid mistake. Thank you so much for your help! I really appreciate it!

[2020-09-07 15:25] audrocks17 commented on #75
the nrd file is the unprocessed output from Cheetah, which then gets processed into the file types you mentioned. We are hoping to run spikeinterface from the raw file directly.

[2020-09-11 07:31] alejoe91 commented on #59
This should be fixed with latest release

[2020-10-15 08:06] Idavr opened #78 "AttributeError: module 'spikeinterface.extractors' has no attribute"
Hi there!

Let me first say that I really appreciate you creating a python based framework to work with electrophysiology as I have had an easier time getting into python than MATLAB in the early stages of my phd.

I am trying to get spikeinterface to work for the very first time, and created a new environment and did the pip install spikeinterface like described. Wanting to try an example code sn

[2020-10-15 08:10] samuelgarcia commented on #78
Welcome.
MyFormatRecordingExtractor is a generic name that do not exists.
You should the one for your data format like `OpenEphysRecordingExtractor`.

[2020-10-16 18:31] ohnopleasehelpme opened #79 "Issue With running"
Hello

I had this working over the summer - now it stopped working again: here is the code followed by the error:

import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss
import spikeinterface.comparison as sc
import spikeinterface.widgets as sw
import matplotlib.pylab as plt
import numpy as np
import neo

**CODE**
reader = neo.NeuralynxIO(dir

[2020-10-16 19:28] nahawtho opened #80 "autoRecordingExtractor a local kach db error examples/modules/widgets/plot_3_recsort_gallery.py"
Hi all. I was wondering if you are aware of a potential bug on plot_unit_waveforms() and perhaps other fcns when loading from an autosorting extractor using a kachery pointer. I created my own kachery pointers to my recording and sorting, and that's when I run into this problem. The toy example in examples/modules/widgets/plot_3_recsort_gallery.py works fine for me. This problem only occurs in fun

[2020-10-16 19:57] alejoe91 commented on #80
Hi @nahawtho

The spikeforest AutoExtractors are compatible with parts of SI at the moment. The error you are seeing is because SI tries to dump objects to dictionaries (e.g. for passing them to other processes), but this requires the module.to have a version (as spikeextractors and spiketoolkit objects). The fix here is relatively easy: we just need to add the `__verison__` to spikeforest!

[2020-10-23 15:38] Idavr commented on #78
Well... That was an embarrassing introduction. Thank you for setting me straight, I found the video tutorial and will work more on this before asking again :) Appreciate the quick feedback, and sorry for responding so late!

[2020-10-23 15:41] #78 closed

[2020-11-11 14:33] bendichter opened #83 "add documentation for `set_channel_gain` in how to build a `RecordingExtractor`"

[2020-11-17 23:17] davidparks21 opened #84 "Installing 0.9.9 spikeinterface installs the wrong version of spikesorters (and other sub packages)"
Installing 0.9.9 of `spikeinterface` causes the installation of the latest version of `spikesorters`. `spikesorters` is not fully backwards compatible. In particular we get the error: `AttributeError: module 'spikeinterface.sorters' has no attribute 'installed_sorter_list'` with the newer version of spikesorters.

We install `spikeinterface` as an umbrella package, so when we encountered this issu

[2020-11-17 23:25] alejoe91 commented on #84
Thanks for bringing up this issue, David.

You are right, we should have used also a < in the requirements. However, we made major updates to the API with version 0.10.0 and I strongly recommend to upgrade to that version.
From that version on, we are not planning to make major changes to the API.

I'll try to fix the github version to include the version check in the requirements, but I'm afraid

[2020-11-17 23:35] davidparks21 commented on #84
Thanks for the quick response Alessio, we're good now, we've got the individual version limits on the packages, and hopefully this will document it for anyone else that comes looking. We'll make the update to 0.10.0 as soon as we get a free moment to clean up the few minor changes.

[2020-11-18 08:12] samuelgarcia commented on #84
Putting a "<" in requirements in the master branch is a pain for installation.
I would not recommand this.

I think that release of spikeinterface must have "==" for all,package.
In short:
 * spikeinterface with pip is a snapshop of version for the familly package.
 * spikeinterface with github ensure some compatibilty with ">" but would be more liberal with dev version.

[2020-11-28 10:01] abhijithkrishnan93 commented on #66
import spikeextractors as se
recording=se.MCSRawRecordingExtractor(filename='Data0552/Data0552.raw')

Gives following error...

AttributeError                            Traceback (most recent call last)
<ipython-input-2-908b8c60a822> in <module>
----> 1 recording=se.MCSRawRecordingExtractor(filename='Data0552/Data0552.raw')

~/miniconda3/envs/spikeinterface/lib/python3.6/site-packages/spikeextrac

[2020-11-28 14:22] alejoe91 commented on #66
@samuelgarcia  has something changed in `neo.rawio`?

[2020-11-30 07:58] samuelgarcia commented on #66
Oups yes.
`get_group_signal_channel_indexes` have replace `get_group_channel_indexes` in 0.9 release one week ago.
We need to patch.

[2020-12-03 12:25] NilsNyberg opened #85 ""Permission denied" when using se.NwbRecordingExtractor"
Hi everyone,

I am trying to build a new spike sorting pipeline using SpikeInterface.

For my recordings I am using the Open Ephys acqusition system, and I am saving my recorded data in the NWB format.

Lastly, I am using the "NWB_Developer_Breakout_Session_Sep2020" [tutorial ](https://github.com/SpikeInterface/spiketutorials) as a starting point. However, I only get as far as the 2nd cell in the

[2020-12-04 13:17] alejoe91 commented on #85
Hi @NilsNyberg

What version of `h5py` are you using? If it's >= 3, can you try again after downgrading to `2.10.0`? The new version of `h5py` introduced some API changes at different levels and many packages still need to be updated.

Let me know if that works

Alessio

[2020-12-04 13:18] alejoe91 commented on #79
Hey @ohnopleasehelpme

There have been some updates to the neo packages. @samuelgarcia do you know what's wrong here?

[2020-12-04 13:19] alejoe91 commented on #75
@samuelgarcia maybe nrd files should be supported by the NEO wrapper?

[2020-12-04 13:19] #73 closed

[2020-12-04 13:22] alejoe91 commented on #55
this is fixed eith later ms_m4alg releases

[2020-12-04 13:22] #55 closed

[2020-12-04 13:22] #59 closed

[2020-12-04 13:22] #61 closed

[2020-12-04 13:23] alejoe91 commented on #72
Potprocessing efficiency issues are solved with latest releases of spiketoolkit

[2020-12-04 13:23] #72 closed

[2020-12-04 14:08] NilsNyberg commented on #85
I was using the newest version, but tried downgrading to 2.10.0 now. I have confirmed it successfully downgraded to 2.10.0 via pip show h5py. I also again open the Anaconda console with administrative privileges.  However, when I run the code I get the same error message.

I can also mention that I have tried different NWB files of different sizes (ranging from 0.66mb to 20+ gb) and I get the same

[2020-12-04 14:14] alejoe91 commented on #85
Can you try to open it directly in NWB?

[code]

If this fail as well, then the problem is somewher in the nwb file. Maybe you don't have the right file permissions?

[2020-12-04 14:29] samuelgarcia commented on #79
I also need to update the neo layer here.
I will do it very soon.

[2020-12-04 14:32] samuelgarcia commented on #75
I would strongly encourage to write a neo issur about this nrd files.

Maybe @PeterNSteinmetz and @JuliaSprenger will be able to help you.

[2020-12-04 14:57] NilsNyberg commented on #85
I get the "No data_type found for builder root" error (I have attached it below). Doing a quick google search and found this: https://github.com/NeurodataWithoutBorders/pynwb/issues/1077 suggesting this is likely due to the file being in NWB 1.0 and not 2.0. Does spikeinterface only work with NWB 2.0? If so, is there any way to get spikeinterface to work with NWB 1.0 as well?Afaik that is the only

[2020-12-04 15:25] alejoe91 commented on #85
@bendichter maybe it'd make sense to keep back-compatibility with NWB 1.0? But I guess that would require to have an old version of `pynwb` installed? Is there a way to open 1.0 files with the current `pynwb` version?

@NilsNyberg at the moment only 2.0 is supported unfortunately. Sorry about that!
I recommend saving Open Ephys data to binary and using the `OpenEphysRecordingExtractor` for the mom

[2020-12-04 15:37] NilsNyberg commented on #85
Thanks for the help (again!) - yeah I think for future-proofing I'd better move to binary instead... It's a shame Open Ephys does not yet give the availability to save directly to NWB 2.0, but I think its a work in progress at least.

[2020-12-04 15:39] alejoe91 commented on #85
No worries at all :)

[2020-12-04 16:26] PeterNSteinmetz commented on #75
.nrd is a rather different format (see https://support.neuralynx.com/hc/en-us/articles/360040444811-TechTip-Neuralynx-Data-File-Formats) . It is not presently supported by the NeuralynxRawIO and would have to be added (likely a reasonable amount of work). Agreed that should be an issue in the Neo project to request that.

[2020-12-04 18:35] bendichter commented on #85
@alejoe91, unfortunately there is no way to open NWB 1.0 files with pynwb, and they are unlikely to support it going forward. It would be nice to support OpenEphys data in spikeextractors, particularly if in a version of NWB. It would be easiest to do this via h5py. @NilsNyberg, can you share an example file?

[2020-12-10 10:40] alejoe91 commented on #83
Done: https://github.com/SpikeInterface/spikeinterface/blob/master/doc/recording_extractor.rst

[2020-12-10 10:40] #83 closed

[2020-12-10 10:43] alejoe91 commented on #84
This is fixed now: https://github.com/SpikeInterface/spikeinterface/blob/0.11.0/requirements.txt

The release versions will have `==` and the master version has `>=` to allow for updates

[2020-12-10 10:43] #84 closed

[2021-02-12 12:25] Kasia-Bz opened #89 "Spike validation"
Hello, I am trying to use the validation toolkit from Spike interface. I use Kilosort for the spike sorting and then manual  curation with phy. I was wondering if I use the validation toolkit, does it check the clusters which were marked as ‘good’ by Kilosort, or does it use the ‘good’ clusters which were marked manually in phy, or both?

[2021-02-12 14:13] alejoe91 commented on #89
Hi @Kasia-Bz

Do you run Kilosort through SpikeInterface? In that case, you could already exclude the bad units from the returned `SortingExtractor` by using the `keep_good_only` argument to `True`.

If you run Phy directly on the Kilosort output you can mark as noise all the units you want to exclude for further analysis.
Then, you can load the Phy data as follows:

[code]

If you want to further

[2021-02-12 19:18] Kasia-Bz commented on #89
Yes, that's exactly what I wanted to know :) Thank you.

[2021-02-17 11:22] Kasia-Bz commented on #89
Hi @alejoe91
I want to follow up again on the question I initially asked. I am using Kilosort outside of the spike interface. As an output I get file: "cluster_info" in which the KS_Label contains the values of good units sorted by Kilosort3. The 'good' clusters, which I assigned are in the "group" section of that file. I also have another file: cluster_KSLabel, but there I only have the units mar

[2021-02-17 12:37] alejoe91 commented on #89
Hi!

Yes I believe that is correct as both properties should be available. You can test it. Let me know if it works!

[2021-02-18 14:55] Kasia-Bz commented on #89
Hi @alejoe91 ,
I tried to run:

[code]

Unfortunately this code does not work and I get an error:

[code]
What could be causing it? did I forget to import something?

[2021-02-18 14:58] alejoe91 commented on #89
Hi,

As the error says you have a `self`, but it should be `sorting_phy` (line 7 in your script)

[2021-02-18 15:10] Kasia-Bz commented on #89
Indeed, but even after removing it I still get an error:
[code]

[2021-02-18 15:29] alejoe91 commented on #89
You need `sorting_phy.get_unit_property_names(u)`

[2021-02-19 18:49] Kasia-Bz commented on #89
I was able to run the code, but when trying to calculate l_ratio I get an error:
[code]

Also, when I tried to use the good cluster from manual sorting, by setting:
[code]
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-24-0fb92a14c4a5> in <module>
      2 for u in sorting_phy.get

[2021-03-10 21:36] crewl2 opened #91 "Error when running Ironclust on Mac"
After watching the video and following the instructions using spiketutorials, I've run into an error running ironclust.

_RemoteTraceback                          Traceback (most recent call last)
_RemoteTraceback:
"""
Traceback (most recent call last):
  File "/Users/laurencrew/opt/miniconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py", line 431, in _process_worker

[2021-03-11 21:31] crewl2 opened #92 "Ironclust error"
I ran into a strange error. I have been able to run spikeinterface and Ironclust on Windows since I installed it. However, out of nowhere I started receiving this error. I'm not sure how or why this happened as I left it overnight and came back to rerun it with different data and got this error. I appreciate any help you can give me. Thank you.

# run spike sorting by group
sorting_IC = ss.run_iro

[2021-03-16 08:57] benefron opened #93 "Temp resources clooging computer"
Hi,
I am having issues with the computer being clogged with temp waveform files.
I have ~25 minutes recordings that I sorted. I am caching the recording and running a multi sorting comparison.
When reaching the export to phy of the agreement sorting (after curation based on snr, firing rate and is violation) I have around 300gb of temp files. Is there any way to overcome this problem?
Thanks,
Ben

[2021-03-16 09:51] alejoe91 commented on #93
Hi Ben, can you try to upgrade spiketoolkit? We improved the memory management of the export to Phy function.

[2021-03-16 10:04] benefron commented on #93
I just upgraded to 0.74. I will see if it is better.
Thanks

[2021-03-16 11:36] benefron commented on #93
Still very high demand for memory.
Is there something I can do to lower it in the function settings?

[2021-03-16 11:37] alejoe91 commented on #93
As high as before? how many spikes do you have in total? Unfortunately to compute pc scores for all spikes you need to extract all waveforms...

[2021-03-16 11:57] benefron commented on #93
I didn't compare.
I am running it now on a cluster so I need to allocate a lot of resources and have to wait in queue.
If I serialize it will it require fewer temp files? will it delete what it has finished?

[2021-03-16 12:04] alejoe91 commented on #93
Yes it should clean everything up! What do you mean with serialize? since you want a single phy output, you need to run it on the entire dataset. If you are only interested in templates, waveforms, ISI, crosscorrelograms etc, you could avoid saving pc and amplitudes using the `compute_pc_features=False` and  `compute_amplitudes=True`. This will avoid computing pc and amplitudes and templates by de

[2021-03-16 12:09] benefron commented on #93
I see. But then I will have no PCA right?
OK. I will try to run it on the cluster and hope that resources will be freed later today.
I have 32 channels and 25 minutes recordings so it can be a lot of spikes.
I am running it on n_jobs=10. I thought maybe if I run it on less it can delete what it has finished using.
It only deletes the things in the end right, not while running the analysis?

[2021-03-16 12:22] alejoe91 commented on #93
300 gb sounds too much for that dataset. Unless you have many very noisy clusters that spike all the time..maybe it's safe to add a threshold curator removing spike trains with firing rate higher than 200 or so?

[2021-03-16 23:17] paul-aparicio opened #94 "blackrock import error"
Hello, I am having a problem when trying to import a blackrock .ns6 file. I have the latest version of neo installed. The error I get is pasted below. Any help would be greatly appreciated, thank you!

In [19]: filename =r'F:\Data\SignalCheck\TY20210308\TY20210308_signalCheck_morning.ns6'

In [20]: recording = se.BlackrockRecordingExtractor(filename)
-----------------------------------------------

[2021-03-17 05:53] alejoe91 commented on #94
Hi! That should be fixed using the latest versions. Can you try to pip install --upgrade spikeextractors and neo? Also I would run an upgrade for all other packages as well (or to the main spikeinterface package, which should upgrade all)

[2021-03-17 07:37] samuelgarcia commented on #94
Normaly I fixe that already fix that here : https://github.com/SpikeInterface/spikeextractors/pull/592
But it is not merged yet.
Could try to take this banch ?

[2021-03-17 07:38] samuelgarcia commented on #94
And note that you certainly use an not yet released neo version.
With an released neo version you should not have the problem.

[2021-03-18 21:13] paul-aparicio commented on #94
Thanks for your responses, I appreciate your help, I am rather new to using python, but I thought I had installed the latest versions? I uninstalled them and reinstalled them using pip. It had a different error, but I did get the code to work once I used a full path to the data file (i.e. including drive name) instead of a relative path.

[2021-03-19 07:13] samuelgarcia commented on #94
@alejoe91 you need to merge this : https://github.com/SpikeInterface/spikeextractors/pull/592

[2021-03-19 15:07] #94 closed

[2021-03-22 13:28] mhhennig commented on #93
I know this problem :)
Do you know which step precisely causes it? Is it the metrics calculation?

[2021-03-22 13:32] mhhennig commented on #91
Could this be the same error as #92? n_jobs passed to `write_recording()`?

[2021-03-22 13:50] alejoe91 commented on #91
No I don't think so. Ironclust failed here but it's started correctly. The other issue is fixed

[2021-03-22 13:50] alejoe91 commented on #92
Fixed in new release

[2021-03-22 13:50] #92 closed

[2021-03-22 16:52] MarineChap opened #96 "If I understand correctly, here you will add a self.reducer corresponding to the average or the median depending of the discussion on the other PR ? Once I have a feedback of my lab, I can post you the answer here if you want."
Once I have a feedback of my lab, I can post you the answer here if you want.

Maybe you could also instead of having a reference option have two options :
reference = global, local or single
reducer (or a better word) = average, median
Then the user can select if he wants the average or the median both for a global or a local CAR. What do you think of it ?

_Originally posted by @MarineChap in ht

[2021-03-22 16:52] #96 closed

[2021-04-02 21:57] paul-aparicio opened #102 "Problem running spike sorters"
Hello,
When I attempt to run spike sorting I receive the error pasted below. I get the same error when I try to run the matlab based sorters I have been able to install(I have tried kilosort2 and waveclus). Thank you for any help!

In[25]: sorting_IC = ss.run_ironclust(recording_cache, output_folder='results_split_ironclust', grouping_property='group', parallel=True)

exception calling callback fo

[2021-04-03 06:57] alejoe91 commented on #102
Hi! Can you paste the code that you are running?

[2021-04-03 11:40] paul-aparicio commented on #102
Thanks for your response, sorry for not being clearer, this was the command that elicited the error:

In[25]: sorting_IC = ss.run_ironclust(recording_cache, output_folder='results_split_ironclust', grouping_property='group', parallel=True)

[2021-04-03 12:16] alejoe91 commented on #102
Also the previous part please :)

What operating system are you using?

[2021-04-03 15:29] paul-aparicio commented on #102
Ahh.  I was basically running through this tutorial to learn (https://github.com/SpikeInterface/spiketutorials/blob/master/NWB_Developer_Breakout_Session_May2020/SpikeInterface_Tutorial.ipynb), but I changed it to my data. The non plotting commands are pasted below:

import spikeinterface
import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss

[2021-04-03 16:49] frankdopamine opened #103 "Problem using mountainsort on Ubuntu"
Hi everyone,
previously in our lab, we used mountainsort to sort our recorded data, currently we are trying to switch to spike interface. I’m having issues running mountainsort with spikeinterface. To show you the problem I used your example code “plot_1_sorters_example.py”.
If I run mountainsort like this: _sorting_MS4 = ss.run_mountainsort4(recording=recording, **default_ms4_params, output_folde

[2021-04-04 06:54] alejoe91 commented on #103
Hi @frankdopamine

It seems to be a problem with the multiprocessing in mountainsort4. @magland can you take a look at this?

The strange thing is that MS4 runs fine on our test routine, which runs the same code on an ubuntu machine..

[2021-04-05 15:29] paul-aparicio commented on #102
If it matters at all, I tried duplicating this in Linux (Ubuntu 18.04) and I get the same error as above:

AttributeError: 'BlackrockRawIO' object has no attribute '__read_nsx_header_variant_a'

[2021-04-05 15:35] alejoe91 commented on #102
Hi! What version of neo and SpikeInterface are you using? The problem seems to be related with the BlackRock input..@samuelgarcia any clue?

[2021-04-05 16:03] paul-aparicio commented on #102
I'm running neo 0.9.0 and spikeextractors 0.9.6

I can't find spikeinterface when I tried conda list? On Windows, I installed it with pip, on Linux I installed it by downloading from GitHub and running python setup.py install

[2021-04-06 07:34] samuelgarcia commented on #102
This error is strange. Is is seems related to neo and joblib.
Does the same code work with no parralel ?

[2021-04-06 13:55] paul-aparicio commented on #102
Hello! On the linux install, I tried restarting the jupyter kernel and rerunning the code without the parallel variable in the argument list. This indeed worked. I verified this by restarting the jupyter kernel and running the code again with the parallel variable set to True as an argument. The same error as previously described occurred.  Thanks for your help.

[2021-04-11 17:08] #102 closed

[2021-04-11 17:43] paul-aparicio opened #104 "questions and phy export error"
Hello, I have been learning how to use spike interface from the tutorials, and I have a few questions. I want to import data from blackrock and save as nwb. (1) When I open the saved NWB file, I see that some of the metadata is left blank or with defaults. Is there a way I can go in, either when I am writing the file, or after its been written, and rewrite the values for the metadata in the variou

[2021-04-12 10:29] alejoe91 commented on #104
Hi @paul-aparicio

You can include metadata by using the `metadata` argument. If you run `se.NwbRecordingExtractor.write_recording?` it explains how to format the `metadata` dictionary.

Regarding the phy error, have you removed any channels before processing? which versions of spikeextractors and spiketoolkit are you using?

[2021-04-13 13:22] paul-aparicio commented on #104
Hi and thanks for your help. I did see the `se.NwbRecordingExtractor.write_recording?` information, but I am still unclear how to format the metadata. For example, when usingpynwb.add_electrode, there is metadata associated with the dynamic table region, where is that placed? If I also want to add session, subject, keywords, etc. metadata, would I do the following?

'metadata['Ecephys'] = {}
metad

[2021-04-14 06:01] ChenK19 opened #107 "questions on using Mountainsort4"
Hi everyone,
We used mountainsort4 to sort our recorded data previously in our lab, now we are trying to switch to Spikeinterface.

 However, we meet a problem with the firing.mda file generated by ss.run_mountainsort4.

When we use the MS4  before, the first row of firing.mda supposed to be the channels detecting the corresponding units, where they are all zero now.

Does that mean all the spikes

[2021-04-14 06:17] alejoe91 commented on #107
Hi,

The first column of the mda file.is not used anymore, because it was MS4 specific. You can use Phy to get the max channel for each unit.

[2021-04-25 05:21] farazmoradi opened #115 "Importing EDF Files"
Hi, Is there any way that we can import EDF files directly to the spike interface?

[2021-04-25 20:04] alejoe91 commented on #115
Hi @farazmoradi

EDF files are currently not supported. If you have Python code to load them, it's pretty straightforward to write an extractor for it. We have some instructions on how to do it here: https://spikeinterface.readthedocs.io/en/latest/recording_extractor.html

[2021-04-26 09:24] samuelgarcia commented on #115
I plan to do it in neo since many years.
So it would also avaliable here.
I would be happy to help if you start a PR for EDF in neo.
Note that python-mne handle it already.

[2021-04-26 10:43] farazmoradi commented on #115
Thanks, I get that!

[2021-04-28 13:48] ferchaure opened #117 "write_to_h5_dataset_format for combinato"
Hi guys, going back to how to write h5 files for the combinato sorter.  What do you prefer?:

- making a function write_to_h5_**flat**_dataset_format inside the combinato spikesorter code
- adding a new argument (or including a special case in some of the existing ones) to the existing write_to_h5_dataset_format function.

And about how to remark that combinato can't handle multichannel recording,

[2021-04-29 08:01] samuelgarcia commented on #117
Hi Fernando.
For me you can extend the `write_to_h5_dataset_format()` if the default behavior is unchanged.
It will be simpler and more easy to read.

[2021-04-30 07:43] alejoe91 opened #126 "Add spikeinterface[complete] install option"
This would install all requirements for extractors.

We need this both for version 0.12 (and bump up to 0.13) and >0.90

[2021-04-30 07:45] samuelgarcia commented on #126
I can manage for the 0.90.
I leave it to you to push in **0.1X_old_api** branch.

[2021-04-30 13:32] paul-aparicio commented on #104
Hello, Following up on the export to phy issue. I found that during exporting, a temp folder is generated that has the waveform files in it. This folder becomes quite large filling my hard drive (~10X the size of the data, so from 32gb datafile > 410gb). Is there a way to change the location of this tmp folder? Or is there a setting to use that might help?

Thanks

[2021-04-30 13:58] alejoe91 commented on #104
Hi,

Yes you can set the tmp folder of the SortingExtractor object with:
[code]
Note that the new folder needs to exist already!

[2021-05-01 01:13] paul-aparicio commented on #104
Thanks, I can now direct the output to this tmp folder, but it appears that the folder size is going to end up being ~5TB? Can I delete things in the tmp folder before the export completes? Do you have any suggestions on how to manage this so that its not so large? I am using the ironclust sorter with a datafile that is ~33gb, and the sorter found 493 units.

[2021-05-01 07:15] alejoe91 commented on #104
Hi @paul-aparicio

There might be something off then. There could be a reasons. We recently updated spiketoolkit to handle better the files needed to export to Phy. Please make sure you are using the latest version. Another possible issue is that ironclust outputs some noisy units with an excessive firing rate. If you have for example some units with 1000Hz average rate (likely noise) the program

[2021-05-03 11:12] valejandracch opened #132 "Working with common reference data grouped."
Hello!

Im working with data obtained with openEphys. Cambridge probe with 2 shanks and 32 channels.
The recording has been extracted using the OpenEphysRecordingExtractor  and I added the probe file:

Original channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
Channels after loading the probe file: [29, 25,

[2021-05-03 12:34] paul-aparicio commented on #104
Hello, I used the above code and found no units with firing rates > 200Hz. I also tried a different sorter (tridesclous) and it returned 178 units, none of which had firing rates >200Hz. When I export to phy with the 178 units the tmp folder has gone to ~2.8TB and has been running for about 2 days.

[2021-05-03 12:46] samuelgarcia commented on #104
@paul-aparicio :+1:
note that I have implemented a new `export_to_phy()` of this for the next release (0.90.0).

The new implementation should be faster.

In this futur versionn, note that:
  * there are many change in the API (**no** backward compatibilities)
  * PC are **not** handle yet in export_to_phy
  * not released yet

Nvertheless, maybe you could try this new version.
Please make feedbac

[2021-05-03 12:47] alejoe91 commented on #104
@samuelgarcia yes but still there is something wrong here...what's the spiketoolkit version you are using?

[2021-05-03 12:49] samuelgarcia commented on #104
The new one!! What is wrong ?

[2021-05-03 12:54] alejoe91 commented on #104
no I mean for the old one. How can it generate 5Tb?

[2021-05-03 13:02] alejoe91 commented on #104
@paul-aparicio can you check the content of the tmp folder? You should have one file for each unit with waveforms, and a file called `waveforms_pca_fit.raw`. How large are those?

[2021-05-03 13:13] alejoe91 commented on #104
Also, could you count all spikes in your data?

[code]

What probe are you using?

[2021-05-03 13:19] alejoe91 commented on #104
If you have an enormous number of spikes, an option can be to exoprt to phy without PC scores and amplitudes. You would still be able to visualize templates/waveforms, all spike train metrics (auto and cross correlograms, ISI distr and so on).

You can do it by setting the `compute_pc_features=False` and `compute_amplitudes=False`.

[2021-05-03 17:34] paul-aparicio commented on #104
Hi, thanks for the replies. I am using spike tool kit version 0.7.5. The tmp folder has the following files: waveforms.raw (with file sizes that range between 2-50gb) pcascores.raw (50-800mb each)  and amplitude.raw (300kb - 1.2mb), one for each unit (178 with the tdc sorted data). The waveforms_pca_fit.raw file was 57.2 gb (TDC sort).

There were 39352814 spikes in the TDC sort. The probe is a 96

[2021-05-03 17:40] alejoe91 commented on #104
Hi @paul-aparicio

Since this is a Utah array, are you spike sorting by group? Electrodes are far apart from each other, so you wouldntm't expect waveforms to appear on multiple sites. If you do so, then you can export to Phy by `grouping_property='group'`. This would effectively export waveforms on a single channel per unit, instead of 96 (which in this case doesn't really make sense!). This shou

[2021-05-03 17:45] paul-aparicio commented on #104
Thanks, I do sort by group and I have been exporting with grouping_property='group'  though in the tmp folder I see those files per unit?

[2021-05-03 18:01] alejoe91 commented on #104
Ok, then the waveforms should already be mono-channels..this means that for some units you have over 50million spikes?? (50Gb / 120 samples / 8 bytes)

Another think g that could reduce the size is the reduce the cut_out length. By default, SI cuts 2 ms and 3 after (if I remember correctly). You can reduce this by passing the `ms_before=0.5` and `ms_after=1`, which should be enough for visualizati

[2021-05-03 18:35] paul-aparicio commented on #104
The data is sampled at 30khz. So pre and post sample times of 2 and 3ms would be about 15000 samples per waveform, maybe that is the problem. I will try reducing these values and let you know how it goes. Thanks!

[2021-05-03 19:05] alejoe91 commented on #104
It would be 150 samples: 0.005 s * 30 000 Hz = 150 ;)

[2021-05-03 20:40] paul-aparicio commented on #104
Op! Yes, that's correct. So maybe the waveform.raw files are off somehow? If I open one, I should expect to see 150 X #spikes matrix?

[2021-05-04 05:40] alejoe91 commented on #104
Yes this should be num_spikes x 1 channel x 150 samples. However these are binary files, so to open them back you need to know the shape beforehand. To test it you can call `get_unit_waveforms` in a subset of units (to extract all waveforms you can use `max_spikes_per_unit=None) and check the shape of the output variables, which are memmap objects.

[2021-05-04 14:45] paul-aparicio commented on #104
Hi, I'm not sure, but it appears that the waveform.raw files do not have this organization? When I run 'tst = st.postprocessing.get_unit_waveforms(recording, sorting_TDC, unit_ids=[167], max_spikes_per_unit=None)' it has a shape of (1, 79851, 91, 180). There were 79851 spikes in this cluster and the waveform.raw file is 5.2gb? so each element is 4bytes? and the number of probes (91) is being facto

[2021-05-04 15:07] alejoe91 commented on #104
Hi @paul-aparicio

You have to force computation by group by adding `grouping_property='group'` and `recompute_info=True`. Also when you export to Phy make sure you add the same arguments

[2021-05-04 16:09] atranvan opened #133 "passing relative file paths to sorter"
Hi,

I was wondering if there's an easy way to use relative paths instead of absolute paths in prm files generated through spikeinterface.

If I provide relative file paths to the recording objects, the resulting extractors contain full paths.

I tried making a json file containing relative paths and then using se.load_extractor_from_json but the resulting loaded recording also contains full path

[2021-05-05 05:31] alejoe91 commented on #133
Hi @atranvan  :)

Currently not, but I agree that this could be something useful! I can make a patch with something with two option:
1. an extra `relative_to` argument to the `dump` functions. The `relative_to` will be either None (by default, meaning absolute path) or a path with respect to which the relative path is computed
2. an extra function `change_paths_to_relative` that can take a dict, j

[2021-05-05 05:56] atranvan commented on #133
Hi @alejoe91

Thanks a lot for the quick answer! Yes it sounds like either option would be really useful! Looking forward to trying it out!

[2021-05-05 07:05] samuelgarcia commented on #133
Hi Alex.
For the next release of spikeinterface this is something we have in mind but not implemented yet.
Keep this issue open please.
Samuel

[2021-05-05 08:11] alejoe91 commented on #133
@atranvan first option is implemented here: https://github.com/SpikeInterface/spikeextractors/pull/630

[2021-05-05 09:23] atranvan commented on #133
Hi @alejoe91 ,

thanks so much for the quick update!
I am running into a few issues :
I updated to get the commit above through :
`pip install git+https://github.com/alejoe91/spikeinterface.git@relative_paths`

I may have missed a version previous to that but some extractor function I was using before (BinDatRecordingExtractor) has also changed (hence I may be doing something else wrong) :

I used

[2021-05-05 09:37] alejoe91 commented on #133
@samuelgarcia any idea?

[2021-05-05 09:49] samuelgarcia commented on #133
BinaryRecordingExtractor take now a list of files because Recording is now multi segment.
In the init if it is not a list then it is converted to a list one one element.
Alessio did you take this in account ?

[2021-05-05 09:51] alejoe91 commented on #133
How could I have known :P I'll make a fix. Is this the only case the file path arg is a list?

[2021-05-05 10:00] samuelgarcia commented on #133
note that it can be both srt/Path or list of str/Path.
It really depend on the context.
Have a look to implementation, the multi segment stuff have made some internal changes like this.

[2021-05-06 12:53] maurotoro commented on #132
Dearest, I found a bug that might be related to this.

If one instantiates a recording, adds a probe and does some preprocessing, the resulting object is always nice and keeps all metadata, probe and segments and the like. But, once one passes the recording through the remove_bad_channels the result gets broken.

I checked and it could be that in the remove_bad_channels.py, around lines 42 the Bas

[2021-05-07 14:28] paul-aparicio commented on #104
Hi, I have found that when I call ```st.postprocessing.get_unit_waveforms``` in order to force computation by group, it initially creates waveform.raw files with all of the channels (so the tmp folder size increases to TB's of data), then after its done the waveform files in the tmp folders are the correct smaller size (MBs). The same thing happens (it recalculates the waveform files to the larger

[2021-05-07 15:08] alejoe91 commented on #104
Hi @paul-aparicio

It shouldn't save the waveforms raw with all channels, but onlu the ones by group...maybe there's a bug on our side

Can you paste the output of:
[code]

[2021-05-07 21:21] paul-aparicio commented on #104
hi, The output for
```print(recording_cache.get_channel_groups())```

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 51 53 54 55 56 57 58 59 60 61 62 63 64 65 66 68 69 70 71 72 73 74 75 76
 77 78 79 80 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96]

(I removed channels 34, 50, 52, 67, and 81) but run

[2021-05-07 21:24] alejoe91 commented on #104
I think that is the problem! However when running the sorting with grouping property you should get the 'group' property. Maybe it got lost when you caches the sorting (and we should fix it). Can you check if the 'group' is available in `sortong_TDC`? In that case, try to run the export to Phy using that object

[2021-05-08 13:16] paul-aparicio commented on #104
Hi @alejoe91

the ```sorting_TDC``` comes back with no properties:

```In [12]: sorting.get_unit_property_names(unit_id=1)```
Out[12]: []

[2021-05-08 15:28] alejoe91 commented on #104
That looks like `sorting`, not `sorting_TDC`

[2021-05-09 00:11] paul-aparicio commented on #104
Ah, I had loaded the sorter from a pkl file and named it ```sorter``` instead of ```sorter_TDC```, but just in case, I went ahead and reran the analysis from scratch to make sure. I found that the group property is present before caching but not after:

[code]

['group']
[]

Also dumping sorting_TDC to pkl also removed the group property
[code]
[]

I am running the waveform extraction and then the

[2021-05-09 11:16] alejoe91 commented on #104
In the meanwhile I'll fix the missing properties when caching/dumping ;)

[2021-05-09 12:55] alejoe91 commented on #132
Hi @valejandracch

I think there could be a bug in the timeseries widget when channels are missing, I'll look into it.

Note that the `groups` option in `st.preprocessing.common_reference` is not supposed to take group ids as input, but rather a list of channel ids belonging to the different groups.

In your case you would need to do something like this:
[code]

This should print:
[code]

I admit

[2021-05-10 12:08] paul-aparicio commented on #104
Hi
The processes completed. I first ran the extract waveforms to force computation by group:
[code]
testing the output showed everything seemed to work correctly
[code]
(1, 281860, 1, 45)
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 51 53 54 55 56 57 58 59 60 61 62 63 64 65 66 68 69 70 71 72 73 74

[2021-05-10 19:51] alejoe91 commented on #132
Hi @valejandracch

Can you paste here the full code you are running? I'll try to look into this in the next days

[2021-05-11 07:53] alejoe91 commented on #104
@paul-aparicio I think that this could be because TDC might output a few clusters/units with no spikes, e.g. the ones used for template matching which didn't find any match.
You can remove them with:
[code]

As for the missing properties when you cache the sorting, how do you save it? The `CacheSortingExtractor` only saves the file to npz and copies the properties to the new object(https://github.

[2021-05-11 10:31] valejandracch commented on #132
import spikeinterface
import spikeinterface.extractors as se        # file IO and probe handling
import spikeinterface.toolkit as st           # processing toolkit for pre-, post-processing, validation, and automatic curation
import spikeinterface.sorters as ss           # Python wrappers of spike sorters
import spikeinterface.comparison as sc        # comparison of spike sorting output
import spi

[2021-05-11 10:33] alejoe91 commented on #132
Can you separate the code from the output? Also you can paste a `code section using the coding format :)

[2021-05-11 10:47] valejandracch commented on #132
import spikeinterface
import spikeinterface.extractors as se        # file IO and probe handling
import spikeinterface.toolkit as st           # processing toolkit for pre-, post-processing, validation, and automatic curation
import spikeinterface.sorters as ss           # Python wrappers of spike sorters
import spikeinterface.comparison as sc        # comparison of spike sorting output
import spi

[2021-05-11 18:33] timsainb opened #140 "run_sorter expects the same # of channels after splitting sorter by groups in new API"
My guess is that this is because the probe file with 32 channels is kept constant. It seems to me like the default behavior here should be to split the probe file in the recording into sub-probes, or something like that.

[code]

This isn't critical for me, I just wanted to point it out.

[2021-05-11 19:53] timsainb opened #141 "New API relies upon dev branch of neo"
Just a heads up that the new api relies upon PhyRawIO, which isn't in the version of neo in the requirements.
Instead, you need neo from the master branch on github, since phyrawio was added after v0.9: https://github.com/NeuralEnsemble/python-neo/commit/b450fc943106cbda638964656a7e73d024ad8957

e.x.:
[code]

[2021-05-11 20:12] timsainb commented on #140
On second glance, it looks like the probe is splitting

[code]

I'm looking into why the sorter still thinks there's 32 channels now.

[2021-05-11 20:15] timsainb commented on #140
Here's the full output:
[code]
It looks like _write_binary_chunk  is grabbing all 32 channels  of traces for some reason.

[2021-05-11 20:18] alejoe91 commented on #140
If you `get_traces ` from the sub recording is the shape correct?

[2021-05-11 20:37] samuelgarcia commented on #140
Strange.
I did  made quick test and it was woring.
The example is broken so I need to fix it.
https://spikeinterface.readthedocs.io/en/latest/modules/sorters/plot_3_sorting_by_group.html#sphx-glr-modules-sorters-plot-3-sorting-by-group-py

Maybe it is related to a partiicular neo.io/extractor which have bug when slicing on the fly.
What is the extractor in your example. Do you reproduce this with

[2021-05-11 21:01] #141 closed

[2021-05-11 23:51] timsainb commented on #140
@alejoe91
[code]

[2021-05-12 00:04] timsainb commented on #140
False alarm, my bad guys. It was an issue with a custom preprocessor I wrote. Thanks for helping me find the issue.

[2021-05-12 00:04] #140 closed

[2021-05-12 05:19] timsainb opened #142 "SubRecordingExtractor / segmenting frames in new API"
Hey All,

I've run into a wall with re-implementing my spikesorting pipeline in the new API. My pipeline relies on merging together a recording and the last few hours of a previous recording, so that I can call a unit a unit across recordings/days. Unfortunately in the new API this hasn't been implemented yet.

In a previous thread (https://github.com/SpikeInterface/spikesorters/issues/220#issueco

[2021-05-12 07:08] samuelgarcia commented on #142
In my mind for the API, "time slice" is a bit more complex, it can be:
  1. take one or more among N segment for the original
  2. take a sample slice from one segment (your example)
  3. both

So we could have a one class complicated that handle both.
Or we can have two class, very simple to write, for case 1.  and 2..

For case 2., we need to test if the parent is one segment only.
I can implemn

[2021-05-12 07:25] alejoe91 commented on #142
I think that the most important than my is slicing one segment, because different segments will be sliced differently. Maybe TimeSlice could only work on single segments and externally one could slice multiple segments

[2021-05-12 07:26] samuelgarcia commented on #142
OK So you want a class that time slice mono segment.
I will do it very soon.

[2021-05-12 09:39] samuelgarcia commented on #142
Hi Tim,
have a look to this : https://github.com/SpikeInterface/spikeinterface/pull/143
and tell me if it works for you.
I will implement also a segment_slice soon.

[2021-05-12 11:25] valejandracch commented on #132
sorry, now is in code format.  Thanks for the help

[2021-05-12 20:56] timsainb commented on #142
Looks good, thanks! Trying this out now.

BTW, when I grabbed that PR I found a small bug in
https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/tridesclous/tridesclous.py#L105

Where
[code]

num_seg is an integer, so it should be `range(num_seg)` here I believe.

[2021-05-13 03:04] paul-aparicio commented on #104
Hi @alejoe91,

Thanks again for your help, I know you are probably very busy, so I appreciate your responses. I tried using the thresholding you suggested, but it did not remove any units and (of course) the crash was the same. I also tried using a different data set, but this also produced exactly the same crash (from previous post). I tried to workaround this by calculating the waveforms, amplit

[2021-05-13 05:51] timsainb opened #145 "AssertionError on adding probe to ChannelSliceRecording and concatenate_recordings"
There seems to be an issue with adding a probe to a recording comprised of a ChannelSliceRecording that has been concatenated. I've played around with it a bit and seem to reproduce the error in a few different ways but can't figure out the source.

Here is a minimal example on a colab notebook:
https://colab.research.google.com/drive/1iLvlZ_NX_OSowhnQmAkt-evHmr9QKlQI?usp=sharing

Here are some lo

[2021-05-13 16:08] mr33678 commented on #49
So....this issue was never solved nor closed, right? Any developments? I have a similar problem...Thx for any help.

[2021-05-15 03:11] ShubhankarSaha commented on #49
I have the same issue. available_sorters() returns the list of sorters I see in my spiketutorial environment. However, installed_sorters() returns null. Please respond how to solve this. Thanks for your help.

[2021-05-16 07:46] alejoe91 commented on #49
The specific issue for tridesclous should be solved. You can `pip install --upgrade tridesclous` to get version 1.6.1

[2021-05-17 07:03] samuelgarcia commented on #142
Hi Tim,
yes of course.
Thank you for your review.

[2021-05-17 07:16] samuelgarcia commented on #145
Hi Tim,
thanks for this feedback. I will have a look soon.

[2021-05-17 10:56] samuelgarcia commented on #145
Hi Tim.
Have a look to  #147 this should solve this problem.
Big thanks for caching this.

[2021-05-17 10:57] samuelgarcia commented on #145
Laso note that

[code]
can be
[code]

[2021-05-17 12:57] Shivooone opened #148 "Recording extractor for Herdingspikeresults and Ironclust results"
Hello,

I have a trouble concerning the spikeextractors since I believe that the herdingspikes extractor is HS2SortingExtractor but I get the following error

![image](https://user-images.githubusercontent.com/82379695/118492103-f9568c00-b71f-11eb-84c5-4a5630e3f6ea.png)

![image](https://user-images.githubusercontent.com/82379695/118492227-1d19d200-b720-11eb-8eb4-2122ae868449.png)

Could you pleas

[2021-05-17 13:19] alejoe91 commented on #148
Hi Shiva,

The `HS2SortingExtractor` needs the `file_path` (not folder path) to the hdf5 result file.

As for IronClust, did you run it with SpikeInterface? In that case you can load the `firings.mda` with the `MdaSortingExtractor`.

Cheers
Alessio

[2021-05-17 13:30] samuelgarcia commented on #148
Hi Shiva,
yes MdaSortingExtractor is not implemented yet. We will do at the end of the weeks.
Sam

[2021-05-17 13:31] alejoe91 commented on #148
@samuelgarcia it's the current API (the error comes from spikeextractors)

[2021-05-17 13:33] samuelgarcia commented on #148
Shiva, you should use the new API !!

[2021-05-17 13:38] #148 closed

[2021-05-17 13:38] Shivooone commented on #148
Perfect, thanks for your answers :)

[2021-05-17 15:25] vojtasmekal opened #150 "Saving sorting object to NIX"
Hi,

I am trying to write a sorting object created as the agreement sorting between three sorters to Nix format using the NIXIOSortingExtractor, but when I run:

se.NIXIOSortingExtractor.write_sorting(sorting=sorting_agreement, save_path='spikes_agreement.nix')

I get the following:

~/opt/anaconda3/lib/python3.8/site-packages/nixio/section.py in create_property(self, name, values_or_dtype, oid, c

[2021-05-17 15:52] alejoe91 commented on #150
Hi,

Can you paste the entire traceback? We should get the nix developer involved in this as I'm not very familiar with it :)

[2021-05-17 16:52] vojtasmekal commented on #150
Hi,

Of course, here it is!

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-64-1aef9d31c026> in <module>
      1 # Save the sorting object into NixIO format
      2
----> 3 se.NIXIOSortingExtractor.write_sorting(sorting=sorting_agreement, save_path='spikes_agreement.nix')

~/opt/

[2021-05-17 18:57] #142 closed

[2021-05-17 18:59] #126 closed

[2021-05-17 19:00] samuelgarcia commented on #133
Close with #136

[2021-05-17 19:00] #133 closed

[2021-05-17 19:01] samuelgarcia commented on #117
Closed with #134

[2021-05-17 19:01] #117 closed

[2021-05-17 19:02] #145 closed

[2021-05-17 19:03] samuelgarcia commented on #93
Hi.
Could you try with the new API (installation from source) ?

[2021-05-17 19:04] samuelgarcia commented on #85
Can we close this ?

[2021-05-18 12:53] #50 closed

[2021-05-18 12:53] #51 closed

[2021-05-18 12:54] #75 closed

[2021-05-18 12:54] #79 closed

[2021-05-18 12:54] #80 closed

[2021-05-20 02:47] timsainb opened #153 "Computing spike template with only a subset of the spikes from waveform extractor"
Using the new waveform extractor, I set the waveform to grab all of the spikes, which is useful for certain things (like projecting spikes into low-d spaces) but for things like computing the template of a unit, using every spike is probably unnecessary.

Is there a way to use the same waveform extractor and compute certain features with only a subset of the waveforms?

e.g. ` we.get_template(unit

[2021-05-20 06:54] samuelgarcia commented on #153
Hi Tim,
yes we can do that.

I have another plan in mind which should implemented soon.

The workflow would be:
  * make a waveformExtractor with feww spike
  * make WaveformPrincipalComponent on it just to learn the projection for PCA
  * then create an object that stream all spike, extract waveform on the fly, project on the fly and store the PCs

This would be more efficient, Ithink that a full

[2021-05-21 06:25] timsainb commented on #153
Sounds good. The advantage of the former approach, for me personally, is I'm using the entire dataset of spikes for projection into my own embeddding algorithm (https://github.com/lmcinnes/umap/blob/master/umap/parametric_umap.py)

For high-channel count electrodes (or really any electrodes), perhaps it would make sense to  save only the "best channels", and treat the numpy arrays as sparse arrays

[2021-05-23 05:09] ZiadAli opened #164 "YASS error "exit()" function"
Hello - I encountered an error running the YASS sorter where it tried to run what seems like an undefined function called "exit()". How should I fix this? I'm using Google Colab and running the code from the plot_getting_started.py example. Thanks!

My code:
ss.run_yass(recording=recording_cmr)

Error Message:
[code]

[2021-05-23 07:50] alejoe91 commented on #164
Hi @ZiadAli

This is definitely a leftover bug on our side! Will push a fix soon. Note that YASS hasn't been thoroughly tested, so we really appreciate your feedback!

[2021-05-24 08:05] benefron opened #165 "New version of spikeinterface"
Hello I am trying to work with cached sorting that I saved before on the older version of spikeinterface.
I ran into 2 problems:
1. when I try to extract the recording I get the following:
"AttributeError: module 'neo.rawio' has no attribute 'OpenEphysBinaryRawIO'" from what I see when trying to import from neo the attribute is spelled as follows: "from neo.rawio.openephysrawio" only lower case le

[2021-05-24 08:39] benefron commented on #93
I am trying but I encountered some problems working with the new API. I opened an issue about it.

[2021-05-24 09:21] alejoe91 commented on #165
Hi @benefron

The new API breaks support for the old version. Could you try run the entire pipeline with the new API? The syntax is very similar: https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html

[2021-05-24 10:18] benefron commented on #165
I tried.
I still run into the same problem with the recording extractor.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-18-2965e3b479b3> in <module>
----> 1 recording = se.OpenEphysBinaryRecordingExtractor(recording_folder)

~/.local/lib/python3.7/site-packages/spikeinterface-0.9

[2021-05-24 10:27] alejoe91 commented on #165
Did you install neo from sources? https://spikeinterface.readthedocs.io/en/latest/installation.html

[2021-05-24 10:33] benefron commented on #165
Yes. I followed the directions exectly. I will check on a different system cause maybe it is something with the cluster.
What version neo is suppose to be? what I see is 0.9.0

[2021-05-24 10:39] benefron commented on #165
OK
I unistalled it using pip and reinstalled it from source and know it is working
thanks

[2021-05-25 07:39] alejoe91 commented on #164
@samuelgarcia already opened a PR: https://github.com/SpikeInterface/spikeinterface/pull/166

[2021-05-25 07:49] samuelgarcia commented on #165
Hi Ben.
Sorry for this ?
Yes neo from source is still 0.9.0 even it should 0.10.0.dev0

[2021-05-26 08:33] alejoe91 commented on #164
@ZiadAli the problem seems to be arising from YASS itseld, not from the SpikeInterface wrapper. @catubc can you take a look?

[2021-05-26 08:37] catubc commented on #164
@ZiadAli, yes it seems the phy generating code is crashing likely due to some weird output. I don't have immediate time to look into this.

In any case, yass should have finished sorting by that stage and the spike trains should be available. Please turn off the phy flag in the config (set   generate_phy: 0 in the config or using the SI interface).  You should be able to visualize

[2021-05-26 08:43] alejoe91 commented on #164
@catubc @samuelgarcia I think the phy flag should be false by default

[2021-05-26 08:45] samuelgarcia commented on #164
yes

[2021-05-26 10:03] ZiadAli commented on #164
Turning off the generate_phy flag fixed that error but now it encounters this one:

`"ValueError: Found array with 0 sample(s) (shape=(0, 32)) while a minimum of 1 is required by check_pairwise_arrays."
`

I wonder if this may be a consequence of the file I'm using to test YASS (mearec_test_10s.h5) which is potentially not well suited for the algorithm? Do you have a standard dataset you've been u

[2021-05-26 10:14] catubc commented on #164
Hi @ZiadAli
Yass is returning zero clusters and is crashing. We did not anticipate that and have not fixed it.  It will be probably fixed in a future version.

Not sure what type of data you're applying it to, but it may not work as is.  Perhaps it is too short, or low firing rate.  I see yass finds 40 units in the first iteration, then down to 19 which post-cleaning returns only 1 unit.  This usu

[2021-05-26 10:16] alejoe91 commented on #164
Yeah this is only 10s. Can you try to run it with a longer recording @ZiadAli ? You can generate one using the `toy_example` function

[2021-05-26 10:18] catubc commented on #164
Oh yeah, that will not work in yass. There are too many statistical dependencies / heuristics that will break.
You should concatenate perhaps 30 or more of these chunks and run together if they are from the same recording depth/penetration etc.

[2021-05-26 10:23] alejoe91 commented on #164
Also that's a possibility! @ZiadAli you can do it with the `concatenate_recordings` function:
[code]

[2021-05-31 10:24] farazmoradi opened #169 "Finding Proper Channels"
Hi,

I want to know if the spike interface has any analysis for each channel? For instance, I want to know for each unit which channels are most important? Basically, I mean I want to know which channels were better and the information in them was more prominent than the other one.

Thanks

[2021-05-31 10:28] samuelgarcia commented on #169
Hi,
have a look to
spikeinterface.toolkit.postprocessing.template_tools
You have:
  * `get_template_extremum_channel()` > best channel (on channel)
  * `get_template_best_channels()` > n best channels

[2021-05-31 10:29] samuelgarcia commented on #169
See also this
https://spikeinterface.readthedocs.io/en/latest/modules/toolkit/plot_2_postprocessing.html#sphx-glr-modules-toolkit-plot-2-postprocessing-py

[2021-06-01 21:13] szbalazs98 opened #171 "Problem running Mountainsort4"
Hi,
I tried to run Mountainsort4 on the data that was given in the Cambridge webinar like this:
sorting_MS = ss.run_mountainsort4(recording_cache, grouping_property='group', adjacency_radius=50, parallel=True,
                                                          verbose=True, output_folder='results_mountainsort4', filter=False)

It gave this error:
"""
Traceback (most recent call last):
  Fil

[2021-06-02 06:21] samuelgarcia commented on #171
Now montainsort need the python pacakge `mountainsort4` and not anymore the `ml_ms4alg` package.

This is implemented in the "new API" which is not yet released.
The tutorial you mention is based on 0.12 version.
If you go for the futur version ("new api") from source , you certainly need to adapt your code, check [new api tutorials](https://spikeinterface.readthedocs.io/en/latest/modules/index.ht

[2021-06-02 15:45] benefron commented on #165
So there is no more need to cache recordings?

[2021-06-02 16:09] samuelgarcia commented on #165
we have a `recording.save()` instead.
But depending what you do, sometimes it is not relevant anymore to "cache" with save().
For instance for `extract_waveform()` if the recording iput is not saved before but lazy it can be also super fast.
This will depend on your IOs bandwith and your CPU.
Make some benchmark.

[2021-06-02 16:31] benefron commented on #165
I tried to save
and I get the following
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-171-83fcd8af09e1> in <module>
----> 1 recording_cmr.save_to_folder(folder = ''.join([wrk_folder ,'recording_FVB1015.json']))

~/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3

[2021-06-02 16:43] samuelgarcia commented on #165
I guess you are using `common_reference()` no ?
I will fix it.

[2021-06-02 16:45] benefron commented on #165
yep.
I tried also on the recording without common_refernce().
and I get:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-174-5617050636fc> in <module>
----> 1 recording_f.save(folder = ''.join([wrk_folder ,'recording_FVB10112.json']))

~/.local/lib/python3.7/site-packages/spikeint

[2021-06-02 16:46] samuelgarcia commented on #165
No I think this is maybe remove_artifacts().

Can you send me all your code for the preprocessing ?
I guess one of then, do something wring with internals kwargs.

[2021-06-02 16:48] samuelgarcia commented on #165
can you try with this PR #168  ?

[2021-06-02 16:50] benefron commented on #165
recording = se.OpenEphysBinaryRecordingExtractor(recording_folder)

probe = read_prb('/home/labs/lampllab/befron/Jan_March2021/A2x16-10mm-50-500-177-A32.prb')

recording_prb = recording.set_probegroup(probe,group_mode='by_shank')

recording_f = st.preprocessing.bandpass_filter(recording_prb, freq_min=300, freq_max=6000)

recording_clean = st.preprocessing.remove_artifacts(recording_f,list_triggers

[2021-06-02 16:57] benefron commented on #165
I run it on a university cluster and I don't have gitHub CLI. not sure how to install it.

[2021-06-02 17:11] benefron commented on #165
Tried on my personal computer without any preprocessing I get the following:
TypeError                                 Traceback (most recent call last)
<ipython-input-5-5835934781e7> in <module>
----> 1 recording.save(folder = './test111')

~/anaconda3/lib/python3.8/site-packages/spikeinterface-0.90.0.dev0-py3.8.egg/spikeinterface/core/base.py in save(self, **kargs)
    439             return sel

[2021-06-02 18:06] benefron commented on #165
I get the same error while trying to run sorters:
  File "/home/labs/lampllab/befron/FVB/FVB101.py", line 91, in <module>
    sort_klusta = ss.run_klusta(recording_cmr,delete_output_folder=True,verbose=True,output_folder=''.join([wrk_folder,'/klusta']))
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/sorters/runsorter.py", l

[2021-06-02 18:13] samuelgarcia commented on #165
I think I fixed it.
kwargs where wrong for openephys reader

you can do to test with gh-cli, until my PR will be merge:
[code]

[2021-06-02 18:17] benefron commented on #165
Thanks
I will check it tomorrow and let you know

[2021-06-03 06:01] benefron commented on #165
I get a new error:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-17-1a6e542b347f> in <module>
----> 1 recording_cmr.save(folder = ''.join([wrk_folder ,'recording_FVB10118.json']))

~/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/core/base

[2021-06-03 07:42] benefron commented on #165
Another error I get when trying to run the sorters:
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-39-b46dab75a482> in <module>
----> 1 recording_cmr.get_channel_locations()

~/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/core/baserecordi

[2021-06-03 08:00] samuelgarcia commented on #165
For the first error my gurss is that, it comes from `remove_artifacts()` could you try to `save()` just after to confirm ?
Or even better save() at each steps for debugging.

Note, you can use `save(n_jobs=10, chunk_memory='100M')` to be faster.

For the second error.
PRB is totally ambiguous for groups!!
Wer can't known if it is 2 shanks or 2 probes.
`probeinterface.read_prb()` give 2 probes when

[2021-06-03 08:04] benefron commented on #165
The probe I moved into a single probe. The problem is that whenever I read .prb or .json probe files it reads them to probegroup.
The first problem appears even if I just try to save straight after loading the openephys recording

[2021-06-03 08:11] benefron commented on #165
Sorry it does work now after loading the recording.
I am checking now after assigning probe and than after filtering.
I get the error after removing artifacts

[2021-06-03 08:11] samuelgarcia commented on #165
Yes, when you have a probegroup, you can recombinate then into a multi shank if it is the case see the end of the titorial:
https://probeinterface.readthedocs.io/en/main/examples/ex_04_multi_shank_probe.html

Did you pull from my working branch *?

[2021-06-03 08:11] samuelgarcia commented on #165
OK thanks. I will fix it very soon.

[2021-06-03 08:13] samuelgarcia commented on #165
I have just push a commit in my branch to fix this, can you try to git pull again please ?

[2021-06-03 08:25] benefron commented on #165
I get a new error:
Traceback (most recent call last):
  File "/home/labs/lampllab/befron/FVB/FVB101.py", line 92, in <module>
    recording_clean = st.preprocessing.remove_artifacts(recording_f,list_triggers = artifacts,ms_before=3000,ms_after=artifact_window[1])
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/toolkit/prepro

[2021-06-03 08:31] samuelgarcia commented on #165
Oups. Sorry I fixed it too quickly.
I made a new fix. Can you try again.
Really sorry for this durty debug.

[2021-06-03 08:40] benefron commented on #165
I still get
Traceback (most recent call last):
  File "/home/labs/lampllab/befron/FVB/FVB101.py", line 120, in <module>
    recording_saved = recording_cmr.save_to_folder(folder = ''.join([wrk_folder ,'recording_FVB101']),dump_ext='json',n_jobs=10,chunk_memory='100M')
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/core/base

[2021-06-03 09:51] benefron commented on #165
I am know saving as pkl and it works.
I got another error while running sorters:
Traceback (most recent call last):
  File "/home/labs/lampllab/befron/FVB/FVB101.py", line 111, in <module>
    sort_kilo = ss.run_kilosort3(recording_saved,delete_output_folder=True,verbose=True,output_folder=''.join([wrk_folder,'/kilo']))
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeint

[2021-06-03 10:01] samuelgarcia commented on #165
I fixed the second error (aveclust) in my branch.
Please git pull again.

For the first one, I will do it later, we need to force installation of all files.
At the moment you can fix it with
[code]
do a pip uninstall before.

@alejoe91 : how we copy all *.m and *.prm in spikesorter for installation ?

[2021-06-03 10:12] alejoe91 commented on #165
@samuelgarcia you need to add the files to the manifest (https://github.com/SpikeInterface/spikesorters/blob/master/MANIFEST.in) and `include_package_data` in the `seup.py`: https://github.com/SpikeInterface/spikesorters/blob/master/setup.py#L21

[2021-06-03 10:42] samuelgarcia commented on #165
OK thanks.

[2021-06-03 13:27] benefron commented on #165
I was also wondering.
I am doing some of the work on a cluster and some on my PC.
When I dump the recording it saves in the .pkl file the pathway based on the system I am in, and than I can't access it from the other system.
Is there an easy fix for the pathway?

[2021-06-03 13:46] alejoe91 commented on #165
If you save to folder instead of pkl the paths will be relative to the folder itself, so it can be moved between different computers. Alternatively, when you save to pkl you can use the `relative_to` arg to make all file paths relative to a certain folder. In when you load the recording you will then need to pass the `base_folder` path

[2021-06-03 14:25] benefron commented on #165
I am trying to export to phy and I get the following:
Traceback (most recent call last):
  File "/home/labs/lampllab/befron/FVB/FVB101_300521/FVB101_phy.py", line 47, in <module>
    verbose=True, n_jobs = -1,chunk_memory='100M',copy_binary=False,waveform_extractor = we,compute_pc_features=False,remove_if_exists=True)
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeinter

[2021-06-03 15:00] samuelgarcia commented on #165
Oups. Sorry.
I bever tryed this without copy.
I have just push the fix on my branch.

[2021-06-04 04:03] timsainb opened #172 "Adding a nice & ionice argument to run_sorter [feature request]"
I'm wondering what your thoughts are for adding an argument to control niceness/ionice with spikesorting.

I think most folks are spikesorting on shared compute servers and want to leave those sorts in the background while they do other things. Since spikesorting & the preprocessing spikeinterface does is io/cpu heavy it might be useful to set a flag to leave these sorts on in the background.

May

[2021-06-04 06:21] samuelgarcia commented on #172
We can think about this.
note:
  *  than `run_sorter()` do the run in the main thread so the use acn already do that before calling it.
   But we don't dontrol how sorters spawn.
  * `run_sorters()` (in launcher.py) have several engine 'loop'/'joblib'/'dask'.
    For 'loop' same answer the `run_sorter()`
    For 'joblib', I don't known how to do it, there is certainly option. engine_kwargs can be

[2021-06-04 20:15] timsainb commented on #172
Awesome, I'll play around with that, thanks!

[2021-06-04 20:15] #172 closed

[2021-06-06 06:03] benefron commented on #165
I still get:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-13-e7a065024e05> in <module>
----> 1 recording_cached = recording_cmr.save_to_folder(folder = '~/Recording_FVB101',n_jobs = -1,chunk_memory='100M')

~/anaconda3/lib/python3.8/site-packages/spikeinterface-0.90.0.dev0-py3.

[2021-06-06 06:36] benefron commented on #165
I still have the same problem with the e.json and uint16 file.
Also when I try to run export to phy and other processes in parallel I get the following:
---------------------------------------------------------------------------
BrokenProcessPool                         Traceback (most recent call last)
<ipython-input-20-31035dd140c8> in <module>
----> 1 st.export_to_phy(recording_cached, agreemen

[2021-06-06 06:39] benefron commented on #165
I also get the following while exporting to phy:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-21-6eb60eddd2d6> in <module>
----> 1 st.export_to_phy(recording_cached, agreement_sorting, '/home/ben/Z/FVB101_300521/Sorting/phy', we,
      2             compute_pc_features=True, co

[2021-06-06 06:47] benefron commented on #165
And when I already have the waveform folder I get the following:
folder = '/home/ben/Z/FVB101_300521/Sorting/waveforms'

we = si.extract_waveforms(recording_cached, agreement_sorting, folder,load_if_exists=True)

print(we)

​

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-22-036

[2021-06-06 08:23] alejoe91 commented on #165
This is an agreement sorting, right?

[2021-06-06 08:24] benefron commented on #165
Yes

[2021-06-06 08:26] alejoe91 commented on #165
Ok we'll try to fix it over the week!

[2021-06-07 07:20] samuelgarcia commented on #165
Hi Ben.
That is a lot of bugs!!
I wil try to fix then tomorow or maybe leter today.
Sorry for you.

Your input file appears to be dtype utin16, maybe this cause some border effect.
If you have a small fils and a short script, it would help me to debug more efficiently.

[2021-06-07 11:12] benefron commented on #165
This the format that open ephys saves binary files

[2021-06-07 13:32] samuelgarcia commented on #165
Doesn't openephys use int16 instead of uint16 ?

[2021-06-07 14:57] alejoe91 commented on #165
@samuelgarcia the `AgreementSorting` is not dumpable. In that case I think that the save funciton should skip the provenance and just cache it.

[2021-06-07 14:59] alejoe91 commented on #165
@benefron can you please paste here the code you are running? It's hard to understand where the uint16 error comes from otherwise

[2021-06-07 15:41] samuelgarcia commented on #165
@alejoe91 : is is already the case when `save()` if the provenance is not dumpavble then it is skiped.

[2021-06-07 15:43] alejoe91 commented on #165
Then the agreement sorting is probably missing a is_dumpable=False...

[2021-06-07 15:44] samuelgarcia commented on #165
@benefron : you should save the agreement sorting to a NPZ before extract_waveform it should solve the situation partially.

[2021-06-08 08:51] benefron commented on #165
I thought it might be the data I loaded from matlab of the times of artifacts but I still get the error.
I am attaching the code.
It happens only after the remove_artifacts. I checked and common_reference doesn't cause the uint16 error.
 """
import spikeinterface as si
import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss
import spikeinterfa

[2021-06-08 09:22] benefron commented on #165
I cached and saved the sorting before running the extract_waveforms and export_to_phy.
It works now but when I open phy The feature view is completely flattened. I run the following code for export:
folder = '/home/ben/Z/FVB101_300521/Sorting/waveforms'
we = si.extract_waveforms(recording_cached, agreement, folder)
print(we)
st.export_to_phy(recording_cached, agreement_sorting, '/home/ben/Z/FVB101

[2021-06-08 09:26] samuelgarcia commented on #165
@benefron : if you re run something you need to manually remove the cached waveform folder each times because you are maybe viewing the old cache.
Maybe it is safer to do `extract_waveforms(recording, sorting, folder, load_if_exists=False)``False is the dfault normally.

Are you using my latest branch "big_refactoring" or the latest master branch from the main repo ?

[2021-06-08 09:27] samuelgarcia commented on #165
Also : are you sure you filter **before** `extract_waveforms()` other wise waveform or done on raw signal and best channel are totally random. that could alspo explain.

[2021-06-08 09:28] samuelgarcia commented on #165
The bug you have for dumping after `remove_artifact()` is normally fix here:
https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/toolkit/preprocessing/remove_artifacts.py#L85
can you check ?

[2021-06-08 11:00] benefron commented on #165
I manually remove the waveform folder.
I am using your branch.
I filter before, but when I extract to phy it says that the recording is not filtered.
I didn't understand what should I check in the link you attached

[2021-06-08 11:10] samuelgarcia commented on #165
OK.
It was just for checking that you have locally this line.
Because it is supposed to solve the dump of `remove_artifact()`.
I will inverstigate more.

A small file and a full script would help a lot for this debuging.

[2021-06-08 15:33] alejoe91 commented on #165
@benefron can you try: `artifacts = artifacts.astype('int16').tolist()`

[2021-06-08 15:34] samuelgarcia commented on #165
@alejoe91 : this is done before self._kwargs normally.

[2021-06-08 15:35] benefron commented on #165
I tried. Had the same error.

[2021-06-08 16:40] samuelgarcia commented on #165
Hi Ben,
here a corrected version of your script that should work:

I chnaged the syntax, be carrefull of details.

[code]

[2021-06-08 16:41] samuelgarcia commented on #165
Please also pull from my repo

[2021-06-08 20:01] timsainb commented on #153
Hey @samuelgarcia do you have some sample code for streaming spikes (as in get_snippets in the previous api), as you mention in your comment above?

It looks like the way you'd do this is to write a variation on _waveform_extractor_chunk that interacts with ChunkRecordingExecutor, but rather than write to a memmap,. return them.

[2021-06-09 06:02] samuelgarcia commented on #153
Hi Tim,
I guess you are mentioning this https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/toolkit/postprocessing/principal_component.py#L153

Indeed, I did something to stream all chunk with:
  1. extractor waveform
  2. keep best channel
  3. project on PCA space
  4. save to file

This is very very specific to phy export engine.

In we could do something similar for you

[2021-06-09 07:00] benefron commented on #165
# you don't need to save the recording for every sorter !!!!!
I did it because I couldn't run the sorters before.
I am running everything on the cluster so I am running a job for each sorter in parallel and then saving the sorters. after that, I am running a new job to combine the sorters and export to phy.

[2021-06-09 07:38] samuelgarcia commented on #165
Hi Ben,
Note, that internally, many sorters also do the `save()` internally.
So you could also try to not save at all and make the sorting on the `recording_cmr` object (lazy).
The internal save in run_sorter will take care of it.

Does it work now  ?
Don't forget to remove the `recording = recording.frame_slice(0, 3000000)` which is only for testing purpose.

[2021-06-09 07:51] benefron commented on #165
I am now running the sorters. The saving worked. so that problem is dealt with.
I will check the second part of the code after I finish sorting.

[2021-06-09 07:56] benefron commented on #165
I am still having a problem with the klusta and kilosort3 sorters.
I also have a problem with waveclus:

                            < M A T L A B (R) >
                  Copyright 1984-2020 The MathWorks, Inc.
              R2020a Update 4 (9.8.0.1417392) 64-bit (glnxa64)
                               June 24, 2020

                            < M A T L A B (R) >
                  Copyright 1984

[2021-06-09 09:03] samuelgarcia commented on #165
I think waveclus for for one channel only. I doubt that you will get something on a 32 channel probe.

klusta do not work anymore on python3.8, the best option is to use python3.6.

for the bug in KS3, you shoudl ask to KS team.

KS can hard to get working depending your system, for instance, I am able to run KS2 and KS3 but impossible to run KS1 and KS2.5 on my ubbuntu 20.4 python3.8

[2021-06-09 10:43] benefron commented on #165
Both wave_clus and Klusta worked for me on the same system on the older spikeinterface API.
for kilosort3 and klusta it says that it is missing some files:
FileNotFoundError: [Errno 2] No such file or directory: '/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/sorters/klusta/config_default.prm'
FileNotFoundError: [Errno 2] No such f

[2021-06-09 12:17] benefron commented on #165
I managed to sort with 3 sorters, save and export to phy.
Thanks

[2021-06-09 19:31] timsainb commented on #153
Thanks @samuelgarcia ! I'd be grateful to Zoom over this, I'll email you.

I suppose my use is pretty similar to the PCA postprocessor, so it should be pretty adaptable and maybe I should write a post-processor for it. Generally I think this could be a useful tool for a lot of people so I wouldn't be averse to writing it.

I wrote [a submodule for the python package UMAP, called Parametric UMAP](h

[2021-06-11 13:41] gaiabianchini opened #175 "Loading OpenephysData - CAR"
Hi all!
I am performing Neuropixels recordings with openephys and would like to take advantage of the 'common_reference' function of SpikeInterface.
This is the current code I am using to load the data:

[code]

And this is the output error that I have:

[code]

I am able to perform global demux CAR if I load my data like this:

[code]

But unfortunately I am not able to perform local CAR since th

[2021-06-11 13:49] alejoe91 commented on #175
Hi @gaiabianchini thanks for the issue.

In the new API (>0.90, which is the one you are using), there is no `OpenEphysNPIXExtractor` anymore (you should use insted the `OpenEphysBinaryExtractor`).
Moreover, in the new API, the `spikeextractors` package DOES NOT exist anymore (now all the code-base is in the spikeinterface package). So the problem here arises from the fact that you are trying to u

[2021-06-11 15:25] samuelgarcia commented on #175
In the new API you can do
`rec = read_openephys('path/tooe/folder')`
this auto select the open ephys format and recording class.

@alejoe91 : we should implement first the probe in probeinterace and then optional load it. There is no need for a special class for this.

[2021-06-11 17:55] lfrank opened #176 "Speed issues"
Hi all. We now have a working nwb - datajoint - spikeinterface pipeline, but speed remains an issue, and thoughts on whether newer versions of the spiketoolkit and spikeextractors code could speed things up significantly would be welcome.

For reference, our workflow is as follows:
1. All raw data and experimental data are stored in an NWB file.
2. We define all sort parameters in tables in datajo

[2021-06-11 20:37] samuelgarcia commented on #176
Hi.
For speed on the old API of spiketoolkit I let Alessio anwser how to speed up things.

I would strongly encourage you to go the new API.
Many steps should faster a lot.

Have a look to this for an overview of change.
https://spikeinterface.readthedocs.io/en/latest/releases/0.90.0.html

You should also have a deep look on tutorial.
https://spikeinterface.readthedocs.io/en/latest/modules/index.h

[2021-06-11 21:16] lfrank commented on #176
Thanks very much for that; we weren’t sure if it was ready. We do still need the ability to write to an external recording extractor, but we can solve that a different way, so we’ll give this a try.

[2021-06-15 09:08] XIN-TU commented on #175
Hi all,
I used the new API mentioned above and open the open ephys file
the could is :
`recording = se.read_openephys(recording_folder)`

and the error output is :
[code]

And I already install the neo package and the version is 0.9.0.

and any ideas on how I could solve this problem?

Thanks very much!

[2021-06-19 19:56] adityas1997 opened #177 "Issue with Running Sorting"
Hi,
I'm trying to run a sorting on test data generated through spikeinterface.

Code:
recording, sorting_true = se.toy_example(duration=10, seed=0, num_segments=1)
print(recording)
print(ss.installed_sorters())
sortingHS = ss.run_sorter(sorter_name='herdingspikes', recording=recording,output_folder='./tmp2/HS_output/')

I get a traceback error of:
NumpyRecording: 4 channels - 1 segments - 30.0kHz

[2021-06-19 19:57] adityas1997 commented on #177
This is running the latest spikeinterface and attempting to the follow the tutorials there.

[2021-06-21 07:52] samuelgarcia commented on #177
Hi @adityas1997
What is happening certaoinly is that you run some sortign with the new work-in-progress spikeinterface one month ago.
And you update with a more recent work-in-progress spikeinterface and the dump mechanisim is now  abit more enhance and make reading old folder imcompatible.
Sorry for that.
You need to delete folder and re run everything.

[2021-06-21 10:44] adityas1997 commented on #177
Hi, thanks for the response.
Which folder are you referring to that needs to be deleted, and do you have documentation for the latest version on this git that would allow for this method to be run?
Thanks.

[2021-06-21 11:09] samuelgarcia commented on #177
This one `'./tmp2/HS_output/'` no ?

[2021-06-21 11:15] adityas1997 commented on #177
Deleted the folder you mentioned, and reran the code. I receive the same traceback error.
Traceback (most recent call last):
  File "/usr/bin/anaconda3/lib/python3.7/site-packages/spikeinterface-0.90.0.dev0-py3.7.egg/spikeinterface/sorters/basesorter.py", line 203, in run_from_folder
    SorterClass._run_from_folder(output_folder, sorter_params, verbose)
  File "/usr/bin/anaconda3/lib/python3.7/si

[2021-06-21 12:19] samuelgarcia commented on #177
OK sorry. I will fix it soon.

If you want you can do `recording_cached = recording.save(folder='/tmp/reco/path')`
 and run the sorter with `recording_cached` it make the recording dumpable and should avoid you issue.

[2021-06-22 07:07] XIN-TU opened #178 "Issue with read file"
Hi all,
I used the new API mentioned above and open the open ephys file
the could is :
`recording = se.read_openephys(recording_folder)`

and the error output is :
[code]

And I already install the neo package and the version is 0.9.0.

and any ideas on how I could solve this problem?

Thanks very much!

[2021-06-22 07:12] alejoe91 commented on #178
Hi @XIN-TU

Can you install also Neo from master? The new version (0.10.0) will be released soon, but it's not up yet :)

That should fix it!

[2021-06-22 08:36] XIN-TU commented on #178
hi @alejoe91
I followed the instruction to install Neo which git from the master, but the version still shows 0.9.0, and did you know why?

[code]

[2021-06-22 08:37] alejoe91 commented on #178
I think you have to pip uninstall it first

[2021-06-22 08:39] XIN-TU commented on #178
@alejoe91
I already uninstall it and install it again, but it still shows the 0.9.0 version. :(

[2021-06-22 08:41] XIN-TU commented on #178
@alejoe91
And I git from https://github.com/NeuralEnsemble/python-neo, and the license shows the version is 0.9.0, and I git from the wrong repo?

[2021-06-22 08:42] alejoe91 commented on #178
@XIN-TU

Still with the master version you should have the `OpenEphysBinaryRawIO` (https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/openephysbinaryrawio.py)

@samuelgarcia any clue?

[2021-06-22 08:43] alejoe91 commented on #178
No that's actually correct (https://github.com/NeuralEnsemble/python-neo/blob/master/neo/version.py), I was wrong :)

[2021-06-22 08:49] samuelgarcia commented on #178
Hi @XIN-TU.
neo/spikeinetrface/probeinterface have to installed from source see this:
https://spikeinterface.readthedocs.io/en/latest/installation.html#installation

If you did not do it please uninstall and re install.
And there is a mistake in neo from source. The version is 0.9.0 but it should be 0.10.0.dev0.

[2021-06-22 09:22] XIN-TU commented on #178
@alejoe91  @samuelgarcia I attempt to uninstall and reinstall Neo to solve this problem. Thanks very much!

and I got a new problem when I run the spike sorter. I try to run `sorting_TDC = ss.run_tridesclous(recording=recording_preprocessed)` and I also install the tridesclous-1.6.3 via pip, but the program shows I did not install this sorter, and the error show :

[code]

did you know why? thanks

[2021-06-22 10:14] samuelgarcia commented on #178
You need to install `hdbscan` package. (pip or conda)

[2021-06-22 11:42] XIN-TU commented on #178
I already install `hdbscan` which version is 0.8.27, it still can not run tridesclous

[2021-06-22 12:55] samuelgarcia commented on #178
Are you able to do `tdc` in a console and see an opening window ?

[2021-06-22 13:12] XIN-TU commented on #178
Sorry, I don't know what "able to do tdc in a console" means? And I use jupyter notebook to run code and the error is do not have tridesclous.

[2021-06-22 20:00] sbuergers opened #179 "Properties not kept after caching mountainsort output"
To reproduce:

[code]

[code]

Information about the `recording_extractor`:
[code]

The same is true when trying with `tridesclous`. Notably, I can cache the data with the same code and keep the `group` property when using a `PhySortingExtractor` generated after exporting the same `sorting_MS4` extractor to phy.

I also noticed that the mountain sort extractor does hot have the `_properties` attri

[2021-06-22 20:01] samuelgarcia commented on #178
`tdc` is a command to open tridesclous GUI when it is installed.
It is a good test to check if there no missing dependency.

The other way is do `import tridesclous` in jupyter or a script check get the error message.
There must be something wrong with the installation.
And so spikeinterface think it is not installed.

Maybe this is somethign else.
I will check this.

[2021-06-29 11:26] ChrisCurrin opened #181 "ValueError: There is not Probe attached to recording. use set_probe(...)"
I'm transitioning to v0.90 and ran into the following issue for

[code]

[code]

Previously, the probe information was automatically extracted from the recording.

`> https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/spyking_circus/spyking_circus.py`
[code]

Is it possible to implement this for the new version instead of manually specifying the probe?

[2021-06-29 12:40] samuelgarcia commented on #181
Hi CHristopher,
this is right.
I will fix this and add automatically the probe to the recording.
Thanks for the feedback.

[2021-06-29 13:14] ChrisCurrin commented on #181
Thanks @samuelgarcia

I've done this in the mean time:
[code]

[2021-06-29 13:15] samuelgarcia commented on #181
This is the plan but it is better io have autotic.

[2021-06-29 16:05] tpfschaffhauser opened #182 "Issue with duration of open-ephys file"
Hi,

I have some problems when reading my open-ephys dataset using spike-interface (v0.12.0):

`rec = se.OpenEphysRecordingExtractor(fileName,recording_id=0)`
`fs = rec.get_sampling_frequency() `
`dur = np.floor((rec.get_num_frames()/fs)/60)`

This dataset contains 5 separate recordings (recording1/ ... recording5/) folders but the duration I obtain with spike-interface (dur) does not correspond t

[2021-06-29 17:03] samuelgarcia commented on #181
#183 done here
@ChrisCurrin can you check this with latest probeinterface also ?

[2021-06-30 13:12] ChrisCurrin commented on #181
looks good and tested successfully

On Tue, 29 Jun 2021 at 19:03, Garcia Samuel ***@***.***>
wrote:

[2021-06-30 13:29] #181 closed

[2021-07-01 08:01] farazmoradi opened #184 "mapping spikes to channels"
Hi, is there any way that we can figure out each spike in each unit(neuron) comes from which channel?
Thanks.

[2021-07-01 08:14] samuelgarcia commented on #184
yes.
in
toolkit.postprocessing.template_tools you have:

`get_template_extremum_channel()`

`get_template_channel_sparsity()`

[2021-07-01 08:16] alejoe91 commented on #184
@samuelgarcia I think @farazmoradi means for each waveform, not for the template. Right @farazmoradi?

[2021-07-01 08:53] farazmoradi commented on #184
Actually, for instance, I have some spike trains for a single neuron. I want to know each spike train comes from which channel.
Also, If there are some bursts in my spike train, what should I do about them? Are they going to affect my analysis? I am doing classical feature extraction methods like Victor Purpura and ISI.

[2021-07-01 10:36] alejoe91 commented on #182
Hi @tpfschaffhauser

What version of spikeinterface are you using? Would you mind sharing a sample dataset with me so that I can take a look?

[2021-07-01 10:40] farazmoradi commented on #184
After Spike sorting, I compute spike waveforms and I have reached this picture. is the plot reasonable?
<img width="606" alt="Screen Shot 2021-07-01 at 3 07 23 PM" src="https://user-images.githubusercontent.com/62336594/124111275-5adb7b80-da7e-11eb-8b7e-80624dedf432.png">

[2021-07-01 10:42] alejoe91 commented on #184
@farazmoradi what are you plotting exactly? What are the different colors?

Something is definitely off.. can you paste your entire code here?

[2021-07-01 11:02] sbuergers commented on #179
Should be solved with this fix: https://github.com/SpikeInterface/spikeextractors/pull/654

[2021-07-01 11:02] #179 closed

[2021-07-01 11:05] farazmoradi commented on #184
For sure, at first, I should mention that I have edf file from a mouse running on a linear track. the data has 17 electrodes which 2 of them is for EMG and one is for wireless signal. So I have created a 2D matrix called **chan_corr** which is 14 channels by time point. Also, I have fixed the locations of channels by putting them in order previously.

**the first part is like this: **

num_channel

[2021-07-01 11:47] alejoe91 commented on #184
How do the signals look? Do you see spikes in the highpass filtered data?

Note that you are also plotting the waveforms on a single channel, which might not be the best channel. Can I have more info on the probe? Are all channels close to each other or quite separated?

[2021-07-01 11:58] farazmoradi commented on #184
This is the only information that I have from the prob.
The hipass filtered data seems to have spikes. Also, I have plotted the raster plot. there are many spikes in it.
The red lines indicates the time when the mouse was running on the track.
<img width="1080" alt="Screen Shot 2021-07-01 at 4 27 19 PM" src="https://user-images.githubusercontent.com/62336594/124120705-5072af00-da89-11eb-9642-ef350

[2021-07-01 12:45] alejoe91 commented on #184
Ok then probably you are not plotting the waveforms on the 'right' channel. Can you try to plot the template instead?

[2021-07-01 13:00] farazmoradi commented on #184
<img width="1440" alt="Screen Shot 2021-07-01 at 5 30 01 PM" src="https://user-images.githubusercontent.com/62336594/124128408-03470b00-da92-11eb-9811-c9244ee848f8.png">

[2021-07-01 13:03] alejoe91 commented on #184
that looks better :) you see that the channels with a large signals are 1/2 per unit, so you need to identify those

[2021-07-01 13:04] farazmoradi commented on #184
I get that thanks a lot for your help. So I have done the spike sorting somehow correct am I right? :)

[2021-07-01 13:05] farazmoradi commented on #184
I had another question regarding burst, I will appreciate it if you answer this too.
Also, If there are some bursts in my spike train, what should I do about them? Are they going to affect my analysis? I am doing classical feature extraction methods like Victor Purpura and ISI.

[2021-07-01 13:20] alejoe91 commented on #184
Yes Spike sorting looks reasonable. i don't have experience in analysing burst specific features unfortunately...

[2021-07-01 13:29] farazmoradi commented on #184
Thanks a lot.

[2021-07-03 07:17] farazmoradi commented on #184
Hi  again,
Is there anyway that we can see detected spikes on each channel before spike sorting?
Thanks

[2021-07-03 07:20] alejoe91 commented on #184
Hi,

You can detect spikes with the `st.sortingcomponents.detect_spikes()` function. However this is a separate spike detection and it might be different than the one used by the single sorters. Since the spike sorters are run separately, there is no other way to access the spikes detected by the sorters.

[2021-07-05 10:22] farazmoradi commented on #184
Hi, I get this error while using from any function in the spike interface. is it a serious thing?

/Users/farazmoradi/.conda/envs/Mouse/lib/python3.9/site-packages/spikeextractors/extraction_tools.py:838: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifica

[2021-07-05 10:38] alejoe91 commented on #184
Don't worry, it's just a warning. We'll.make an update to remove it. Closing this issue for now. Open a new one if you find other problems!

[2021-07-05 10:38] #184 closed

[2021-07-05 11:33] farazmoradi opened #186 "Spike Detection on spike sorters"
Hi again,

I was checking my spikes sorted by mountain sorter, but I was a little hesitant about the spikes that the toolbox has detected, so I decided to use this code as you mentioned earlier:

**sorted = st.sortingcomponents.detect_spikes(recording_f,detect_threshold=4)**

after plotting the spikes on the LFP signal to see how true are them I get a little confused:
take the pink line as the thr

[2021-07-05 11:36] alejoe91 commented on #186
Are you plotting the filtered data? The large deflections seem to be low frequency, so they are removed with the filtering steps. Try to plot the filtered data.

[2021-07-05 14:17] mhhennig commented on #186
This looks like the detection is done on transposed data! Is this the old or new API?

[2021-07-05 19:35] samuelgarcia commented on #186
This looks strange.

Please note that by default the output is "numpy_compact".
In short you get a numpy vector with several fields
`peak_dtype = [('sample_ind', 'int64'), ('channel_ind', 'int64'), ('amplitude', 'float64'), ('segment_ind', 'int64')]`

Are you sure you are plotting on the same recording used for detection ?

Are you sure you get plot peaks according the channel they are detected ?

[2021-07-05 19:36] samuelgarcia commented on #184
It come from numpy, you can:

  * downgrade numpy
  * update neo with the current master, it have been fixed.

[2021-07-06 06:33] farazmoradi commented on #186
Thanks, everyone, this was the problem as @alejoe91  mentioned. I was plotting on the raw data instead of filtered Data.

[2021-07-08 06:29] farazmoradi opened #187 "Problems Running Spike Sorters"
Hi, I had some errors while running spike sorting on the new spike interface:

Traceback (most recent call last):
  File "/Users/farazmoradi/.conda/envs/Mouse/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-6b2963e2f014>", line 5, in <module>
    sorting_MS4 = ss.run_mountainsort4(r

[2021-07-08 09:34] samuelgarcia commented on #187
Some recording are not dumpable to json because they describe for instance a array in memory.
In that case you can do `rec_on_disk = rec.save(folder='path_save')` and make the sorting with `rec_on_disk` which is dumpable.

[2021-07-09 05:40] farazmoradi commented on #187
Could you please specify that is **rec** exactly?

[2021-07-09 06:18] samuelgarcia commented on #187
Oups. Sorry rec is a `RecordingExtactor` object.
Have a look to [Core tutorial](https://spikeinterface.readthedocs.io/en/latest/modules/index.html#core-tutorials) for detail on objects.

[2021-07-09 06:23] farazmoradi commented on #187
I fixed that but still getting this error.

This is my code:
"" recording_f is my data " "

rec_on_disk = recording_f.save(folder='/Volumes/Project/test')
default_ms4_params = ss.Mountainsort4Sorter.default_params()
default_ms4_params['detect_threshold'] = 4
default_ms4_params['curation'] = False
# parameters set by params dictionary
sorting_MS4 = ss.run_mountainsort4(recording=rec_on_disk, **defa

[2021-07-09 06:57] samuelgarcia commented on #187
The problem now is inside MS4.
You should open the log file and check what happen.
Maybe ask on issue in MS4 github page.

[2021-07-09 07:17] farazmoradi commented on #187
Thanks a lot.

[2021-07-09 07:25] farazmoradi commented on #187
But the problem did not happen with the old spike interface. I think maybe I should downgrade the version. Can I do that?

[2021-07-09 07:32] samuelgarcia commented on #187
You can try in a diffrents env to check.

Long time ago MS4 use to be built on top of msalg_ms4 paquage and now it is moutainsort4 paquage.
This is indepedant from SI. Now SI use only moutainsort4 internally.

[2021-07-09 13:27] aboharbf opened #190 "Estimate on new version?"
I'm considering setting up spikeInterface but I'd rather not set it up right as the new version is coming out. the estimate for the new update is 'summer 2021' - is there any more granular estimate available? Thanks for all the work you guys do.

[2021-07-09 13:38] samuelgarcia commented on #190
Consider a release in 2 weeks.
The source are very near the future release, we will work mainly on doc + bug fix now.

[2021-07-09 13:39] aboharbf commented on #190
Excellent, thank you for the information

[2021-07-09 13:39] #190 closed

[2021-07-13 11:25] klaragerlei opened #191 "post_processing_tools export_to_phy ms_before and ms_after params"
Hi,

I'm using spikeinterface 0.12.0. I can see that the code on the repo is different, so apologies if this isn't the right place for this issue.

I was trying to set a non-default value for ms_before and ms_after when using the phy extractor:

`    st.postprocessing.export_to_phy(recording, sorting, output_folder=output_folder,
                                    copy_binary=True, ms_before=0.5,

[2021-07-13 11:55] alejoe91 commented on #191
Thanks @klaragerlei

Could you make a PR to spiketoolkit with your fix?

Right we are in the process of updating the api, but we would still like to keep fixing bugs on the 0.12 version series. Let me know if you need help with the PR! :)

[2021-07-13 13:40] klaragerlei commented on #191
I sent a PR https://github.com/SpikeInterface/spiketoolkit/pull/491

[2021-07-13 15:32] alejoe91 commented on #191
Merged :) closing the issue!

[2021-07-13 15:32] #191 closed

[2021-07-13 15:32] #186 closed

[2021-07-14 08:05] tpfschaffhauser commented on #182
Hi @alejoe91,

sorry for the late reply. I'm using spikeinterface 0.12.0.
I'll be very happy to share this dataset but the compressed dataset is 23GB.

[2021-07-14 10:23] alejoe91 commented on #182
@tpfschaffhauser no worries. Maybe you could share it via google drive? Or maybe your institution has a file transfer service. we can arrange via email :)

[2021-07-15 11:26] alejoe91 commented on #182
@tpfschaffhauser can you try with this patch in pyopenephys? https://github.com/CINPLA/pyopenephys/pull/30

Note that for the master version of SI (>0.90), the open ephys wrapper uses NEO directly, so the problem should be solved already.

[2021-07-15 11:48] #182 closed

[2021-07-16 23:23] congcong96 opened #194 "Trouble loading Intan Data"
Hi,

I've been using Intan system for my recordings and have trouble importing data to SpikeInterface.

When I use the IntanExtractor, it expects a data format with .rhd extension. However, my data from the Intan acquisition system is saved in a folder, including time series with .dat extension and only information about the recording, e.g. acquisition frequency, is saved in a info.rhd file. The d

[2021-07-19 07:19] alejoe91 commented on #194
Hi @congcong96

Is the `.dat` file saved directly from Intan? I though it only saved `.rhd` or `.rhs` files. Which acquisition system are you using?
And which version of the Intan software?
Also, what version of SpikeInterface are you using?

In your case, you could parse the information needed for a `BinaryRecordingExtractor` (sampling frequency, number of channels, type of the data) form the `in

[2021-07-19 11:01] samuelgarcia commented on #194
Hi,
I have heard that intan recently included also a binary format also.
Maybe there is a small header and we could implement to read it. I am not sure that the header is in rhd.

[2021-07-19 11:05] alejoe91 commented on #194
@congcong96 would you be able to gathe a short 1-second data file and share it with us so we can test it?

[2021-07-19 18:50] congcong96 commented on #194
The .dat file is saved directly from Intan. I used both Intan RHD2000 and RHX software (RHX is the newer version). The SpikeInterface version is 0.10.0

The time series from each channel are saved in .dat files, one file per channel (int16, to convert to electrode voltage in microvolts, first subtract 32768 then multiply by 0.195).
Information about the recording is saved in the info.rhd file. It

[2021-07-21 10:53] alejoe91 opened #199 "Grouping info gone after saving and loading"
When a probe is loaded with the `by_shank` option, the grouping info is gone after reloading the object from folder.

[2021-07-21 10:55] alejoe91 opened #200 "Allow retrieval of waveforms from WaveformExtractor by property"
The WaveformExtractor `get_waveforms` and `get_templates` function could handle grouping. In turn, `export_to_phy` could use this info to sparsify the templates

[2021-07-21 12:36] farazmoradi commented on #200
I was using si.extract_waveforms and I received this error!

Traceback (most recent call last):
  File "/Users/faraz/.conda/envs/SpikeSorting/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-b1c7f5a5284f>", line 2, in <module>
    we = si.extract_waveforms(recording_cmr, sorting, fol

[2021-07-21 12:41] alejoe91 commented on #200
Can you open a separate issue for your problem @farazmoradi ?

[2021-07-21 12:41] farazmoradi commented on #200
Sure

[2021-07-21 12:42] farazmoradi opened #201 "Problems running extract_waveforms"
Hi,

Code:

folder = 'waveforms_mearecc'
we = si.extract_waveforms(recording_cmr, sorting, folder)

######

Traceback (most recent call last):
  File "/Users/faraz/.conda/envs/SpikeSorting/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-b1c7f5a5284f>", line 2, in <module>
    we = s

[2021-07-21 12:44] alejoe91 commented on #201
Hi @farazmoradi

what type is your recording object? Is it mearec? Can you paste here the output of:
`recording_cmr.to_dict()`?

[2021-07-21 12:49] farazmoradi commented on #201
I solved it by :

rec_on_disk = recording_cmr.save(folder='path_save')
folder = 'waveforms_mearecc'
we = si.extract_waveforms(rec_on_disk, sorting, folder)

[2021-07-21 12:50] farazmoradi commented on #201
{'class': 'spikeinterface.toolkit.preprocessing.common_reference.CommonReferenceRecording',
 'module': 'spikeinterface',
 'kwargs': {'recording': {'class': 'spikeinterface.toolkit.preprocessing.filter.BandpassFilterRecording',
   'module': 'spikeinterface',
   'kwargs': {'recording': {'class': 'spikeinterface.core.numpyextractors.NumpyRecording',
     'module': 'spikeinterface',
     'kwargs': {'t

[2021-07-21 12:51] alejoe91 commented on #201
yes the problem was that the `NumpyRecording`, which is the base of your processing, is in memory, and therefore not *dumpable*.

Saving it to file solves the issue!

[2021-07-21 12:51] #201 closed

[2021-07-21 12:52] farazmoradi commented on #201
But @alejoe91 something strange happened today. I was using the Tridesclous on my dataset and after sorting it founds 15 units. But while using the spike interface with same parameters and filters did not found anything. what is your guess?

[2021-07-21 13:09] farazmoradi opened #203 "Error File Using Export to Phy"
Hi,

Code :

output_folder = 'mearec_exported_to_phy'
so.export_to_phy(rec_on_disk, sorting, output_folder,we,sampling_frequency=10000,
                 compute_pc_features=False, compute_amplitudes=True,
                 remove_if_exists=True)

Error :

Traceback (most recent call last):
  File "/Users/faraz/.conda/envs/SpikeSorting/lib/python3.9/site-packages/IPython/core/interactiveshell.py", l

[2021-07-21 13:12] alejoe91 commented on #203
Why are you passing sampling_frequency? If you read the error it tells you that it's not needed...

[2021-07-21 13:14] farazmoradi commented on #203
Actually, the problem continues after I removed sampling_ frequency

Traceback (most recent call last):
  File "/Users/faraz/.conda/envs/SpikeSorting/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-17-c665d9d3404c>", line 2, in <module>
    so.export_to_phy(rec_on_disk, sorting, outpu

[2021-07-21 13:26] alejoe91 commented on #203
Ok, what's your sorting object? @samuelgarcia we might be missing some kwargs

[2021-07-21 13:31] farazmoradi commented on #203
I have done spike sorting with Tridesclous GUI, after that I export spikes to .mat. Then load them as Neo.SpikeTrain and input them to the spike interface. total consist of SpikeTrain for each unit.

sorting = se.NumpySorting.from_neo_spiketrain_list(total,sampling_frequency=10000,unit_ids=list(range(16)))

[2021-07-21 13:41] samuelgarcia commented on #203
I tghink you should use the `sorting = read_tridesclous(tdc_folder)` instead of theses export.

When you get a sorting from Neo.SpikeTrain you need the sampling rate indeed. The other method is straight forward

[2021-07-21 14:01] farazmoradi commented on #203
Thanks Sam,  still receiving that error!

Code:

sorting = se.read_tridesclous('/Volumes/Projects/Antwerp Mice 1/EDF/d1-b1/tdc_d1_b1_TG1')
output_folder = 'mearec_exported_to_phy'
so.export_to_phy(rec_on_disk, sorting, output_folder,we)

Error:

Traceback (most recent call last):
  File "/Users/faraz/.conda/envs/SpikeSorting/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3441,

[2021-07-21 15:01] farazmoradi commented on #203
I will try but it was surprising that **read_tridesclous** did not work!

[2021-07-21 15:05] farazmoradi commented on #203
And the error still exists unfortunately :(

[2021-07-21 15:34] alejoe91 commented on #201
mmm not sure! Try to relaunch restart the notebook and relaunch it! BTW tridesclous was written by @samuelgarcia

[2021-07-21 16:49] alejoe91 opened #204 "get_unit_amplitudes should return all labels"
The `get_unit_amplitudes` function by default outputs `concatenated` amplitudes in a long array. However, we don't know which labels the amplitudes correspond to.

*Proposed solution*: return a `labels` array alongside amplitudes

[2021-07-21 16:54] samuelgarcia commented on #204
There is a `outputs='by_units'` that help for that.
And if you do a `sorting.sorting.get_all_spike_trains()` you already have this label.
I think we don't need so.

[2021-07-21 16:55] samuelgarcia commented on #204
By the way maybe this function should rename to "get_spike_samplitudes".
It would be more correct

[2021-07-22 12:58] #204 closed

[2021-07-22 13:01] #187 closed

[2021-07-22 13:02] #178 closed

[2021-07-22 13:03] samuelgarcia commented on #177
Fixed.

[2021-07-22 13:03] #177 closed

[2021-07-22 13:04] #175 closed

[2021-07-22 13:04] #171 closed

[2021-07-22 13:04] #169 closed

[2021-07-22 13:05] #165 closed

[2021-07-22 13:05] #164 closed

[2021-07-22 13:06] #153 closed

[2021-07-22 13:07] #150 closed

[2021-07-22 13:08] #132 closed

[2021-07-22 13:08] #107 closed

[2021-07-22 13:09] #104 closed

[2021-07-22 13:10] #103 closed

[2021-07-22 13:11] #93 closed

[2021-07-22 13:11] #91 closed

[2021-07-22 13:13] #89 closed

[2021-07-22 13:14] #85 closed

[2021-07-22 13:14] #66 closed

[2021-07-22 13:16] #49 closed

[2021-07-22 13:17] #48 closed

[2021-07-22 13:18] samuelgarcia commented on #45
Done in 0.90

[2021-07-22 13:18] #45 closed

[2021-07-22 15:35] yarikoptic commented on #48
so what you have converged on?  duecredit sounds like a good fit FWIW ;)

[2021-07-22 16:03] samuelgarcia commented on #48
Hi Yarik,
We decide to do nothing at the moment.
We will re open this later if someone have time.

[2021-07-30 12:36] marcbue opened #209 "Bug: Multisorting - get_unit_spike_train"
I created a multisorting following the tutorial for spikeinterface 0.90. After creating my multisorting I can extract all spike trains using multisorting.get_all_spike_trains(). But I can't extract it for a single unit using multisorting.get_unit_spike_train(0).

The following error occurs:

---------------------------------------------------------------------------
ValueError

[2021-07-30 12:41] marcbue opened #210 "Bug: Multisorting - Extraction from pickle"
After dumping a multisorting using (multisorting.dump_to_pickle(output_folder / 'sorting.pkl')). It can't be revovered using se.load_extractor_from_pickle(output_folder / 'sorting.pkl'). The following error occurs:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-53-040ccfef509c>

[2021-07-30 14:39] alejoe91 commented on #210
Hi,

This is strange because when dumping to pickle the first thing that is dumped is the `serialized_dict` (https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/baseextractor.py#L211).

How did you obtain the multisorting object? A simple solution is to cache it first (`sorting_cached = se.CacheSortingExtractor(multisorting, "my-path.npz")` and then dumping `sorting_cache

[2021-07-30 14:42] alejoe91 commented on #209
Hi,

How did you create exactly the multisorting object?

[2021-07-30 14:46] alejoe91 commented on #209
Can you try to reinstall from master? I think I know where the error is and we fixed it.

In your case (before the fix), you should be able to get single spike trains by specifying the `segment_index`:
[code]

[2021-07-31 08:21] marcbue commented on #210
Hi,

so I reinstalled from master.

Here is how I created the multisorting:
Checking that I noted that I might have hacked something that might be the issue...

[code]

What worked for me so far is dumping it to json. Then I can get it back with se.load_extractor_from_json().
Getting a multisorting back like this I tried again:
[code]
This throws:
[code]
Trying this:
`sorting_cached = se.CacheSort

[2021-07-31 08:38] marcbue commented on #209
`spike_train0 = multisorting.get_unit_spike_train(0, segment_index=0)`

This works!

I still have problems if functions rely on the get_unit_spike_train() function.

E.g.

`sorting_cached = se.CacheSortingExtractor(multisorting, 'sorting_cache.npz')`

Or also the plots that you could use with the sorting.

Also a question. If eveything works as intended. Is it possible to use the multisorting in a

[2021-08-01 13:43] alejoe91 commented on #209
Hi @marcbue

Sure the `multisorting` is a `SortingExtractor` object, so everything should work :)

One question: is your `multisorting` object an agreement sorting (after multicomparison) or is it 'just' a multi-segment object?

We just released a new version for the new API (0.90.0). If you have any problems, don't hesitate to open an issue. We are sure there are still bugs to fix!

[2021-08-01 13:46] alejoe91 commented on #210
@marcbue

I think your are mixing things up. In the new master branch (0.90.0), `spikeextractors` does not exist anymore. To be sure you're doing things right, I recommend uninstalling spikeextactors. Please take a look to the new docs for changes: https://spikeinterface.readthedocs.io/en/latest/

[2021-08-02 06:14] marcbue commented on #210
Hi @alejoe91

sorry you are right I was mixing packages. I just tried the same approach using the si.load_extractor() function and loading from pickle works! Thanks for the clarification!

[2021-08-02 06:28] marcbue commented on #209
Hi @alejoe91

not sure how to answer your question. This is what I get for checking the type:

![image](https://user-images.githubusercontent.com/44844855/127813472-838a4f14-9d66-4978-850c-bd634ec2f130.png)

The get_unit_spike_train issue still prevails for me for these multirecordings

One question about the new release:
I uninstalled all the old packages now and install 0.90 via the pip repo.
Lo

[2021-08-02 07:26] alejoe91 commented on #209
Hi @marcbue

sorry for the confusion. Yes the old cache mechanism has been improved. You can now use the `save()` function directly (note that now writing these binary files in parallel is much faster as we improved the parallel processing backend).
Sorry about the inconvenient, but I strongly recommend you re-save your recording using the new version.

[2021-08-02 07:28] alejoe91 commented on #209
BTW the error with `get_unit_spike_train` is not an actual error, but an expected behavior. Since you have more segments, you have to specify which segments you want spike trains from. If there is only one segment, than you can aviod specifying the segment index.

[2021-08-02 07:28] alejoe91 commented on #210
Closing the issue then :)

[2021-08-02 07:28] #210 closed

[2021-08-09 19:22] marcbue opened #216 "Question: MCSH5RecordingExtractor"
Hi,

I want to create a recording for the MCS system. Before the new release I used MCSH5RecordingExtractor which seemed to work reasonable well. I saw that this is not implemented anymore (if I'm not mistaken).
What would be the best way to create a recording in this case? (I saw that  MCSRawRecordingExtractor exists but the data is in the h5 format unfortunately).
Should I create a numpyrecordin

[2021-08-13 23:40] BenATemple opened #221 "Auto- and cross-correlation"
I am trying to plot auto and crosscorrelograms.
I notice that the tutorial for these plots (as well as ISI distribution) is not complete.
I try this: sw.plot_autocorrelograms(sorting_IC, unit_ids=[3], window_ms=100.0, bin_ms=1.0, symmetrize=False)
But I get an error : [AssertionError: 'axes' can be a 1-d array or list or a 2d array of axis]
Seems like an easy fix but not sure exactly what to do!
A

[2021-08-14 13:57] marcbue commented on #216
I've managed to do it creating manually a NumpyRecording after extracting necessary infos from the H5 file. So I'll close this.

[2021-08-14 13:57] #216 closed

[2021-08-14 18:03] marcbue commented on #209
Thanks Alessio! Finally came around to test the data now fully in the new spikeinterface and it works great! Both saving and get_unit_spike_train.

[2021-08-14 18:03] #209 closed

[2021-08-15 00:38] BenATemple opened #223 "Using Dockers"
Hello,
I'm trying to use dockers (which I don't have experience with) to run some of the spike sorters (which are, indeed, sometimes difficult to install).
I follow your instructions: to (1) have docker installed and (2) to have docker python SDK installed (pip install docker)
However, when I try to run a sorter (MountainSort4) I run into errors (see below).
Any quick tips for how to make this wor

[2021-08-15 23:04] BenATemple commented on #223
Update 8/15/21: I tried using command line within Docker to download the Mountainsort4 environment (docker pull spikeinterface/mountainsort4-base:1.0.0).

Now, when I run the command for the sorter in Jupyter notebook, I get a different sort of error ("
AttributeError: module 'os' has no attribute 'getuid'"). After googling this error, it seems that it has something to do with harmonizing linux an

[2021-08-17 07:58] alejoe91 commented on #223
Hi Ben! Thanks for trying the docker image and submitting the issue. Indeed this seems to be a big either on the SI side or inside the docker. I'll look into it next week as I'm currently on vacation :) feel free to upgrade the docs and submit a pull request! It would be very much appreciated!

[2021-08-17 08:02] alejoe91 commented on #221
Hi @BenATemple

Seems like a small bug on our side. I'll look into it next week :)
No sfn for us this year, but I'm giving a SI tutorial next Friday for the nwb user days workshop: https://www.incf.org/neurodata-without-borders-nwb-user-training-workshop

[2021-08-17 20:10] BenATemple commented on #221
Thanks a lot, @alejoe91 ! And I'll send the link to the tutorial to some others who might be interested :)

[2021-08-18 00:21] BenATemple commented on #223
Thanks! I will tinker around a bit more :)

[2021-08-18 10:40] luiztauffer opened #225 "Error with NwbRecordingExtractor.save() when reading from remote files (ros3)"
Relevant part of error track:
[code]
When the correct file path should be: `https://dandiarchive.s3.amazonaws.com/blobs/aa6/9ee/aa69ee06-daa9-4f41-af91-4402816d32f2`
That is, without the prepend `/home/jovyan/`

Full error track:
[code]

[2021-08-18 10:48] alejoe91 commented on #225
Hi @luiztauffer

This could be a tricky one due to the subprocesses trying to open the file..can you try with 1 job only? We should definitely take a look at this behavior!

[2021-08-18 10:53] luiztauffer commented on #225
I'll take a look at this for now, go enjoy your rest, @alejoe91 !

[2021-08-18 16:08] luiztauffer commented on #225
[this commit](https://github.com/catalystneuro/spikeinterface/commit/efb341e5941eeb5e9d97cc927e7c4598e056be5c) fix this issue temporarily, but it's definitely not the best solution.
The best solution will be to make sure the file path is passed without parent folder when it is an s3 path, and that the driver argument gets properly passed forward in all operations

[2021-08-20 20:12] BenATemple commented on #223
Just a quick update: I've now downloaded the Docker images for Tridesclous, SpykingCircus, Kilosort3, Kilosort2, and Mountainsort 4. And all give me the same error [AttributeError: module 'os' has no attribute 'getuid'], so it's clearly not an issue just with the Mountainsort docker -- likely something in SI? Thanks again for your help!

[2021-08-21 22:24] alejoe91 commented on #223
@BenATemple It seems a windows related problem unfortunately..we'll look into it but so far the docker mechanism has only been tested on Unix systems

[2021-08-22 21:14] BenATemple commented on #223
Thanks! That's as I suspected. If you guys can get it working in windows that'd be fantastic, and I imagine that it would increase user base. My current machine is windows -- though maybe a Linux simulator (Ubuntu?) is a backup option in the case that the dockers can't be integrated with Windows? From my point of view, the dockers are really really helpful, as they make the across-sorter compariso

[2021-08-22 23:54] BenATemple opened #226 "Error Running SpykingCircus"
I get the following error when running Spyking Circus:
AttributeError: module 'circus' has no attribute '__version__'

Does anyone else experience the same error?
(Here's what I enter to run:  ss.run_spykingcircus(recording_preprocessed))

[2021-08-23 10:30] samuelgarcia commented on #216
Note that MCS data can be also exported to  RAW+MCS header and so you can use instead  the `MCSRawRecordingExtractor` or  `read_mcsraw()`

[2021-08-23 10:37] samuelgarcia commented on #221
Is this fixed ?
Can you copy/paste a short example that trigger the bug ?

[2021-08-23 10:54] samuelgarcia commented on #225
Oups.
The http case for file_path was not handle at all in docker.

@alejoe91 : I have in mind something else instead modifying recuirsvely the file path which is a complicated stuff and error prone.
Why not binding the exact entire path for the docker ?
It would much much simpler.

[2021-08-23 10:59] samuelgarcia commented on #223
I guess that having docker supoort on windows host will be quick challenging.
It is written with linux host in mind only !!!
Stuff like bindings path and chown back to the user are typaclly linux related.

[2021-08-23 11:01] samuelgarcia commented on #226
This seems related to spyking-circus itself.
Whet happend you you do
[code]
On my side it is working.
Did you install spykingcircus from source or from pypi ?

[2021-08-23 18:13] BenATemple commented on #226
Thanks a lot, Samuel! When I run: ss.installed_sorters, I see 'spykingcircus.'
However, when I run print(circus._version_), I receive: AttributeError: module 'circus' has no attribute '__version__'

I installed SpyKing Circus with Conda. Since it appears when I query installedsorters, I think that it is there. Just not sure why I'm getting this version error.

In general, I think it would help if

[2021-08-23 18:15] BenATemple commented on #223
I see -- thanks a lot, Samuel!
What do you recommend as a work-around for someone using SpikeInterface on a Windows computer? Ubuntu?

[2021-08-23 18:30] BenATemple commented on #221
Thanks, Samuel!
To my knowledge, it its not yet fixed. I just attempted again.
I try this: sw.plot_autocorrelograms(sorting_IC, unit_ids=[3], window_ms=100.0, bin_ms=1.0, symmetrize=False)
But I get an error : [AssertionError: 'axes' can be a 1-d array or list or a 2d array of axis]

[2021-08-23 18:39] adityas1997 opened #229 "Issues with Loading Neuralynx Files"
Hi,

I'm trying to load neuralynx files and receiving the error message copied below:

IndexError                                Traceback (most recent call last)
<ipython-input-1-6a19b36aa9af> in <module>
     48
     49 rawNeuralynx = '/home/aditya/Raw_Data/Spike_Sorting/Neuralynx_Test/'
---> 50 sortedSpikeTrainArray = buildSpikeTrainArrayFromRecording(rawNeuralynx,'/home/aditya/tmp2/Neura_Test/

[2021-08-24 06:28] samuelgarcia commented on #226
Hi,
@yger made a sofisticated stuff for circus version that depend on git. See this:
https://github.com/spyking-circus/spyking-circus/blob/master/circus/_version.py
My guess is that it do not work on your platform.
Pierre can you help Ben ?

Note that Alessio have started a new tutorial with new API but not finished yet see this:
https://github.com/SpikeInterface/spiketutorials/pull/22

To check i

[2021-08-24 06:32] samuelgarcia commented on #223
On window you can activate the "linux sub system" it is a terminal that is embed a ubuntu and that have all linux command.
I never play with it so far.
Maybe you can start with that.

But honestly, for spike sorting, I would install a "big" machine somewhere in your lab, with a big GPU. and based on ubuntu. You could do ssh access to run remote computing.

[2021-08-24 06:37] samuelgarcia commented on #229
Hi I think the problem is in neo itself.
You try:
[code]

Could you share your file also ?

[2021-08-24 07:30] samuelgarcia commented on #221
See #230
I have updated examples for auto and cross correlogram.
Example are working on my side.

[2021-08-24 07:55] yger commented on #226
I can help, but running print(circus.__version__) and not print(circus.version) should work. Can you confirm that?

[2021-08-24 13:52] adityas1997 commented on #229
[Neura_Test.zip](https://github.com/SpikeInterface/spikeinterface/files/7039512/Neura_Test.zip)

[2021-08-24 14:23] samuelgarcia commented on #229
The file you send me is OK with neo but it is only the"nse" file that contain only spikes.
Traces are in "nsc" files.
In spikeinterface recording object are traces (signals), this is why it bugs.

[2021-08-25 07:44] Feikai-Lin opened #233 "'mountainsort4' has no attribute 'mountainsort4_curation'"
Hi,

I was using mountainsort4 1.0.0 via spikeinterface 0.90.0 to sort my data with jupyter notebook. I have also installed ml-ms4alg. The sorter worked properly but it gave an error when I changed the default parameter: curation, to True, and the value of noise_overlap_threshold. Here is what I got in the log file:

"error_trace": "Traceback (most recent call last):\n  File \"/home/lenovo/anacond

[2021-08-25 10:01] alejoe91 commented on #233
Hi @Feikai-Lin

Thanks for the issue, it seems that the new `mountainsort4` doesn't have the curation feature. @magland can you confirm? In that case, I'll remove that option from the parameters and the code.

[2021-08-25 10:22] samuelgarcia commented on #233
You also to uinstall   `ml-ms4alg` (https://pypi.org/project/ml-ms4alg/) package and install `mountainsort4` package instead (https://pypi.org/project/mountainsort4/)

[2021-08-25 10:28] alejoe91 commented on #233
@samuelgarcia the problem is in the new `mountainsort4`! [This curaiton function](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/mountainsort4/mountainsort4.py#L133) doesn't exist in `mountainsort4`

[2021-08-25 10:45] samuelgarcia commented on #233
Sorry I see.
We should remove theses line and this option so.
Lets wait @magland confirmation.

[2021-08-25 15:07] #233 closed

[2021-08-26 13:35] farazmoradi opened #242 "Issues while running Spiking Cirus"
Hi, I have run the sorting with Spiking Circus, I have reached this error:

RUNNING SHELL SCRIPT: tmp_TDC_5/run_spykingcircus.sh
Traceback (most recent call last):
  File "/Users/faraz/opt/anaconda3/envs/circus/lib/python3.6/site-packages/spikeinterface-0.90.1-py3.6.egg/spikeinterface/sorters/basesorter.py", line 198, in run_from_folder
    SorterClass._run_from_folder(output_folder, sorter_params

[2021-08-26 23:33] khl02007 opened #244 "Writing recording and sorting to NWB"
The older version had `write_recording` and `write_sorting` functions that allowed me to save any recording or sorting in the NWB format but I don't see them in v0.90. Are they missing? Or do they exist but are called something else?

[2021-08-26 23:51] khl02007 opened #245 "Timestamps associated with recordings"
We have a timestamp for each sample in the recording (as opposed to inferring the time of each sample based on the sampling rate) in absolute time. This is useful because we do long recordings and sometimes have dropped samples; knowing the absolute time helps us identify these and makes alignment with other data streams easy. Is there a way to associate such explicit timestamps with a recording e

[2021-08-27 08:12] Alexis-Melot opened #246 "Saving and sorting issue - and device channels reset when set_probe"
I am having the same issue when saving and sorting my recording to which I combined a 60 channel probe that I designed to look like a MEA 60 which was used for the recording I am studying.
Here is the error I get when trying to save my preprocessed recording (after setting the probe), which is pretty much the same than when I try to sort with ironclust
[error.txt](https://github.com/SpikeInterface

[2021-08-30 07:50] Alexis-Melot commented on #246
Sorry if I'm being insistent but do you have any leads on my type error ?

[2021-09-03 08:50] yger commented on #242
Did you found the solution?

[2021-09-07 08:16] yger opened #252 "Bug with PhyKilosortExtractors"
The object assumes that .tsv files are there with data on the clusters. This is not the case, at least for KS1.

/media/cure/Secondary/pierre/softwares/spikeinterface/spikeinterface/extractors/phykilosortextractors.py in __init__(self, folder_path, exclude_cluster_groups, keep_good_only)
     72                     cluster_info = pd.merge(cluster_info, new_property, on='cluster_id')
     73
---> 7

[2021-09-07 08:23] Dradeliomecus opened #253 "Chose template mode when exporting to phy"
Hi,

When using the `export_to_phy` function, the template mode will automatically be `'median'`, and I don't believe there is an argument to change it.

Could it be possible to either:
- Have an argument in the `export_to_phy` function to specify the template mode
- Set the default template mode in `WaveformExtractor.set_params()` (which would be really nice I think)

The problem for me is that t

[2021-09-07 10:30] alejoe91 commented on #252
Waiting for your PR :)

[2021-09-07 10:32] alejoe91 commented on #253
@Dradeliomecus thanks for the issue! I think the first option is better (having an extra param in phy) because the `WaveformExtractor._params` actually only control how to extract the waveforms, so they are not really related to the template.

Would you have time to give it a tray and make a PR for it?

Cheers
Alessio

[2021-09-07 15:03] Dradeliomecus commented on #253
Thanks for the quick answer!

Yes I can make a PR for it, but not right now.
When I'll have some free time, I'll make the PR and link it to this issue.

Btw great job with the refactoring, it looks really great!

[2021-09-07 15:23] alejoe91 commented on #253
Thank you @Dradeliomecus! We are glad you're liking it!

Most of the work was done by @samuelgarcia :)

[2021-09-07 15:42] samuelgarcia commented on #253
@Dradeliomecus : I guess you owe a beer. I sometime go to your lab. I propose a the pub Gay Lussac :)

[2021-09-07 15:55] Dradeliomecus commented on #253
Sure, whenever you want! That would be nice.

By the way, I've been searching but I was unable to find the `CurationSortingExtractor`.
Is there an equivalent in the new version to merge clusters, change their spike times, delete clusters etc... ?

[2021-09-07 17:10] alejoe91 commented on #253
@Dradeliomecus not really, but that is something that could be useful to port. @samuelgarcia what do you think?

[2021-09-08 05:31] samuelgarcia commented on #253
CurationSortingExtractor can be ported but it will be a bit tricky to make an true extractor because in the new API the unit_ids cannot be anymore changed on the fly. Maybe with some hack at Base level it coule OK.

Anyway we can have a similar obect that behave like an sortingextarctor that could be usefull to build a GUI on top of it.

[2021-09-08 06:56] alejoe91 commented on #252
https://github.com/SpikeInterface/spikeinterface/pull/250

[2021-09-08 06:56] #252 closed

[2021-09-08 06:58] alejoe91 commented on #246
@samuelgarcia any idea on the issue here? @Alexis-Melot how do you create the probeinterface object? Can you share it with us?

[2021-09-08 07:02] samuelgarcia commented on #246
@Alexis-Melot : sorry I totaklly forgot about your error.
From the log file I guess we have a bug from a float variable that should be a int.
I will make a patch.

[2021-09-08 07:03] samuelgarcia commented on #246
You can fix it now by forcing `num_channels` to be an int with `num_channels = int(num_channels)`

[2021-09-08 07:03] samuelgarcia commented on #246
@alejoe91 : the bug is in spikeinterface and not probeinterface look at the the error.txt file.

[2021-09-08 07:06] samuelgarcia commented on #246
Oups. Myabe it is the byteoffest that cause problem.
@Alexis-Melot : can you share the full code ?

[2021-09-08 07:41] Dradeliomecus commented on #253
@alejoe91 @samuelgarcia Thank you for the quick and helpful answers!

I think I'll make a seperate issue for it to keep things clear.

[2021-09-08 07:46] Dradeliomecus opened #254 "Importing CurationSortingExtractor to new version"
Hi,

Following the discussion in #253:

It would be really nice to have something resembling the `CurationSortingExtractor`, allowing us to delete units, merge some, change their spike timings etc...

Technically I think the only base methods that are required are removing a unit, and changing the spike train.
Then merging and other methods can probably be made from those 2.

This is something cru

[2021-09-08 09:08] samuelgarcia commented on #254
I let check the new design in the code. We now handle multi segment.
By inheritance I think it is possible to do it.
If you want I propose a short before you start the implementation.

[2021-09-08 10:06] Dradeliomecus commented on #254
I'm sorry, but I don't quite understand what you just said.

[2021-09-08 10:31] alejoe91 commented on #254
@Dradeliomecus sometimes @samuelgarcia needs a translation :P

"I let check the new design in the code. We now handle multi segment."
-->
"I'll let you check the new code design, that now handles multiple segments in the same recording/sorting object."

"By inheritance I think it is possible to do it."
-->
"Probably, it could be possible to implement the CurationSortingExtractor by inheritance"

"

[2021-09-08 10:43] Dradeliomecus commented on #254
Ah yes, thank you.

Yes I agree, a meeting would be a great idea!

[2021-09-08 12:25] samuelgarcia commented on #254
:)

[2021-09-08 16:21] farazmoradi commented on #242
sorry for the late respone. I was busy. The problem still continues!

RUNNING SHELL SCRIPT: tmp_TDC_5/run_spykingcircus.sh
Traceback (most recent call last):
  File "/Users/farazmoradi/opt/anaconda3/envs/circus/lib/python3.6/site-packages/spikeinterface-0.90.2.dev0-py3.6.egg/spikeinterface/sorters/basesorter.py", line 198, in run_from_folder
    SorterClass._run_from_folder(output_folder, sorter_p

[2021-09-11 16:34] farazmoradi opened #260 "read_tridesclous"
Hi,

I have updated my spike interface and I'm getting errors while reading sorting results. this did not happen in the previous version.

sorting = se.read_tridesclous('/Volumes/Project/tdc_d1_b1_TG1_4')

TypeError: 'NoneType' object is not subscriptable
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent cal

[2021-09-11 22:30] SynapticSage opened #261 "Failure of export_to_phy from existing mountainsort cluster data"
I have a use case where I take already data already sorted and curated with MountainSort, and funnel through SpikeInterface  API to generate phy files...

[code]

Which is great: I like phy a bit more than qt-mountainview curation. But for some of my data, this triggers an error in the export_phy step. Namely, recording chunk end points can overshoot the mda N1 x N2 size bounds, raising an error.

[2021-09-12 05:37] alejoe91 commented on #261
Hi @SynapticSage

Thanks for submitting the issue!

Can you also parlate the error that you get?? In principle, even using an `end_frame` larger than num samples should not trigger an error, so maybe the MDA recording extractor needs a modification

[2021-09-12 06:28] SynapticSage commented on #261
Yep. Attaching:

[code]

The extract_waveforms step can also overshoot the same spot in the stack:
[code]

I applied the same bandage for that too on my end at the extractor level. But before doing that earlier today, looked around the mda extractor...but my eye didn't catch anything obviously false --- although couldn't tell if the header offset was correct.

[2021-09-12 10:46] alejoe91 commented on #261
I think this could be fixed by setting `end_frame=num_samples` if `end_frame>num_samples` in the `get_traces` function of the `MdaRecordingSegment` :)

[2021-09-12 11:19] Saksham20 opened #262 "nwbextractors with processed electrical series data"
### Problem:
Currently, the `NwbRecordingExtractors` only read the electrical traces from those that are stored as 'acquisition' data in the nwbfile: `nwbfile.acquisition`.
I think there should be an option to override this behavior if a user wants to read traces stored as 'processed' : `nwbfile.processing['ecephys']`.

### The reason why I propose this:
I am doing a round trip for reading a black

[2021-09-13 06:54] samuelgarcia commented on #260
Hi Faraz,
This is strange read_tridesclous have been changed for a while. When did you run tridesclous one that folder ?

Could you try to re run a separate tridesclous and check that do read the output to verify that the bug is due to spikeinterface ?

[2021-09-13 07:01] samuelgarcia commented on #261
@alejoe91 : I don't agree!!!
For me if `end_frame>num_samples` we need to raise an error.

Here the error is in waveform extractor that try get sample outside the zone and we need to handle the corner case there.

[2021-09-13 07:44] alejoe91 commented on #261
ok, then can you fix the `ensure_chunk_size`?

[2021-09-13 08:32] samuelgarcia commented on #261
I will have a look for the bug is really in waveform extarctor.

If a spike is near border we shoudl return a 0 waveforms (or partialy filled woth zeros)

@SynapticSage : could you generate for me a fake recording and sorting that trigger the same bug ?

[2021-09-13 08:52] alejoe91 commented on #261
@samuelgarcia he already shared the MDA files [here](https://drive.google.com/drive/u/1/folders/17S8T67GIdxemwXfzBpEfusESnfrXs7Kh)

[2021-09-13 08:53] samuelgarcia commented on #261
OK sorry.
io will have a look.

[2021-09-13 08:54] samuelgarcia commented on #261
Oups the link is not valid anymore. @SynapticSage : can you share again files ?

[2021-09-13 14:10] farazmoradi commented on #260
I did this and it worked. I think the problem is with the spike interface

[2021-09-13 19:41] SynapticSage commented on #261
@samuelgarcia It's back [up](https://drive.google.com/drive/u/0/folders/1yR26-xmt-tCw81QeNqkUJ9IU-hCvTBeV) . raw.mda or filt.mda should work as test cases.

[2021-09-14 08:01] samuelgarcia commented on #261
I try to test but there is no 'geom.csv' file your drive and the MDA reader need it apparently.

[2021-09-14 13:42] farazmoradi commented on #260
If this is not working, do you have any idea about how to load " .mat " outputs of tridesclous in spikeinteraface?

[2021-09-14 20:35] SynapticSage commented on #261
Added `geom.csv` to the share folder.

[2021-09-15 07:17] Jyh-Jang opened #265 "Trouble in loading simulated binary data"
Dear,

I am wondering whether the following code can make a proper binary file for BinDatRecordingExtractor.
LFP is numpy.ndarray (384, 128001).

newFile = open("/test.bin", "wb")
newFileByteArray = np.array(LFP, dtype= np.int16)
newFile.write(newFileByteArray)

Thank you,
JJ

[2021-09-15 08:29] samuelgarcia commented on #265
BinDatRecordingExtractor is the old API for spikeextractor in this case the shape is (channel, sample)
Now the spikeinterface  integrate the extractor module and the shape is (sample, channel).

I don't which spikeinterface you have if >=0.90. then it is the new API. if version <=0.13  then it is "old API"

See this
https://spikeinterface.readthedocs.io/en/latest/releases/0.90.0.html

I would sugg

[2021-09-15 08:36] samuelgarcia commented on #261
THanks I will chekc this tomorow.

[2021-09-15 10:20] Jyh-Jang commented on #265
Thanks, samuelgarcia.

We have figured it out and it works with the following commands.

newFile = open("/test.bin", "wb")
newFileByteArray = np.array(LFP, dtype= np.int16)
newFile.write(newFileByteArray.tobytes('F'))

Best,
JJ

[2021-09-15 14:51] ToGauvrit opened #266 "Problem reading legacy OpenEphys format file"
Hi,
I think the problem come from here:

[code]
The var files is a list of path and not just name of files. So the startswith cannot find any file beginning by 'Continuous' and it's always new binary format that is triggered.
I find a way to solve this like this:
`if np.any([f.startswith('Continuous',len(folder_path)+1) for f in files]):`

Thank you,

Théo

[2021-09-15 15:06] samuelgarcia commented on #266
I think the bug `startswith()` should be `endswith()` no ?
could you try it ?

[2021-09-15 15:28] ToGauvrit commented on #266
It's working too with endswith and 'continuous' with a 'c' in a lower case. I couldn't test with the new binary format but I think there is no files ending with continuous, no?
`if np.any([f.endswith('continuous') for f in files]):`

[2021-09-15 15:29] samuelgarcia commented on #266
Yes the new binary don't have this "*.continuous" files.
Could try a PR ?

[2021-09-15 17:14] khl02007 opened #267 "quality metric: noise overlap"
@alejoe91 submitting an issue here first per our discussion. the noise overlap quality metric is still not implemented in spikeinterface>0.90. I can submit a PR addressing this.

One difference between this metric and other PC based metric is that it requires generating a noise cluster by random sampling of the recording, so needs more than just the PC projection of the waveforms. presumably the r

[2021-09-15 17:19] samuelgarcia commented on #267
hi @khl02007.
Yes you can acces it with
`waveform_extractor.recording`

Please have a look to thais function
https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/toolkit/utils.py#L5

This can be usefull to collect snipet of noise.
We an have modified version of this that avoid taking chunk with spikes (which is not always possible for high rates and hich channel counts)

[2021-09-15 18:38] khl02007 commented on #267
@samuelgarcia cool, seems very useful

[2021-09-16 10:17] samuelgarcia commented on #261
Hi.
I am able to reproduce the bug sometimes.

It is at 2 places in fact for the same reason:
  * WaveformExtractor
  * WaveformPrincipalComponent

In your data the trace sample size is `513896382` and the very last spike is  `513896349` so with ms_after=4ms it is 120 sample and so the waveform cannot be extracted.

In WaveformExtractor, theses spike are already exlcude with we "sample" a subset o

[2021-09-16 10:38] samuelgarcia commented on #261
I started something here #268

[2021-09-16 11:02] samuelgarcia commented on #261
This is strange.
In fact this line was already protecting form max_spikes_per_unitNone`  https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/waveform_extractor.py#L428

So my patch is totally useless. I really don't anderstand why you have the bug in waveform extractor.

In my case I only the bug in WaveformPrincipalComponent not in WaveformExtractor

[2021-09-16 15:42] samuelgarcia commented on #261
Hi @SynapticSage

you have an error in your script : the signal is not filtered but you do `mda_reecording.annotate(is_filtered=True)`
It is a mistake because all waveforms and PCA are totally wrong in that case you need to
`mda_reecording_f = si.bandpass_filter(mda_reecording,  freq_min=300., freq_max=6000.)`
and use this recording for `extract_waveforms(mda_reecording_f, ...)`

Also note that yo

[2021-09-16 15:44] samuelgarcia commented on #261
Please the #268 PR that shoudl fix teh bug.

[2021-09-16 17:32] SynapticSage commented on #261
Oops. That was my bad. I accidentally copy-pasted parts from two completely different script files when I made the issue.

One of the scripts use raw `raw.mda` sans `is_filtered` and one uses `filt.mda` (instead of `raw.mda`) from our pipeline.

We still had the overshoot bug for either case. But I really appreciate the support on this issue!

[2021-09-16 18:52] samuelgarcia commented on #261
Did you try my working branch ?

[code]

On my side there is no bug anymore.

[2021-09-17 00:35] SynapticSage commented on #261
Just tried it. Sorry for the delay. Running experiments earlier.

Totally works
👍 Thanks :)

[2021-09-17 00:36] #261 closed

[2021-09-17 13:47] #260 closed

[2021-09-17 13:48] samuelgarcia commented on #242
Can I close this ?

[2021-09-17 13:48] samuelgarcia commented on #223
I close this.

[2021-09-17 13:49] samuelgarcia commented on #221
@BenATemple :  can you check that examples are working for you ?

[2021-09-17 13:50] samuelgarcia commented on #176
@lfrank : have you try the new API and test new speed ?

[2021-09-17 13:51] samuelgarcia commented on #229
Does the anwser helps ? Can I close ?

[2021-09-17 13:52] farazmoradi commented on #242
Actually, I still have the problem and I did not have found the solution.

[2021-09-17 13:52] samuelgarcia commented on #203
Is the error still there or is fix with the current master ?
Can we close this ?

[2021-09-17 14:47] alejoe91 commented on #229
I think you can close this @samuelgarcia

[2021-09-17 14:48] #262 closed

[2021-09-17 14:57] lfrank commented on #176
Thanks for checking. Kyu has been working on this, but I think there is some functionality (masking and metrics I believe) that isn’t yet implemented. Kyu - can you comment?

On Sep 17, 2021, at 6:51 AM, Garcia Samuel ***@***.***> wrote:

[2021-09-17 15:25] farazmoradi commented on #203
For sure, we can close this. It has been fixed.

On Fri, Sep 17, 2021 at 9:53 AM Garcia Samuel ***@***.***>
wrote:

[2021-09-17 15:28] #203 closed

[2021-09-18 18:39] yilmazduygu commented on #14
Hi!
I've been trying to get my recordings sorted using one of the tutorial notebooks. Unfortunately I can't retrieve the waveforms, because I get the error `AttributeError: module 'spikeinterface' has no attribute 'WaveformExtractor'`
I'm also getting this output when I try `si.version`:
`<module 'spikeinterface.version' from '/opt/anaconda3/envs/spiketutorial/lib/python3.6/site-packages/spikeinte

[2021-09-19 09:31] alejoe91 commented on #14
Hi @yilmazduygu

The new version (>=0.90) doesn't use the packages `spikeextractors`, `spiketoolkit`, `spikesorters`, `spikecomparison`, and `spikewidgets`. So you can uninstall them. To access the version you can do `si.__version__`.

Can you share your entire script/notebook? Which tutorial are you running? Indeed it'strange that the `WaveformExtractor` is not found...

Cheers
Alessio

[2021-09-20 15:07] Dradeliomecus commented on #254
@samuelgarcia When do you propose we do the short meeting?

We can either do it online or when you come at IBENS (I owe you a beer after all :) )

[2021-09-21 05:32] khl02007 commented on #176
@samuelgarcia @lfrank Yes, it seems the new spikeinterface is faster. Our main concern in the previous version was that passing an NWB recording extractor to spike sorting was too slow, and as a result we had to first save recordings to binary and then load it before spike sorting. Now it seems they are roughly on par (sorting a 4 channel, 1.5hr recording with mountainsort from nwb file takes ~ 38

[2021-09-21 07:05] alejoe91 commented on #176
Thank you for the patience @khl02007

- The NWB writer is almost ready! We are going to wrap in SI [this function](https://github.com/catalystneuro/nwb-conversion-tools/blob/ephys_writer/nwb_conversion_tools/utils/ephys_writer.py#L35) from [nwb-conversion-tools](https://github.com/catalystneuro/nwb-conversion-tools).

- Timestamps and start times are also our priority now and we'll try to have it

[2021-09-21 08:35] alejoe91 commented on #266
https://github.com/SpikeInterface/spikeinterface/pull/269

[2021-09-21 08:35] #266 closed

[2021-09-21 08:36] #223 closed

[2021-09-21 10:57] samuelgarcia commented on #254
Hi,
I am in Lyon, I go to IBENS once a year in average.
could you send me a direct email to setup a call online ?

[2021-09-21 10:59] samuelgarcia commented on #176
@khl02007 : thanks for feedback on this.
I propose to close this issue that was reading NWB speed in spiekinterface.

wirting to NWB and time vector are sperated ticket.

[2021-09-21 10:59] #176 closed

[2021-09-21 11:25] Dradeliomecus commented on #254
You can contact me at: aurelien.wyngaard@ens.fr

[2021-09-21 23:39] BenATemple commented on #221
@samuelgarcia Sorry, just got back to this. Yes, it works now, thank you!

[2021-09-21 23:42] BenATemple opened #271 "Spike times?"
Hello,
I'm using the new version of Spike Interface and have something of a simple questions: how do I extract the *spike times* for my sorted units?
I've searched all over the documentation, but can't figure it out.
Obviously this is very important, as I want to compare my spike times to some other aspects of my recording (in my case EMG signal, for many others it's probably sensory stimuli).
I k

[2021-09-22 06:27] #221 closed

[2021-09-22 06:30] samuelgarcia commented on #271
Hi @BenATemple .
when you have "sorting" object you can do this for each unit
[code]
spiketrain is handled with index relative to the "recording" object so you have to divide by sampling_frequency to go to second.

Have a look to our example here to have better overview
https://spikeinterface.readthedocs.io/en/latest/modules/core/plot_2_sorting_extractor.html

[2021-10-02 23:33] khl02007 commented on #267
@samuelgarcia Is there an easy way to recover the principal components from a `WaveformPrincipalComponent` object? Here by principal components I mean the eigenvectors onto which the individual waveforms were projected. I checked `get_components` but it seems that returns the projection onto the eigenvectors, not the eigenvectors themselves. I want this because I'd like to project the noise snippe

[2021-10-03 06:57] alejoe91 commented on #267
@khl02007 you are very right! I think we should call the current `get_components` either `get_scores` or `get_projections`. What do you recommend? We are going to add a method (maybe keeping the component notation) to return the actual vectors. We also need it for the new gui to compute scores on the fly. I'll ping you when I have a PR ready

[2021-10-03 19:58] khl02007 commented on #267
@alejoe91 Thanks, I personally would prefer `get_projections` as I'm more familiar with that terminology. And yes, it would be good to reserve components for the eigenvectors.

[2021-10-04 03:08] marcoistasy opened #283 "`ValueError: numpy.ndarray size changed, may indicate binary incompatibility` when running `Getting Started Tutorial`"
I am running into this errors message when trying to run `print('Installed sorters', ss.installed_sorters())`

[code]

What might be causing this?

[2021-10-04 06:38] samuelgarcia commented on #267
@khl02007 : at the moment the projections are not saved persistently on disk.
We will do it quite soon.
If you look at the code there is somewhere a `all_pca` that is a list of sklearn PCA (or any projector) object.The idea is to save this object in the folder.
Note that depending option `get_projections()` should given the matrice of projection but also the "offset" when you substract the mean be

[2021-10-04 06:42] samuelgarcia commented on #283
I think you have a hdbscan installation error which cause an error when you import tridesclous.
There is also a probem with montainsort.

I think you are still using the "old" API with spikeextractor/spikesorter/...
You should go for spikeinetrface new release with unique package.

See this : https://spikeinterface.readthedocs.io/en/latest/releases/0.90.0.html

[2021-10-04 06:55] alejoe91 commented on #283
@samuelgarcia it's the new API (`~/anaconda/envs/visification/lib/python3.7/site-packages/spikeinterface/sorters/sorterlist.py`)

[2021-10-04 07:07] samuelgarcia commented on #283
Yes but there is also `spikeextractors` in the trace, no ?

[2021-10-04 07:14] alejoe91 commented on #283
because of `mountainsort4` (which uses the old API...). The problem is hdbscan though, no?

[2021-10-04 07:18] samuelgarcia commented on #283
Oh yes. It is an internal call sorry.

Yes the problem is hdbscan.

[2021-10-05 12:01] szbalazs98 opened #288 "Will there be BinDatRecordingExtractor again?"
My question is that will BinDatRecordingExtractor be available again is Spikeinterface 0.90? I'm asking because I would like to sort .dat file format.

[2021-10-05 12:22] samuelgarcia commented on #288
It is now `BinaryRecordingExtractor`.
And now the function are prefered over classe `read_binary()` even if internally it is still classes.

[2021-10-05 12:23] samuelgarcia commented on #288
https://spikeinterface.readthedocs.io/en/latest/api.html#spikeinterface.core.read_binary

[2021-10-07 13:52] ClaraBesserer opened #291 "AttributeError : 'str' object has no attribute 'str'"
Hello,

I used to run this function to extract waveforms, but since yesterday I'm getting an error.

   waveforms = si.extract_waveforms(rec, sorting, folder=wf_folder,
                load_if_exists=False, ms_before=1., ms_after=2.,
                max_spikes_per_unit=200, dtype=None,
                chunk_size=30000, n_jobs=1, progress_bar=True)

Error message :

File "/X.py", line 318, in post_

[2021-10-07 14:28] samuelgarcia commented on #291
Hi Clara. Did you test also with the current master branch to check that bug is still here ?

[2021-10-07 15:31] samuelgarcia commented on #291
@alejoe91 : can you handle it befor eth release ?

[2021-10-08 02:49] marcoistasy commented on #283
that did the trick! thank you!

[2021-10-08 02:56] marcoistasy opened #292 "`tridesclous` and `wave_clus` spike sorters not showing as installed"
Hello,

I have installed `tridesclous` and `wave_clus` as per the instructions [here](https://spikeinterface.readthedocs.io/en/latest/install_sorters.html) and have made sure to update the `wave_clus` path by using `WaveClusSorter.set_waveclus_path()`.

However, when running `ss.installed_sorters()`, I do not see either `tridesclous` or `wave_clus`. An image of my environment as well as the proble

[2021-10-08 06:15] samuelgarcia commented on #292
I guess `import tridesclous` is working no ?

[2021-10-08 12:19] marcoistasy commented on #292
sorry! i meant `tridesclous` and i've updated the issue accordingly.

[2021-10-08 12:41] samuelgarcia commented on #292
What happen in ipython when you do `import tridesclous as tdc`
Do you have hdbscan ?

[2021-10-08 18:38] #291 closed, assigned to nobody

[2021-10-11 03:58] TheChymera opened #299 "Tests fail with `ModuleNotFoundError: No module named 'spikeextractors'` on 0.10.0"
This is the full build and test log: https://ppb.chymera.eu/40d6d2.log

Apparently the `spikeextractors` package is deprecated and now the module is distributed via the spikeinterface package. Judging by the log, I would assume this part of the package is not being installed. Any idea how I could do this? Am I using the wrong archive ( https://github.com/SpikeInterface/spikeinterface/archive/refs/

[2021-10-11 07:20] alejoe91 commented on #299
Hi @TheChymera

How did you install SpikeInterface? In case you want to install version 0.10 you have to specify that: `pip install spikeinterface==0.10.0`

[2021-10-11 17:26] teristam opened #300 "remove_bad_channels function changed compared to the old API"
Hi,

I am in the process to update our sorting pipeline from the old to the latest API. Previously we were using `remove_bad_channels` to exclude certain channels in sorting by supplying channel ids. However, it seems that now the same function works differently. Is there a way to exclude certain channels during sorting in the new API? I tried to do the slicing in the numpy array before I pass it

[2021-10-11 18:21] teristam opened #301 "The new save() function does not allow use of TemporaryDirectory"
Hi,

I am doing my spike sorting in a cloud instance. Due to the way the instance is set up, the local hard disk is very small and I need to attach another network drive and mount it for storage of temporary data. The current `save()` function doesn't allow you to save to an existing folder. However, when you create a `TemporaryDirectory` from python `tempfile`, python will create that folder auto

[2021-10-12 00:10] khl02007 commented on #267
@alejoe91 @samuelgarcia Hi guys, just wanted to check in and ask when `get_components` might be ready  - would like to submit a PR for the noise overlap metric using it soon.

[2021-10-12 06:35] samuelgarcia commented on #267
Hi @khl02007. From my side I am still a bit busy and have time to implement this immediatly.
I am sorry. @alejoe91 : do you have more time ?

[2021-10-12 08:10] alejoe91 commented on #267
@samuelgarcia I can try to draft it as we discussed!

[2021-10-12 16:27] TheChymera opened #306 "Dependency specification"
I see dependencies (for both runtime and testing listed) in these two files, respectively:
* https://github.com/SpikeInterface/spikeinterface/blob/master/requirements.txt
* https://github.com/SpikeInterface/spikeinterface/blob/master/requirements_test.txt

But then there is also this one file specifying dependencies:
* https://github.com/SpikeInterface/spikeinterface/blob/master/environment_rtd.ym

[2021-10-13 05:00] TheChymera commented on #299
ok, thank you :)

[2021-10-13 05:00] #299 closed, assigned to nobody

[2021-10-13 05:16] TheChymera opened #307 "Numerous tests fail with `CommandError`?"
I am having issues with the spikeinterfaces test suite (part of a larger endeavour to package the spikeinterfaces stack for Gentoo).
Here is the full build and test log: https://ppb.chymera.eu/2967cf.log

While I am not entirely sure regarding the `CommandError`s, this seems to be related to network sandboxing (during build/test/install the project is not allowed to connect to remote hosts in orde

[2021-10-13 08:05] TheChymera commented on #307
@samuelgarcia I understand, and thank you for helping out with this :)
Is there anything else to be done about the `CommandError`s?

[2021-10-13 09:16] samuelgarcia commented on #307
Looking more closely to your log.
Errors come from datalad which is a tool we use on top of git-annex to retrieve public dataset.
I will implement a more simple downloder http based only very soon. Maybe this CommandErrors is from this.

[2021-10-14 03:50] marcoistasy opened #311 "Problem when running `se.NumpyRecording.dump()`"
Hello!

I am running into the follwing `AssertionErrorr` when running `se.NumpyRecording.dump(/path/to.json)`:

[code]

However, the final `AssertionError` is not printing anything, so I am not quite sure what the issue is. The `OUTPUT_PATH` is `161.json`, by the way.

[2021-10-14 06:14] samuelgarcia commented on #311
NumpyRecording is not dumpable because it is a in memory object.
But you can save it
`NumpyRecording.save(folder='/path/to/save')`
`dump()` is an a alis for the `to_dict()` which callect kwargs to reconstrust the object but for numpy array it is not possible.

[2021-10-14 07:59] alejoe91 commented on #292
@marcoistasy I think that `pip install loky` should fix it!

[2021-10-14 08:00] #265 closed

[2021-10-14 08:06] alejoe91 commented on #300
Just to clarify: `some_channel_ids` are the channels you want to keep! (differently from the old `remove_bad_channels` implementation)

[2021-10-14 08:06] #300 closed

[2021-10-14 10:04] #301 closed

[2021-10-14 14:20] samuelgarcia commented on #311
Yes.
[code]

cached and cached2 are totaly equivalent and  are lazy.

[2021-10-14 21:27] alejoe91 commented on #311
@marcoistasy don't you have also a `cached.json` file in the folder?

[2021-10-15 16:09] MarineChap opened #312 "Conda package support"
Dear,

Do you have a plan to add spike interface on conda-forge ?
That would be very practical for the maintenance of conda environment.

Thanks
Have a good day
Marine
(fklab-Nerf-Belgium)

[2021-10-15 18:53] marcoistasy opened #313 "Run `ss.sorter` without `set_probe()`"
Hello,

I am trying to sort data from [Behnke Fried](https://adtechmedical.com/depth-electrodes) contacts. However, the exact or even approximate geometry of the contacts is unable to be determined and so I left the `probe` property empty.

However, when running any of the sorters, I get the following error asking me to set the probe:

[code]

Is there anyway to run the sorters without setting the