[2021-10-15 21:34] Erik2020-Neuronz opened #314 "Probe file not linking with spike sorters"
Hello,

I am using Spike Interface to run neural data through multiple sorters simultaneously. These include Kilosort2, Spyking-Circus, and Klusta

While I can read my probe file into spike interface (m15_190315_145422.prb -> given at the bottom of this message) using the `load_probe_file` function, the output from kilosort does not order the channels as specified by the .prb file. Also, channel 0

[2021-10-16 08:52] alejoe91 commented on #314
Hi @Erik2020-Neuronz

The `load_probe_file` function returns a NEW recording object. So you should do:

`recording = recording.load_probe_file('m15_190315_145422.prb')`

[2021-10-18 06:21] alejoe91 commented on #245
https://github.com/SpikeInterface/spikeinterface/pull/297

[2021-10-18 16:32] magland opened #315 "Create converters between old extractors and new objects"
- [ ] old recording extractor to new recording
- [ ] new recording to old recording extractor
- [ ] old sorting extractor to new sorting
- [ ] new sorting to old sorting extractor

I suggest that these be functions (rather than wrapper classes)

This will only apply to single segment recordings

See: https://github.com/magland/sortingview/wiki/old-new-si-wrappers

@alejoe91

[2021-10-18 18:18] marcoistasy opened #316 "error running `wave_clus`"
Hello,

I run into the following error when running `wave_clus`

[code]

I am not sure if the error messages output by Matlab are what is causing `AttributeError`.

[2021-10-18 21:23] marcoistasy opened #317 "combinato failed with `AssertionError: combinato is a single-channel recording`"
Hello,

I am trying to run the `combinato`  on my `recording` object of 48 `channels` but am running into this `AssertionError`

[code]

I understand what is says, however, as per the `combinato` documentation, it states being able to sort data from up to [100 channels](https://github.com/jniediek/combinato#introduction).  Is this is a bug from `spike_interface` or a functionality that has not yet

[2021-10-19 12:35] rtraghavan opened #318 "failure to set locations for spikeglx files"
Hi I am using spikeinterface to analyze neuropixel array recordings. These were data recorded in spike glx but the spikeglx extractor seems to not attach locations? Anyway around this? Should I pass an explicit probe file? Without channel locations I can't export results to phy.

I execute
recording = se.SpikeGLXRecordingExtractor(folder_path='/data2/rec_fold/',stream_id='imec.ap')
recording.get_c

[2021-10-19 17:15] marcoistasy commented on #313
hi @samuelgarcia, I investigated how to create a circular probe with `probeinterface` but was unable to figure it out. I know that there is a [`create_auto_shape`](https://github.com/SpikeInterface/probeinterface/blob/b5b5bfc21e4f3d8066a6ebd98e6ae645a9365b88/probeinterface/probe.py#L207) function, but the only options are either `'tip'` or `'rect'`. Is there a way to generate a circular probe with

[2021-10-19 19:52] yilmazduygu opened #321 "error in toy_example() in check_your_install.py"
Hi,
I created a fresh environment using the `installation_tips`, thanks for that! But unfortunately it throws an error when I try to run `check_your_install.py`:

`(si_env) C:\Users\menalab\Documents>python check_your_install.py
Traceback (most recent call last):
  File "check_your_install.py", line 80, in <module>
    _create_recording()
  File "check_your_install.py", line 17, in _create_recordi

[2021-10-20 06:39] alejoe91 commented on #321
Hi @yilmazduygu

I think we didn't release that yet. Can you try to install from master?

[2021-10-20 07:23] samuelgarcia commented on #312
Hi Marine.
Honestly, I don't think we will add it soon.
1. It double the package work for devs. Today making a package on pypi is only a tag.
2. pip inside conda is OK for pure python package like spikeinterface, and they can be inside a yml env [file](https://github.com/SpikeInterface/spikeinterface/tree/master/installation_tips).
3. conda can be cool for windows or apple but less usefull on linu

[2021-10-20 17:11] #316 closed, assigned to nobody

[2021-10-20 20:41] BenATemple opened #323 "Drift Over Time errors"
Hello,
I am encountering errors with the  spike widget "drift_over_time" plot.
If I try to plot in "scatter" mode, then I receive an "Assertion Error: with scatter mode, weight_with_amplitudes must be False."
However, weight with amplitudes is supposed to be default False. And even if I enter to explicitly say that weight with amplitudes is false, I receive this same error.
If I instead switch to

[2021-10-20 20:58] BenATemple opened #324 "Amplitude Plotting"
Hello,
I would like to plot the amplitudes of my spikes against time.
You provide a widget plot_amplitudes_ timeseries but, as far as I can tell, there's not a way to specify/narrow down to just a few specific channels at a time?
I'm also able to extract spike amplitudes using get_spike_amplitudes, but this appears to just give a list of amplitudes for each spike, not attached to the *time* of the

[2021-10-20 21:14] grawoods opened #325 "Windows Bash execution of MATLAB"
Attempting to use SpikeInterface (and Kilosort3) on a Windows 10 machine and ubuntu. Cannot call instances of matlab from ubuntu since it requires calling matlab.exe.

Was able to get around this issue by editing the source files that execute matlab by changing all instances of 'matlab' to 'matlab.exe'. Any recommendations?

[2021-10-20 21:16] ziadaali opened #326 "Kilosort3 spike_times.npy error"
Hello,

I'm trying to run the getting started tutorial but using Kilosort3 and I'm encountering the error below. From what I can tell, Kilosort is looking for a spike_times file that doesn't exist (and shouldn't exist before running). Do you have an idea on whether or not I'm doing something wrong or is this a bug?

[code]

My code is identical to the tutorial except for the following line which t

[2021-10-21 06:07] alejoe91 commented on #314
The 'problem' is that Phy requires a linear channel map, so we set a dummy one just for phy visualization. When you load the data back to SI you should have your original channel map back (we save it in a separate file)

[2021-10-21 17:04] samuelgarcia commented on #325
"matlab" is not working in a cmd console ?

[2021-10-21 18:33] marcoistasy opened #328 "`combinato` failed with `FileNotFoundError: [Errno 2] No such file or directory: '/mnt/d/n2b/n2b-visification/data/spikesorters/combinato/spc/cluster_linux64.exe': '/mnt/d/n2b/n2b-visification/data/spikesorters/combinato/spc/cluster_linux64.exe'`"
Hello,

I am ran `combinato` with the instructions as per Issue #317 but am now running into the error message above. Below is the full traceback.

[code]

[2021-10-25 07:55] #312 closed, assigned to nobody

[2021-10-25 09:10] ToGauvrit opened #329 "Error reading OpenEphys legacy format with neo"
Hi @samuelgarcia!
Here is the issue for the reading of OpenEphys legacy format I told you in Lyon school. The problem come from neo library, the reading is not working if we have  CH and ADC channels, but working if we have only one type of channel. The error I got:

[code]

It seems that the CH and ADC channels name splitting is wrong.
Thank you for help ;)

[2021-10-25 14:19] Dradeliomecus opened #330 "WaveformExtractor.run_extract_waveforms has to run on all units"
Hi,

I want to extract the waveforms of multiple units, my understanding is to use the `WaveformExtractor`, set the parameters, and run `run_extract_waveforms()`.
Except I'm not seeing a parameter to give which unit ids I want to extract, which means I need to extract the waveforms of all the units (which seems like a potential waste of time, and a lot of writing to disk when using `max_spikes_per

[2021-10-26 09:18] Dradeliomecus opened #331 "Memory leak using WaveformExtractor.get_waveforms"
Hi,

Using the WaveformExtractor, I've stumbled upon what I think is a memory leak.
Here is a pretty straightforward code to see and reproduce the problem:

[code]

Here is the output when executing this code:
[code]

[2021-10-26 14:33] szbalazs98 opened #333 "Read a .prb file"
I would like to read a .prb file, and I use the read_prb() function, but the output is a ProbeGroup() object. So i cannot use set_probe(), because it needs a Probe() object. Is there a solution to this problem?

Thank you in advance!

[2021-10-26 19:55] BenATemple opened #335 "Units for template metrics?"
Hello,
I am using the spike toolkit function "calculate_template_metrics" to calculate features of my waveforms. I'm curious what the units for the half width and the peak to valley value are? Are these in seconds?
Ben

[2021-10-29 07:17] #335 closed, assigned to nobody

[2021-10-29 07:18] #333 closed, assigned to nobody

[2021-10-29 07:22] #324 closed, assigned to nobody

[2021-10-29 07:24] #323 closed, assigned to nobody

[2021-10-29 07:25] #317 closed, assigned to nobody

[2021-10-29 07:36] #245 closed, assigned to nobody

[2021-10-29 07:37] #313 closed, assigned to nobody

[2021-10-29 12:48] szbalazs98 opened #340 "Error running Mountainsort4"
When running _sorting_MS4 = ss.run_mountainsort4(recording_loaded, output_folder='results_MS4', verbose=True,filter=False)_ command I get this error:

Error running mountainsort4
Traceback (most recent call last):
  File "C:\Users\SortingStation\anaconda3\lib\site-packages\spikeinterface\sorters\basesorter.py", line 198, in run_from_folder
    SorterClass._run_from_folder(output_folder, sorter_par

[2021-10-29 18:00] magland commented on #340
Yes, mountainsort has never been tested on windows.

[2021-10-31 05:48] ghostrider77 commented on #340
There is an easy fix for that. From the trace it it clear that `mpdir = tempfile.mkdtemp(dir=os.environ.get('TEMPDIR', '/tmp'))` causes the problem, since in Windows the temporary directory is not called '/tmp', moreover, the slash at the front causes issues when it tries to resolve the path.

The best way is to create an environmental variable `TEMPDIR` by yourself.
[code]

[2021-10-31 15:17] szbalazs98 commented on #340
Thank you so much for the answers! This solved solved the problem.

[2021-11-01 16:54] szbalazs98 commented on #340
I may have a small problem. After I sort with MountainsSort4 and open the result in Phy, on the ProbeView the channels are not next to each other as I would expect.

What could be the problem? Mountainsort doesn't take the previously given mapping into account? This problem doesn't occur with other sorters.
![mountainsort_phy](https://user-images.githubusercontent.com/85197786/139709575-97def93f-5

[2021-11-02 12:58] alejoe91 commented on #340
Hi @szbalazs98, this is indeed a weird behavior. @magland could you double check that the new mountainsort4 implementation is handling location info correctly?

[2021-11-02 13:05] alejoe91 commented on #340
Right! Sorry @magland I should have read more carefully. @szbalazs98 does this happen for all units? Are you using the same `recording` object that you input to MS4 when extracting waveforms?

[2021-11-02 13:06] alejoe91 commented on #340
Also, how are you loading probe information?

[2021-11-02 13:34] szbalazs98 commented on #340
Yes it happens with all the units. I only use one recording object. Can the problem be the wiring? (Because it shuffles the order of the channels)
I attached the loading of the probe information:
![probing](https://user-images.githubusercontent.com/85197786/139855764-83282de2-a137-4971-9ad8-3bd0954d3ed8.png)
n

[2021-11-02 13:53] alejoe91 commented on #340
Yeah I think that the problem could be the wiring indeed. Can you double check that the plotted device indices correspond to the one you expect from your mapping? Where does your recording come from? Did you use the H32>RHD2132 pathway in your experiment?

[2021-11-02 14:00] ChrisCurrin commented on #331
Just to add I encountered the same thing

[2021-11-03 15:52] paul-aparicio opened #342 "get_probe"
Hello,

I am trying to run a sorter (following the most recent tutorial with my own data), but I get an error saying that I need to call get_probes or get_probegroup

[code]
[code]
I am not sure how to specify to the sorter that the probe attached to my recording is a probegroup? Or maybe the problem is that I have defined my probe poorly? I am using a 96 channel utah array.

Thanks for any help!

[2021-11-03 15:58] alejoe91 commented on #342
Hi @paul-aparicio

This is definitely something we should fix. Do you mind sending me your probegroup in probeinterface json format?

You can export it as follows:

[code]

I'll try to reproduce the issue and provide a fix in the next days :)

Cheers
Alessio

[2021-11-03 16:12] alejoe91 opened #343 "get_probe assumes a single probe, but it's used throughout the modules"
https://github.com/SpikeInterface/spikeinterface/issues/342 pointed out that when a probegroup is used instead of a single probe, some steps may fail (in the issue running HS).

After a quick check, having a probe group also affects `widgets` and `sortingcomponents`

[2021-11-03 16:41] alejoe91 commented on #342
@paul-aparicio no need for the json :) can you try this patch?

https://github.com/SpikeInterface/spikeinterface/pull/344

[2021-11-03 16:49] alejoe91 commented on #342
Note that for your probes (stereotrode I assume), herdingspikes is not the best option, as it uses an estimate of spike localization in the process (which is hard and probably highly sub-optimal from 2 electrodes)

[2021-11-03 17:04] paul-aparicio commented on #342
The probe is a 96 channel utah array. Maybe the probe info is incorrect?

[2021-11-04 16:37] ClaraBesserer opened #345 "Extracting amplitudes from an agreement sorting"
Hello,

I want to extract the waveforms and amplitudes of the spikes after performing a multisorting comparison. The waveform extraction works but the amplitude extraction does not. Here is the error message :

`  File "/home/shiva/Spikeinterface_clara/Ecube_SpikeInterface.py", line 551, in <module>
    main()

  File "/home/shiva/Spikeinterface_clara/Ecube_SpikeInterface.py", line 526, in main

[2021-11-04 16:46] alejoe91 commented on #345
Hi, thanks for spotting this bug! I'll fix it :)

What you can do for now is to save the sorting object using the `save` function and proceed with the analysis using the new object:

[code]

Let me know if this fixes your proplem while we fix the bug :)

Cheers
Alessio

[2021-11-04 17:20] ClaraBesserer commented on #345
Hi, yes it's working. Thanks a lot!

[2021-11-06 22:47] #267 closed

[2021-11-06 23:09] khl02007 opened #346 "waveform comparison"
@alejoe91 @samuelgarcia I'm wondering if there should be a way to compare two waveform extractors (similar in spirit to what we currently have, i.e. the comparison of two sorting extractors based on spike times). For example, I may have two recordings from two different days of a chronically implanted animal. I may have sorted each recording separately for whatever reason (e.g. each recording is t

[2021-11-07 10:25] alejoe91 commented on #346
@khl02007 I think this would be a great addition! I have some code laying around that does exactly that also over multiple sessions (it internally uses the same graph approach as the multi sorting comparison). I'll be happy to discuss and to provide the existing code :) Let's discuss via email

[2021-11-08 05:04] YadongD opened #347 "Output from export_to_phy() lack channel NPY files"
Hi,

I am trying to use mountainsort4 to prepossess 64 channels tetrode data and trying to output the data to PHY.
The original data is in binary format, so when I do se.read_openephys(), there is no probe information, then I create Probe by using the following code:

[code]
Then I use mountainsort4 to process the data and try to output the data into PHY by using the following code:

[code]

After

[2021-11-08 07:30] alejoe91 commented on #347
Hi @YadongD

How are you setting the probe to the recording?

[2021-11-08 09:13] samuelgarcia commented on #340
Yes. It looks like a wiring problem.

[2021-11-08 09:19] samuelgarcia commented on #343
I know. I guess it is the behavior we want.
When we have several probe we need to split before sorting.
Maybe we could have a check in BaseSorter to have a correct error message for that.

About the wodget that don't  deal woth probegroup I think this is OK. The end end can do the split externally if the error mesage is well written. no ?

[2021-11-08 09:24] samuelgarcia commented on #345
@alejoe91 : it is not a bug agreement sorting is too complicated to be dumpable.
We should raise an error we we try to dump it.

[2021-11-08 09:45] alejoe91 commented on #345
I agree, we should keep `is_dumpable=False` and check that before dumping

[2021-11-08 10:32] alejoe91 commented on #343
I'm not sure it's what we want..one might also want to sort without splitting, no? From the widget side, I think it's better to always deal with probegroups, as it's more general

[2021-11-08 11:47] samuelgarcia commented on #343
The problem is that for probegroup could be at the same location and so the sorting would be wrong.
I think we should forgive by default the sorting on several probe. It could be possible with a flag and a clear doc about absolut vs relative probe map.

[2021-11-08 16:03] YadongD commented on #347
Hi Alessio,

Here are the codes(with output from the Colab) that I used before export_to_phy() function.

`recording = se.read_openephys(folder_path=path)`

[code]

`recording = recording.set_probes(probe)`

[code]

`recording_preprocessed = recording_cmr.save(format='binary')`

`sorting_MS = ss.run_mountainsort4(recording=recording_preprocessed)`

[code]

[code]

[2021-11-08 16:06] szbalazs98 commented on #340
I've consulted with the lab, and indeed the wiring was wrong. However after I customized it appropriately it doesn't seem to be entirely correct because channels are missing from the WaveformView next to channels where the waveform is relatively great. (I attached a picture from SpikingCircus)
![SC_new](https://user-images.githubusercontent.com/85197786/140776309-d109b84b-b888-448f-926d-b325ecf5db

[2021-11-08 23:04] Yuhao-Zhang-SV opened #348 "Not dumpable AssertionError when running MountainSort4"
I ran the latest version of _ss.run_mountainsort4(recording, **params, output_folder)_ on Google Colab, in which recording is the _CommonReferenceRecording_ object. However, it turned out to be Assertion Error like this:
![image](https://user-images.githubusercontent.com/78635669/140832044-43fe43b2-120a-4a4a-b070-e6f600b045f8.png)
So why is this happening, and what should I do to fix it? Thanks in

[2021-11-08 23:19] Yuhao-Zhang-SV opened #349 "SpikeSortingError when running MountainSort4"
When I ran the latest version of ss.run_mountainsort4(recording, **params, output_folder) on Google Colab, in which recording is the NumpyRecording object. However, it turned out to be SpikeSortingError like this:
![image](https://user-images.githubusercontent.com/78635669/140833368-3ea2ff7c-a2e9-4233-b76f-51e4a23dd53f.png)
And I think it's the same issue with the one in the documentations of Sort

[2021-11-09 07:23] khl02007 commented on #245
@alejoe91 I'm getting this behavior with the changes to handle timestamps:
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/9277197/140879688-c62634df-c1ba-4646-aa21-b60c41530b6f.png">
How do I access a closed HDF5 dataset?

[2021-11-09 07:35] alejoe91 commented on #245
Ah sorry about that @khl02007

You just need to copy the time vector here: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/extractors/nwbextractors.py#L76

Will make a PR soon

[2021-11-09 09:00] samuelgarcia commented on #348
Recording need to be dumpable in some case.
If it is not the case (like NumpyRecording) you can save then and run on the saved recording.

`saved_rec = rec.save(folder='/path/to/my/saved_rec')`

[2021-11-09 09:01] samuelgarcia commented on #349
I think it is due to numba which is jnot compatible with numpy 1.21.

do `pip install numpy==1.20` (or conda)

[2021-11-09 09:03] samuelgarcia commented on #245
Alessio. I think we need to change the implementation and remove the `with NWBHDF5IO...` because it slow down the read by chunk.

[2021-11-09 10:17] alejoe91 commented on #245
I agree. I'll fix both this afternoon

[2021-11-10 14:30] paul-aparicio opened #354 "tridesclous parameters"
Hello,

Is it possible to alter tridesclous parameters through spikeinterface if the parameters do not appear in ss.get_default_params('tridesclous')?

Thank you

[2021-11-10 15:53] samuelgarcia commented on #354
Yes.
You can do this

[code]

Or something like this

[code]

[2021-11-10 20:01] Yuhao-Zhang-SV opened #355 "Mountainsort4 use the OLD spikeextractors mapped with RecordingExtractorOldAPI"
When I run _ss.mountainsort4(cached_recording, base_folder)_, where _cached_recording_ is the _**BinaryRecordingExtractor**_ class which is **saved** first and then **load_extract()** from _cache.json_ file, and _base_folder_ is the directory of **_traces_cached_seg.raw_** file, the same as the directory of _cached.json_. However, I got the prompt "**Mountainsort4 use the OLD spikeextractors mappe

[2021-11-10 21:11] alejoe91 commented on #355
Hi, you are not doing anything wrong :) Mountainsort4 uses the old API, so internally we print this message to remind ourselves that we need to update it.

Regarding the error, I think it's because MS4 requires locations and it doesn't seem to find it in your recording object. Did you set a probe?

[2021-11-10 21:22] Yuhao-Zhang-SV commented on #355
OK, thanks very much!! And I think I have not set a probe yet... Sorry about that. Anyway, thank you very much!

[2021-11-11 08:32] alejoe91 commented on #355
No problem! I'll close the issue for now but feel free to reopen it or open a new one if you find other problems ;)

[2021-11-11 08:32] #355 closed

[2021-11-11 08:35] alejoe91 commented on #347
@YadongD can you try using this PR https://github.com/SpikeInterface/spikeinterface/pull/344?

[2021-11-11 12:39] #354 closed

[2021-11-11 12:39] #349 closed

[2021-11-11 13:20] #342 closed

[2021-11-11 20:37] paul-aparicio opened #357 "trisdesclous channel group error"
Hello, I am trying to sort data from a 96 channel utah array. I run
[code]
It sorts all of the channels but crashes when trying to save (I think) the results:

[code]

quarying my recording object for the channel groups shows that they are there?:
[code]
Thank you for any help

[2021-11-12 07:42] samuelgarcia commented on #357
Are you using an already existing folder that contain sorting with group at tridesclous level (and not spikeinterface level) ?

[2021-11-12 10:57] paul-aparicio commented on #357
No, I don't believe so. The output folder I specify in the call to ss.run_trisdesclous is unique and doesn't exist prior to running the sorter?

[2021-11-12 11:09] samuelgarcia commented on #357
how did you set grouping ? Is it one group per channel or one global group ?
Are you using a PRB file that contain groups ?

[2021-11-12 11:25] paul-aparicio commented on #357
The grouping information comes from a probe file (.prb). Its a probegroup where each channel is its own group.
[code]

[2021-11-12 16:56] vincisLab opened #360 "Ironclust Error Message"
Hi, we were able to successfully run Ironclust through the old version of spikeinterface on a Mac. However, trying to run Ironclust using the NEW spikeinterface on Windows on the same dataset as before produces this error. Interestingly, it seems like the sorting ran successfully.

Clustering result wrote to D:\ironclust_test_with_params2\tmp/firings.mda

#SF-SORTER-RUNTIME#110.460#

Error using <

[2021-11-14 02:04] TomDonoghue opened #361 "Issue with PYPI installation instructions on documentation site"
The install instructions for using PYPI the website currently look as follows:

![Screen Shot 2021-11-13 at 8 57 37 PM](https://user-images.githubusercontent.com/7727566/141664531-9b0f479f-4349-4d8a-8cc0-5260b92a8e92.png)

I think there are a couple small issues here:
1) to make the 'full' option work from pip, I need to use quotes (`pip install "spikeinterface[full]"`)
     - I'm not too familiar

[2021-11-14 10:37] alejoe91 commented on #361
Hi @TomDonoghue

Thanks for spotting this! Indeed the second option should only be `pip install spikeinterface` without anything else.

What's your OS? The `pip install spikeinterface[full]` works well on our side on UNIX systems without quotation marks :)

[2021-11-14 16:17] TomDonoghue commented on #361
After a quick look into this, I think the need to use quotes is because I'm using Z shell. I'm on a mac, which recently switched to using Z shell, so this will probably be a fairly common situation.

In #362 I updated the file to address both things - adding a note about quotes for Z shell, and updating the core install line.

[2021-11-15 08:00] samuelgarcia commented on #360
Hi @vincisLab
A file `run_ironclust.m` has been generated in your folder. Could you run it from matlab directly and check the error message ?

[2021-11-15 12:16] ferchaure opened #363 "Preprocessing Questions"
Hi guys, small question, what do you think about a similar class than  FilterRecording (and  FilterOpenCLRecording) but with generic inputs like coef (the ba or sos values) instead of the filter description?

I have an awful recording with a lot of peaks in the spectrum; I made notch filters with custom q factors and I would like to do all of them in one filter instead of a long series of single n

[2021-11-15 12:47] alejoe91 commented on #363
Hola @ferchaure

I think we could have both! A multi-notch filter and a generic filter. Note that both can use already the `FilterRecordingSegment`, which already accepts coeffs and filter type (https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/toolkit/preprocessing/filter.py#L84-L91)

Would you have time to implement it?

Cheers
Alessio

[2021-11-15 13:37] ferchaure commented on #363
Hi Alessio, I will do a pull request today and we can see the details there.

I keep this issue open because I have a few other questions:
- About detect_peaks, what do you think about adding a parameter to remove duplicate detections in all channels... or maybe a function to clean the output of detect_peaks. I was thinking in a really simple implementation of this ideas: [https://doi.org/10.3390/

[2021-11-15 13:42] alejoe91 commented on #363
Thanks :)

So the `locally_exclusive` mode should already do somehting similar, but of course we are open to add more options/methods!

[2021-11-15 14:03] samuelgarcia commented on #363
Hi Fernando
I think It will be easy to modify the `FilterRecording` class to add optional filter coefficient in **ab** or **sos** mode.
Lets discuss in a PR.

And yes `locally_exclusive` already do what you want when a spike is on several channel : it keep the best channel.
You will need to play with `local_radius_um`
Note that there is also the `n_shifts` also remove duplicate on time axis when t

[2021-11-15 14:05] samuelgarcia commented on #363
I just look in the abstract of the paper.
The "deduplication" will be covered at template matching level which is not implemenbted yet but should be day in a near futur.

[2021-11-15 14:56] TomDonoghue commented on #361
This was fixed / merged with #362, so I'll close this now!

[2021-11-15 14:56] #361 closed

[2021-11-16 18:44] paul-aparicio commented on #357
Hello @samuelgarcia,

from the pandas output 'shank_ids' and 'contact_ids' are blank, while 'device_channel_indices' have values. Is that ok? Below is the first few lines of the probe file being used if that is helpful. Thanks for any help!

[code]

[2021-11-16 21:07] alejoe91 commented on #357
@paul-aparicio you should use the `run_sorter_by_property()` function! That's splits in groups before spike sorting

[2021-11-17 17:08] vincisLab commented on #360
Hi @samuelgarcia ,

Matlab does not supply an error message. This is the result of running run_ironclust.m in MATLAB (stopped with a breakpoint right before quitting):

===================================================
IronClust Version: 2
===================================================
Removed 0 lock(s).
Running irc2.m (5.9.8)
Created D:\ironclust_test_with_params2\tmp\raw_geom.prm
Loaded f

[2021-11-17 17:10] vincisLab commented on #360
Hi @samuelgarcia ,

Matlab does not supply an error message. This is the result of running run_ironclust.m in MATLAB (stopped with a breakpoint right before quitting):

===================================================
IronClust Version: 2
===================================================
Removed 0 lock(s).
Running irc2.m (5.9.8)
Created D:\spikesorting\dataTest\CB250\CB250_082421_recording\re

[2021-11-17 17:22] vincisLab commented on #360
@samuelgarcia Despite the error message, Ironclust seems to still work...spikeinterface says sorting returned 20 units.

[2021-11-17 17:38] alejoe91 commented on #360
@vincisLab you can load the spikesorted outout with:

[code]

[2021-11-17 18:14] vincisLab commented on #360
Hi @alejoe91 , yes I'm able to get the results of the sorting. I suppose I can ignore the warning since it doesn't appear to affect the ouput.

[2021-11-17 18:56] vincisLab commented on #360
We're also trying to run Kilosort3 and we're getting a similar error message about 'Settings' being an unrecognized variable or function. On top of that message, we're also getting one about subscript indicies:

Error using gpuArray/subsref

Subscript indices must either be real positive integers or logicals.Error using <a href="matlab:matlab.internal.language.introspective.errorDocCallback('quit'

[2021-11-17 19:19] samuelgarcia commented on #360
@vincisLab : for ironclust I don't understand what is happening. It raise an error at python level even if there is no error at matlab level ? Can you inspect the **spikeinterface_log.json** file to try to guess ?

For kilosort at spikeinterface level you can remove channel doing this

[code]
and run the sorter on recording2

[2021-11-17 19:30] vincisLab commented on #360
@samuelgarcia I'm having a difficult time understanding what's going on as well. I believe you are correct. My best guess is that Python is hitting an error while telling matlab to quit, and it crashes matlab (which basically accomplishes what it was trying to do anyways). Here's the output from the log file:

"Clustering result wrote to D:\\spikesorting\\dataTest\\CB250\\CB250_082421_recording\\r

[2021-11-17 21:09] AlanoudAlsubhi opened #367 "Event-related potentials question"
Hi,

I tried to read the documentation to find an answer for my question but no luck.
I am trying analyze event-related potentials. Is there a tutorial on that?
The closest I was able to find was `spikeinterface.core.BaseEvent(channel_ids, structured_dtype)` but there isn't much description about it.

I have my stimulus added to my NWB file using this

[code]
I appreciate any help or any assistanc

[2021-11-18 08:18] samuelgarcia commented on #367
Hi Alamoud,
spikeinterface is oriented for spike sorting task.

It has a small interface to suport event (aka trigger) with BaseEvent.
This event stuff have to be enhenced to be more flexible.

Analysing event related potential is doable with spikeinterface API but there there is nothing ready to use nor example for this.

[2021-11-18 08:21] samuelgarcia commented on #360
The error message looks weird with this kind of `<a href=`

@alejoe91 : do you remeber why with have `quit(0);` at th end of the generated script ?
Maybe removing it (line 208) could fix the stuff. @vincisLab : could you try this ?

[2021-11-18 08:25] alejoe91 commented on #360
Seems related to this: https://ch.mathworks.com/matlabcentral/answers/1566246-got-error-using-exit-in-nodesktop-mode

@vincisLab can you try to do the suggested action? Disable the "help imporve MATLAB" from the settings

[2021-11-18 08:26] alejoe91 commented on #367
I would recommend using [`elephant`](http://neuralensemble.org/elephant/) for this kind of analysis

[2021-11-18 08:30] samuelgarcia commented on #360
Is the quit(0) necessary ?

[2021-11-18 08:33] alejoe91 commented on #360
yes, because that triggers an error on the SI side

[2021-11-18 08:35] samuelgarcia commented on #360
the quitt(1) trigger an error but why the quit(0) ?

[2021-11-18 18:24] paul-aparicio commented on #357
Thank you! This seems to work, though I still don't understand why the sorter crashes when trying to finish up after performing all of the sorting when using ss.run_tridesclous?

[2021-11-18 18:48] vincisLab commented on #360
Hi guys, thanks for the help.

@alejoe91 removing the "help improve MATLAB" from the preferences prevent the error to appear, so all good with Ironclust.

@samuelgarcia  As per Kilosort3 we still get the error even changing the number of channel with the channel_slice command .

here is the error:

Time   0s. Computing whitening matrix..

Getting channel whitening matrix...

Channel-whitening matr

[2021-11-18 19:01] Yuhao-Zhang-SV opened #370 "How to run Mountainsort4?"
So basically I need to set probe before I ran Mountainsort4, right? Could you please provide / show me a simple example on the pipeline of running Mountainsort4, including saving Recording object, setting probes, etc.? Since I read about the tutorial on how to use run_tridesclous(), but it seems that there are some spikesorting errors... Thanks in advance~

----------------------------------------

[2021-11-18 19:36] Yizhar-Lab opened #371 "create SortingExtractor from manually sorted data"
How do I create a "ground-truth" `SortingExtractor` for the `compare_sorter_to_ground_truth` function from a simple text file (say .txt, .csv or .npy) which contains my manually sorted spike-times and spike-clusters?

[2021-11-18 20:38] samuelgarcia commented on #371
The simpler is to create a sorting from numpy array with `NumpySorting` see
https://spikeinterface.readthedocs.io/en/latest/modules/core/plot_2_sorting_extractor.html

[2021-11-18 20:40] samuelgarcia commented on #370
It will be exactly the same for all sorters including Mountainsort4.
just use
`sorting = run_sorter('mountainsort4', recording)`
internally there is a wrapper to old API (this is why you have the message) but at end user you have have to worry about it.

[2021-11-18 22:42] Yuhao-Zhang-SV commented on #370
OK, so do I need to set probe info first before run_sorter()? Should I set probe like this if there's no probe info in the recording object?
![image](https://user-images.githubusercontent.com/78635669/142508447-dbb5ca4c-d8c6-4b86-b64b-78df7a27d4b3.png)

[2021-11-18 23:45] ferchaure commented on #363
I already ask you about this a while back, but maybe now is possible with some modifications.
I would like to mask out segments of signal with high power (mountainlab had something like that, and it was useful sometimes ).
What do you think about this steps:
- Take a recording and get power statistics. The idea is to approx the mean and std of the power in segments of NM samples. Then create a thr

[2021-11-19 07:32] samuelgarcia commented on #370
Yes, you need to attach a probebefore any run_sorter.

[2021-11-19 07:38] samuelgarcia commented on #363
Hi Fernando,
I think what you propose is similar with `RemoveArtifactsRecording` but trigger would be computed with some statistic.
But ms_before/ms_after would not be fixed.
If you go for this I would recommend to refactor `RemoveArtifactsRecording` and to build your idea with some mixin class or somethig like this.
boolean mask is also a simple solution but it it lead to more memory when multi p

[2021-11-19 13:38] ferchaure commented on #363
Ok I will do a pull request later, the original idea mask out all the channels when any of them exceed the threshold. I could let the code in that way and let the user user split for mask out just groups of channels, or I could add an optional input in a function similar to  remove_artifacts, that split by property, apply the masks  and aggregate the recording.

I have something like that to apply

[2021-11-19 14:27] samuelgarcia commented on #363
You can also, use the mask and then detect up/dowk front in the mask and that will be the "period limits" of artifact.

[2021-11-23 22:52] szbalazs98 opened #382 "Problem with run_kilosort() and read_kilosort()."
I would like to retrieve ground-truth data by manual curation on sorted data by kilosort. When I run this code:
 sorting_KS = ss.run_kilosort(recording_saved, output_folder='results_KS_GT',
                                verbose=True)
I get this error:
[code]

When I try to read a previosly sorted and curated data with this code:
sorting_KS2_GT = se.read_kilosort(folder_path='./result_KS_GT',keep

[2021-11-24 16:19] szbalazs98 commented on #382
I think I fixed it by using this command:
`sorting_KS_GT = se.PhySortingExtractor(folder_path='./results_KS2_ground_truth',exclude_cluster_groups="noise")`
But when I try to use `compare_sorter_to_ground_truth()`, I get this error:
`ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)`

[2021-11-24 16:23] alejoe91 commented on #382
Hi @szbalazs98

Can you share the code you used for comparison and the entire Traceback?

Cheers
Alessio

[2021-11-24 16:49] szbalazs98 commented on #382
Of course.

I tried to run it three ways:
`c2gt = sc.compare_sorter_to_ground_truth(gt_sorting=sorting_KS_GT, tested_sorting=sorting_IC, verbose=True)`

[code]
`study.run_comparisons(exhaustive_gt=True, match_score=0.1)
`
And I've got this Traceback:
[code]

[2021-11-25 11:56] MNS57 opened #384 "Data loading of Intan data"
Dear Buccino

Now, we are going to load intan data through the function read_intan.
Then, how should we write the referring "stream_id"?

Data names are like A_154010.rhd, A_154110.rhd, A_154210.rhd,,,, A_169011.rhd, A_161011.rhd

Thanks.

Nori,

[2021-11-25 12:52] Yizhar-Lab opened #385 "Compute ISI violation metric defined in Hill et al. (2011)"
The Spike interface (SI) [quality metrics tutorial](https://spikeinterface.readthedocs.io/en/latest/module_toolkit.html#quality-metrics) references [these excellent docs from the Allen Institute](https://allensdk.readthedocs.io/en/latest/_static/examples/nb/ecephys_quality_metrics.html), which in turn references the metrics defined in [Hill et al. (2011) J Neurosci 31: 8699-8705](https://www.jneur

[2021-11-25 13:03] alejoe91 commented on #384
Hi Nori,

Thank you for the issue. Do all the files refer to the same recording?

As for the stream, I think you should use `stream_id='0'`. Right @samuelgarcia ?

Cheers
Alessio

[2021-11-25 13:05] alejoe91 commented on #385
Hi @Yizhar-Lab

You are right! Sorry we have refactored the code lately and I think @samuelgarcia did not implement the ratio described in Hill 2011. Thanks for spotting it, we'll update the code so that the ratio actually refers to the Hill metric.

Cheers
Alessio

[2021-11-25 13:17] Yizhar-Lab commented on #385
That's great! And thanks for the super fast reply.
Is there a way to monitor for this update, or should I just check the code every now and then?

[2021-11-25 13:25] alejoe91 commented on #385
I'm working on it now, will make a PR in a few minutes :) You should get an email everytime I comment or reference this issue (I'll point to the issue in the PR)

[2021-11-25 14:09] MNS57 commented on #384
We still meet errors, do you find any remaining problems?

-------------------------------------------------------------------------------------------------------
[input]
local_path = '/home/MSNNlab/SpikeData/Default_InViVo/211019/100/data02_211019_154010.rhd'
recording, sorting_true = se.read_intan(local_path, stream_id='0')

-----------------------------------------------------------------------

[2021-11-25 14:15] MNS57 commented on #384
The answer for this question is yes.

[2021-11-25 14:16] alejoe91 commented on #384
Hi, the problem is that Intan only returns a `recording` object, not a sorting one as well.

So you should do:
[code]

[2021-11-25 14:18] alejoe91 commented on #384
Ok , in that case you need to sort all files and have them in a list. Then you can load them sequentially and concatenate the recordings:

[code]

[2021-11-25 15:47] Dradeliomecus commented on #385
Actually the formula described in Hill et Al. 2011 underestimates the contamination (and the underestimation becomes greater as the contamination rises).
They actually end up with noise coming from a single neuron rather than random noise.

For the case of random noise, the estimated contamination should be:
C = 1 - sqrt(1 - n_v * T / (t_r * N^2))
Where C is the contamination, n_v the number of re

[2021-11-25 16:46] MNS57 commented on #384
Great! We wanted to ask it too.

Now, we could run up to the before half of "Getting started tutorial".

Let us ask something later.

Thanks!

[2021-11-25 17:10] samuelgarcia commented on #385
@alejoe91 : I don't think you implement this.
I propose having several metrics for this idea : the simple counting, the simple rate (as before), the hill2011 and this one.
The NamedTuple allow to return several metrics for one computation.

[2021-11-26 09:32] samuelgarcia commented on #385
@Dradeliomecus  : we could implement this but how could be the name ?

[2021-11-26 12:25] Dradeliomecus commented on #385
@samuelgarcia I guess something like `estimated_contamination` ?
If you're talking about a reference, the preprint should be sent in december if everything goes right, if not early 2022.

[2021-11-26 12:48] samuelgarcia commented on #385
ok thanks.
I propose to finish this PR #386 no and add your metric as soon as the preprint is out.

[2021-11-26 14:22] ferchaure commented on #363
Hi @samuelgarcia, about peak detection, I have been doing some tests and at least for my recordings removing events when they are detected in all channels of the recording (or maybe a parametrized big proportion of them ) is a fast and reliable way to remove a family of annoying artifacts. This is the Part 1 of the algorithm discuss on the paper above, the other parts are a bit more controversial.

[2021-11-26 15:12] samuelgarcia commented on #363
Which method did you test ? 'by_channel' or 'locally_exclusive' ?

For me the best would to implement a new function and add a new `method` case the point to this function.
So 3.

In my mind, detection can be done on the fly if possible.

Having also a familly of function to `clean_peak()` is also a good idea but I would do it in a separate sub module.
The idea of `sortingcomponent` is that evryon

[2021-11-26 17:15] ferchaure commented on #363
I tested it with by_channel (I don't have neighborhoods of channels). The type of artifact that adds detections in all the channels (in my case I think it was the patient using a cellphone) will affect the 'locally_exclusive' method as well, but just with one detection per neighborhood.

If I do 3, how should I pass the additional two parameters to detect_peaks?

[2021-11-26 18:25] ferchaure commented on #363
I'm intrigue about the possible uses of a component to clean peaks, some of them could be:
- The criteria above
-  Max amplitude threshold (old school, but maybe useful)
- Remove overlapping spikes using a refractory period. If we want to implement something similar to classic spike sorters using `sortingcomponent  ` we need to separate overlapping spikes before feature extraction.
- Using the wav

[2021-11-28 20:25] rtraghavan opened #387 "principle component computation concern"
In one of my recent recordings the compute_principle_components module failed to run due to the following error

n_components=3 must be less or equal to the batch number of samples 1

Tracking down the issue it turned to be an error in principle_component.py in the spike interface toolkits post processing folder and was getting caught on one of the units which extract_waveforms yieled a single wav

[2021-11-29 08:01] alejoe91 commented on #387
Hi @rtraghavan

Thanks for spotting this. Your solution would prevent the code from failing, but since we fit a different PCA model for each unit I think that it would be best to compute the model only if there is a minimum number of waveforms for the unit (say 50 by default). If you had 5 spikes/waveforms and compute a PCA model with 5 components the PCA would't fail, but I wouldn't *trust* the P

[2021-11-29 08:43] samuelgarcia commented on #363
Yes, you can  add as many kwargs you need in detect_peak.

Foe the clean_peak, if there is a real need maybe it is better to start discussion with some drafty code.
I think also here we need flexibility and multi method.

[2021-11-29 17:53] rtraghavan commented on #387
This seems reasonable, though perhaps it is better to choose the minimum number of waveforms based on the number of components. Something like 10-20 x n_components is roughly in line with what you recommend and seems to be what people suggest for factor analysis and related analyses online. Though I know of no hard or fast rules and perhaps it is best to start with some default (say scale = 10) an

[2021-11-30 07:43] alejoe91 commented on #387
Sounds good! Do you feel like making a pull request? :)

[2021-11-30 18:36] ferchaure commented on #363
@samuelgarcia doing some test for the new method, I may have found a bug in detect_peaks when the extractor has a gain.

get_noise_levels() returned the scaled noise level but in `get_chunk_with_margin `(in toolkit\preprocessing\tools.py), the output of  `rec_segment.get_traces` is nos scaled. Therefore the threshold is scaled but compared with the unscale data.

A quick fix could be use `return_s

[2021-11-30 20:10] samuelgarcia commented on #363
Yes you are right [here](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sortingcomponents/peak_detection.py#L80) we need `return_scaled=False`
I generally compute noise level outside the function (with return_scaled=False) this is why I did not trigger the problem.
Thanks.

[2021-12-01 07:30] samuelgarcia commented on #363
@ferchaure : I did this quickly #389
We will make a release today, can you confirm this is ok now ?

[2021-12-01 15:21] szbalazs98 commented on #382
Dear @alejoe91 !

So there aren't any fix to this problem?
I don't want to be pushy, but it iss quite crucial to my work.
Thank you in advance!

[2021-12-01 15:33] alejoe91 commented on #382
Can you try to set `n_jobs=1` when you call the `compare_sorter_to_ground_truth` function? Also, could you export all the sortings to npz and send them to me?

You can do:
[code]

This will create a folder with an `.npz` file inside. You can do this for all sorting objects, zip them, and send them so I can take a look.

[2021-12-01 16:10] szbalazs98 commented on #382
[files.zip](https://github.com/SpikeInterface/spikeinterface/files/7635430/files.zip)
The same problem occured with n_jobs=1.

I attached the files. It contains the ground truth which is a Phy sorted Spyking Circus sorting, and the tested sorting which is generated by Kilosort2.

It seems to me that PhySortingExtractor() causes this problem, because it occurs when we use Phy on Kilosort2, Kilosort

[2021-12-01 17:19] alejoe91 commented on #382
Ok the problem seems to be that the Phy object was not loaded properly. The spike trains show 165882 spikes for unit 0 and 0 spikes for all others...Can you share the phy folder on drive so I can investigate it further? Also, the same problem arise from the KS sorting. This is likely why the comparison is failing...

[2021-12-01 17:47] szbalazs98 commented on #382
Of course: Phy folder: https://drive.google.com/drive/folders/13TMT0-K3soeJPFGz1KbBYTKXUZ2nSE-y?usp=sharing
When I use `sorting_loaded_KS.get_unit_spike_train(unit_id=3)`, it seems fine to me with KS.
Can this be a problem: before I use PhySortingExtractor I change the first line (from cluster_id to id) in cluster_info.txt, because if I don't an other error occurs.

[2021-12-02 15:36] #382 closed

[2021-12-02 16:32] Yizhar-Lab opened #393 "recording.set_channel_locations fails"
I just upgraded to the newest version and tried to run the following code, which used to run with no problem before the upgrade.
`recording.set_channel_locations(positions, channel_ids=list(range(n)))`
where 'positions' is just:
array([[   0,    0],
       [   0,  150],
       [   0,  300],
       [   0,  450],
       [   0,  600],
       [   0,  750],
       [   0,  900],
       [   0, 1050],

[2021-12-02 16:50] alejoe91 commented on #393
Hi @Yizhar-Lab

Can you try this: `recording.set_channel_locations(positions)` if the locations are defined for all channels?

Also, what's the output of `recording.get_channel_ids()`? I suspect that the channel ids are not `range(n)`

[2021-12-02 19:47] ferchaure commented on #363
Idea: add parameter by_property to whiten() to apply the whitening by groups and not to all the channels together. (similar to  [this code](https://github.com/ferchaure/spikeinterface/blob/484350a27038ccdfde99565c0f34e75d78aeac88/spikeinterface/toolkit/preprocessing/mask_out_artifacts.py#L122))

Can I do a pull request for that?

[2021-12-03 07:26] alejoe91 commented on #363
Yes that's a good idea @ferchaure !!

[2021-12-03 23:25] ferchaure commented on #363
all the ideas in their pull request.

[2021-12-03 23:25] #363 closed

[2021-12-05 23:39] khl02007 opened #397 "Saving waveforms to nwb"
Right now the extracted waveforms are saved as npy files but I wonder if it would be good to store it in a single NWB. Given that NWB is largely self-documenting and is (expected) to be widely adopted by the community, this could be a useful feature. I looked at the code but wasn't sure where this modification would go since it seems to make use of a job handler for parallel processing. Would be h

[2021-12-06 07:37] samuelgarcia commented on #397
I think @alejoe91 and @Saksham20 have done this in https://github.com/catalystneuro/nwb-conversion-tools.
I let then comment.

[2021-12-06 14:46] ferchaure opened #398 "Ideas about WaveformExtractor"
Hi guys... What do you think about these ideas related to WaveformExtractor (I can do the pull requests later):

1. Making a `clean_peaks` sorting component to discriminate detections with and without refractory violations, creates an additional (and a bit obscure) step for the typical user. A better approach could be add a `sample_spikes_for_feature_extraccion ` method in WaveformExtractor or a p

[2021-12-06 16:55] hpay opened #399 "Error in "Getting started tutorial""
Hello,

I'm getting an error while just trying to download the example dataset while running the Getting Started tutorial verbatim. I'm new to Python so apologies if the answer is obvious. The error is in si.download_dataset, "name 'datalad' is not defined"

Code and error below:
[code]

[2021-12-06 20:32] Yizhar-Lab commented on #393
Hi,
`recording.get_channel_ids()` returns
[code]
`recording.set_channel_locations(positions)` seems to work.
Thanks!

[2021-12-07 07:06] Yuhao-Zhang-SV opened #400 "The method to load probe file for NumpyRecording"
In spikeinterface v13.0, we can use _load_probe_file_ to load probe data. So in the newest version of spikeinterface, is there a corresponding method to load probe info from file (Either .prb or .csv)? Sorry I'm new to spikeinterface. Thanks in advance~

[2021-12-07 07:44] samuelgarcia commented on #400
In the new version  we use explicitly this new package : https://probeinterface.readthedocs.io/en/main/ to handle probe.

There is now a `Probe` object that can be loaded or manually constructed in several ways.
Then you assign this probe to your recording
`rec_with_probe = rec.set_probe(probe)`

Have a look to the probeinterface doc and also here https://spikeinterface.readthedocs.io/en/latest/mo

[2021-12-07 10:22] Yizhar-Lab opened #402 "Control KS2 outputs from SpikeInterface?"
Hi,
Is it possible to do the following using SpikeInterface parameters (sorry if it's basic, my quick search in the docs didn't yield anything)?
- Stop KS2 from copying the recorded neural data to `recording.dat` and `temp_wh.dat`, or removing them at the end of sorting. Of course I can delete them myself, but that'd require changing other files and features to tell downstream analysis (e.g. phy)

[2021-12-07 12:59] Yizhar-Lab commented on #402
Actually, the [kilosort forums say](https://www.giters.com/MouseLand/Kilosort/issues/287) one shouldn't remove these "copies" of the raw data because they're drift corrected.

[2021-12-08 06:15] MNS57 commented on #384
Hi,

Could we ask two more questions?

1. Could you kindly partly write how can we specifically set channel positions using " .set_device_channel_indices"?
2. How can we load a reference signal as well as "se.read_intan(file, stream_id='0')"?

Thanks.

[2021-12-08 06:16] Yuhao-Zhang-SV opened #403 "How to inspect ProbeGroup object's field info & How to turn ProbeGroup into Probe?"
After reading .prb file into a ProbeGroup object, how do I inspect the content of the object (in Google Colab debug mode using ipdb)? Where can I find the definition of the data structure of **ProbeGroup** class? Since I can only see the class methods in API document.

Besides, I want to _set_probe(probe)_ for a recording, but it needs _probe_ to be Probe object instead of ProbeGroup object, so wh

[2021-12-08 08:18] samuelgarcia commented on #403
`ProbeGroup` is basocally a list of `Probe` you can acces with `probegroup.probes`.
So with a loop you can inspect the probe itself
[code]

You also have a `recording.set_probegroup(group_mode='by_probe' or 'by_shank')`

We have lots of example to understand the probeinterface https://probeinterface.readthedocs.io/en/main/examples/index.html

A very important aspcet is the wiring : https://probein

[2021-12-09 00:34] Yuhao-Zhang-SV commented on #403
Well thanks it's of great help to me!! BTW, what's the differences between '**by_probe**' and '**by_shank**' for _set_probegroup_?

[2021-12-09 01:52] Yuhao-Zhang-SV commented on #370
So I'm currently using the recording with probe information. But I still get the same error as the recording without probe info. So what could that issue be? Thanks in advance~ We are trying to migrate from version **0.13** to the **newest** version of spikeinterface. (**SpikeSortingError: Spike sorting failed.**)
![image](https://user-images.githubusercontent.com/78635669/145319807-f8852c92-c438-

[2021-12-09 09:08] samuelgarcia commented on #403
It handle the way the grouping is done.
If you have 2 probes with 4 shanks each : with 'by_probe' you will get 2 groups and with 'by_shank' you will get 8 groups.
Then when you split (with `recordings_by_group = recording.split_by("group")`) you can make independant sorting on ether probe or shank.

Have a look to
https://github.com/SpikeInterface/spiketutorials/blob/master/Official_Tutorial_SI_0.

[2021-12-09 09:23] samuelgarcia commented on #370
What do you have when you do `rec.get_property('location')` ?
Normaly after `rec = rec.set_probe(a_probe)'` the location property is set automatically.

[2021-12-09 14:47] AntonioST opened #404 "Kilosort2Sorter.get_result_from_folder raise error"
Hi,

I used `ss.Kilosort2Sorter.get_result_from_folder` to load my kilosort result from disk, and it raised a KeyError, because "error" key is not in the spikeinterface_log.json.

[code]

[spikeinterface_log.txt](https://github.com/SpikeInterface/spikeinterface/files/7685914/spikeinterface_log.txt)

[2021-12-09 16:16] AntonioST commented on #404
And also I find it is hard to send `keep_good_only` into `BasePhyKilosortSortingExtractor`, so I need to prepare another `spikeinterface_params.json` with `keep_good_only` set to true. Is it able to add keyword parameters on `get_result_from_folder`?

And the good cluster query expression at line `BasePhyKilosortSortingExtractor:89`. Does it should be `"KSLabel == 'good"`?

[code]
The class named

[2021-12-09 17:01] AntonioST commented on #404
The shape of `spike_times.npy` is `(N, 1)`, and it should be flatten to `(N,)`. Otherwise, `get_unit_spike_train` will give me a wrong shape array and I will get an all zero matrix result from `compare_two_sorters`. Even if I used same source result.

[2021-12-09 20:01] Yuhao-Zhang-SV commented on #370
OK, thanks! Actually it's None before, and then I managed to use a NumpyRecording object with available and correct get_property('location') info and it works! Thanks again.

[2021-12-09 20:22] Yuhao-Zhang-SV opened #405 "Not able to run_mountainsort4 due to not dumpable issue"
When I call run_mountainsort4, there is a weird issue. Basically I had a NumpyRecording first, and then call st.preprocessing.common_reference, and then get a CommonReferenceRecording object. Finally I call run_mountainsort4 with this CommonReferenceRecording object. However, I don't know if the CommonReferenceRecording object and the NumpyRecording object are dumpable, since the result seems that

[2021-12-10 05:33] Yuhao-Zhang-SV opened #406 "KeyError: 'relative_paths' when calling run_mountainsort4"
Hi,

I'm trying to migrate from spikeinterface 0.13 to the newest version. And when I call run_mountainsort4, it shows the 'relative_paths' error. What's the meaning of the error? How can I fix it? Thanks in advance~
![image](https://user-images.githubusercontent.com/78635669/145522547-f287de17-2f06-479e-8261-1be4c50de510.png)

[2021-12-11 04:48] #370 closed

[2021-12-11 05:08] Yuhao-Zhang-SV opened #407 "The provenace is not dumpable"
When I `save `a `recording_cmr` object, it generated a file named `provenance.json` and the file only contains a warning `{"warning": "the provenace is not dumpable!!!"}`. But other files seems normal. What could be the problems? I've set probe info. Thanks in advance~

[2021-12-13 07:37] samuelgarcia commented on #407
This is a warning. It informs you that you the source of recording cannot be describe with the json format because certainly at some point it has a NumpyReccording

[2021-12-13 07:42] samuelgarcia commented on #406
It is not possible to load an older folder computed with SI-0.13 from a version with the new API.
You need to recompute.

[2021-12-13 07:43] samuelgarcia commented on #404
@alejoe91 : I let you check this ?

[2021-12-13 13:00] alejoe91 commented on #404
Hi @AntonioST

Did you run KS from spikeinterface, or externally? In case you ran it with SI, then the `log['error']` should be there (https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/basesorter.py#L199-L211).
If you ran it externally, you can use the `KiloSortSortingExtractor` directly.

You can use the `keep_good_only=True` directly as an extra argument when yo

[2021-12-13 13:16] #404 closed

[2021-12-13 16:24] alejoe91 commented on #402
I guess that given your comment it's better to keep them then!

This indeed could be done. We would first need to load the quality metrics as properties. Could you open a separate issue about that?

After computing metrics, you can query the dataframe with any rule to only select units that you want to keep. Then you can use `select_units()` to retrieve only the units that you are interested in an

[2021-12-14 06:26] Yuhao-Zhang-SV commented on #406
Got it. Thanks~

[2021-12-14 06:26] #406 closed

[2021-12-14 06:29] Yuhao-Zhang-SV commented on #407
So basically NumpyRecording is not dumpable right? So why is it not dumpable? And which kind of recording object is dumpable? Thanks~

[2021-12-14 07:06] alejoe91 commented on #407
@Yuhao-Zhang-SV dumpable.means that the description of the object can be saved to dict or a json file and distributed across jobs. All objects loaded from a file are dump able, and this allows us to reload them in different jobs/processes from the same files. Numpy recordings/sorting are not dump able because you would need to add the entire data to the dict/json file, which is highly inefficient.

[2021-12-14 07:48] samuelgarcia commented on #407
In short NumpyRecording is the only none-dumpable source.
But some processing steps can also make the recording none-dumpable even most of then are dumpable.

[2021-12-14 14:58] emdezla opened #410 "Recording filtering and appending using ProbeGroup"
The probe I am using combines both **tetrodes** and **single electrodes** so I create a `ProbeGroup` for separating different channel groups. However, once I separate the recording by channel group as in this [tutorial](https://spikeinterface.readthedocs.io/en/latest/modules/sorters/plot_3_sorting_by_group.html), I am not able to filter the data and apply common-mode rejection because `st.bandpass

[2021-12-14 16:12] samuelgarcia commented on #410
Normally, SI is flexible to have make several use case:
 1. `split>filter>cmr` : here you need to loop.
 2. `filter>cmr>split` : here no loop because the filtering+cmr is done on on object

`run_sorters` accept both a dict or list of recording.

Normally `split` do not give list of segment but dict/list of sub recording (split on channels).

Could you show some code ?

[2021-12-14 17:23] alejoe91 commented on #410
Hi Emilio,

Your approach is correct, you can first split_by group, then apply preprocessing steps (the filtering step can be done before), and finally aggregate the output recording. Note that you can run spike sorting by property with a specific function. Here is the code:
[code]

The `aggregate_channels` allows you to concatenate channels over channels, which is what you need. YOu might need to

[2021-12-15 12:28] emdezla commented on #410
Thank you very much for your answers @samuelgarcia @alejoe91

I am still getting errors that most likely arise from my probe architecture, so let me give more details about it. My probe is a 32-channel probe (4 tetrodes and 16 single electrodes). In the previous version of SpikeInterface, I used to create a group for every tetrode and every single electrode, resulting in 20 channel groups in total

[2021-12-15 15:52] vincisLab commented on #346
Hello,

we are interested in doing exactly the same thing discussed here (comparing waveforms on different days of chronically implanted mice).
I  have been wondering why is the status of this addition.
Thanks for all the great work!

[2021-12-16 12:32] jjtukker opened #415 "installation not working for spikeinterface-gui and phy"
hi,
I just installed SpikeInterface on my Mac (OS 11.6), according to the instructions on https://github.com/SpikeInterface/spikeinterface/tree/master/installation_tips

When running the check_your_install.py it appeared there were some issues with spikeinterface-gui and phy:

(si_env) user-adm@BR-M-3016296dzne spikeinterface % python check_your_install.py
write_binary_recording with n_jobs 1  chu

[2021-12-17 19:55] rtraghavan commented on #387
Working on it now. Will hopefully come through soon.

[2021-12-17 21:44] rtraghavan opened #418 "suggestions for better memory management compute_pc for metrics"
It isn't clear to me where the major bottleneck is in computing principle components, but it seems to be quite memory intensive as a process. For a 30 minute neurpixel array 3A recording, executing compute_principle_components has a memory utilization roughly 1.6-2X the file size (70-80 TB).

One way around this I have thought is to extract waveforms and principle components for clumps of channels

[2021-12-18 15:56] jjtukker opened #419 "tridesclous errors on spikeinterface tutorial dataset"
hi,
I'm trying to work through the tutorial, on an Ubuntu server (xfce 4.14) and running into issues with several sorters (so far only mountainsort seems to work). For Trisdesclous, I get the following output:

sorting_TDC = ss.run_tridesclous(recording_saved,
                              output_folder='results_TDC',
                              verbose=True)
print(f'Tridesclous found {len(sorti

[2021-12-18 16:24] jjtukker opened #420 "Kilosort3 errors on tutorial dataset"
hi,
I'm sorry for all the issues, but I just keep hitting a wall trying out different sorters from within the Jupyter notebook tutorial (Python 3.8), on Ubuntu server (xfce4.14), with the standard dataset provided. So far only Mountainsort4 works..

For Kilosort3, here is the command I run:
sorting_KS3 = ss.run_kilosort3(recording_saved,
                              output_folder='results_KS3',

[2021-12-19 08:47] alejoe91 commented on #419
Hi, for TDC you need to install numba

`pip install numba`

[2021-12-19 08:48] alejoe91 commented on #420
Hi, is it possible that you are missing some Matlab toolboxes? Are you able to run the ks3 example from the repo?

[2021-12-19 10:31] alejoe91 commented on #384
Hi @MNS57

The `device_channel_indices` are the mapping between the electrodes and the recorded signals. Do you have a channel map for your data? What probe and connector are you using?

What kind of reference signal? How do you record it? If you want to re-reference your data, you can use the `st.common_reference` function. It enables to use either a common reference (e.g. median) or to rereferen

[2021-12-19 21:55] Yizhar-Lab opened #421 "compute_amplitudes_cutoff(we) returns 0.5 for all units in recording"
Hi,
Some of these units actually have nice bell-shape peak distributions like this:
![untitled](https://user-images.githubusercontent.com/1645851/146690470-bfdc90bb-7d57-41a6-876c-1c786acc80df.png)
Here's how I get the waveform extractor:
[code]
I can also provide the raw data files, if necessary to solve this. They're ~5GB.
Thanks!

[2021-12-19 22:34] Yizhar-Lab opened #422 "error trying to load waveforms from existing folder"
Hi,
Running
[code]
raises `ValueError: spikeinterface.Base.load() file_path must be an existing folder or file`, though I just created this folder using the same call exept for `load_if_exists=False, overwrite=True`.
Thanks!

[2021-12-20 08:51] alejoe91 commented on #421
Hi @Yizhar-Lab

I just tried with a test dataset and cutoffs seem to be computed correctly on my side:
![image](https://user-images.githubusercontent.com/17097257/146739312-2544e658-f89c-4746-8fa2-e740186316d5.png)

Note that in case the cutoff is higher than 0.5 it's set to 0.5 (see [here](https://allensdk.readthedocs.io/en/latest/_static/examples/nb/ecephys_quality_metrics.html#Amplitude-cutoff)

[2021-12-20 08:52] alejoe91 commented on #422
Can you paste the entire traceback? You have your recording and sorting.json in the folder? What type of recording are you using?

[2021-12-20 10:32] Yizhar-Lab commented on #422
Thanks for the fast response @alejoe91!
It seems that `extract_waveforms` creates recording.json and params.json, but not sorting.json in this folder, which corresponds to a sorting I created using `se.NumpySorting.from_times_labels()` based on a manual sorting I did previously. Contrastly, when I `extract_waveforms` from a sorting created by `ss.run_kilosort2()`, I do get a `sorting.json` in the

[2021-12-20 10:34] alejoe91 commented on #422
Ahhh! That's the problem! The `NumpySorting` is not dumpable, as it has all spike times and labels in memory. To solve this you can first save the sorting to to a folder - internally it saves the spiking info to npz (`sorting = sorting.save(folder='my-folder')`) and then use the returned `sorting` object, which is now dumpable as it's been saved to a file. I hope this clears things up :)

[2021-12-20 10:35] alejoe91 commented on #422
Anyways, we should have better checks and more informative error messages on our side, so thanks for opening the issue!

[2021-12-20 11:23] Yizhar-Lab commented on #421
Thanks @alejoe91!
Here's the [binary recording dat file](https://www.dropbox.com/s/v5y3uy9kozpwaqu/all_chans.dat?dl=0), the [manual sorting text file](https://www.dropbox.com/s/6ml2ukmefg0vq7n/Asaf_all_chans.txt?dl=0), the [dumped waveform extractor](https://www.dropbox.com/s/95oszaxh3qcnfaz/wfs_dump.pickle?dl=0), which includes "its version" of the recording and sorting,  in case that helps. (you

[2021-12-20 13:15] Yizhar-Lab commented on #421
P.S. I'm aware that 0.5 is the maximal value this metric can take and I've gotten realistic values from this function before. I guess there's something wrong with the extracted waveforms in this recording specifically, but I'm not sure what and why. Looking into the extracted waveforms with `wfs = we.get_waveforms(unit_id)`, gives me an `n_spikes`-by-`n_wf_samples`-by-`n_channels `array. Perhaps t

[2021-12-20 13:37] alejoe91 commented on #421
The best channel is computed based on the amplitude of the template (the average waveforms), which by default looks for the channel with the most negative amplitude. Is that the case for you recording?

How did you get the distribution showd above?

[2021-12-20 14:11] Yizhar-Lab commented on #421
Actually my recording has positive spikes. Can I specify this for a `NumpySorting`?

I got the distribution above just by calculating it manually - getting the peaks of the spikes from the correct (most positive amp) channel and taking their histogram.

[2021-12-20 14:29] alejoe91 commented on #421
Ah ok that might explain the mismatch. The easiest thing would be to transform the input data and invert the signal. Currently the [`transform` function](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/preprocessing/transform.py) is not ported yet to the new version. Alternatively, you should be able to pass the argument `peak_sign` to the compute metrics function, but I'm

[2021-12-20 14:35] alejoe91 commented on #421
Actually, calling `compute_quality_metrics` with the extra arg: `peak_sign="pos"` should fix it for amplitude cutoffs. Can you try?

[2021-12-20 15:08] Yizhar-Lab commented on #421
so `metrics = st.compute_quality_metrics(we, waveform_principal_component=pc, peak_sign="pos")`
gives `*** TypeError: compute_isi_violations() got an unexpected keyword argument 'peak_sign'`
while `amp_cutoffs = st.compute_amplitudes_cutoff(we, peak_sign="pos")` works and even returns one value (out of 16) that's smaller than 0.5, but the unit with the peak histogram above still incorrectly gets 0

[2021-12-20 15:11] Yizhar-Lab commented on #421
I guess I could try inverting the data, but it may cause problems with other analysis pipelines expecting these data to be positive... Anyway, if you do end up adding the `peak_sign` option, I'd appreciate it if you could mention it hear so I could try it out.
Thanks a lot again!

[2021-12-20 15:42] alejoe91 commented on #421
Ok, thanks for trying. I'll look at it in the next few days! I'll write here when I make a PR

[2021-12-20 16:33] MNS57 commented on #384
Hi @alejoe91

1. Although this is a solution from a different aspect of your answer, if the map shown in this code
    is same as our known spatial map of recording points' indecs, does it mean we gave the correct
    definition of recording points' indecs?

plot_probe(probe, with_device_index=True, ax = ax)

2. So, if we used a single external reference channel, is this the right code?

recording

[2021-12-20 17:11] alejoe91 commented on #384
Yes, if thie device indices correspond to what you expect from your configuration than it's correct.

Yes, this is the right code tp rereference everithing to channel `1`. However, I would also suggest you can try to use common median reference as it usually removes a lot of common noise:

recording_cmr = st.common_reference(recording, reference='global', operator='median')

Cheers
Alessio

[2021-12-25 06:53] MNS57 commented on #384
Thank. We could start a spike sorting!

Then, in running a spike sorter like:
sorting_SS = ss.run_spykingcircus(recording=recording_f_clean, detect_threshold=4)

We met this following error... how we can solve it?
    File ".../extractors/spykingcircusextractors.py", line 53, in __init__
    raise Exception(spykingcircus_folder, " is not a spyking circus folder")
    Exception: (PosixPath('spyking

[2021-12-25 08:13] alejoe91 commented on #384
Hi,

Seems to be a spiking circus problem. Please refer to the spyking circus documentation and open an issue there.

For changing parameters, you can just pass additional parameters in the `run_` function (see here for an example: https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html )

[2021-12-25 08:13] #403 closed

[2021-12-25 08:14] #407 closed

[2021-12-25 08:15] #315 closed

[2021-12-25 08:16] #343 closed

[2021-12-25 08:16] #345 closed

[2021-12-25 08:16] #367 closed

[2021-12-25 08:16] #371 closed

[2021-12-25 08:17] #385 closed

[2021-12-26 04:58] MNS57 commented on #384
Hi,

Thanks.

About the second issue, we will be able to set parameters.
But, we could not change the parameter called "max_clusters"... is the name slightly different in spikeintereface?

About the first issue, I suppose this file "..../spikeinterface/extractors/spykingcircusextractors.py" is one file developed in spikeinterface... is how we can interpret it as an issue in spiking circus?

[2021-12-26 09:40] alejoe91 commented on #384
You can use the `ss.get_params_description('spkyngcircus)` to get a list of the available parameters and description for a sorter.

The problem is that spykingcircus is non finishing correctly, so Spikeinterface cannot load the output. You can check the `log` file in the output folder to see the output from spykingcircus and you'll see some errors are raised there, so spyking circus is failing. Ma

[2021-12-28 07:36] MNS57 commented on #384
Sure. I ask the developer of spyking circus ... Sorry, I'm not familiar with the usage of GitHub, so we will ask by e-mail.

At your side, could you add the option of "max_clusters" in the program of ss.run_spykingcircus?   It's an essential parameter in our understanding.

[2021-12-28 09:22] alejoe91 commented on #384
You can open an issue from here: https://github.com/spyking-circus/spyking-circus/issues

I don't find the `max_clusters` parameter. See SpykingCircus config file here: https://spyking-circus.readthedocs.io/en/latest/code/config.html
Can you point me to it?

[2021-12-28 09:38] MNS57 commented on #384
OK. Although we once asked directly by e-mail, we will add the following issue there.

This may be one of reference pages about the parameter, although I don't know if this is the best page:
https://spyking-circus.readthedocs.io/en/latest/advanced/tuning.html

[2021-12-28 09:43] alejoe91 commented on #384
Thanks. Still I can't find it in the [params file](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/spyking_circus/config_default.params) that we ported from spyking circus, so maybe this is another thing to ask on the spyking circus page.

[2021-12-28 10:00] MNS57 commented on #384
I think you need to add "max_clusters   =  ~~" in the section of [clustering]
in the parameter file as well as other parameters.

Does spikeinterface produce such parameter file internally?

[2021-12-28 10:57] alejoe91 commented on #384
It's copied from the spykingcircus repo: https://github.com/spyking-circus/spyking-circus/blob/master/circus/config.params

[2021-12-28 10:59] alejoe91 commented on #384
@yger what is the default to `max_clusters`? Is there a reason why it's not in the config.params in the SC repo?

[2021-12-31 09:32] khl02007 opened #424 "concatenating times of recordings"
@alejoe91 right now a concatenated recording doesn't concatenate the times of the constituent recordings. from the [docstring](https://github.com/SpikeInterface/spikeinterface/blob/e3c694115f512267634b2037d46e8e02812f5ccd/spikeinterface/core/segmentutils.py#L85) this seems like an explicit design decision. is there a reason why? it would be very useful for us to be able to concatenate the recordin

[2021-12-31 14:23] alejoe91 commented on #424
@khl02007 indeed this was a design choice (after lots of discussion with @samuelgarcia). We'd be happy to discuss if it makes sense to relax this choice or find other solutions. Let's organize a call in the new year :)

[2022-01-01 22:28] khl02007 commented on #424
@alejoe91 sure, let me know. my use case is that I have a long recording with timestamps, and I want to select disjoint intervals within the recording and sort them together. I thought I would frame_slice them and concatenate, but I also want the same to happen to the times. Should I just slice the timestamps manually and use `set_times` to add it to the concatenated recording? doctstring says usi

[2022-01-02 06:58] khl02007 opened #425 "making a recording json serializable?"
@alejoe91 this is related to the old spikeextractors, sorry if this isn't the place to post. basically I'm trying to load an old recording extractor, convert it to a new recording (si >0.90), and then save it using the new API. Please see the example and error message below (of course in this case I should just open the file with the new API; my real problem is that some of the other stuff that we

[2022-01-02 16:57] alejoe91 commented on #425
Hi @khl02007

The problem is that the old extractor also has the `is_dumpable` field but the dumping mechanism is slightly different. To solve this you can set the `is_dumpable` to `False` in the conversion class (just to test you can try to add `new_r.is_dumpable=False` before the `save` function)

[2022-01-02 21:41] khl02007 commented on #425
@alejoe91 thanks, that solved the problem. Should I submit a PR to set `is_dumpable = False` in the `OldToNewRecording` class?

[2022-01-03 07:04] alejoe91 commented on #425
Yes please :)

[2022-01-03 11:00] samuelgarcia commented on #419
And also you will need maybe to downgrade numpy to 1.20

[2022-01-03 11:02] samuelgarcia commented on #420
To debug this you can truy to run from matlab the script `kilosort3_master.m` which is generated in your folder.

[2022-01-03 11:29] samuelgarcia commented on #424
I think we can relax this behavior with one option  and also good time checker functions across segment to not allow overlapping time vector or none increasing time across segment.

The set_times is not recommended for **spike sorting** because it is a super heavy attribute to recording pobject that slow down a lot the multi processing stuff because the full time vector is copied across process.
N

[2022-01-03 18:51] alejoe91 opened #426 "Propagate properties in old to new API wrapper"

[2022-01-05 19:03] khl02007 commented on #425
@alejoe91 another Q: when I load the old recording and turn it into a new recording, and then apply whitening prior to e.g. saving, I find that I have to set `is_dumpable=False` again. Should anything be changed to make `is_dumpable` persist?

[2022-01-05 21:04] alejoe91 commented on #425
Ideally the check on `is_dumpable` should be recursive, but I'll double check!

[2022-01-06 07:40] samuelgarcia commented on #425
`is_dumpable` is an attribute. I wanted to rewrite it since long time and turn it into a function since long time but never find time to do it. With function approach it would be more easy maybe to handle the parent/children propagation of this when preprocess.

[2022-01-07 08:48] #426 closed

[2022-01-07 09:09] alejoe91 commented on #421
We are working on a fix here:https://github.com/SpikeInterface/spikeinterface/pull/430

[2022-01-07 09:11] alejoe91 commented on #419
does it help?

[2022-01-07 09:14] alejoe91 commented on #418
HI @rtraghavan

Sorry for our late reply and thanks for the issue! I think you mean 70-80 GB (not TB) right?

One thing we are discussing is to add the possibility to compute PC on sparse channels (e.g. based on radius around max channel, or best channels - see [this function](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/toolkit/postprocessing/template_tools.py#L93))

[2022-01-07 09:21] alejoe91 commented on #410
Hi @emdezla

Note that you cannot use common reference on a dictionary (`st.common_reference(recording_split)`), but you need to loop over the recordings and apply CMR separately. Also note that you can;t apply CMR to a single channel because in that case the channel will become blank (the median of a single channel is the value of the trace).

Regarding the `run_sorter_by_property`, it doesn't re

[2022-01-07 09:23] alejoe91 commented on #405
Hi, sorry for the late reply. Can you `save` the numpy recording fisrt before applying any preprocessing? (`recording = recording.save(fodler='my-folder')`. This will fix all "dumpable" issues

[2022-01-07 09:25] #399 closed

[2022-01-07 09:27] #397 closed

[2022-01-07 09:27] #393 closed

[2022-01-07 09:28] #384 closed

[2022-01-07 09:30] #357 closed

[2022-01-07 09:30] #348 closed

[2022-01-07 09:31] #340 closed

[2022-01-07 09:32] #347 closed

[2022-01-07 09:33] #326 closed

[2022-01-07 09:34] #318 closed

[2022-01-07 09:34] #244 closed

[2022-01-07 09:34] #325 closed

[2022-01-07 09:35] #226 closed

[2022-01-07 09:38] #405 closed

[2022-01-07 16:03] luiztauffer opened #433 "Import errors in `quality_metric_calculator.py`"
The items `calculate_pc_metrics` and `_possible_pc_metric_names` are being imported from the wrong module here:
https://github.com/SpikeInterface/spikeinterface/blob/aef899ffb658688a7fd67de7815ab4cbba547acd/spikeinterface/toolkit/qualitymetrics/quality_metric_calculator.py#L4-L5

it should be instead:
[code]

error track:
[code]

[2022-01-07 19:02] jjtukker commented on #420
Thanks for your input!
I have a campus license (R2021a) with pretty much all toolboxes, so I don't think that can be an issue.

kilosort3_master.m actually appears to run fine, it gets beyond the point that the tutorial gets stuck at (which appears to be extract_spikes).

Turns out the issue is related to CUDA:
spikedetector3.cu was in the matlab path but there was no spikedetector3.mexa64 (note t

[2022-01-07 19:10] guitchounts opened #435 "Mismatch in number of spikes and spike amplitudes"
When sorting a short snippet of a recording, `export_report` fails because the number of spikes is always larger (by one) than the number of amplitudes. Example code:

[code]

For example, `len(amplitudes[0])` is 50602 while  `sorting_MS4.get_all_spike_trains()[0][0].shape` is 50603. As a result, `export_report(we, '%s/tmp_MS4/report' % base_path,remove_if_exists=True)` fails. This is true for sev

[2022-01-07 21:54] jjtukker commented on #419
YES it works now with numba (0.54.1) and numpy 1.20.3
Thanks a lot!

[2022-01-07 21:54] #419 closed

[2022-01-08 09:07] alejoe91 commented on #435
Hi, thanks for the issue. I think that the problem arises when a spike is at the edge of the recording. @samuelgarcia can you confirm? In any case, we have to fix this soon

[2022-01-09 22:40] guitchounts commented on #435
Hi Alessio, thanks for checking on this. I can confirm that it does work for different durations of the same data, so you're probably right about there being spikes at the very edge.

[2022-01-10 08:38] samuelgarcia commented on #435
Hi Grigori.
Thanks for the feed back.
I will have a look, it must a border effect.
I guess that if you change the chunk_size in `amplitudes = st.get_spike_amplitudes(we, peak_sign='neg', outputs='concatenated')` then the bug must have various effect no ?
I will try to fix it soon.

[2022-01-10 13:59] samuelgarcia opened #437 "Add params checker when load_if_exists for waveform extentions"
We load again a waveforms extension with differents params we should raise error.

[2022-01-10 14:56] samuelgarcia commented on #435
Other question : could you help me a do `print(peak_shifts)` line 88 in spike_amplitudes.py ?

Or easier give me the data rec+sorting) that trigger the bug.

[2022-01-11 05:12] guitchounts commented on #435
Hi @samuelgarcia thanks for the new code. I tried your branch and it seems to have fixed the issue: same number of spikes in `amplitudes` and `sorting_MS4.get_all_spike_trains()[0][0].shape` and `export_report` now works. Although for whatever reason `export_report` took about 25 minutes for a 20-second recording snippet, but that's a different issue

[2022-01-11 10:04] samuelgarcia commented on #435
Hi Grigori.
Can you confirm that the very long time is due to amplitude ?

[2022-01-11 12:49] yger opened #442 "Waveforms extractor and memory usage"
It would be nice if the WaveformExtractor could have an option not to cache all the waveforms in memory. Because for large recordings, a call to waveform.get_all_templates() for example is consuming almost all the memory, since waveforms are loaded, but kept by the objects internally. Why such a behavior?

[2022-01-11 12:58] samuelgarcia commented on #442
It is on my todo list.

[2022-01-11 13:04] samuelgarcia commented on #435
For me `compute_spikes_amplitudes` is not so slow:
 1800.000s 32 channel 15 units with n_jobs=4 it take me 18s to extract ampltiudes on a very old computer.

Could you all steps one by one to track what is slow ?
Like this
[code]

before
`export_report`

[2022-01-11 14:47] guitchounts commented on #435
Hi Samuel,

Some stats: the recording snippet is 20 seconds long, from a 64-channel array. I'm running this on an 8-core node with 32GB RAM. Here's what I got:

`extract_waveforms finished in 10.83 seconds`
`compute_principal_components finished in 25.54 seconds`
`compute_quality_metrics finished in 389.15 seconds`
`compute_spike_amplitudes finished in 1.19 seconds`

By the way, `compute_principal

[2022-01-11 14:58] samuelgarcia commented on #435
Yes you are right job_kwargs are only for `compute_spike_amplitudes`.
parralell compute for other not done yet.

So ampltiudes is super fast!!

The slow come from quality_metrics.
How many units ?
Which `metric_names` do you compute ?

[2022-01-11 14:59] #435 closed

[2022-01-11 15:16] guitchounts commented on #435
This has 132 units. QC computes `num_spikes`,	`firing_rate`,	`presence_ratio`,	`snr`,	`isi_violations_rate`,	`isi_violations_count`,	`amplitude_cutoff`,	`isolation_distance`,	`l_ratio`,	`d_prime`

[2022-01-11 15:40] lkeegan opened #444 "preprocessing.scale causes write_binary_recording AssertionError"
The `se.read_intan` function returns a recording with `dtype='uint16'`

If I then call `ss.run_kilosort2_5` on this recording, the raw data is written to disk as int16, so any values > 2^15 are then implicitly cast to negative values.

I tried to fix this by first re-scaling the values using:

`recording_processed = st.preprocessing.scale(recording, offset=-32768, dtype='int16')`

This seems to wo

[2022-01-11 16:12] lkeegan commented on #444
It looks like `__init__` gets called twice
- the first time `gain` is initially 1 and is replaced with a 1x64 array of ones
- the second time `gain` is initially a 1x64 array of ones, and gets replaced by a 1x1x64 array, which then causes the assert error

#445 seems to fix this, at least for me

[2022-01-11 19:26] #444 closed

[2022-01-11 20:16] alejoe91 commented on #433
@luiztauffer fixed in master

[2022-01-11 20:16] #433 closed

[2022-01-13 11:46] #421 closed

[2022-01-13 11:46] alejoe91 commented on #421
@Yizhar-Lab fixed via https://github.com/SpikeInterface/spikeinterface/pull/449

Basically we have to make the amplitudes negative before computing the amplitude cutoff

[2022-01-13 11:47] alejoe91 commented on #442
duplicate of https://github.com/SpikeInterface/spikeinterface/issues/331

[2022-01-13 11:50] alejoe91 commented on #225
@samuelgarcia is this fixed?

@luiztauffer can you make a PR with the `ros3` argument in th NWB extractors?

[2022-01-13 11:52] alejoe91 commented on #420
can you try to re-install Kilosort3?

[2022-01-13 11:53] alejoe91 commented on #246
@Alexis-Melot any update on this?

[2022-01-13 11:54] alejoe91 commented on #346
Implemented here: https://github.com/SpikeInterface/spikeinterface/pull/366

[2022-01-13 11:54] #346 closed

[2022-01-13 11:55] alejoe91 commented on #387
https://github.com/SpikeInterface/spikeinterface/issues/418

[2022-01-13 11:57] alejoe91 commented on #330
@Dradeliomecus after some discussion we think that the best option is to pre-select units. In fact, if we allow to compute users on a subset of units then it would be hard to keep track of which units have been already computed or not.

Thanks for raising the issue though! Happy to discuss more but closing for now

[2022-01-13 11:57] #330 closed

[2022-01-13 16:16] alejoe91 commented on #402
@Yizhar-Lab

- Phy exports quality metrics with this PR: https://github.com/SpikeInterface/spikeinterface/pull/450
- The WaveformExtractor `select_units` has been implemented (https://github.com/SpikeInterface/spikeinterface/pull/443 and https://github.com/SpikeInterface/spikeinterface/pull/448)

Closing this

[2022-01-13 16:16] #402 closed

[2022-01-13 16:17] alejoe91 commented on #314
@Erik2020-Neuronz can we close this?

[2022-01-13 16:24] Alexis-Melot commented on #246
sorry I forgot to respond, I reinstalled my work environment on ubuntu and it worked smoothly somehow
thank you for your help !

[2022-01-13 16:46] #246 closed

[2022-01-14 11:40] alejoe91 commented on #442
https://github.com/SpikeInterface/spikeinterface/pull/451

[2022-01-14 11:40] #442 closed

[2022-01-14 11:55] #331 closed

[2022-01-14 12:20] exarchou opened #453 "Add timeout to klusta sorter execution"
I am using the spikeinterface to sort Open Ephys Recordings. Among different sorters I also use klusta sorter with the command "**_ss.run_klusta()_**". Due to the content of the data, I often observe that klusta sorter requires too long time to execute. I would like to limit its execution time to a specific period, which if exceeded, klusta will be terminated and return the neurons it has identifi

[2022-01-14 15:32] JuliaSprenger opened #455 "Generic sorter output"
From what I have seen when running sorters in containers, the output format of a `run_sorter` call is specific to the sorter used. Each format can be loaded by the corresponding sorter specific extractor for further usage. At least some of those extractors require the original sorter to be installed, e.g. in the case of tridesclous. When the sorting is performed locally this approach works fine as

[2022-01-14 16:06] alejoe91 commented on #455
Hi @JuliaSprenger

I think this was changed with the last refactor. In my opinion, we should add the following lines [here](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/runsorter.py#L256):
[code]

Then [here](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/runsorter.py#L351) the loading would be would be:
[code]

What do yo

[2022-01-14 19:16] khl02007 opened #457 "Can't write frame sliced nwb recording to binary"
I get an error related to h5. Here is what I tried:

[code]

Error:
[code]

[2022-01-14 19:31] alejoe91 commented on #457
Same error if you do `recordinf.get_traces()`

[2022-01-14 19:37] khl02007 commented on #457
Yes it seems so

[2022-01-15 07:49] khl02007 opened #459 "`UnitsMergeSorting`"
`UnitsSelectionSorting` is very useful because it allows the user to select certain units based on e.g. quality metrics. I was wondering if it would be a good idea to have a class like this but for merging; e.g. merges a set of pairs of units specified by the user and returns the modified sorting object. Given that discarding bad/noise units and merging overspilt units are probably the two things

[2022-01-15 11:30] alejoe91 commented on #457
@khl02007 can you send me the NWB file? Can you access the electrical series data through the pynwb API outside of SI?

[2022-01-15 11:31] alejoe91 commented on #459
Related to https://github.com/SpikeInterface/spikeinterface/issues/254

[2022-01-15 14:21] ChrisCurrin opened #460 "maxwell h5 filter insider docker"
I have maxwell-compressed .h5 data files that need their "filter" (as HDF5 consortium call them) to be read.

Locally, I set the `HDF5_PLUGIN_PATH` environment variable to the folder that contains their 'filter'.

Unfortunately, this environment variable is lost when creating a docker container.

Suggestions:

1. it may be useful to allow `run_sorter_docker` to have an environment keyword argument

[2022-01-16 05:57] khl02007 commented on #457
@alejoe91 The NWB file is >1TB. What would be a good way to send it to you?

I can access the electrical series from this file using `pynwb`. I can also do so with `get_traces` from the `NwbRecordingExtractor`. But it gives an error when I do `frame_slice` and then `get_traces`. Are you unable to reproduce this issue with a test nwb file you have?

[2022-01-16 06:15] khl02007 commented on #457
Using pynwb 1.4.0 and hdmf 2.5.1

[2022-01-16 10:03] khl02007 commented on #457
I found that during save, when we get to NwbRecordingSegment, the electrical series data cannot be accessed. I printed the electrical series during instantiation
[code]
and just before get_traces
[code]
they are in the same memory location but the data field is not present in the second one.

I also noticed that the NwbRecordingExtractor is re-instantiated upon save? Is there a reason for this?

B

[2022-01-16 16:51] alejoe91 commented on #457
Thanks for digging deeper. I think that the problem is due to the fact that we keep the io open until a `__del__` is called. Using the same variable name deletes the object, so the `nwbfile.acquisition` is not accessible anymore.

@samuelgarcia maybe we should switch back to opening the file with the context in the segment too to avoid this weird behavior

[2022-01-17 07:35] samuelgarcia commented on #455
Hi Julia,
yes you are right. This is something that I had in mind since long time.
tridesclous is the only sorter that need to be install for read the output.  All other sorters don't dpeend on the package but on neo or directly si for reading the output.
Since tdc was easy to install in any case it was not a problem.
Now TDC is pain because of hdbscan/numba/numpy and so it became a problem.
I wil

[2022-01-17 07:40] samuelgarcia commented on #459
Hi Kyu.
Yes this is something we have in mind. Merge and also split.
After this we wanted to write a class (manual cleaner) that keep history of select(aka trash)/split/merge actions.
And we could extend the spikeinterface-gui with that in mind.
It is a quite big piece of work.
I now focus on sorting_component and drift correction after this we will maybe go for that.

[2022-01-17 07:52] samuelgarcia commented on #460
Hi Christopher,
yes this kinf of detail is a pain when using docker.
Globally this plugin stuff of maxwell is a pain.

Normally neo have a way to auto install the plugin. See https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/maxwellrawio.py#L222
Maybe you could install in the docker image before running the sorter.

But, yes, definitivelly we need to had more option for binding in

[2022-01-17 08:03] samuelgarcia commented on #457
I don't think so. Open+check/close the file for every chunk is a total perf killer.
Lets discuss this in detail.

[2022-01-17 08:04] samuelgarcia commented on #457
I think we need to move the ownership to the recordingsegment. And it should fix the stuff.

[2022-01-17 10:23] JuliaSprenger commented on #455
@samuelgarcia  Ok, then I leave this to you to decide which solution you prefer and don't include a fix for this in https://github.com/SpikeInterface/spikeinterface/pull/440

[2022-01-17 18:03] #457 closed

[2022-01-17 19:24] alejoe91 commented on #453
Hi @exarchou

Unfortunately, that is not possible..
Also we recommend upgrading the the new API (spikeinterface>=0.90), which has a lot of improvements and bug fixes.

Cheers
Alessio

[2022-01-17 19:26] samuelgarcia commented on #453
And a cool GUI! https://github.com/SpikeInterface/spikeinterface-gui

[2022-01-18 09:45] JuliaSprenger opened #466 "TridesclousSortingExtractor requires write permission"
When reading a tridesclous sorting of files with read-only permission the TridesclousSortingExtractor fails due to a PermissionError.
[code]

I don't think the writing permission should be required for extracting the sorting information. Maybe it would be good to introduce a reading mode flag here?

[2022-01-18 20:49] JuliaSprenger commented on #466
It is the output of a sorting run in a docker container. But I could also imagine sorting results being read-only for some users on purpose.

[2022-01-19 04:52] MNS57 opened #469 "Error message from spykingcircusextractors.py"
Dear Buccino

From some point (initially it was fine), the spikeinterface started to say this error message.
Could you give any advice to solve it?

File "/home/nom/.pyenv/versions/anaconda3-2018.12/lib/python3.7/site-packages/spikeinterface/extractors/spykingcircusextractors.py", line 42, in __init__
    assert isinstance(parent_folder, Path) and isinstance(result_folder, Path), "Not a valid spyk

[2022-01-19 07:30] alejoe91 commented on #469
Hi, or seems that spike sorting has failed. Can you attach the spikeinterface_log.json in the output folder?

[2022-01-19 07:38] MNS57 commented on #469
Thanks! -- This is it.

{
    "sorter_name": "spykingcircus",
    "sorter_version": "1.1.0",
    "datetime": "2022-01-19T13:46:37.076656",
    "runtime_trace": [
        "",
        "##################################################################",
        "#####             Welcome to the SpyKING CIRCUS              #####",
        "#####                        (1.1.0)

[2022-01-19 07:40] MNS57 commented on #469
Oh... The error is obvious... we check this point.

"| SpyKING CIRCUS does not work with OPENMPI >= 3.0",
"| Consider downgrading or switching to MPICH",

[2022-01-19 07:47] alejoe91 commented on #469
When something's off with spike sorting, always look at the log file! 😊

[2022-01-19 07:57] MNS57 commented on #469
We appreciate the $100 million comment.

[2022-01-19 08:00] #469 closed

[2022-01-19 22:53] jjtukker commented on #420
thanks for your suggestion!
I re-installed kilosort from the tutorial jupyter notebook.
This seemed to work (after I removed the previous Kilosort directory):
!git clone https://github.com/MouseLand/Kilosort
Cloning into 'Kilosort'...
remote: Enumerating objects: 3189, done.
remote: Counting objects: 100% (144/144), done.
remote: Compressing objects: 100% (100/100), done.
remote: Total 3189 (delta

[2022-01-20 09:15] alejoe91 commented on #420
@jjtukker I would open an issue on the Kilosort github repo. I'm sure they can help more than use for this specific installation issue!

[2022-01-20 10:15] jjtukker commented on #420
unfortunately the kilosort repo does not seem to be responding to any issues, at least none that I could see going back to August.. I posted this issue there anyway (https://github.com/MouseLand/Kilosort/issues/469 ), but I'm afraid this means kilosort is just off the table for now. Thanks anyway for the comment!

[2022-01-21 17:34] miketrumpis opened #473 "Portability issue: hard-coded paths used for WaveformExtractor.load_from_folder"
I believe this is a distinct issue, although it is at least a cousin to #422

The scenario is using spikeinterface 0.92.0 and mountainsort 1.0.0. Following a successful first-time run of these commands, the waveform extract directory is created.

[code]

The issue here is that the `recording.json` and the `sorting.json` files in the extraction directory refer to full paths for the raw data and the

[2022-01-21 18:23] samuelgarcia commented on #473
We norammly have machanism for relative path when do `.save()` for rec or sorting.

Maybe we haven't done this for waveform extarctor. We should do it.

@alejoe91 : could have a look ? and add the `relative_to=` option in waveform extractor dump ?

[2022-01-24 01:26] guitchounts commented on #387
Hi everyone, was this issue solved? I'm running into the same problem and this is affecting downstream computation of quality metrics. While each of my extracted units has multiple spike times (e.g. lowest is a unit with 11 spikes, but many have hundreds or thousands of spikes), for whatever reason the saved waveforms have 0 spikes for a bunch of units. Is the PC error due to there being no spikes

[2022-01-24 11:17] caniko opened #474 "Feature request: Run `TridesclousSortingExtractor` inside container (avoid package installation altogether)"
I couldn't run `tridesclous` without installing the package even though I was using docker/singularity image (tried with both). I want to avoid installing the package, and run on containers. Seems that the `TridesclousSortingExtractor` is still required.

Snippet that raises error:
[code]
Output:
[code]

[2022-01-24 11:20] alejoe91 commented on #474
Hi @caniko!

Nice to hear from you! This happens only with TDC, because the extractor relies on the TDC package itself to load the spike sorting output. See these two issues (https://github.com/SpikeInterface/spikeinterface/issues/455 and https://github.com/SpikeInterface/spikeinterface/issues/466) for a discussiona about this.

For other sorters, everything should work fine ;)

[2022-01-24 11:27] caniko commented on #474
Will keep this in mind, thank you!

[2022-01-24 11:59] caniko opened #475 "`kilosort3` not detected in Docker container"
I tried running `kilosort3` through the docker image on the tutorial dataset. Python in the container fails to detect `kilosort3`.

Snippet:
[code]

Output:
[code]

[2022-01-24 12:35] samuelgarcia commented on #475
I don't think docker for KS are functional yet.
Please also open an issue here : https://github.com/SpikeInterface/spikeinterface-dockerfiles
@magland : any news on docker for KS ?

[2022-01-24 13:39] caniko opened #476 "Feature request: Use `gputouse` keyword argument in `run_<sorter that supports GPU>()`"
I couldn't find any argument that would allow me to select the GPU I want to use in multi-gpu systems for sorting functions.

Select GPU by index pseudo documentation:
[code]

Docker supports GPU-passthrough on all major platforms; including Windows (WSL 2 required). Seems to also be possible on [Singularity](https://github.com/apptainer/singularity/issues/4518#issuecomment-678545845).

[2022-01-24 14:01] alejoe91 commented on #476
That would be a good addition! Can you make a PR Can?

[2022-01-25 16:06] samuelgarcia opened #478 "Add the channel location with probeinterface for biocam file"
Add the channel location with probeinterface for biocam file

[2022-01-25 16:08] samuelgarcia commented on #478
#368

[2022-01-25 16:28] #478 closed

[2022-01-27 21:41] matiasandina opened #482 "General issues with the easy install in Ubuntu 20.04"
Hello,
I am sorry if you prefer to chunk this in multiple issues, I thought it would be convenient to go at it all together, since I have solved some of them. I am happy to chunk it and add some suggestions/PR if you want me to.

### First check

I am trying to follow the install in `Ubuntu 20.04`. I created an environment using `conda` and the windows `.yml` file provided for the easy installatio

[2022-01-28 08:55] samuelgarcia commented on #482
Hello.
Thanks for report.

About the installation pf **herdingspikes**.
Yes, i think that herdingspikes need to have numpy already installed.
So the first install in the yaml do not work.
You should ask to the dev of herdingspikes.

About **spikeinterface-gui** issue : if you want it to work properly, for now you should work from source for both spikeinterface and spikeinterface-gui. We plan a rel

[2022-01-28 16:28] matiasandina opened #484 "`plot_timeseries` not showing traces"
I am experiencing some issues with `plot_timeseries`. Not sure if I'm missing something on my end.
First, I couldn't get the expected results from command line. I guess it's something related with `matplotlib` backend. If possible, it would be nice to have this command line compatible and not force the pipelines towards notebooks.

When running on a `jupyter lab`, I could reproduce the example in

[2022-01-28 16:34] alejoe91 commented on #484
Hi @matiasandina

Could it be that the plot doesn't show because of the `memmap`? Can you plot directly `traces0` with matplotlib?

Cheers
Alessio

[2022-01-31 13:58] matiasandina commented on #484
Hello, I'm sorry the delay. After a reboot from my system for other reasons, I couldn't reproduce this error...Looks like there was something messing up the environment, but it's gone.

[2022-01-31 14:26] alejoe91 commented on #484
Great to hear! Closing then :)

[2022-01-31 14:26] #484 closed

[2022-02-01 11:13] h-mayorquin opened #486 "NeuroScopeRecordingExtractor fails to initialize when not every channel has a group in XML file"
Hi, this is most likely a `neo` issue. The following XML file comes from one of our conversions in CatalystNeuro.

https://www.dropbox.com/s/oyjq3qnh63fpngp/DT1_rLS_20150723_1584um.xml?dl=0

When the class is initialized with the data corresponding data of the XML file
 the following error arises:

![image](https://user-images.githubusercontent.com/6429509/151957970-e7686926-138f-4a33-ad52-8d8d171

[2022-02-01 11:24] alejoe91 commented on #486
Thank you @h-mayorquin

I think this should be an easy fix in NEO. Do you want to give it a try? Can you open an issue there too?

[2022-02-01 13:46] samuelgarcia commented on #486
Hi. Yes the fix fix sounds easy. Is this channel_group used for something else than the channel name in the code ?

[2022-02-01 13:46] samuelgarcia commented on #486
You should open an issue on neo.

[2022-02-02 09:21] alejoe91 commented on #473
@miketrumpis can you test this PR https://github.com/SpikeInterface/spikeinterface/pull/485?

You can now extract waveforms with the `use_relative_path=True` argument so that recording and sorting paths are relative to the waveform folder paths (provided they are on the same drive)

[2022-02-02 14:12] #473 closed

[2022-02-03 08:59] h-mayorquin commented on #486
Yes, I can give it a try in Neo. I just wanted to double check that it made sense as an error. I will open an issue there and a PR there.

[2022-02-03 15:02] paul-aparicio opened #495 "A few questions"
Hello! I had a few issues, I hope its ok to put them in a single post. Thanks for any help.

(1) In the old version of spikeinterface ```remove_bad_channels``` had an option to explicitly list bad channels for removal. It doesn't seem to have this option any more, is there another way to accomplish this?

(2) When I run ```compare_multiple_sorters``` I get the error below over and over again, but

[2022-02-03 15:15] samuelgarcia commented on #495
1. now you can `sorting_clean = sorting.select_units(keep_unit_ids)` you handle the list you want to keep.

2. We need to have a look. You can do n_jobs=1 but it will be slow.

3. there is normally a tolerance ratio to allow small diff in sampling rate. Can you display sampling rate for all your sorting objects ?

4. If they are not in the list : no. But you can make a small patch to handle this o

[2022-02-03 15:51] alejoe91 commented on #495
Actually it's:
[code]

[2022-02-03 20:04] khl02007 opened #497 "Feeding multi segment recording to sorters"
@samuelgarcia @alejoe91

https://github.com/SpikeInterface/spikeinterface/pull/489

[2022-02-03 20:10] khl02007 commented on #424
@alejoe91 I think this was resolved with https://github.com/SpikeInterface/spikeinterface/pull/489. feel free to close

[2022-02-03 20:38] #424 closed

[2022-02-03 23:03] skeltoh opened #498 "Good setups for low density arrays"
I'm trying to setup a pipeline to spikesort recordings using 16 channels, 150um spacing arrays, with minimal subjective curation.  Does anyone have any good starting points for setups that have worked with similar recordings, including the spike sorting software and settings? It seems like most of what I've tried (spyking circus, kilosort2) is making assumptions based on denser arrays, and giving

[2022-02-04 08:19] samuelgarcia commented on #498
Did you try tridesclous ?
tridesclous is quite a big conservative for total unit number.
Note that tridesclous is a bit complicated to install due to numpy version constrain. See [this](https://github.com/SpikeInterface/spikeinterface/tree/master/installation_tips)

Also not that you should also try the spikeinterface-gui. This is a good help to understand why some sorter given a parameters set gi

[2022-02-04 15:05] agbondy opened #500 "Correction for differences in sampling time across channels"
Neuropixels (and other MUAs) generally do not sample each channel at the same time due to bandwidth limitations. So nominally simultaneous data points actually reflect non-simultaneous events. The exact offset between sampling times of each channel is known. For Neuropixels probes acquired through spikeGLX, there is an existing tool ([catgt](https://billkarsh.github.io/SpikeGLX/help/catgt_tshift/c

[2022-02-04 15:10] alejoe91 commented on #500
Hi @agbondy

We are aware of this and porting the IBL code to remove such offsets in on our (long) TODO list :)
My estimate is that we could get it done by the end of february.

[2022-02-07 20:32] matiasandina opened #505 "Channel maps for tetrode arrays"
In the past, we have used Kilosort2 to do sorting. Because we are using 64 channel tetrodes, and the recommendations from Kilosort is to give each tetrode a different `kcood` and somewhat disregard the `xcoods` and `ycoords`, we have used this type of channel map.

[code]
Following the Probe generator example in the `probeinterface` documentation [here](https://probeinterface.readthedocs.io/_/down

[2022-02-08 07:45] samuelgarcia commented on #505
I am not totally sure what *kcoords* is in KS. I guess it is simply the grouping.

Almost all sorter use coordinates. Theses coordinate are mostly used for neightboors.
There are supposed to be micrometer.
If you have true wire tetrode, you can use `generate_tetrode()` which in fact make a small circle.
You could also use manual linear coordinate like you do.

The grouping in spikeinterface by def

[2022-02-08 18:49] matiasandina commented on #505
I'm sorry if I wasn't clear. Check the notebook [here](https://gist.github.com/matiasandina/3ac23e8f427e435194129ca709a7411a)
We are trying to get reproducible results from different clusters, my main issue is understanding how to give information about our 64 channel tetrode array to the different sorters. If the positions are used differently, then the sorting will be different and will lead to

[2022-02-08 22:43] cxrodgers commented on #329
Hi Sam, it's been a while! Hope you are well. I came across this page because I am having the same error. Also using an OpenEphys file with two types of data streams, 64 neural channels and 6 accelerometer channels.

[code]

[2022-02-09 07:38] samuelgarcia commented on #329
Hi Chris,
Cool to see you here.
I really to fix this soon.
I am procrastinating a bit on that particular point. The todo list is so big!
I promise I will do it soon.

[2022-02-09 08:29] alejoe91 commented on #329
Don't trust him @cxrodgers ahahah! Just kidding, should be a quick fix!

[2022-02-09 13:37] cxrodgers commented on #329
Ha I'm sure you have many things to work on! This is not so urgent, at least from my perspective.

[2022-02-10 00:29] miketrumpis commented on #473
I've since realized that I can recreate the waveform extractor with the basic constructor, so this feedback is only relevant in terms of approaching through the convenient `si.extract_waveforms(..., load_if_exists=True)`...

This part is great -- the sorter & extractor outputs can be moved in tandem.

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/225736/153307996-2a9

[2022-02-10 00:31] miketrumpis commented on #473
Relatedly, it looks like in that commit and in 0.93.0 `BaseSorter.get_result_from_folder` is also now trying to reload the recording. Of course, the same temp file portability problem applies.

[2022-02-11 12:09] caniko commented on #300
Getting the following error when I try to remove bad channels. Note that I am using probegroup consisting of tetrodes abstracted as probes.

Input:
[code]

Output:
[code]

[2022-02-11 12:18] samuelgarcia commented on #300
channel_slice works with **ids** here you are playing with **index**
You should do

[code]

[2022-02-14 15:46] phanhuynh opened #510 "Missing Probeinterface file for Neuropixel 1.0 (Open Ephys)"
Hello everyone!

I'm using spikeinterface to analyze Neuropixel (1.0) data from Open Ephys.
However, I'm missing the ProbeInterface probe object.

I've tried looking in ProbeInterface public library.  And I'd like to avoid generating it from scratch.  Does anyone know where I can find it?

Thank you!  I'm new to this so your support is deeply appreciated.

[2022-02-14 16:38] samuelgarcia commented on #510
I don't known how the OE project manage the probe channel mapping for neuropixel.
Is there any file in the OE folder we could rely on to make the probe generation automatic ?

[2022-02-17 20:15] vincisLab opened #513 "Issue with PhySortingExtractor"
Hi,

we are trying to load back unit information after manual curation in phy.
When we input:
sorting_phy_curated = se.PhySortingExtractor('D:/DataTemp/CB287/021622/Sorting/all_sorters/0/ironclust/phy_TS/', exclude_cluster_groups=['noise'])_
we get the following error.

Any suggestion on the best way to solve it?
---------------------------------------------------------------------------
KeyError

[2022-02-18 07:36] samuelgarcia commented on #513
Hi.
Thanks for the report.
@alejoe91 : this is for you!!

[2022-02-18 13:27] alejoe91 commented on #513
I think this is fixed in the latest release (https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/extractors/phykilosortextractors.py#L89-L95).

Can you try to `pip install --upgrade spikeinterface` and run it again??

[2022-02-18 17:54] vincisLab commented on #513
Hi Alessio,

After running pip install --upgrade spikeinterface, it is still giving us the same error.

[2022-02-18 17:58] alejoe91 commented on #513
Can you paste the new error so I can see the correct lines? Note that you can use the `code` formatting (<>) for better readibility

[2022-02-18 18:19] vincisLab commented on #513
We are trying to reinstall spikeinterface from source and see if that solve the issue.
I will keep you posted.

[2022-02-18 19:37] alejoe91 commented on #513
Would you mind sending me all the .tsv files in the phy/kilosort folder?

[2022-02-18 19:41] vincisLab commented on #513
[cluster_si_unit_ids.zip](https://github.com/SpikeInterface/spikeinterface/files/8099916/cluster_si_unit_ids.zip)

Here you go.

Just as an update we reinstall spikeinterface from source. Everything looks good except now we have problems launching Phy ...We will figure it out eventually. I attached the file in a zip folder.

[2022-02-20 16:09] vincisLab commented on #513
Ok, we solved the issue with Phy.
Yes, the problem of opening the phy folder is solved with master.

Thanks!

[2022-02-20 16:45] #513 closed

[2022-02-21 03:44] cristofer-holobetz opened #518 "Typo in quality_metrics.misc_metrics"
Line 247 in spikeinterface.toolkit.quality_metrics.misc_metrics.py currently reads:

`res = namedtuple('isi_violaion',`
but should probably read
`res = namedtuple('isi_violation',`

https://github.com/SpikeInterface/spikeinterface/blob/b6b2a54e66f2b5b985e4c0dafc6a0dec2b303813/spikeinterface/toolkit/qualitymetrics/misc_metrics.py#L247

[2022-02-21 07:09] alejoe91 commented on #518
https://github.com/SpikeInterface/spikeinterface/pull/519

[2022-02-21 07:09] alejoe91 commented on #518
Thanks for spotting it!

[2022-02-21 07:11] alejoe91 commented on #510
Discussed and fixed here: https://github.com/SpikeInterface/probeinterface/issues/85

[2022-02-21 07:11] #510 closed

[2022-02-21 07:21] alejoe91 commented on #505
Hi @matiasandina

Sorry it took sometime to reply to this. One way to prevent issues of KS to run with few channels (e.g. tetrodes) would be to just `run_kilosort` without splitting in groups first. This way Kilosort completely ignores the group info. However, you can generate electrode locations so that channels within a tetrode are close to each other (say 1um distance), while tetrode-to-tetrode

[2022-02-21 14:14] matiasandina commented on #505
Indeed, I wrote this function to troubleshoot things. Briefly, it would generate different channel maps. I was also experimenting with separating by shank (we have 2 brain locations with tetrode arrays). I also wanted to check if the regular positions that `generate_tetrode()` gives are in any way different from using made up coords (similar to your example).

[code]

Using this, when I split by t

[2022-02-22 00:11] bendichter opened #520 "Add CI for ingesting neuroscope spiking data"
https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/src/master/neuroscope/dataset_1

[2022-02-22 01:19] bendichter opened #521 "Add CI test for TDT"
https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/src/master/tdt/dataset_single_block

[2022-02-22 19:58] vincisLab opened #522 "Another issue with PhySortingExtractor"
Hi,

we enocunter anothe issue with PhySortingExtractor.
Once we run the extractor after curation in Phy we noticed the following:

"get_unit_ids" in spikeinterface is giving us the  index of the units shown in "si_unit_id" of the ClusterView (Phy GUI).
However, the spike trains information are stored under the index "id" of the ClusterView (Phy GUI).
Since the "id" and the "si_unit_id" of the Clu

[2022-02-23 16:29] vincisLab commented on #522
Hi @alejoe91

It is correct.
However,  sometimes the probelm arises even  even without merging or splitting in Phy because the  "id" and the "si_unit_id" of the ClusterView do not match and PhySortingExtractor use the si_unit_id.
For example I am looking now at Phy_TS if a unit has a Phy "id"=1 and a Phy "si_unit_id"=12,  PhySortingExtractor is storing the spiketimes with index 1 but the .get_unit

[2022-02-23 16:31] alejoe91 commented on #522
Thanks for the clarification. Do you mind sharing with me a couple of zipped phy folders so I can take a closer look? You can exclude the .dat file ;)

[2022-02-23 17:49] vincisLab commented on #522
@alejoe91  here a link https://www.dropbox.com/sh/1mmy91g5ypcl3ug/AAAZnbK7bdKuG2ZF1pEsnm5Qa?dl=0

There are two phy folders.

Roberto

[2022-02-23 18:23] alejoe91 commented on #522
Ciao Roberto,

Can you try this fix? https://github.com/SpikeInterface/spikeinterface/pull/525

Basically I'm mapping the cluster ids from the phy to the SI ids. Sorry we didn't catch it before and thank you for reporting the issue :)

[2022-02-24 07:56] #518 closed

[2022-02-24 08:35] samuelgarcia commented on #520
@bendichter
@CodyCBakerPhD
I tried to add this to SI tests.
The reader we have in Si in only for recording.

In the (old) neo implmentation,  the dataset is supposed to contain a ".dat" file.
Here there is a ".eeg" file instead. The xml do not related any eeg file except in the help section.
Do you have a reference information about this format and what are the extension for "coninuous" (dat/eeg/l

[2022-02-24 08:42] samuelgarcia commented on #520
I find it.
http://neurosuite.sourceforge.net/formats.html
The official format page is mentioning **.dat, .lfp, .fil** as possible extensions for continuous traces.
The archive of **neuroscope/dataset_1** have a **eeg** I am not sure this eeg is part of the official format but looks a home made preprocessing (filetering).
Do you have info why they change **lfp** to **eeg** ?
Any way the neo patch s

[2022-02-24 14:22] CodyCBakerPhD commented on #520
All the working code for Neuroscope types can be found in the LEGACY spikeextractors: https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/neuroscopeextractors/neuroscopeextractors.py

.lfp files are read in an equivalent manner to the .dat (same binary structure) but they do have separate metadata (namely the different sampling frequency) in the .xml

.lfp file

[2022-02-24 14:54] samuelgarcia commented on #520
OK thanks. I will add this in neo soon.

[2022-02-24 15:23] rtraghavan opened #527 "mountainsort runs far slower on spikeinterface"
An interesting observation I've made while sorting a relatively small recording is an enormous processing time difference between using mountainsort installed independently ([this version)](https://github.com/flatironinstitute/mountainlab-js), vs running it through spike interface having installed mountainsort4 via pip. Some background about the recording.

32 channel laminar arrays recording. Sig

[2022-02-24 15:43] samuelgarcia commented on #527
Strange.
The wrapper in spikeinterface is really a thin layer on top of moutainsort.
See https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/mountainsort4/mountainsort4.py#L90

Is it due to filetring and whitening done in spikeinterface here : https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/mountainsort4/mountainsort4.py#L100

@rt

[2022-02-24 15:54] alejoe91 commented on #527
@samuelgarcia I think @rtraghavan is referring to differences between mountainsort3 and mountainsort4. Maybe @magland comment on it :)

[2022-02-24 16:16] vincisLab commented on #522
Ciao Alessio,

yes, it indeed solved the issue...or at least partially.
We do have a case of phy folder in which there was substantial manual curation (merging and splitting). In that example, the sorting extractor still fail to report the correct ids and instead give us a bunch of NaNs.
If you want i can share the Phy folder with you. Let me know.

[2022-02-24 16:27] alejoe91 commented on #522
Yes that would be great! I think that in that case we might need to create some "new" SI ids because Phy doesn't do it automatically. I guess that the si_unit_id column in that case becomes blank..right?

[2022-02-24 17:12] magland commented on #527
It's true that these versions have different implementations. I am surprised that mountainsort4.py is significantly slower. During the iterations, does it say how many channels are in each neighborhood?
@rtraghavan

[2022-02-24 18:26] vincisLab commented on #522
Yes you are right it is blank.
I am adding the zip file (Example_3) in the same shared dropbox folder (link above in our previous messages).

[2022-02-25 10:29] alejoe91 commented on #522
@vincisLab I pushed a fix that deals with nan si_unit_ids in the same PR. Let us know if that solves all issues :)

[2022-02-25 17:30] vincisLab commented on #522
Perfect! It works great now!

Thanks!

[2022-02-25 17:39] #522 closed

[2022-03-01 23:48] rtraghavan commented on #527
Apologies for the delay. On later inspection it seems both sorters were not using the maximum available number of workers. Moreover I realize from the earlier comments that total run time in spike interface should be compared to the sum of filtering, whitening, and sorting in mountainsort-js. Setting them equal to one another and rerunning the code I get the following.

mountainsort-js: 363 sec
sp

[2022-03-02 14:05] magland commented on #527
Strange... if they are both using ml_ms4alg (mountainsort4 repo alg is no different from ml_ms4alg alg), then I would not expect a difference in timing.

[2022-03-02 17:39] argunsah commented on #314
Hello,
I have a similar issue with the new API. When I create a probe as follows, the export to phy creates a 63 channel linear probe as exported object:

# generate a 8 shanks linear
probe0 = generate_linear_probe(num_elec=8, ypitch=100,
                               contact_shapes='square',
                               contact_shape_params={'width': 13.3})
probe1 = probe0.copy()
probe2 = prob

[2022-03-02 18:58] samuelgarcia commented on #314
Hi,
You can do
[code]

an other way to remove a channel is to do it at recording level
[code]

[2022-03-03 09:22] argunsah commented on #314
Hello,

I tried your suggestion. I get an AssertionError.

I used the following code:

# generate a 8 shanks linear
probe0 = generate_linear_probe(num_elec=8, ypitch=100,
                               contact_shapes='square',
                               contact_shape_params={'width': 13.3})
probe1 = probe0.copy()
probe2 = probe0.copy()
probe3 = probe0.copy()
probe4 = probe0.copy()
probe5 = pro

[2022-03-03 09:28] samuelgarcia commented on #314
Hi,
`selection` is not the `channel_indices` at all.
In my example `selection` refer to a list or a vector of the contact you want to keep.

For instance
[code]
if you want to remove the contact 12 (0 based)

[2022-03-03 09:47] argunsah commented on #314
Hello,
This suggestion worked perfectly, thank you!

However, my main issue persists. This way of creating the probe did not solve the probeview issue in phy issue of creating a linear 64 channel probe instead of the one I created.

(I get this error: 10:43:21.892 [E] model:389            Some channels are on the same position, please check the channel positions file.)

Probe Looks nice:
![spikeLo

[2022-03-03 09:52] samuelgarcia commented on #314
I don't know phy very well.
@alejoe91 : could you help about this lenar stuff in phy.

@argunsah : you should try [spikeinterface-gui](https://github.com/SpikeInterface/spikeinterface-gui) !!
No need to export to phy and quite good viewer also but no manual curation.

[2022-03-03 10:20] alejoe91 commented on #314
@argunsah can you paste here the output of `print(recording.get_channel_locations()`? Let's make sure that all locations are unique!

[2022-03-03 10:25] alejoe91 commented on #314
Similarly, can you try to load and print the `channel_positions.npy` in the phy folder? They should correspond to the ones printed form spikeinterface

[2022-03-03 10:46] argunsah commented on #314
Hello,
Channel position [1000,700] is repeating twice. I am deleting electrode 33 and the repeated ones have indexes 31 and 32, it should have something to the with that I am guessing.

        x      y contact_shapes  width shank_ids contact_ids
0      0.0    0.0         square   13.3         0
1      0.0  100.0         square   13.3         0
2      0.0  200.0         square   13.3         0
3

[2022-03-03 10:50] alejoe91 commented on #314
Yes definitely that is the problem! Can you try to investigate when this duplication is happening?

[2022-03-03 11:03] argunsah commented on #314
This is what I am doing exactly:

# generate a 8 shanks linear
probe0 = generate_linear_probe(num_elec=8, ypitch=100,
                               contact_shapes='square',
                               contact_shape_params={'width': 13.3})
probe1 = probe0.copy()
probe2 = probe0.copy()
probe3 = probe0.copy()
probe4 = probe0.copy()
probe5 = probe0.copy()
probe6 = probe0.copy()
probe7 = probe0.cop

[2022-03-03 11:34] alejoe91 commented on #314
Can you do `len(np.unique(channel_indices))`? @samuelgarcia can you try to reproduce the issue?

[2022-03-03 12:23] argunsah commented on #314
print(len(np.unique(channel_indices)))
gives
63

which is correct number of channels

I will try to fix channel locations manually to see if it will solve the issue

[2022-03-03 13:14] argunsah commented on #314
Hello,
I solved the issue. It was my mistake. I repeated channel 32 twice but then I deleted channel 32 with get_slice (repeated channel and deleted channel having same index in coincidence) which somehow created the error while keeping total number of electrodes 63. Now in the fixed version total print(len(np.unique(channel_indices))) command gives 64 (so it actually gives the total number of cha

[2022-03-03 13:25] alejoe91 commented on #314
Great that it works! :)

[2022-03-03 13:25] #314 closed

[2022-03-03 14:24] caniko opened #532 "License is unclear"
Hello, I was having trouble determining the license of the package. Is it MIT or Apache? On `setup.py` it is Apache, and on the LICENSE file it is MIT

[2022-03-03 20:28] #532 closed

[2022-03-04 06:53] caniko commented on #532
I just noticed that Apache license is also mentioned on the `README.md`.

[2022-03-04 07:41] alejoe91 commented on #532
It will automatically update at next release (taken from stup.py)

[2022-03-04 09:49] JuliaSprenger opened #537 "[doc] bad default documentation version"
Currently https://spikeinterface.readthedocs.io redirects to https://spikeinterface.readthedocs.io/en/latest/ which does not exist. The default version should probably be https://spikeinterface.readthedocs.io/en/stable/ instead.

[2022-03-04 09:56] samuelgarcia commented on #537
Hi Julia,
the activity on spikeinterface is so high that most of current users install from sources.
So having by default "latest" instead of "stable" is a good choice at the moment, I think.
After 1.0.0 release we will change this of course :)
@alejoe91 are you agree ?

[2022-03-04 10:38] phanhuynh opened #538 "export_to_phy error: Input contains NaN, infinity or a value too large for dtype('float32')"
Hello folks! I'm using kilosort3 on neuropixel 1.0 data in spikeinterface: This error occurs when I export waveforms to phy:
Thank you!
[code]

[2022-03-04 10:40] JuliaSprenger commented on #537
Hi @samuelgarcia. The problem is that `latest` points to a page telling `SORRY  - This page does not exist yet.` Could you then fix the doc compilation for the latest version?

[2022-03-04 10:43] samuelgarcia commented on #537
Oh toally sorry. I did not understand. I will check.

[2022-03-04 10:52] alejoe91 commented on #538
Hey @phanhuynh

Seems like there are some issues with waveforms! Can you extract waveforms and check the templates. manually?

[2022-03-04 10:53] samuelgarcia commented on #538
Hi,
@alejoe91 this is strange because templates that have problems (like no spikes) are not set to nan but to zeros.
So similarioyty should work no ?

[2022-03-04 11:55] phanhuynh commented on #538
Hello @samuelgarcia , what should I check in the templates?  I've zipped the waveforms in case it helps.
Thank you soooo much!
[_waveform_KS3.zip](https://github.com/SpikeInterface/spikeinterface/files/8185653/_waveform_KS3.zip)

[2022-03-04 11:59] samuelgarcia commented on #538
Thanks.
@alejoe91 : in this zip file "templates_average.npy" have some nan.
how is it possible ? we have to check this.

[2022-03-04 15:24] alejoe91 commented on #538
We have to check templates IMO @samuelgarcia

Maybe they have nan values..which would be strange

[2022-03-04 15:32] alejoe91 commented on #538
Ok so the problem is that you have a unit with 0 spikes!

In order to avoid this, you can do:
[code]

And you can then proceed to export to phy with the `sorting_with_spikes` objects. @samuelgarcia we should add an automated function that does this

<img width="283" alt="image" src="https://user-images.githubusercontent.com/17097257/156791968-ebed5a42-ebfa-4a15-bccf-a38cd51bb182.png">

[2022-03-04 16:50] alejoe91 commented on #538
https://github.com/SpikeInterface/spikeinterface/pull/540

[2022-03-04 16:53] alejoe91 commented on #537
The doc compilation succeeded..very strange, it was working until yesterday! Maybe something is down with RTD?

[2022-03-04 20:29] samuelgarcia commented on #538
@alejoe91 : maybe for a zero spikes units we could have a template with zero instead  nan, no ?

[2022-03-07 12:14] joramvanrheede commented on #537
Still having the same issue today. For me / currently, it's also not able to open _https://spikeinterface.readthedocs.io/en/stable/_
giving the same _Maze Found - SORRY This page does not exist yet_ error.

[2022-03-07 13:39] phanhuynh commented on #538
Again, thank you so much for all your effort to the community!

[2022-03-07 13:53] valejandracch opened #541 "How to merge sortings after extraction?"
Hello, i have a question.
I have some Klusta  sortings and I want to load the spike sorting output from the spike sorting folder to do some postprosessing and automatic curation with them, but i see that in the tutorial you say that:
 you can reload the output as a SortingExtractor using the corresponding spikeextractors class. Note that if sorting by group/property, single groups must be loaded s

[2022-03-07 14:34] phanhuynh commented on #538
It worked perfectly!  Again, thank you guys so much for your efforts to this community!  Amazing :)

[2022-03-07 14:35] phanhuynh commented on #329
Hello -- just wanted to add that our lab would also benefit greatly from this fix.  Thank you, @samuelgarcia !!!

[2022-03-07 15:20] alejoe91 commented on #538
Closing then!

[2022-03-07 15:20] #538 closed

[2022-03-08 10:07] ferchaure commented on #541
I use the class [UnitsAggregationSorting](https://github.com/SpikeInterface/spikeinterface/blob/04068c48eb590a1f6cfd7db1b4aef47d8d37fb2f/spikeinterface/core/unitsaggregationsorting.py) imported from spikeinterface, giving a list with the sortings as the input.

[2022-03-08 11:13] alejoe91 commented on #541
Thanks for the reply @ferchaure

Indeed the `UnitsAggregationSorting` class is the approach for newer versions (>=0.90).

For the old 0.13 version, you can use the [`MultiSortingExtractor`](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/multisortingextractor.py), which does exactly the same

[2022-03-08 11:38] valejandracch commented on #541
Thanks @alejoe91 and @ferchaure  for the help!!
Actually i just found the MultiSortingExtractor this morning and i give it a try like this:
 It worked.

`import os
os.listdir(output_folderKL)

slist = [se.KlustaSortingExtractor(output_folderKL+'/'+sF) for sF in os.listdir(output_folderKL)]
n=0
for KLs in slist:
    units=KLs.get_unit_ids()
    groups= KLs.get_units_property(unit_ids= units, proper

[2022-03-08 13:17] alejoe91 commented on #541
Great! Closing the issue then!

[2022-03-08 13:17] #541 closed

[2022-03-09 07:51] samuelgarcia commented on #329
Same as https://github.com/NeuralEnsemble/python-neo/issues/1055

[2022-03-09 10:35] alejoe91 commented on #521
https://github.com/SpikeInterface/spikeinterface/pull/529

[2022-03-09 10:35] #521 closed

[2022-03-09 11:38] samuelgarcia commented on #329
Hi all.
Sorry for so long delay.
Could you test this PR 1095 in neo ?
https://github.com/NeuralEnsemble/python-neo/pull/1095

You will need to pull from my repo/branch [samuelgarcia:fix_openephys_legacy](https://github.com/samuelgarcia/python-neo/tree/fix_openephys_legacy)

[2022-03-09 12:55] siddjakes commented on #537
It seems to be loading fine now. Thank you all!

[2022-03-09 13:00] JuliaSprenger commented on #537
I can confirm `latest` works now for be, but `stable` remains broken.

[2022-03-09 15:09] samuelgarcia commented on #537
This is strange because 0.93 url work and stable is supposed to be 0.93!

[2022-03-09 15:34] colehurwitz opened #544 "sortingcomponents example"
Hello! :) I was wondering if there are any code examples on how to use the `sortingcomponents` module. Specifically, it would be useful to see how to initialize and run a template matching algorithm using a recording/sorting.

[2022-03-09 15:38] samuelgarcia commented on #544
At the moment the best place to look at code is the test_XXXX.py in subfolder.
you will see some debug plot commented.
I will start some notebooks soon on  the spikeinterface blog.

Here a very drafty code that run all the cahin I presented last monday.
It should help you to start.
Some function could change. Have a look to future PR.

[code]

[2022-03-09 15:45] colehurwitz commented on #544
Thanks @samuelgarcia !

[2022-03-09 16:06] ToGauvrit commented on #329
Hi Sam,
Thank you  the bug seems to be fixed with this PR!!

[2022-03-09 16:25] samuelgarcia commented on #329
Cool. Lets wait that a few others test it and we merge.

[2022-03-10 09:27] JuliaSprenger commented on #329
https://github.com/NeuralEnsemble/python-neo/pull/1095 has been merged.

[2022-03-10 09:39] #329 closed

[2022-03-10 10:13] Kayv-cmb opened #547 "Extracting Waveform from an Agreement sorting"
Hello,
I'm trying to run a consensus base spikesorting method, I compare multiple sorter using compare_multiple_sorters then i get the agreement by agr_3 = mcmp.get_agreement_sorting(minimum_agreement_count=3). However I want to export to phy the result of my agreement, but i can't extract the waveform of my agreement and i get this error
AttributeError: 'MultiSortingComparison' object has no attr

[2022-03-10 10:35] samuelgarcia commented on #547
Hi,
could you show the full trace please ?
maybe save sorting to a foldert can help
[code]

[2022-03-10 10:40] Kayv-cmb commented on #547
I just tried to save to a folder did not work either

Here is the full traceback :
mcmp = sc.compare_multiple_sorters([sorting_KS, sorting_IC, sorting_MS, sorting_TDC_5], ['KS', 'IC', 'MS4', 'TDC'],
                                       spiketrain_mode='union', verbose=True)
w = sw.plot_multicomp_agreement(mcmp)
w = sw.plot_multicomp_agreement_by_sorter(mcmp)
sw.plot_multicomp_graph(mcmp)
agr_3 =

[2022-03-10 11:09] samuelgarcia commented on #547
OK I will check.

[2022-03-11 11:36] phanhuynh commented on #329
Hello @samuelgarcia , thank you for working on this!
Unfortunately, even with neo==0.10.2, I'm still getting this error.
I'm using neuronexus probe through openephys.
[code]

[2022-03-14 04:18] lfrank opened #549 "Unable to extract whitened waveforms"
We calculate metrics on sortings using whitened waveforms, but currently this seems not to be supported, as when I try to whiten the recording extractor and then get the waveforms, I get an error. Any thoughts would be appreciated.

The code snippet is

`       if waveform_params['whiten']:
            recording = toolkit.preprocessing.whiten(recording)
        waveforms = si.extract_waveforms(rec

[2022-03-14 06:39] alejoe91 commented on #549
Hi Loren! The 'problem' is that you are passing the `whiten` arg to the `extract_waveforms`, which is not supported. You can just add `del waveform_params['whiten']` before calling the waveform extraction function and that should fix it :)

[2022-03-14 16:04] lfrank commented on #549
Oh, of course. Thanks for pointing that out.

On Mar 13, 2022, at 11:39 PM, Alessio Buccino ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

Hi Loren! The 'problem' is that you are passing the whiten arg to the extract_waveforms, which is not supported. You can just add del waveform_params['whiten'] before calling the wavef

[2022-03-15 09:52] phanhuynh commented on #329
Hello, perhaps this issue should be in another channel?  Or perhaps I should add more details?

[2022-03-15 10:07] samuelgarcia commented on #329
Hi @phanhuynh,
you need to install neo from source master branch.
In neo 0.10.2 was still there.

[2022-03-15 14:59] samuelgarcia commented on #486
No it is not solve already!! Sorry. I will do it.

[2022-03-15 15:12] phanhuynh commented on #329
@samuelgarcia : it works!  thank you yet again!

[2022-03-15 15:36] #547 closed

[2022-03-15 19:11] vncntprvst opened #553 "si_env issue"
When activating the si_env created with `full_spikeinterface_environment_windows.yml`, I get the error below.
Removing msmpi and its .dlls then re-creating the environment did not resolve the issue.
Visual Studio and C++ Build SKU are installed.

[code]

[2022-03-15 19:50] samuelgarcia commented on #553
Hi Vincent,
this looks a bad installation related to compilers.
This yaml file use to work some month ago.
I would try to create an empty env and install all list one by one to track the problem.

[2022-03-16 08:12] samuelgarcia commented on #553
Thank you for the feedboack. Maybe we will remove this mpi from env in windows it is a bit too complicated.

[2022-03-16 15:27] vncntprvst commented on #553
I'm thinking about creating a containerized version, so that people can run spikeinterface without having to troubleshoot any installation issue. Would that be of interest to you?

[2022-03-16 15:35] vncntprvst commented on #553
I was about to say that I'll work on creating a containerized version, so that people can run spikeinterface without having to troubleshoot any installation issue, but then I saw that docker containers are already available. I'll play with those first :)

[2022-03-16 21:56] #553 closed

[2022-03-17 07:47] samuelgarcia commented on #553
Hi Vincent,
we already have container for several sorter.
See this:
 * https://spikeinterface.readthedocs.io/en/latest/module_sorters.html#running-sorters-in-container-docker-singularity
 * https://github.com/SpikeInterface/spikeinterface-dockerfiles
 * https://github.com/SpikeInterface/spikeinterface-dockerfiles
But this don't work on windows.

The best way to avoid this installation nightmare is

[2022-03-17 16:40] vncntprvst commented on #553
I checked those, and that's a great resource. As you mentioned, and documented in this [issue](https://github.com/SpikeInterface/spikeinterface/issues/223#issuecomment-904361738), spikeinterface can't run those on Windows. That's a clear limitation. Not every lab can have a big GPU computing station and dedicate it to spike sorting, and use Ubuntu for that purpose. Some will opt to have it run on

[2022-03-17 16:46] vincisLab opened #556 "removing channels"
Hi all,

is there a way to remove some noisy channel/s from the recording after it has been linked to a specific probe ("probe") design [recording.set_probe(probe)], such that both the data (trace) as well as the info (position, plane axes, contact, etc..) of the electrode on probe will be deleted?

[2022-03-17 19:15] samuelgarcia commented on #553
We plan soon to make a big container with spikeinetrface + many sorters inside.
We would update this lets says every 3 month.

[2022-03-17 20:04] samuelgarcia commented on #556
Hi,
when you slect manually channels like this:
[code]
then the probe is also "sliced" along side so manual selection of good channel is easy.

If you want to automatically remove noisy channel you can use `remove_bad_channels()` from toolkit which is a trehold based version of this channel manual selection.

[2022-03-18 16:54] mfvd opened #559 "Convert to uV - Gain and offset"
Hello,

I'm now moving to the most recent version of spikeinterface and I'm not sure how to deal with unscaled signals.
In trying to convert to uV I tried the following code:
[code]
However, I'm not 100% if this matches the method used previously.

In the previous version (0.11.0) I scaled the signals when extracting the data form my binary file:

[code]

Here using `gain_first=False` to first sub

[2022-03-18 17:26] samuelgarcia commented on #559
In the new version, the signature change a bit, now you need to do
[code]

`gain_first` disappear so you need to do  `offset_to_uV = 32768 * 0.195`

[2022-03-18 17:27] samuelgarcia commented on #559
Note that file_paths can be a list (multi segment) or a unique path (mono segment as before)

[2022-03-18 23:04] vncntprvst commented on #553
That's great! Looking forward to it.
I made a working version in the meantime. See commit [here](https://github.com/vncntprvst/spikeinterface-dockerfiles/pull/1/commits/2365f6a8264390e8bf7397fbad7ede6f172ecb3a). For Windows users, one can just drag and drop their data folder on the batch file to start Jupyterlab with Spike Interface and a bunch of sorters installed.

[2022-03-19 13:36] h-mayorquin opened #560 "Does `OldToNewRecordign` fail for all spikeinterface objects? Maybe better exception?"
Consider the following example:
[code]

Produces the following trace:
[code]
My feeling is that this will consistently fail for any `spikeinterface` object, is this correct?
If so, maybe we should have a better exception handling for this one?

[2022-03-19 14:55] alejoe91 commented on #560
The `generate_recording` already returns a new extractor! So the old_to_new is supposed to fail :)

[2022-03-19 15:03] h-mayorquin commented on #560
Yes, I believe that's what I should do. I was:
1) Confirming that it is indeed the case that I will consistently fail for any new extractor.
2) Proposing to add a more meaningful error that indicates that it should be a `spikeextractor` object.

[2022-03-19 15:06] h-mayorquin commented on #560
@alejoe91 I can take care of this (adding a more meaningful error) if you think is a good idea.

[2022-03-19 15:19] vincisLab commented on #556
Got it, thanks!!

[2022-03-19 18:22] vncntprvst opened #561 "[contribution] Windows-compatible container for Spike Interface"
I heard something similar is in the works, but just in case this is of interest to anyone in the meantime, I made a Jupyterlab container for Spike Interface with a few sorters pre-installed. It can run on any OS, but could make life easier for Windows users.
The repo is here: https://github.com/vncntprvst/spikeinterface-dockerfiles.
Any feedback welcome!
Thanks

[2022-03-21 07:14] samuelgarcia commented on #560
Hi Herberto,
the complicated stuff is that we con't want that spikeinterface depend on spikeextractor.
So we can't afford a `import spikeextractors` in spikeinterface, so for testing if it is a spikeextractor object we have to check other stuff (class name, method names, ...).
Same for testing.

[2022-03-21 11:22] mfvd commented on #559
Thank you for your help!
Cheers

[2022-03-21 12:49] samuelgarcia commented on #559
Santé!

[2022-03-21 12:52] #559 closed

[2022-03-21 14:51] h-mayorquin commented on #560
Right, that makes sense.
But, can't we just check if `oldapi_recording_extractor` is "BaseExtractor" and  if it is return an error saying that this is intending for spikeextractor objects, etc.

I honestly don't think this is very important. I was just checking that the function did throw an error (which it does) but then I saw that the error trace was somehow obscure and I was wondering if it was

[2022-03-22 23:10] miketrumpis opened #565 "Bug: feeding small batches to incremental PCA"
I just ran into an error while exporting to phy. The issue came up in these lines, where the number of waveforms was nonzero, but still less than the smallest batch size

https://github.com/SpikeInterface/spikeinterface/blob/31911008a6dd8acebc09c8dce322d1a2118d2266/spikeinterface/toolkit/postprocessing/principal_component.py#L355-L361

I've monkey-patched this to this, and it appears to work. Migh

[2022-03-23 07:36] samuelgarcia commented on #565
Hi,
good catch. Could you make a PR for this ?

[2022-03-23 17:53] mfvd opened #566 "Missing channels in phy"
Hi

When doing the manual curation in phy, the WaveformView is missing a number of channels (pic below). Curiously, the missing channels are not consistent between units and there doesn't seem to be a discernible pattern.

Also, when checking the units in phy, it seems like the channel position might have changed. I suspect this might have happened only because phy displays high amplitude waveform

[2022-03-23 18:48] alejoe91 commented on #566
Hi @mfvd

When are you saving the `rec_cashed` object? Can you share the entire code?

[2022-03-24 08:09] samuelgarcia commented on #566
Hi.
Note that when we export to phy only best X best channels per units are exported.
You can control this by `max_channels_per_template` which is 16 by default.
So the sparsity on waveform is something expected.
Loking at you display, there is maybe a bug in this sparsity and/or the channel position. I don't know if it is in phy or not.

Mor importantly : you set the channel mapping (wiring) manu

[2022-03-24 11:15] mfvd commented on #566
Hi again,

@alejoe91 sorry, I assumed the error might be in the code above. Here's the rest of the code:
[code]

@samuelgarcia thanks, that explains the missing channels and matches the 16 waveforms I see for each unit.

I reported a possible mismatch in the channel map in [https://github.com/SpikeInterface/probeinterface/issues/92](url)

In the meanwhile I did the mapping manually in such a way t

[2022-03-24 11:48] samuelgarcia commented on #566
OK sorry I did not make the link between this issue and the one you did in probeinterface sorry.
So if I understand correctly, you do this mapping to compensate the error in the probe layout we implemented.

[2022-03-24 17:52] vincisLab opened #569 "Mismatch in sw.plot_timeseries"
Hi all,

when we use a multishank probe, we observe a mismatch between the probe mapping and the order in which the channels are plotted using sw.plot_timeseries when the boolean "order_channel_by_depth=True".
The Y axis of the plot does not have the channels organized based on their depth position. However, when we use a linear probe we dont have this issue.
Any suggestions?

[2022-03-24 20:51] miketrumpis commented on #565
here you go #571

[2022-03-25 10:48] mfvd opened #572 "Is there a way to sort by group using only one sorter?"
Hello,

According to the documentation, it is possible to split by group and then use `run_sorters` to get a sorter object per group. However, if possible, I would like to a single object with data from all my groups (shanks)

In version 0.11.0 one could use `grouping_property='group'` to sort by group and to keep the data in a single sorter object. Is there a similar method with 0.93.0?

Cheers

[2022-03-25 11:37] alejoe91 commented on #572
HI @mfvd

Sure! Checkout the [run_sorter_by_property()](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/launcher.py#L46) function! I think it's exactly what you need :)

[2022-03-25 11:39] alejoe91 commented on #569
Hi @vincisLab

Could you send us the probeinterface json file so we can test?

You can use the [`probeinterface.io.write_probeinterface()`](https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L59) function.

[2022-03-25 11:40] #556 closed

[2022-03-25 11:41] alejoe91 commented on #565
fixed via https://github.com/SpikeInterface/spikeinterface/pull/571

[2022-03-25 11:41] #565 closed

[2022-03-25 11:43] alejoe91 commented on #566
@mfvd do you get this for all units? One possible explanation could be that the unit is overmerged, i.e., it actually has spikes from more than one neuron!

[2022-03-25 11:50] mfvd commented on #572
Hi @alejoe91 ,

Thanks!
I completely missed that one when reading the docs. I'll give it a try!

Cheers

[2022-03-25 11:57] mfvd commented on #566
@alejoe91 unfortunately I do and in all units I have spikes from contacts across different shanks. I'll try to run the sorter by shank and see what changes.

[2022-03-25 12:28] vincisLab commented on #569
Hi @alejoe91

Here the json file.
Also I added two pdf files: one with the plot of the probe and the other with the plot_timeseries with order_channel_by_depth=True.

Thanks!

[extracellular_example.pdf](https://github.com/SpikeInterface/spikeinterface/files/8350468/extracellular_example.pdf)
[Probe.pdf](https://github.com/SpikeInterface/spikeinterface/files/8350469/Probe.pdf)
[prbFile.zip](https:

[2022-03-25 12:57] mfvd commented on #566
When comparing the group/shank_ids in the probe object with the cashed recording I found that they are different.

I'm not sure but it seems that the channels are somehow getting misplaced when assigning the probe information to the recording object. Channel groups do not match the `shank_ids` in the probe (see pic below).

I'm now wondering if I'm using the correct method to manually redo the wir

[2022-03-25 13:14] alejoe91 commented on #566
So you need to sort the probe dataframe by `device_channel_index`. Can you also show that column in the screenshot? Is it from 0 to N-1?

[2022-03-25 13:38] mfvd commented on #566
Sorry, stupid error on my part. Forgot the sort the dataframe... It does make sense.

![shank_ids_sorted](https://user-images.githubusercontent.com/78389068/160131291-9446def1-fa8e-4461-9636-88be2846ab51.jpeg)

[2022-03-25 15:09] HazelPinto opened #573 "Problems with Recording extractor using SpikeInterface"
[Ens99.zip](https://github.com/SpikeInterface/spikeinterface/files/8351735/Ens99.zip)
The following file (nev) isn't even recognized as a nev file, I've tried with nsx files and it works (it extracts wrong the channels, but at leat it recognize it as a file)

[2022-03-25 15:36] alejoe91 commented on #572
Ok that's a hidden one: after sorting by property if you want to export to phy and also keep the property grouping you have to set the sparsity correctly with the argument `sparsity_dict=dict(method="by_property", by_property="group")`

You can check the `export_to_phy` docs for more info ;)

[2022-03-25 16:54] alejoe91 commented on #572
It seems that the recording doesn't have the group property from the message...can you check?

[2022-03-25 17:01] samuelgarcia commented on #573
I guess it is a blackrock file.
nev is file that contain spikes. it is not a "recording" so
nsx contain traces this one is a "recording".

If you want to open the nev files to extarct spiketrain we should use neo package directly.

[2022-03-28 09:36] mfvd commented on #572
When I check with `rec_cashed.get_property_keys()`, the recording has a group property and the channels have assigned groups with `rec_cashed.get_channel_groups()`.

[2022-03-30 06:26] benkiisma opened #576 "Reading Intan RHD files"
Hello,

I have an issue with the reading of my files on SpikeInterface following the
I am trying to read Intan (.rhd) files with the following function : _**spikeextractors.extractors.intanrecordingextractor.intanrecordingextractor.IntanRecordingExtractor()**_.
With that function, I managed to read the file, do the preprocessing, the caching and the dumping of the recording. I start having issues

[2022-03-30 06:48] benkiisma opened #577 "Installed_sorters()"
Hello,

I am running the SpikeInterface_tutorial of August 2021 with the provided dataset (cambridge.bin). I followed the first instructions and set up the environment with the command '**_conda env create -f environment.yml_**'. The first part of the code works perfectly until I ran the 'ss.installed_sorters' command. There, a ValueError appears : '**_numpy.ndarray has the wrong size, try recompi

[2022-03-30 07:17] alejoe91 commented on #576
Hi @benkiisma

The spike sorting failure is not due to the file format of the data. Once the file has been *extracted* and loaded in SpikeInterface, the spike sorters "don't know" where the file came from. Sometimes spike sorters just fail, for example if not enough spikes are found etc.

We strongly recommend to switch to the new spikeinterface version. You can find a getting started tutorial [he

[2022-03-30 07:38] samuelgarcia commented on #577
Hi,
on which system did you installed spikeinterface and sorters ?
sorter are becoming more and more complicated to install in the same environement.
To fix this we are maintenaing some docker/singularity images with sorter installed.
So if you have an ubuntu I would recommand unsintall sorter from the env and play with docker image.

[2022-03-30 07:41] benkiisma commented on #577
Hi,
Thank you for your quick answer. I am running on Windows ! For now, I have installed 2 sorters : Klusta and Herdingspikes

[2022-03-30 07:58] benkiisma commented on #577
I tried to run it on macOS Monterey and still have the same ValueError !!

[2022-03-30 08:18] samuelgarcia commented on #577
for klusta the only possibility is to have python3.7 which is about to be unmaintain.
have in mind that klusta is unmaintained for long time. And soon it will be impossible to install!
So for klusta the docker is a good option but need linux or macos.

[2022-03-30 08:45] benkiisma commented on #577
Ok ! And what about herdingspikes ? The same error goes for that sorting algorithm too ?

[2022-03-30 08:49] samuelgarcia commented on #577
I think herdingspikes made a release recently https://pypi.org/project/herdingspikes/#history
The latest version was not working properly with spikeinetrface.
Maybe try the previsous one.

[2022-03-30 09:12] benkiisma commented on #577
Thank you, you are right ! Herdingspikes is now working perfectly with the version (0.3.7). However, for the next sorter in the tutorial (IronClust), the following error appear when running : '**_Spike sorting failed. You can inspect the runtime trace in spikeinterface_log.json'_**.
The spikeinterface_log.json file contain the following:
[code]

[2022-03-30 09:29] samuelgarcia commented on #577
For matlab based sorter.
The best for debugging is to run in matlab the generated file .m and check the problem there.

[2022-03-30 09:45] benkiisma commented on #577
As soon as I run the Matlab file ('run_ironclust.m') the Matlab window closes.
I have another issue with herdingspikes, as soon as I use my data, which is an Intan file I read with the '**_se.read_intan()'_** function, the error '**_Spike sorting failed. You can inspect the runtime trace in spikeinterface_log.json_**' appears. I am still running the 0.3.7 version of HerdingSpikes.
The content of t

[2022-03-30 10:04] benkiisma commented on #577
The same goes for mountainsort4 and tridesclous sorters when using my Intan file. I guess this is because the file I used is not binary. For the tridesclous sorter, I get the following error : '**_'float' object cannot be interpreted as an integer_**' whereas for moutainsort4 I get the exact same error as for herdingspikes.
Is there a way I can transform my data into binary ?

[2022-03-30 13:14] alejoe91 commented on #577
Could you always share the code that triggered the error and the entire Traceback?

[2022-03-30 13:25] benkiisma commented on #577
**For IronClust with the cambridge.bin datafile:**
[code]
[code]

[2022-03-30 13:30] benkiisma commented on #577
**For HerdingSpikes with Intan rhd file:**

[code]

[code]
**For Mountainsort4 with Intan rhd file:**

[code]
[code]

**With tridesclous using Intan rhd file:**

[code]
[code]

[2022-04-01 09:42] alejoe91 commented on #242
closing for lack of activity

[2022-04-01 09:42] #242 closed

[2022-04-01 09:42] #306 closed

[2022-04-01 09:45] alejoe91 commented on #307
@TheChymera any luck with this? Can you try the latest release (0.93)?

[2022-04-01 09:45] alejoe91 commented on #360
close for lack of activity

[2022-04-01 09:45] #360 closed

[2022-04-01 09:47] alejoe91 commented on #387
https://github.com/SpikeInterface/spikeinterface/pull/571

[2022-04-01 09:47] #387 closed

[2022-04-01 09:47] #410 closed

[2022-04-01 09:49] #420 closed

[2022-04-01 09:52] #425 closed

[2022-04-01 09:53] #453 closed

[2022-04-01 09:56] alejoe91 commented on #459
Temporary implementation [here](https://github.com/LorenFrankLab/spyglass/blob/master/src/nwb_datajoint/spikesorting/merged_sorting_extractor.py)

Full curation object coming soon. Closing for now

[2022-04-01 09:56] #459 closed

[2022-04-01 09:57] alejoe91 commented on #460
@ChrisCurrin for this issue we recommend to create a Docker image based on the sorter ones and to install the Maxwell HDF plugin on top :)

[2022-04-01 09:57] #460 closed

[2022-04-01 09:59] #475 closed

[2022-04-01 10:00] alejoe91 commented on #466
Duplicate of https://github.com/SpikeInterface/spikeinterface/issues/474

[2022-04-01 10:00] #466 closed

[2022-04-01 10:01] #486 closed

[2022-04-01 10:01] #495 closed, assigned to nobody

[2022-04-01 10:02] #498 closed

[2022-04-01 10:02] alejoe91 commented on #500
WIP https://github.com/SpikeInterface/spikeinterface/pull/508

[2022-04-01 10:03] #537 closed

[2022-04-01 10:07] alejoe91 commented on #561
Thank you so much @vncntprvst

Can you make  a PR with the Dockerfile here: https://github.com/SpikeInterface/spikeinterface-dockerfiles/pulls ?

So we can push it to our dockerhub too!

[2022-04-01 10:12] alejoe91 commented on #572
@mfvd what is the output of:

[code]

?

[2022-04-01 10:12] #573 closed

[2022-04-01 10:12] #576 closed

[2022-04-01 10:15] alejoe91 commented on #577
@benkiisma can you share the entire code?

You can also try to save the recording before spike sorting:

`rec = rec_processed.save(folder="preprocessed")`

[2022-04-01 10:57] mfvd commented on #572
Hi @alejoe91

The output is:  `dict_keys([0, 1, 2])`.

[2022-04-01 11:02] alejoe91 commented on #572
what about `np.unique(waveforms_ms4.sorting.get_property("group"))`?

[2022-04-01 12:49] mfvd commented on #572
I get the following: `['0' '1' '2']`

[2022-04-01 12:55] alejoe91 commented on #572
Ah I see! There seems to be a mismatch in the dtype: `groups` for recordings are `int` anf for sorting are `str`..I'll look into it!

[2022-04-01 14:46] benkiisma commented on #577
Thank you for your answer. When running the line you are suggesting, I have an error :
[code]
**Here is my entire code:**

[code]

[2022-04-01 21:16] vncntprvst commented on #561
Sure. I'll make a new branch on my side for the PR, to isolate the relevant commits.

[2022-04-01 22:13] Erik2020-Neuronz opened #580 "Trouble running Spyking-Circus through Spikeinterface but not through Anaconda Terminal"
Hello All,

I was able to successfully spike sort my dataset using Kilosort2 and Tridesclous, but ran into some trouble with Spyking-Circus. It began sorting with Circus, but kicked out soon into the process. I attached the traceback from pycharm in "CricusTraceback_Si_env.txt" below.
I've also attached the spykingcircus log and the spikeinterface log below. The probe file it returned is correct a

[2022-04-02 00:04] khl02007 opened #581 "Running `sc.compare_two_sorters` when one sorting contains units with a single spike throws error"
Seems like `sorting.get_unit_spike_train` returns just an int rather than a list when the unit has only one spike. The sortings are done with kilosort3 and loaded with `se.read_kilosort`.

@rly @alejoe91

Error:
[code]

[2022-04-02 09:36] alejoe91 commented on #572
@mfvd should be fixed with this PR: https://github.com/SpikeInterface/spikeinterface/pull/579

Can you try?

[2022-04-02 12:02] benkiisma commented on #577
As you proposed, when I saved, I managed to run 2 sorters: Mountainsort4 and tridesclous. Herdingspikes still don't work and I can't figure out why. However, Mountainsort4 and tridesclous output warnings even if the code runs .

**I have a first warning when I run : ss.installed_sorters()**

`/Users/ismail/opt/anaconda3/envs/si090/lib/python3.8/site-packages/spikeinterface/sorters/ironclust/ironcl

[2022-04-02 12:45] alejoe91 commented on #577
@benkiisma don't worry about the warnings. For HS we recommend asking on the herding spikes GitHub repo (https://github.com/mhhennig/HS2) as the sorters are separate packages!

[2022-04-02 14:30] benkiisma commented on #577
Thank you very much @alejoe91 for your help !!

[2022-04-02 15:15] alejoe91 commented on #577
You are welcome! Closing the issue!

[2022-04-02 15:15] #577 closed

[2022-04-04 10:48] mfvd commented on #572
Thanks @alejoe91
Sorry, I'm quite new to github... how can I install this PR to test it?

[2022-04-04 11:10] #572 closed

[2022-04-04 11:36] mfvd commented on #572
I managed to do it and it solved the issue! Thanks!

[2022-04-04 14:09] lkeegan opened #582 "`extractors.read_ced` how to select channels?"
Is there a way to select channels from smrx files in [read_ced](https://spikeinterface.readthedocs.io/en/latest/api.html#spikeinterface.extractors.read_ced)? (in the old spikeextractors module `CEDRecordingExtractor` has a [smrx_channel_ids](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/cedextractors/cedrecordingextractor.py#L31) parameter for this)

[2022-04-04 14:18] lkeegan opened #583 "Object of type SubRecordingExtractor is not JSON serializable"
If I concatenate multiple recordings converted using `create_recording_from_old_extractor`:
[code]
When I try to run spike sorting on this recording I get this error:
[code]

[2022-04-05 07:36] lkeegan commented on #582
Thanks @samuelgarcia this works great!

[2022-04-05 07:36] #582 closed

[2022-04-05 09:19] alejoe91 commented on #583
@lkeegan I believe this is due to the fact that your old recording is a `SubRecordingExtractor`. I recommend loading the old recording, converting it to new, and then slice it with `frame_slice` or `channel_slice` to avoid this behavior.

[2022-04-05 09:19] alejoe91 commented on #581
Thanks for the report @khl02007

Do you have time to look for a fix?

[2022-04-05 11:04] lkeegan commented on #583
@alejoe91 thanks - I'm not sure how to avoid getting a `SubRecordingExtractor` from `CEDRecordingExtractor`, but with `read_ced` and `channel_slice` I can do everything with the new API so I don't actually need to convert the old recording.

[2022-04-05 11:04] #583 closed

[2022-04-05 14:16] alejoe91 commented on #583
Yeah if you can go full on new API that's highly recommended! :)

[2022-04-05 18:16] khl02007 commented on #581
@alejoe91 sure I will try to submit a PR soon

[2022-04-08 00:00] miketrumpis opened #586 "performance hit with NWB + fancy indexing"
These lines can lead to slow reads from the NWB extractor due to [fancy indexing](https://docs.h5py.org/en/latest/high/dataset.html#fancy-indexing). Whenever I do something like this, I read the full channel column and then do a fast fancy index from the ndarray in memory. It is technically wasteful, but the use case for memory mapping is to pull out relatively small chunks.

https://github.com/Sp

[2022-04-08 05:18] alejoe91 commented on #586
Hi @miketrumpis

Have you tested this with unsorted channel_ids? Eg `rec.get_traces(channel_ids=[4, 2, 6])`

[2022-04-08 07:34] samuelgarcia commented on #586
Hi Mike,
I agree with Alessio when channel_indices is list or index and not ordered it will fail.

The only diff in your case is when there is one channel no ?
```traces = es.data[start_frame:end_frame, channel_indices[0]]```
In our API we must return 2d even for one channel  so we need to reshape (nsample, 1).

[2022-04-08 10:46] TdSNielsen opened #587 "Reading raw TDT data"
I am having problems figuring out how to use the extractors sub-package to import TDT data. In the attached example, I am trying to load data from a specific tank. In the code, folder_path points to the folder representing this tank (i.e., a folder containing all (64) channels and header files). 'eNeu1' is the stream that I wish to load, I have also tried without this argument, which throws the sa

[2022-04-08 12:21] samuelgarcia commented on #587
Hi,
could you also post this to python-neo repo ?
I guess the error is there.
@JuliaSprenger : implemented multi stream recently and should be able to help you.

[2022-04-08 15:07] TdSNielsen commented on #587
I have posted it there as well, thank you for the input @SamuelGarcia!

[2022-04-08 15:20] miketrumpis commented on #586
No, not tested. But the first slice `es.data[start_frame:end_frame]` yields an ndarray and the second slice `[:, channel_indices]` has been tested implicitly by numpy.

Thanks for pointing out the second point, I didn't know!

[2022-04-09 01:35] miketrumpis commented on #586
My bad.. didn't know about that layer of abstraction. Can I rely on [this](https://github.com/catalystneuro/lazy_ops/blob/master/lazy_ops/lazy_loading.py)?

[code]

[2022-04-09 03:40] jguides opened #589 "nearest_neighbors_isolation metric cannot be calculated for sort groups with units with fewer than seven spikes"
I get the following error when I try to calculate the nearest neighbors isolation score for a sort group that has at least one unit with fewer than seven spikes:

[code]
Thanks in advance for help with addressing this.

[2022-04-09 07:30] alejoe91 commented on #586
This approach would load all channels in memory and then slice the one you needs. Let's say you want 60 s from 2 neuropixels channels (saved to NWB). You would need to allocate in RAM 192 times more (for a brief period) than the current approach..depending on the use case, I think you might risk to run out of RAM..but we can discuss about it!

[2022-04-09 07:32] alejoe91 commented on #589
Thanks for the report. I think we should check first and discard units with less than n_neighbors spikes

[2022-04-09 23:27] khl02007 commented on #589
@alejoe91 I agree. How about
1. discard units with less than n_neighbors spikes
2. compute nearest neighbor metrics for the others
3. return the computed metrics, but also return `nan` for the units that were discarded

I can work on this, let me know what you think

[2022-04-10 02:44] miketrumpis commented on #586
Excellent points. Certainly 100x memory waste is unacceptable, and probably slower. I will def keep using a subclass for the scenario with <<2x memory overhead and 4x-8x speedup. The not-very-helpful proposal that occurs to me here is a threshold policy (e.g. over/under 2x overhead) for automatically deciding between the two approaches.

[2022-04-10 07:30] alejoe91 commented on #589
Thanks @khl02007

Additionally I would add a warning when these low count units are found!! If you can make a PR it would be great!

[2022-04-10 16:31] jonasort opened #590 "MCS .h5 file format not supported anymore?"
Hello,

I have used a former version of Spikeinterface to extract from MCS .h5 files via MCSH5RecordingExtractor

This issue was raised before but is closed:
https://github.com/SpikeInterface/spikeinterface/issues/216

Is there any way this feature will be reimplemented? All of our other analysis use the .h5 format and exporting the files in two different formats appears suboptimal.

Thank you!

[2022-04-11 02:59] jguides opened #592 "Error when concatenating recordings in new spike interface"
Our lab previously used the recording_files attribute of recording extractor objects to concatenate recordings, but this seems to be gone in the new version of spike interface. This leads to an error when we try to concatenate recordings, for example as below.
--> 166     recording = si.concatenate_recordings(recording.recording_list).
Could you recommend a strategy for concatenating recordings in

[2022-04-11 04:51] jguides commented on #592
It appears that the attribute _recording_segments is a substitute for the attribute recording_list.

[2022-04-11 06:31] samuelgarcia commented on #592
Hi,
in the new API, handle multi segment is quite more flexible.
Please have a deep look at:
Pleas ehave a look to this : https://spikeinterface.readthedocs.io/en/latest/modules/core/plot_5_append_concatenate_segments.html
and maybe check internal implementation. Theses list should be manipulated directly.

[2022-04-11 06:36] samuelgarcia commented on #590
Hi thanks,
for opening this again.
reader where moved to neo module and spiekinetrace only wraper thoses reader.
During this refactoring MCSH5RecordingExtractor was leasily forgotten.

We can try to add this back but we run a bit out of time.
waiting for that could you try MCSRawRecordingExtractor and export your data in this format.

[2022-04-12 02:25] jguides commented on #592
Thanks @samuelgarcia. It looks like the first link was not included; could you post that again? I actually am getting a new error when I try to concatenate multiple recording segments. I will also note that prior to updating my spikeinterface, I was able to run similar lines without error. I had a look at the second link, but am unclear on how I can avoid the below error. Is it not possible to con

[2022-04-12 05:59] alejoe91 commented on #592
Hi @jguides

Segments and recordings are two different concepts. Segments are sub parts of the same recording and treated very differently internally. The `recording._recording_segments` is private and should not be accessed directly. For the concatenation you can try: `si.concatenate_recordings([recording])`

Also I see that the error is triggered by a separate package. Can you send us or point u

[2022-04-12 14:54] jguides commented on #592
Thanks @alejoe91. This is helpful information. Also, this command worked for concatenating the segments of a recording (which I believe is the intent; I will double check with @khl02007 and @lfrank). The link to spikesorting_artifact.py is here: https://github.com/LorenFrankLab/spyglass/blob/master/src/spyglass/spikesorting/spikesorting_artifact.py.

[2022-04-12 14:54] #592 closed

[2022-04-12 17:41] ferchaure commented on #398
these are old ideas/comments

[2022-04-12 17:41] #398 closed

[2022-04-12 18:23] ferchaure commented on #254
any update about this? I need a way to merge units and maybe I can think how to implement it.

[2022-04-13 06:36] samuelgarcia commented on #254
Hi Fernando,
no news on this.
Alessio was super motivated to do it but he is now on the fight "file compression".
Maybe he will do it.
This can be a project for the hackthon in June :)

[2022-04-13 06:37] alejoe91 commented on #254
Hola @ferchaure

At least I have given some implementation thoughts. Maybe we could chat about it? Send me an email :)

[2022-04-14 16:49] bendichter commented on #520
@samuelgarcia since this is for spike sorting data specifically, I think .eeg can be safely ignored here

[2022-04-16 00:17] grahamfindlay opened #601 "BaseSorting fails to get spike trains if any units have only a single spike."
First: thanks for the wonderful project.
Second: Line 193 of `get_all_spike_trains` in the `BaseSorting` class (see below) fails to concatenate the list `spike_times` and raises an exception if you are unlucky enough to have any units with only 1 spike detected. This is because the single spike's timestamp is returned by `get_unit_spike_trains` as a 0-dimensional numpy array (scalar), rather than

[2022-04-20 08:01] Yuhao-Zhang-SV opened #602 "How to use plot_unit_waveforms API?"
Hi developers,

Sorry I have a simple question... After I read the API doc, there are two parameters, namely, _channel_ids_ and _units_ids_ in the _plot_unit_waveforms_ function. So basically can I just arbitrarily choose some units and channels as lists as inputs? I tried on this, but got **ValueError: operands could not be broadcast together with shapes (272,120,49) (1,1,2)** error. It seems tha

[2022-04-20 08:26] alejoe91 commented on #602
Hi @Yuhao-Zhang-SV

It would be helpful if you shared the snippet of code that you used! :)

[2022-04-20 08:29] alejoe91 commented on #601
Hi @grahamfindlay

Thanks for spotting this! If you have time and you want to dig into the code a bit more, it would be great if you could submit a PR! It seems you already know where to act exactly.

Let us know!

Cheers
Alessio

[2022-04-20 08:29] alejoe91 commented on #589
Fixed here: https://github.com/SpikeInterface/spikeinterface/pull/591

[2022-04-20 08:29] #589 closed

[2022-04-20 09:30] alejoe91 commented on #581
Probably related to https://github.com/SpikeInterface/spikeinterface/issues/601

[2022-04-20 09:31] alejoe91 commented on #586
@miketrumpis that could be an option indeed!

[2022-04-20 09:32] alejoe91 commented on #580
Hi @Erik2020-Neuronz

Can you ask for help on the Spyking circus github repo? Probably the problem is related to some installation issues

[2022-04-20 16:05] ClaraBesserer opened #604 "recording extractor t_start"
Hello,
I have recently discovered that my ephys recordings do not start at the same time (I use OpenEphys and record signals from headstage, digital and analog). They start with some delay that is saved in a 'timestamps.npy' file in my data folder, the first timestamps indicating the t_start of my data.
I use the binary recording extractor to import my data in spikeinterface (the data is stored in

[2022-04-20 18:14] khl02007 opened #605 "Loading channel locations in nwb recordings"
@lfrank @magland @alejoe91

summary: #552 didn't resolve our issue

issue: we store data from both tetrodes and probes in the same NWB file. The location of the channels in a tetrode is defined on the xz plane (e.g. (`rel_x`, `rel_y`, `rel_z`) = (6.25, 0.0,  6.25)). On the other hand, the probe channels are defined on the xy plane ((`rel_x`, `rel_y`, `rel_z`) =(1086.00, -1080.0, 0.00)). right now,

[2022-04-21 00:01] Erik2020-Neuronz commented on #580
Sounds good,
Thank you for the response

[2022-04-21 00:01] #580 closed

[2022-04-21 04:12] Yuhao-Zhang-SV commented on #602
OK, I think this is how I called _plot_unit_waveforms_ API:

            self.we = si.extract_waveforms(self.loaded_recording_cmr, self.sorting_MS4, self.waveformCachePath, ms_before = 2, ms_after = 2, max_spikes_per_unit = 10000, overwrite=True)
            sw.plot_unit_waveforms(self.we, _channel_ids=[0, 2],_ unit_ids=[19, 37, 27, 29])

If I deleted channel_ids here, it could be executed success

[2022-04-21 07:38] alejoe91 commented on #602
Hi @Yuhao-Zhang-SV

Why are you using `_channel_ids` and `_unit_ids`? It should be `channel_ids` and `unit_ids` (without the `_`)!

[2022-04-21 07:50] alejoe91 commented on #602
Also, can you paste the entire traceback?

[2022-04-21 09:45] Yuhao-Zhang-SV commented on #602
Oh, sorry about that... I intended to use the "_Italian_" format, but it did not display properly (the initial code has no _ before parameters...). And the entire traceback is shown below. Thanks~
<img width="766" alt="image" src="https://user-images.githubusercontent.com/78635669/164428174-13b2c91d-fbff-489e-a216-ab9675140cf4.png">

[2022-04-21 09:49] alejoe91 commented on #602
Ok thanks for the clarification! Can you try instead of providing `channel_ids` to use `radius_um=100`? Just to see if it works! This selects the channels in a um radius around the maximum channel

[2022-04-21 10:29] Yuhao-Zhang-SV commented on #602
OK, I think it works! The script can execute without errors. So why is this useful? I notice something has changed to my waveform figure...
![image](https://user-images.githubusercontent.com/78635669/164439250-a021d794-018f-410c-be75-7fede23416e9.png)

[2022-04-21 10:33] alejoe91 commented on #602
this plots the best channels for each unit. Also the `channel_ids` approach should work..I'll double check!

[2022-04-21 15:42] phanhuynh opened #606 "Automatic curation"
Hello all,
I'm trying to do automatic curation based on this video:
https://www.youtube.com/watch?v=fvKG_-xQ4D8
![image](https://user-images.githubusercontent.com/54812682/164498379-fa1c8ee4-9c91-4c88-8a7e-3fa210c20622.png)
Where can I find some sample code for the latest version of spikeinterface?
Thank you!

[2022-04-22 06:46] Yuhao-Zhang-SV commented on #602
Hi, since each unit has 9 waveforms, I just tried to include 9 channels to try to plot again but still failed... So what might be the problem here? Thanks in advance~
<img width="749" alt="1650609548(1)" src="https://user-images.githubusercontent.com/78635669/164618823-1773f4af-1c4f-4b2a-b813-9556b70dff27.png">

[2022-04-22 07:04] Yuhao-Zhang-SV commented on #602
Also, plot_unit_templates API has the same issue here...

[2022-04-22 07:32] Yuhao-Zhang-SV opened #607 "Parameter issue for sw.plot_isi_distribution"
Hi,

I'm using the latest version of Spikeinterface APIs. And when I called the API like this:
sw.plot_isi_distribution(sorting, unit_ids=units, bins=10, window=1)
There is a type error: __init__() got an unexpected keyword argument 'bins'.
<img width="819" alt="1650612729(1)" src="https://user-images.githubusercontent.com/78635669/164628330-83d0d1b5-732d-4795-914d-b5089cb02545.png">
<img width="5

[2022-04-22 12:15] alejoe91 commented on #606
Hi @phanhuynh

you can find the new way here: https://github.com/SpikeInterface/spikeinterface/blob/master/examples/getting_started/plot_getting_started.py#L220-L239

[2022-04-22 13:02] alejoe91 commented on #602
thanks for the report! I'll be off next week but we'll try to look into it at the beginning of May!

[2022-04-23 17:26] TomBugnon commented on #601
Hi Alessio, `get_unit_spike_trains` appears in ~40 times in the repo, both BaseSorter, BaseSorterSegment and pretty much all individual sorting extractors. I gather all of those ought to be edited to call `np.atlease_1d` ? (Or is there a couple places downstream that are sufficient)

[2022-04-25 06:07] jkb521 opened #608 "the error when get the results of sorting"
kilosort3 run time 353.29s
Traceback (most recent call last):
  File "/home/software/python3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3361, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-127-2e0d4cf81c2b>", line 5, in <cell line: 5>
    sortingk = ss.run_sorter('kilosort3', rec_cmr, output_folder=foldername,
  File "/home/softwar

[2022-04-25 12:23] phanhuynh commented on #606
Exactly what I was looking for!  Thank you!

[2022-04-26 09:48] phanhuynh commented on #606
Quick follow up.  Any ideas about this error?
[code]

[2022-04-26 16:10] ferchaure opened #609 "Little performance improvement"
Hi guys, I was coding the curationsort class and I started wondering, the output of get_unit_spike_train  must be sorted?
If that is the case, we could use np.searchsorted

Code like this is O(log(n)):

`   init = np.searchsorted(times, start_frame, side='left')`
`   endf = np.searchsorted(times, end_frame, side='right')`
`   newtimes = times[init:endf]`

But the usual code is O(n):
 `newtimes = t

[2022-04-27 02:31] jkb521 opened #610 "Klusta units are not unique! Using unique unit ids"
I use the Klusta sorts , but when finished,
I got  "Klusta units are not unique! Using unique unit ids"., and  did not generate files such as spike_times.npy ......,
and thus cannot compute quality_metrics analyses

I have four groups 16 channels.

[2022-04-28 02:49] jkb521 opened #611 "spikeinterface did not apply preprocessing steps to exported .dat files for spikesorting ,right?"
When I did the spike sorting in spikeinterface, I found that it seems it only export the raw .dat file, but did not apply any my preprocessing steps, such as filt the data, apply common reference,  because the specitifc sorter would do those steps,  but I am not sure whether my findings are true.  Can someone tell me whether this is true? Thanks.

[2022-05-02 15:34] bendichter opened #614 "export to NWB"

[2022-05-03 08:51] lkeegan opened #615 "`plot_rasters` gives error if spike_train contains a single spike"
[code]
Related to #601 - but I think just using `.size` instead of `len()` here would fix this.

[2022-05-03 09:12] alejoe91 commented on #615
Hi @lkeegan

This came up before! Another **deeper** fix would be to ensure spiketrains are `np.atleast1d` in the `get_unit_spike_train` function. I think this would fix it too and it would probably also fix other bugs related to this elsewhere.

Will make a quick PR now! :)

[2022-05-03 09:19] lkeegan commented on #615
Hi @alejoe91 - that would be great, thanks! I just ran into another similar issue which would likely also be fixed by using `np.atleast1d`:
[code]

[2022-05-03 09:20] alejoe91 commented on #615
@lkeegan can you check if this PR https://github.com/SpikeInterface/spikeinterface/pull/617 fixes the issue? I think it would be a more general fix!

[2022-05-03 09:25] lkeegan commented on #615
@alejoe91 thanks! that PR fixes both issues for me

[2022-05-03 10:05] alejoe91 commented on #615
We'll merge that then!

[2022-05-03 14:10] alejoe91 commented on #601
@grahamfindlay is it using kilosort right?

[2022-05-03 14:10] alejoe91 commented on #581
@khl02007 this is using kilosort right?

[2022-05-03 14:11] alejoe91 commented on #615
@lkeegan is this using kilosort right?

[2022-05-03 14:15] lkeegan commented on #615
@alejoe91 yes, this was using kilosort 2

[2022-05-03 14:17] alejoe91 commented on #615
I'm asking because it the problem is specifically due to KS then it's better to change its extractor directly. I'll update the PR. Let me know if the problem is still fixed :)

[2022-05-03 15:53] #615 closed

[2022-05-04 07:34] samuelgarcia commented on #604
Salut Clara,
some recording handle times vector in two way:
  * with a times vectors
  * with t_start and sampling_rate, in that case the time vector is generated.

You can have with: ````rec.get_times()```

So in your case if you want to align your signal you should do:
[code]

I hope it helps.

[2022-05-04 07:53] alejoe91 commented on #604
@ClaraBesserer you can also use the `read_openephys()` function instead of loading the binary file directly!

[2022-05-04 07:53] alejoe91 commented on #604
@samuelgarcia does neo loads the `timestamps.npy` for open ephys?

[2022-05-04 10:29] samuelgarcia commented on #604
i don't remember. i think neo read the first timestamp only. need to check

[2022-05-04 19:31] khl02007 commented on #581
@alejoe91 yes it is. sorry for being slow on this issue. how do you think this should be fixed? seems like we should make kilosort extractor return only the units that have nonzero number of spikes?

[2022-05-04 19:44] grahamfindlay commented on #601
Hi, yes it is. Kilosort 2.5. Sorry I couldn't get to this in time, I see you're on it now though. Thanks!

[2022-05-05 05:02] khl02007 opened #619 "Remove artifact function with explicit timestamps"
`RemoveArtifactsRecording` takes as input `list_triggers`, which are in frames. On the other hand, `ms_before` and `ms_after` are in milliseconds. This is converted to frames using the sampling rate later. As a result, one cannot make use of `ms_before` and `ms_after` if one uses explicit timestamps (perhaps because there are missing samples in the recording). @alejoe91 @samuelgarcia  what do you

[2022-05-05 07:46] alejoe91 commented on #581
I think we should make all sorters do that! We have a new function `sorting.remove_empty_units()` that selects only the units with nspikes>0. For spiketrains with 1 spike, the issue should be solved with https://github.com/SpikeInterface/spikeinterface/pull/617

[2022-05-05 07:47] alejoe91 commented on #601
Indeed it should be fixed with https://github.com/SpikeInterface/spikeinterface/pull/617 (and it appears to be a Kilosort-specific problem)

[2022-05-07 07:55] TdSNielsen commented on #587
So, I figured out what caused this problem:

If the TDT data files are located in ~/folder_1/folder_2/, the the filename of the *.Tbk file must be equal to: folder_1_folder_2.Tbk
This is a bit weird, and is not the case when using TDT's own python functions. However, now that I know this, I was able to correct it.

I am still struggling with another issue, though: If I don't specify stream_id, I g

[2022-05-07 08:04] samuelgarcia commented on #587
Hi Thomas,
for spikeinterface when the format is multistream on neo side you indeed to specify which one because Recording object is mono stream.
I think for tdt stream are order by descending sampling rate.
Otherwise you can also loop over then inspect channel names and properties until you find the good one.

[2022-05-07 08:24] TdSNielsen commented on #587
Thanks @samuelgarcia, that makes sense. I have indeed been mainly trying with stream='0' because the relevant stream (store='RSn1' in TDT terminology) is first in the TDT header file. Now I just need to figure out why it throws the data type error on dtype in baserecording.py...

Do you know if it is possible to limit what data gets loaded from a stream? The relevant stream contains 64 channels, o

[2022-05-09 09:11] samuelgarcia commented on #609
Hi fernando.
Yes it must be sorted.
Go for the searchsorted approach it is faster.

[2022-05-09 09:12] samuelgarcia commented on #610
@alejoe91 : can you help on this ?

[2022-05-09 10:05] alejoe91 commented on #610
Hi @jkb521

Can you share the entire code and error? `"Klusta units are not unique! Using unique unit ids"` is just a warning and it renames the unit ids.. the problem should not be related. Note that spike times are not in the file list for klusta, which generates a `kwik` file.

[2022-05-09 13:18] ferchaure commented on #609
cool, I will try to remember it if I found the same codes in other places

[2022-05-09 13:18] #609 closed

[2022-05-12 14:19] alejoe91 commented on #607
Hi @Yuhao-Zhang-SV

There is probably a mismatch here: you can check the actual arguments with in the `ISIDistributionWidget` init (see https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/widgets/isidistribution.py#L34-L35). The parameter is `bin_ms`! we''l change it in the docs. Thanks for reporting it

[2022-05-12 14:22] alejoe91 commented on #611
if you pass a preprocessed recording to the sorter, then all the processing steps are applied and the preprocessed data is saved as dat file

[2022-05-12 17:42] #607 closed

[2022-05-12 17:59] samuelgarcia commented on #611
Note that this is true for sorter that need bin/dat file as input (Ks, klusta, spyking cicus, ...).
Some sorter (ms4, HS) do not need to cache (save) the preprocessed as a raw binary in the folder.

[2022-05-17 14:06] TomBugnon opened #628 "SpikeGLXRecordingExtractor fails when gate > 0"
Hi @samuelgarcia  and all,
Initializing a `spikeinterface.extractors.SpikeGLXRecordingExtractor` object from a probe directory with gate index 0 works properly:

[code]

[code]

... But it fails when the gate index is >0

[code]

[code]

[code]

Same issue when instantiating directly the `SpikeGLXRawIO` object from neo. It seems like the gate (and not only the stream) should be either passed as a

[2022-05-17 14:46] grahamfindlay commented on #628
If you want to parse the filenames themselves for this, here's a snippet I often use for that ([source](https://github.com/CSC-UW/ecephys/blob/develop/ecephys/sglx/file_mgmt.py)):

[code]

[2022-05-17 18:44] samuelgarcia commented on #628
Hi.
I am not super familiar with this "gate" concept. In my mind, it was equivalent to a neo "segment".
See this https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/spikeglxrawio.py#L291
In short the another piece of the same recording.

But seing your dataset, it appears that I was totally wrong!
In fact, I never get such a dataset in my hand.
I think the _t0_ relate more the segme

[2022-05-17 19:49] samuelgarcia commented on #628
@TomBugnon : I was not ware of you fork here https://github.com/CSC-UW/spikeinterface.
One day we could have a call to discuss how to merge your change and wish into the main repo.

[2022-05-18 13:09] TomBugnon commented on #628
Hi @samuelgarcia,
Bill Karsh explains the concept of gates and triggers [here](https://github.com/billkarsh/SpikeGLX/blob/master/Markdown/UserManual.md#gates-and-triggers).

If I got that properly, within a single "run" the gate can be opened or closed to stop and restart acquisition, saving files in a different directory each time, and the triggers increments are splitting the ongoing recording (

[2022-05-18 13:15] alejoe91 commented on #628
@TomBugnon do you know if the meta file can change across triggers/gates? In order to have a multi-segment object, we need channels and locations to be the same (no reconfiguration of the probe)

[2022-05-18 13:22] TomBugnon commented on #628
(@alejoe91 I just updated my comment)

[2022-05-18 13:36] TomBugnon commented on #628
[Here's the gate tab help](https://github.com/billkarsh/SpikeGLX/blob/master/Markdown/GateTab_Help.md)

[And here the trigger help](https://github.com/billkarsh/SpikeGLX/blob/master/Markdown/TrigTab_Help.md)
-> This suggests that trigger files are not necessarily contiguous

[This](https://github.com/billkarsh/SpikeGLX/blob/master/Markdown/UserManual.md#run-toolbar) suggests that recorded channels

[2022-05-18 14:02] samuelgarcia commented on #628
OK I see.

If I understand correctly, trigger should be used as neo segment. They are in the same folder.

diffrents gate are in diffrents folder so this can be ignored are only porpagated to annotation.
So changes are minimal on neo side and also on SI side.

Normally **CatGT** will not be anymore necessary with SI because it will read at once an entire folder of multiple trigger.
It will give a

[2022-05-18 14:16] TomBugnon commented on #628
That sounds good to me. About CatGT I was more hinting that it would be good that SGLX extractors also support catGT-processed files (even though concatenation could be performed via SI), because CatGT performs [non trivial preprocessing](https://billkarsh.github.io/SpikeGLX/help/catgt_tshift/catgt_tshift/). For instance in our pipeline we first preprocess contiguous files with CatGT, and then use

[2022-05-18 16:12] billkarsh commented on #628
Once SpikeGLX acquisition is started most functional parameters can not be changed, so should be the same across multiple g and t indices. Things that are changeable in metadata include additional user annotations and file {length, SHA, timestamp}. There are several mini programs that determine how a sequence of files is written, these are called 'triggers' and produce files with advancing t index

[2022-05-18 16:28] samuelgarcia commented on #628
@TomBugnon : both `SpikeGLXRawIO` and `SGLXRecordingExtractor` have lazy loading.
In short, you get all segment (triggers) but you can can reduce the trigger range with `rec.select_segments(...)`.
Have a look to **si.core.segmentutils.py**
So I don't thing it is necessary to overload the reader signature with trigger slection.
We can already do it after in a lazy way.

@billkarsh : thnak you for t

[2022-05-18 22:34] grahamfindlay commented on #628
If some simple recordings in saline (i.e. non-neural) are okay to get started with, I can make you any testing files you need tomorrow. If I am following everything correctly, this should cover all the cases that might need handling:

[code]

So this will be 6 runs in total. Assuming the minimum of 2 probes, 2 t-files, and 2 g-indices per run, with very short (~10s each) t-files, this will be ~2GB

[2022-05-19 08:34] samuelgarcia commented on #628
Hi,
thanks a lot for proposing this.

theses files will be push here : https://gin.g-node.org/NeuralEnsemble/ephy_testing_data

I was not aware of the (3b) possibility. Overlaping could be potentialy and conceptualy a problem.
But I think it is a corner case.

Files have to be ultra small.
They are downloaded by several project for continuous integration testing (neo, spikeinterface and nwb conver

[2022-05-19 15:34] billkarsh commented on #628
Guys, overlapping files is not a rare case. I really think you should let CatGT be your front end for ingesting SpikeGLX data. As the author of both programs I know exactly how they work and keep them in sync. That's my full time job. Why don't you want to use an existing and correct resource?

[2022-05-19 16:52] alejoe91 commented on #628
@billkarsh I think we should allow also to loat CatGT processed data directly into SI. On the other hand, the sample/shift / destriping is also useful for NPIX Open Ephys data. Note that our implementation is ported from the IBL code base, which was yet another version of the same process.

[2022-05-19 17:15] grahamfindlay commented on #628
Tom and I agree with Bill, that supporting CatGT-processed files is a good idea. As Tom mentioned, it is widely used, and as Bill mentioned, it is fastidiously maintained. I would add that it is also multi-platform and very fast. And many of the functions it performs are quite necessary for correctness (e.g. the demultiplexed common-average referencing). If CatGT-processed files were not supported

[2022-05-19 17:38] billkarsh commented on #628
I want the community to have access to correct implementations, where that is possible. A few points. (1) Regarding "demultiplexed common-average referencing," that sounds like the old global demux, which is now replaced by the preferred (tshift + gblcar). (2) But in either case, each probe class/type has its own channel-to-ADC mapping, and doing any multiplexing correction needs an awareness of t

[2022-05-19 17:41] alejoe91 commented on #628
@billkarsh let's have a chat about this! I would include @jsiegle and @oliche in the loop :) (btw IBL and SI have Tshift + global demux too)

[2022-05-19 17:43] alejoe91 commented on #628
Another possibility would also be to collaborate on the SI side and make sure that the implementations match and are constantly up to date. The nice thing about the SI implementation is that it's lazy, so you just process the traces that you ask for (e.g. for visualization)

[2022-05-19 18:56] billkarsh commented on #628
I'm a super friendly guy, trust me. I don't have any free time and have a very full agenda already. I'm not keen on working on a parallel version in SI (or other) of what I already cleared off my plate in CatGT. It's a command line tool so that it can plug into other workflows. Also the source code is there which answers essentially all questions about how I actually do it, so attending meetings t

[2022-05-19 23:18] grahamfindlay commented on #628
@samuelgarcia Sample data got. I opened a [GIN issue](https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/issues/81) per the instructions at the link you provided. Will also just attach to this post in case you want to skip that process.

Data: [sample_data.zip](https://github.com/SpikeInterface/spikeinterface/files/8734701/sample_data.zip)

[2022-05-20 01:15] miketrumpis opened #633 "`CommonReferenceRecording` missing keyword for JSON"
Hi, the CommonReferenceRecording preprocessor constructor is

https://github.com/SpikeInterface/spikeinterface/blob/5d218a25328c49e76d1e667f2909320b42709138/spikeinterface/toolkit/preprocessing/common_reference.py#L48-L49

and it is not fully reproducible from JSON without saving the "operator" argument.

https://github.com/SpikeInterface/spikeinterface/blob/5d218a25328c49e76d1e667f2909320b4270913

[2022-05-20 01:51] grahamfindlay commented on #628
I am also adding here a collection of CatGT output produced from these sample files. This output uses the latest version of CatGT (v3.0). It should cover most use cases (concatenation of t-files within and across g-indices, concatenation of continuous and discontinuous recordings, supercat concatenation of multiple runs, and output in both folder-per-probe and single-folder format).

Data: [sample

[2022-05-20 06:04] alejoe91 commented on #633
Closed via https://github.com/SpikeInterface/spikeinterface/pull/634

[2022-05-20 06:04] #633 closed

[2022-05-20 07:08] samuelgarcia commented on #628
Hi Graham.
Thanks a lot for this.
I will push myself to gin repo.
This look absolutly perfect. bin files are small and I think we cover many case.

[2022-05-24 05:42] max-c-lim opened #636 "BinaryRecordingExtractor.write_recording creates different .dat file depending on n_jobs and total_memory"
(Using SpikeInterface version 0.94.0)
I have ephys data with type "uint16" stored in .raw.h5 format. I use the following code to convert the data to .dat format for Kilosort2.
![image](https://user-images.githubusercontent.com/106136055/169956521-77aaf17c-e964-4b34-aa05-40822d7cf52d.png)
When I change, `n_jobs` or `total_memory`, the .dat file changes as well. (Kilosort2 detects different number o

[2022-05-24 05:49] alejoe91 commented on #636
Hi @max-c-lim

Unfortunately, because of the filter, the binary input data will be slightly different using different chunk sizes. We use a margin for the chunks to ameliorate the margin problems, but ideally you would need to apply the filter over the entire signal. If you have enough RAM, you could do it, but the changes due to this should be very small. Did you take a look at the traces?

[2022-05-24 05:55] alejoe91 commented on #636
Also, note that Kilosort always find a slightly different set of units and spikes. So I don't think the mismatch is due to the different chunking. You can also try to run the same recording twice to see if the changes are similar to using different chunking options

[2022-05-24 05:55] max-c-lim commented on #636
Hi @alejoe91

No, I did not look at the traces, but sometimes the difference in the binary input data will cause Kilosort2 to raise the error
`Error using / Matrix dimensions must agree`.
What is the best way to apply the filter over the entire signal?

Thanks for the quick response!

[2022-05-24 05:58] alejoe91 commented on #636
I see. You could try to use `total_memory='100G'`, but then it would only use one job..so it's a tradeoff. Anyways, I would recommend to check the traces ;)

[2022-05-24 06:02] max-c-lim commented on #636
Thanks for the help! I'll take a look at the traces. Do you know what could be causing the Kilosort2 error? The error happened when I switched `total_memory` from `4G` to `6G`. Could this be unrelated?

[2022-05-24 06:05] alejoe91 commented on #636
Unfortunately KS GPU errors are not very interpretable! Honestly I usually use smaller chunks, like `total_memory='1G'`! Give it a try!