[2022-05-24 06:12] samuelgarcia commented on #636
For filter, I would recommend large chunks, something like a 1s.
We have now `chunk_duration='1s'` that can be used instead of `chunk_memory` / `chunk_size` / `total_memory`.

My feeling here is that the uint16 converted to int16 directly at filtering step could have some problems.
Maybe not.
Look at traces! And particularly at traces on chunk border!

[2022-05-25 16:25] grahamfindlay opened #639 "Question: Best practices for sorting spike snippets, rather than continuous recordings"
Although we now collect all our spiking data as continuous recordings, we have a fair amount of old data where threshold crossings were detected online, and short snippets (a few ms) around the crossing were extracted. This was done to reduce storage requirements for long (>24h) recordings, back when such things were prohibitively expensive. These data were all collected on TDT systems, which actu

[2022-05-25 21:14] ferchaure commented on #639
Implement clustering inside spikeinterface is one of the projects on the [hackathon ](https://catalystneuro.github.io/spike-sorting-hackathon/), and already extracted spikes can be seen as the output of  the clustering first steps. Then maybe the extracted spikes/snippets can be the same class or at least that's my idea for fixing the issue in the hackathon.

[2022-05-25 23:03] vncntprvst opened #640 "error getting the sorting results from containerized sorter"
Getting the sorting results from the containerized TDC sorter fails due to this validation:
https://github.com/SpikeInterface/spikeinterface/blob/9de66801805d380dcfb1cb12047e9f86c6dd2771/spikeinterface/extractors/tridesclousextractors.py#L19

See issue posted in the spikeinterface-dockerfiles repo: https://github.com/SpikeInterface/spikeinterface-dockerfiles/issues/23#issue-1248836582

This may ap

[2022-05-26 08:09] alejoe91 commented on #640
@vncntprvst

See this issue: https://github.com/SpikeInterface/spikeinterface/issues/474

Tridesclous is the only sorter that requires the package for the extractor. We have to convince @samuelgarcia to move the relevant TDC code (TdcDataIO) to SpikeInterface

[2022-05-26 08:13] alejoe91 commented on #639
Thanks for the question @grahamfindlay

As @ferchaure mentioned currently we do not have a way to handle this.

In `spikeextractors`, we had an example of a `RecordingExtractor` from Axona that fills in the missing portions of the signals with low-amplitude gaussian noise (see [here](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/axonaunitrecordingextracto

[2022-05-26 14:55] #561 closed

[2022-05-26 15:56] mfvd opened #642 "Load sorting from mountainsort output folder"
Hello,

I've been trying to read a sorting object from the mountainsort output folder. I was expecting to find something similar to ```se.read_kilosort("kilosort-folder")``` but don't seem to find the correct method.

This dataset was sorted by property (shank) and the output folder has one sub-folder for each shank.

How can I load the this data into SI so I can export to phy?

Cheers

[2022-05-26 15:58] alejoe91 commented on #642
Hi @mfvd

Mountainsort uses the MDA format, so you can use these functions: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/extractors/mdaextractors.py#L215-L236

[2022-05-27 13:20] mfvd commented on #642
Hi @alejoe91

Thanks.
I've tried `sorted_ms4 = se.read_mda_sorting('ms4_output')` but got the following error

[code]

[2022-05-27 13:21] alejoe91 commented on #642
Yeah you gave to pass the sampling frequency as an additional arg because mda doesn't have it

[2022-05-27 13:28] mfvd commented on #642
My bad, I assumed it was in the sorting object.

However, I get this new error now

[code]

[2022-05-27 13:38] alejoe91 commented on #642
Ah you have to point to the actual .mda file for the spiking data

[2022-05-27 13:41] mfvd commented on #642
Ahh ok, that makes sense!
Would there be a way to load all sorting objects (one per shank) as a single object. My goal would be to have all the data exported to phy as a single object.

[2022-05-27 13:46] alejoe91 commented on #642
You can loop over the folders and load the individual sorting in a list and then use the `si.aggregate_units(sorting_list)` function (see [here](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/unitsaggregationsorting.py#L100))

[2022-05-27 13:59] mfvd commented on #642
Thanks @alejoe91! I'll do that.

cheers

[2022-05-27 15:30] Dradeliomecus opened #643 "compare_sorter_to_ground_truth fails: 'object' has no attribute 'dtype'"
Hi,

I'm trying to benchmark some spike sorters using `spikeinterface.comparison` with a `MEArec` recording.

Here is my code:
[code]

I get the following error:
[code]

I checked in `comparisontools.py` on line 570, and the variable `unit1_ids` looks like this:
[code]

I don't know much about `pandas` (never used it), but I'm guessing the error comes from the strange `dtype` of `unit1_ids`.

Than

[2022-05-27 19:33] JuliaSprenger opened #644 "extra dependencies for sorting in containers"
Depending on the input format used for running a sorter in a container some extra requirements need to be installed, e.g. nixio (for more potential additional requirements see [here](https://github.com/NeuralEnsemble/python-neo/blob/2b0550ec8c4742dcfffcbe5f900027f97026ec9f/setup.py#L9). These are currently neither installed by default, nor installed when an upgrade of spikeinterface is performed i

[2022-05-27 20:04] alejoe91 commented on #644
Hi @JuliaSprenger

I think that we can give both options: installing some additional packages with `extra_requires` and having some class variables for extractors that require additional packages, so we can recursively look into the recording dictionary to see whether some additional.packages are needed. What do you think?

[2022-05-27 20:27] #642 closed

[2022-05-27 20:35] Dradeliomecus opened #645 "MEArecRecordingExtractor.get_traces() return array instead of memmap"
Hi,

Working with the `MEArecRecordingExtractor`, I found out that using the `get_traces()` method returns a numpy array rather than a `memmap`.
This means that filtering the recording leads to the program getting killed because there is not enough RAM (and without filtering, I can barely get the traces (~40GiB).

Is this by design?

Thanks,
Aurélien W.

[2022-05-27 20:53] alejoe91 commented on #645
Hi Aurelien,

The `get_traces` on the Mearec object should return an h5 view. However, when filtering you have to load the traces in RAM. You want be able to filter in memory, but you can save the object using parallel chunks that write to a binary file.

[2022-05-27 21:03] Dradeliomecus commented on #645
Here is what I get:
[code]

How do I do that?

Thank you!

[2022-05-27 21:07] alejoe91 commented on #645
Ok I'll look into the memmap issue. For saving, you can use:
`rec_bin = recording.save(folder=..., chunk_duration='1s', n_jobs=4, progress_bar=True)`

Also note that you shouldn't really call the get traces of an object with no arguments, but always slice it using the arguments (`start_frame`, `end_frame`, `channel_ids`). Get traces is supposed to return you the actual traces, and most of the time

[2022-05-27 21:53] Dradeliomecus commented on #645
Yeah I usually only do that for debugging, but here I'm pointing that out because I get a crash when loading the waveforms with a filtered recording (because of not enough RAM), and I believe that the problem comes from the get_traces() that uses RAM instead of disk.

This means that in order to get the filtered waveforms, I need to first save the recording to a binary file on disk and extract the

[2022-05-30 06:48] samuelgarcia commented on #645
@Dradeliomecus : `get_traces()` is by design the **load in memory** operation.
Having a numpy array is the correct behavior.
You can also have a numpy.memmap in some case but it is still a numpy array.
When it is h5 based then the h5 view is converted to numpy array on the fly.

No :  to get the filetered waveforms you do not need to save (cache) the entired recording.
You can used the lasy record

[2022-05-30 06:51] samuelgarcia commented on #644
@JuliaSprenger : honestly I would build a docker image based on the one you want to run with nixio preinstalled!

[2022-05-30 07:09] JuliaSprenger commented on #644
Hi @samuelgarcia Yes, that's an option for me to build my own container, but I don't think it would be very user friendly to provided official containers that only work for some formats, as not all users are familiar with containerization and package installation.

[2022-05-30 07:55] Dradeliomecus commented on #645
Thank you @samuelgarcia for the clarification!

I see, I did not see anything in the source code about chunking, but it actually was in the `**kwargs`
https://github.com/SpikeInterface/spikeinterface/blob/1c9c9efecaf2a88111eeda9443ca2aabaafb391c/spikeinterface/core/waveform_extractor.py#L736

[2022-05-30 07:55] #645 closed

[2022-05-30 09:11] Dradeliomecus commented on #643
Fixed by upgrading my `pandas` library (it was over 2 and a half years old).

[2022-05-30 09:11] #643 closed

[2022-05-30 12:43] DradeAW opened #648 "`export_to_phy` with large dataset"
Hi,

I'm trying to use the `export_to_phy` function on a rather large dataset (30 minutes neuropixels recording with 300+ units).

When I try to use the function "normally", I get an error because I don't have enough RAM:
[code]

I get the following error:
[code]

I thus decided to use chunking to avoid this problem
[code]

And I got the following error:
[code]

How should I go about exporting to

[2022-05-30 13:51] samuelgarcia commented on #648
The error seeams to be in compute spike amplitudes.

Could you try tpo compute spike amplitudes **before** export_to_phy ?
Lets see why this fails.

My guess is that the chunk_size is not propagated properlly to this sub function.

[2022-05-30 14:17] Dradeliomecus commented on #648
[code]

Works fine ...
except that I cannot open the folder with `phy template-gui params.py`:
[code]

[2022-05-30 14:33] samuelgarcia commented on #648
This is strange because by default `compute_spike_amplitudes()`have `return_scaled=True`.
Could you check the dtype in the sub folder "spike_amplitudes".

Also could you check the dtype with `rec.get_traces(..., return_scaled=True)`

There must a bug.

[2022-05-30 14:36] Dradeliomecus commented on #648
`amplitude_segment_0.npy` has a dtype of `float32`.

I ran `compute_spike_amplitudes(return_scaled=True)` but `extract_waveforms(return_scaled=False)`

Does it come from here?

[2022-05-30 14:45] Dradeliomecus commented on #648
No the one in phy is `float32`.

Is it `spike_templates.npy` that is of type `int64`.

[2022-05-30 14:49] samuelgarcia commented on #648
ah! Sorry I was thinking it was the spike amplitudes the problem!!!

We need a fix in export_to_phy to convert to float even if you we use resturn_scaled=False.

Waiting the fix you should use `extract_waveforms(return_scaled=True)` it should fix your bug no ?

[2022-05-30 15:16] samuelgarcia commented on #648
We have a `sorting = sorting.remove_empty_units()` utils. You can use this.

I think that nan is the correct behavior for similarity.
Maybe we should replace all Nan by 0 in the similarity matrix before exporting to phy.

Could you try a patch ?

[2022-05-30 15:25] Dradeliomecus commented on #648
I still get the same message and error after `sorting = sorting.remove_empty_units()`

I don't have time to debug right now, but I will look at it when I have the time.

What is really weird is that I didn't have this problem with a waveform extraction containing `return_scaled=False`

[2022-05-31 16:43] KonKob opened #650 "Compatibility for .pl2 files"
As Plexon .plx file is supported, will there also compatibility for the newer format .pl2 be implemented?

[2022-05-31 17:01] samuelgarcia commented on #650
Hi,
we need to implement it in neo first.
Could you open an issue here https://github.com/NeuralEnsemble/python-neo ?

[2022-05-31 19:06] samuelgarcia commented on #628
@grahamfindlay
Hi Graham,
I have started to implemente the multi gate/multi trigger in neo.
Have a look here https://github.com/NeuralEnsemble/python-neo/pull/1125
In the folder you provide:
SpikeGLX/5-19-2022-CI0/5-19-2022-CI0_g0/5-19-2022-CI0_g0_imec1/

I have this file list
[code]
Some files have the `_tcat_` which do not follow the regular expression.
Is it normal ?

[2022-05-31 23:23] billkarsh commented on #628
CatGT output are labeled as _tcat. One of the CatGT operations sews a t-series together, e.g. _t0+_t1+_t2+...+_tN becomes _tcat, signifying "concatenated t's." But we generalize so that all CatGT processed output bin/meta files are labeled _tcat.

[2022-06-01 15:25] billkarsh commented on #628
FWIW, CatGT sends output to the input folders by default and to an optional destination path if specified.

Having the input file set and the CatGT output for that set is an ideal opportunity to test that ingestion of these agree. If there is any difference that's a bug.

Also the nomenclature is "_tcat" There would never be a following underscore. This is always followed by a file type string (do

[2022-06-03 11:44] maurotoro opened #652 "Kilosort hidden parameters"
Dearest,

During my sorting adventures, I realized that kilosort has a parameter that controls the length of the waveform that is taken from the recording that is not mentioned on their StandardConfig.m files. From my experience, changing their default value of 60 to 30 improve tremendously my results, so I would like to be able to change it directly through spikeInterface. Currently, I have to ma

[2022-06-03 11:49] alejoe91 commented on #652
Hola @maurotoro

Of course! Can you make a PR to expose the parameter? As you might have seen,we are currently refactoring the KS implementations, so please make it as soon as you can so we can propagate the changes ;)

Cheers
Alessio

[2022-06-07 02:42] johnmbarrett opened #657 "Spike sorting Intan data with Kilosort gives weird results due to casting"
Hi,

First off, apologies if this has been brought up before, but I couldn't find this exact issue when searching for issues relating to Intan or Kilosort (and none when searching for Intan and Kilosort). Also not sure if this is an issue with this package or Neo, if the latter please let me know and I'll bring it up there.

Anywho, when trying to use SpikeInterface to run some Intan .rhd files th

[2022-06-07 04:25] johnmbarrett commented on #657
Version info, since I forgot to mention it:

spikeinterface: 0.94.0
Python: 3.9.6

$ uname -a
Linux phys-narwhal 4.15.0-123-generic #126-Ubuntu SMP Wed Oct 21 09:40:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Also looks like some recent commits (since the latest version in pip) have pushed the cast in question down to line 180 of core_tools.py

[2022-06-07 14:39] bendichter opened #659 "test class inheritance"
https://github.com/SpikeInterface/spikeinterface/blob/ae679aff788a6dd4d8e7783e1f72ec7e550c1bf9/spikeinterface/extractors/tests/common_tests.py#L10

@samuelgarcia Why not have this class inherit from `unittest.TestCase`? Then you can avoid multiple inheritance in descendant classes.

[2022-06-08 08:27] dongyangTHU opened #670 "how to solve "spikeinterface.sorters.utils.misc.SpikeSortingError: Spike sorting failed. You can inspect the runtime trace in tmp_KL/spikeinterface_log.json""
When running the programme, it comes out with:
[code]
But ran successfully in another PC, how to deal with this?

[2022-06-13 04:52] alejoe91 commented on #652
Fixed via https://github.com/SpikeInterface/spikeinterface/pull/655

[2022-06-13 04:52] #652 closed

[2022-06-13 04:53] alejoe91 commented on #644
Fixed via https://github.com/SpikeInterface/spikeinterface/pull/689

[2022-06-13 04:53] #644 closed

[2022-06-13 14:38] phanhuynh opened #702 "Kilosort error: sgemm in CUBLAS failed"
Hello Spikeinterface team, thank you in advance for all your support!

So I'm getting this error when running Kilosort3:
(Matlab R2018a, CUDA 9.0, Visual Studio 2015, NVIDIA RTX A5000)
[code]
Here's the log:
[spikeinterface_log.txt](https://github.com/SpikeInterface/spikeinterface/files/8891602/spikeinterface_log.txt)

Note that:
1) I've successfully ran mexGPUall.m
2) when I run mex -setup C++, I

[2022-06-13 14:57] bendichter commented on #702
@phanhuynh would you be open to trying our kilosort docker/singiularity container with a pre-compiled version of kilosort3? Are you on a system that can run docker or singularity?

[2022-06-13 15:08] phanhuynh commented on #702
I would love to try!  I'm installing docker now.

[2022-06-13 15:12] bendichter commented on #702
try:
[code]

[2022-06-13 15:16] phanhuynh commented on #702
Bear with me, Ben, I'm not a programmer.

---------------------------------------------------------------------------
[code]

[2022-06-13 15:48] alejoe91 commented on #702
Thanks Ben! I small bug was introduced during the multiple merges last wee, so we have to install from this branch: https://github.com/SpikeInterface/spikeinterface/pull/701

[2022-06-13 19:22] alejoe91 commented on #702
ok now merged to master: https://github.com/SpikeInterface/spikeinterface/pull/703

@phanhuynh can you try to install as Ben suggested?

[2022-06-13 19:23] alejoe91 commented on #670
Hi, you can check the `spikeinterface_log.json` file in the output folder to see where it failed. Maybe there were some installation issues

[2022-06-14 02:03] bendichter opened #705 "kilosort3 on dandihub"
I’m having trouble running kilosort3 singularity on dandi hub.

[code]

[code]

I did start a GPU instance. I tried again just to make sure. Any ideas what might be going on here? @chyumin , you were able to git ks3 to run on dandi hub, right?

[2022-06-14 02:14] alejoe91 commented on #705
@bendichter just to double check you get normal output for `nvidia-smi`?

[2022-06-14 02:14] chyumin commented on #705
@bendichter PR #674 inserts a test to check if there is a nvidia gpu installed by trying to run `nvidia-smi` bash command ([here](https://github.com/SpikeInterface/spikeinterface/pull/674/files#diff-dab307555fd8549e932ab66f1993dee833f4231fba4a07f075eda1c76f90ca50R30)). I recall that in dandihub we can't run this command. Needs to be double checked

[2022-06-14 02:15] alejoe91 commented on #705
Ahhhh that might explain it!

[2022-06-14 02:15] chyumin commented on #705
We might find another way to test nvidia gpu availability

[2022-06-14 10:04] phanhuynh commented on #702
Good afternoon, gentlemen!  Thank you again for all your support.
I've had a few issues but now it seems to be running.  I will follow up as soon as it finishes!

[code]

[2022-06-14 14:19] samuelgarcia commented on #659
I don't remember.
I think because after we use plain function in pytest mode.
I did this 14 month ago.

[2022-06-14 15:37] phanhuynh commented on #702
One last question:  what other sorters do you have dockerized?

[2022-06-14 15:43] bendichter commented on #702
https://github.com/SpikeInterface/spikeinterface/blob/3459d477cc0ea48aa7020f2b5951e79541a4d761/spikeinterface/sorters/runsorter.py#L14-L32

We are very close to also adding Waveclus and HDSort

[2022-06-15 09:42] phanhuynh commented on #702
Sorry, a few more questions:

a) is there any downside to docker?  ie. is there any advantage to installing the sorters locally?

b) (unrelated) is there a way to call a variable once I've closed a jupyter session?  What happened was that I ran the sorter:
sorting_KS3 = ss.run_kilosort3(recording_saved, output_folder= '_output_KS3'...)
and it successfully created the _output_KS3 folder.
But I did

[2022-06-15 12:54] phanhuynh opened #708 "Calling variable after re-opening Jupyter (without dill.dump_session)"
Hello everyone,
is there a way to call a variable once I've closed a jupyter session? What happened was that I ran the sorter:
sorting_KS3 = ss.run_kilosort3(recording_saved, output_folder= '_output_KS3'...)
and it successfully created the _output_KS3 folder.
But I did not run dill.dump_session(...)
Now, I've reopened Jupyter and I want to call sorting_KS3 without running the sorter again. Thought

[2022-06-15 13:40] alejoe91 commented on #702
You can do: `sortimg"KS3 = se.read_kilosort(output_KS3)`

[2022-06-15 14:14] phanhuynh commented on #702
Thank you so much!  I don't see a similar attribute for ironclust.  Am I missing it?

[2022-06-15 14:16] alejoe91 commented on #702
Ironclust uses the `read_mda` function. A more general way to do it is:
`ss.sorter_dict[sorter_name].read_from_folder(output_folder)` ;)

[2022-06-15 14:23] alejoe91 commented on #702
Ahahah I'm pretty sure we'll meet ata conference sooner or later :)

[2022-06-15 14:44] phanhuynh commented on #702
Shoot, another hiccup...
[code]

[2022-06-16 08:37] yger opened #712 "locs_2d and stream_id"
Hi all

I just updated to master, and couple of errors are in it... The first one is related to locs_2d in

     51 def read_mearec(file_path, locs_2d=True, use_natural_unit_ids=True):
     52     """
     53
     54     Parameters
   (...)
     68         The sorting extractor object
     69     """
---> 70     recording = MEArecRecordingExtractor(file_path, locs_2d=locs_2d)
     71     sorting =

[2022-06-16 09:55] samuelgarcia commented on #708
You can do
`sorting_KS3.save('/path/to/a/folder')`
and in a new session

`sorting_KS3_saved = si.load_extractor('/path/to/a/folder')`

sorting_KS3_saved will do not depend anymore on the '_output_KS3' folder then.

[2022-06-16 13:33] alejoe91 commented on #712
Yes...it's fixed here https://github.com/SpikeInterface/spikeinterface/pull/706

Sam can you merge?

[2022-06-16 16:25] phanhuynh opened #716 "Python.exe - Entry Point Not Found"
Hello everyone,
I've been getting this error message:
![image](https://user-images.githubusercontent.com/54812682/174118998-9d21c0f3-7d40-4073-969e-35fe20d2d84e.png)

It pops up when I execute different lines of code, including:
[code]
I've tried:
-reinstalling anacoda
-reinstalling jupyter
-recreating the env

Any thoughts?

[2022-06-16 16:34] alejoe91 commented on #716
I think that the problem is related to multiprocessing. Can you try to run the function with `n_jobs=1`?

[2022-06-16 16:34] #702 closed, assigned to nobody

[2022-06-16 16:35] alejoe91 commented on #708
alternative solution here: https://github.com/SpikeInterface/spikeinterface/issues/702

[2022-06-16 16:35] #708 closed

[2022-06-16 22:36] miketrumpis opened #718 "Potential instability in spatial whitening"
Applied naively, this singular value reciprocal can potentially blow up.

https://github.com/SpikeInterface/spikeinterface/blob/48580e9b44725397964055818d3d5338cf822309/spikeinterface/toolkit/preprocessing/whiten.py#L35-L36

Perhaps use a relative tolerance? For paranoia, I threw in some outlier checking on the random chunks. For good measure, There is the option to skip spatial normalization.

[c

[2022-06-17 14:56] samuelgarcia commented on #718
Hi,
thanks for the feedback.
Personnay, I don't like and don't use this whitening preprocessing. I prefer also by channel normallalisation (no spatial one).
For this you can use si.toolkit.zscore wich do more or less the same but without the trick of block selection but use median/mad for the diagonal.
The actual implementation in SI is here because some user use it.
I so know that the implementat

[2022-06-17 22:26] miketrumpis commented on #718
Aha! Yeah I was digging into this processor because it's kind of secretly used in the mountainsort object. I much prefer what you pointed out. There's so much here that it can be hard to find it :)

[2022-06-17 22:38] alejoe91 commented on #718
In our defense, this was a last-week addition ;)

[2022-06-18 20:49] chyumin opened #720 "KeyError for ironclust and kilosort in container mode"
`KeyError` happens when running ironclust or kilosort without gpu parameter:

[code]

For kilosort:
[code]

For ironclust:
[code]

I debugged a little bit:

`sorter_params` in this [line](https://github.com/SpikeInterface/spikeinterface/blob/901d66479cd4a6171e9733ad1b57c451d09b0bab/spikeinterface/sorters/runsorter.py#L409) is an empty dict

[2022-06-18 20:50] chyumin commented on #720
Runs well when adding the sorter parameter

[2022-06-18 20:52] alejoe91 commented on #720
Thanks for spotting this @chyumin

We should merge the `**sorter_params` and the default params dict before then. Can you make a PR?

[2022-06-20 06:53] samuelgarcia commented on #720
The merging of params (given ones  + default ones) is done in `Sorter.set_params()`
We should stick with that.
The GPU check is done before in the container pipeline.
I would rather consolidate `Sorter.use_gpu(sorter_params)` to accept empty dict.

[2022-06-20 09:55] phanhuynh commented on #716
Thank you so much!  It seems to be working...but does this mean a slower process?

[2022-06-20 10:07] alejoe91 commented on #716
Yes, but not that much ;) you can try to reinstall joblib and refer to the joblib docs for windows if you find the same error

[2022-06-20 13:14] phanhuynh commented on #716
The problem did not go away unfortunately.  The error window pops up as soon as I open Jupyter.
Oddly, I can close the error window a few times, and things seems to work again.  But the window will continue to appear randomly (without crashing things).

I'm concerned that there are problems I can't see.  At the least, it's rather annoying.

I'm not sure how to follow your instruction of "refer to

[2022-06-20 13:33] alejoe91 commented on #716
Nothing comes to mind and unfortunately we are not Windows users..the solution that you shared seems promising, let us know how it goes!

[2022-06-21 14:14] BptGrm opened #728 "Accessing BioCAM .brw files through neo"
I'm working on BioCAM MEA recordings, and so far I've been able to use the standalone HerdingSpikes sorter without issues, reading directly from the proprietary .brw files.

However, I'd like to be able to work with SpikeInterface to compare sorters and export outputs as neo spike trains.
The docs mention that `spikeinterface.extractors.read_biocam` is a "Class for reading data from a Biocam file

[2022-06-21 14:24] alejoe91 commented on #728
Hi @BptGrm

Almost all read functions in SI are based on NEO objects. The `probeinterface.read_3brain` is used just to load the probe information (basically channel locations) that are attached to the spikeinterface object.

No currently it is not possible, but the NEO object maps one to one to the SpikeInterface object so there should be no discrepancies there.

Currently not, the implemented spi

[2022-06-21 14:25] alejoe91 commented on #720
Fixed via https://github.com/SpikeInterface/spikeinterface/pull/722

[2022-06-21 14:25] #720 closed

[2022-06-21 14:36] samuelgarcia commented on #728
herdingspikes is based on spikeinterface for input.

So if you do
[code]
you should have the same result as running directly in HS.
So reason why you would not have same results is that default params are not the same.

@mhhennig : what is the best way to run HS ? from SI with `run_sorter()` or independantly with internal HS machinery ?

[2022-06-21 16:21] BptGrm commented on #728
@alejoe91 Thank you for the answer !

@samuelgarcia I opened the same file with the two different readers :
`recording = read_biocam(data_path)` from SI and `Probe = BioCam(data_path)` from HS,
and then ran HSDetection with the exact same parameters on both.
When displaying the same spike through PlotTracesChannels, I get the following results :
- Through SI :
![Spike localised in position 2138,27

[2022-06-22 07:15] samuelgarcia commented on #728
OK I get it.
If the reader make the difference, there is a bug somewhere.
@mhhennig : Any idea why `BioCam` would be different than `read_biocam()` ?

@BptGrm : could you try plotting with spikeinterface the channel map ?
`sw.plot_probe_map(rec, with_channel_ids=True, with_contact_ids=True)`
maybe it is a geometry issue in probeinterface.

[2022-06-22 08:16] BptGrm commented on #728
Seems to be ! I had to remove `with_contact_ids=True` as it was considered an unexpected argument, it seems it is not passed to `plot_probe_group` properly.
The result is this :
![whole](https://user-images.githubusercontent.com/83828302/174978510-8170fd8f-fa43-4127-b7ac-fd17331dd9b4.png)
I don't know if electrode pitch is supposed to be passed on in the metadata or if the less than 3mm size is th

[2022-06-22 08:16] samuelgarcia commented on #728
@alejoe91 : can you help here ?

[2022-06-22 09:03] alejoe91 commented on #728
Hi,

So the `probeinterface` implementation is a port from `spikeectractors` and written by @mhhennig:

You can see that the locations are extracted [here](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/biocamrecordingextractor/biocamrecordingextractor.py#L123-L126) (`rawIndices`) and [used as channel locations](https://github.com/SpikeInterface/spikeextra

[2022-06-22 09:49] phanhuynh commented on #469
Hi team,
I got a similar error, but the log file was less helpful (attached)
[spikeinterface_log (2).txt](https://github.com/SpikeInterface/spikeinterface/files/8956445/spikeinterface_log.2.txt).
Should I remove the spyking circus version number (1.0.7)?  Here's the error message:
[code]

[2022-06-22 09:50] alejoe91 commented on #469
Unfortunately this means that SC didn't finish correctly. Can you check the log file in the output folder?

[2022-06-22 09:52] phanhuynh commented on #469
Thanks for the speedy response :)
I attached the log file, but here's the key part:
        "===================================================================================",
        "=   BAD TERMINATION OF ONE OF YOUR APPLICATION PROCESSES",
        "=   PID 283 RUNNING AT ac12646857e6",
        "=   EXIT CODE: 7",
        "=   CLEANING UP REMAINING PROCESSES",
        "=   YOU CAN IGNORE THE

[2022-06-22 13:48] BptGrm commented on #728
I am, I'll ask them about it !

The intermediate solution I've found so far is to run standalone HerdingSpikes, then pass the output through `HerdingspikesSortingExtractor` to end up with a SpikeInterface object.

[2022-06-22 16:03] BptGrm commented on #728
That is true, but HerdingSpikes itself can handle at least some of it, and for now I'm mainly looking to extract basic spike train metrics through something like Elephant. Of course having both would be ideal.

 I called it on a `HSDetection` object, both time. The only difference was the data I fed to `HSDetection`, i.e. the same file but opened through HS or SI.

[2022-06-22 17:16] BptGrm commented on #728
I did, I forgot to mention it in the first post. Could that be the issue ?

[2022-06-23 10:16] BptGrm commented on #728
I dug a bit deeper, and it seems that using `RecordingExtractor` from HS is indeed causing troubles. The default parameters for `inner_radius`, `neighbor_radius` and `masked_channels` are different, and even when passing them explicitly through `Probe = hs.probe.RecordingExtractor(recording,noise_amp_percent=1,inner_radius=1.75,neighbor_radius=None,
    masked_channels=[0])`, the `max_neighbors` p

[2022-06-23 10:42] alejoe91 commented on #728
Yeah maybe open an issue also on the HS page since it's very specific.
We'll keep it open also here for the time being :)

[2022-06-23 11:47] phanhuynh opened #736 "TypeError: cannot pickle 'weakref' object"
Hello dream-team, any thoughts on this error?  Note that despite the error, the sorter executed successfully.
I've attached the file log but it doesn't explain a lot.
[spikeinterface_log.txt](https://github.com/SpikeInterface/spikeinterface/files/8966883/spikeinterface_log.txt)
[code]

[2022-06-23 14:29] phanhuynh commented on #736
I see!  Thank you.  So,

To reload from ironclust:
`sorting_IC = ss.sorter_dict['ironclust'].get_result_from_folder('C:/Users/huynh/spike_epsztein/proj_louis/_output_IC')
`

From kilosort3:
`sorting_KS3 = se.read_kilosort('C:/Users/huynh/spike_epsztein/proj_louis/_output_KS3')
`

BUT, from spyking circus:
`sorting_SC = ss.sorter_dict['ironclust'].get_result_from_folder('C:/Users/huynh/spike_epszte

[2022-06-23 14:45] alejoe91 commented on #736
Can you paste the code? You have `ironclust` instead of `spykingcircus` there. In theory that should work.

I recommend to save the output in a compact format with the `save()` function:
`sorting_SC = sorting_SC.save(folder="SC")`

Then you can reload with:
`sorting_SC = si.load_extractor("SC")`

this way you domn't have to keep track of all the output folders!

[2022-06-23 14:46] alejoe91 commented on #469
So, that's a version problem then! the newest tag is in fact 1.1,0 (see [here](https://hub.docker.com/repository/docker/spikeinterface/spyking-circus-base))

[2022-06-23 14:47] #712 closed

[2022-06-23 15:23] phanhuynh commented on #736
That is FANTASTIC.  I see that there's no option to remove_existing_folder=True, is that correct?

[2022-06-24 12:17] phanhuynh commented on #329
Hello again,
I'm trying to run this on a new computer and the problem came back, unfortunately.
Even with the latest version of neo:
`Finished processing dependencies for neo==0.11.0.dev0`
I'm getting the error:
`IndexError: index 64 is out of bounds for axis 0 with size 2`

Thoughts?

[2022-06-24 16:08] samuelgarcia commented on #329
Oh yes sorry. You are outside the conatiner.
This is something else.
You need to get latest python-code from master and install from code source.

[2022-06-28 10:03] TRuikes opened #746 "Error when pip install spikeinterface"
When I run pip install spikeinterface (on unix) I get:
[code]

[2022-06-28 10:30] alejoe91 commented on #746
I tried to reproduce the issue but it's working on my side:

[code]
and everything is properly installed. Are you using conda?

[2022-06-28 11:18] TRuikes commented on #746
that works, the environment I was installing in was pyton 3.7.
On the installation page its not mentioned at least python 3.8 is required:
https://spikeinterface.readthedocs.io/en/latest/installation.html

[2022-06-28 11:20] alejoe91 commented on #746
You're right! We'll add it to the docs

[2022-06-28 11:21] TRuikes commented on #746
I just checked on my local PC on windows and there it works with python 3.7. In any case it works now

[2022-06-28 12:23] phanhuynh commented on #329
Hi @samuelgarcia , thank you for your response.
Just to be clear, I've already installed the latest version of Neo from the Git repository:
[code]

This led to:
`Finished processing dependencies for neo==0.11.0.dev0`

Do you have a different/newer version somehow?

Thank you again,

[2022-06-28 12:30] valejandracch commented on #75
@audrocks17 do you think that you can share that script with me? im trying to work with nrd files also with spikeinterfase and i have problems as well.
Thanks!

[2022-06-28 13:49] audrocks17 commented on #75
Sure, the script is located at:
https://github.com/KnierimLab/spikeextractors/blob/master/spikeextractors/extractors/neoextractors/neuralynxextractor.py

[2022-06-28 22:15] MNS57 opened #751 "Issue "spyking-circus: the command is not found.""
Even if we could edit the "run_spykingcircus.sh" file, this message continue:
     spyking-circus: the command is not found.

How we should do?

If we type in Linux directly ... it runs properly.
     #!/bin/bash
     conda activate circus
     spyking-circus spykingcircus_output/recording.npy -c 12

[2022-06-28 22:22] h-mayorquin opened #752 "Not passing some arguments to neo in `BlackrockRecordingExtractor`"
The `BlackrockRecordingExtractor` only passess `filename` to neo.

https://github.com/SpikeInterface/spikeinterface/blob/153c5fd6c498f52419a5ee1f46808c61436fd1ef/spikeinterface/extractors/neoextractors/blackrock.py#L24-L27

However, there are plenty or arguments such as, `nsx_overide`, that are not propagated:

https://github.com/NeuralEnsemble/python-neo/blob/10c28845a7b74ecbaf53b7a7c93d133540100

[2022-06-28 22:26] h-mayorquin opened #753 "Sortingextractor missing for Blackrock"
This was available in `spikeextractors`:

https://github.com/SpikeInterface/spikeextractors/blob/48a86a048a4e6c5b9d669fd4f3bbf58caa97583a/spikeextractors/extractors/neoextractors/blackrockextractor.py#L40-L62

Is there any reason that this is missing here or is there something that is yet to be implemented?

[2022-06-29 06:07] alejoe91 commented on #751
Hi @MNS57

Can you please:
1. Explain what you're trying to do
2. Explain how you are running python (E.g. terminal, notebook)
3. Provide your script (copy paste is better)
4. Paste the full error message

In point 2, make sure you are running your script from the `circus` environment!

Thanks, Alessio

[2022-06-29 06:20] samuelgarcia commented on #752
Hi Ramon,
This `nsx_overide` and `nsx_to_load` is somehow the same use as `stream_id=...`.
It is a bit compicated for the end user.
`nev_override` is not used on SI side.
So I think I did this to simplify user life.

What is the use case you have in mind to propagate this args ?

[2022-06-29 09:17] phanhuynh commented on #736
Hi @alejoe91 , it appears this doesn't work for this object?

[code]

[2022-06-29 09:24] alejoe91 commented on #736
What's the error?

[2022-06-29 10:10] phanhuynh commented on #702
Hello again,
Due to some other errors, I had to reinstall anaconda and recreate my environments.
Now, I'm running into a new docker error:
(I have pywin==227, but I've also tried 226 and 228 without success.
I've also tried instsalling pypiwin32 without success)
---------------------------------------------------------------------------
[code]

[2022-06-29 10:15] phanhuynh commented on #736
Ah sorry, it works fine!  Somehow I got an error before about missing cache folder, but it works perfectly now :)

[2022-06-29 10:21] alejoe91 commented on #702
Hi @phanhuynh

You should be able to fix it with:
[code]

[2022-06-29 12:29] phanhuynh commented on #702
Thanks @alejoe91!  I'm getting this error (EVEN IN ADMINISTRATOR mode of anaconda):
[code]

[2022-06-29 14:44] h-mayorquin commented on #752
OK, Yes, after loading a file in a folder with multiple files with `ns{x}` extension I realize now how that works. So, the stream is equivalent to the x in the `nx{x}` extension, correct?

Moreover, right now, it is not possible to load `nev` files, correct? #753

[2022-06-29 15:07] phanhuynh commented on #702
It seems that problem went away somehow (I may have done something without realizing).
Now there's a brand new issue...
(I'm so sorry -- but, as always, thank you!)

[code]

[2022-06-29 22:34] h-mayorquin opened #757 "Documentation claims that `CellExplorerSortingExtractor` is supported but it is not"
https://spikeinterface.readthedocs.io/en/latest/supported_formats_and_sorters.html

The link above claims that ``CellExplorerSortingExtractor` is supported but I can't find it on the code base.

[2022-06-30 09:24] phanhuynh commented on #702
It happens with these dockers;  Tridesclous Spykingcircus IronClust Kilosort3

[2022-06-30 21:04] yger opened #763 "get_noise_levels with return_scaled"
Just a quick question. Why is it not possible to use the get_noise_levels without sometimes explicitly stating return_scaled=False. What kind of recordings are triggering such an error. Can it be such that by default, the function does not need any argument to work?

[2022-07-01 06:33] samuelgarcia commented on #763
Salut Pierre.
Some recording do not have scaling because they do not have gain/offset properties.
For instance they are already scaled because store in float32 in that case return_scaled=False is already scaled and so return_scaled=True do not make sens.

[2022-07-01 06:53] yger commented on #763
Ok, I got the spirit, but why not considering then that the gain is 1? Because this is strange that for the tests of the sorters, one need to specify such a flag to avoid crashes

[2022-07-01 06:57] alejoe91 commented on #763
You can check if a recording has scaled traces: `recording.has_scaled_traces()`

[2022-07-01 09:37] phanhuynh commented on #702
Hi @alejoe91 , I image you must be very busy -- let me know if there's anything else I can provide.

[2022-07-01 10:24] alejoe91 commented on #702
Hi @phanhuynh so in this case the sorters seem to be just failing on that recording. Doesn't happen on all recordings?

[2022-07-01 13:52] chyumin opened #768 "Error when running klusta sorter in container mode"
I'm getting this error when trying to run `klusta` sorter in docker or singularity mode

The sorter runs well, this happens when SI tries to extract the container's output

[code]

[2022-07-01 14:20] LiesDec opened #770 "File path not found sorting in container"
The filepats of my recording is not found when running sorting algorithm using a docker file.
[code]
The way it tries to find it is by using this method (see [#L170-L207](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/runsorter.py#L170-L207))

[code]
But that gives me the following error:
`UnboundLocalError: local variable 'folder_to_mount' referenced before as

[2022-07-01 14:23] samuelgarcia commented on #770
@yger a the same problem. I will have a look

[2022-07-01 14:26] chyumin opened #771 "ModuleNotFoundError: No module named 'hdbscan'"
`hdbscan` seems to be required now, but it's not listed in `requirements_full.txt`

I'm openning issue instead of a PR because I'm not sure if this is intended to be required or we need to change the code to make it optional again

`ModuleNotFoundError` raises when importing spikeinterface.full:

[code]

Full Traceback:
[code]

[2022-07-01 14:58] samuelgarcia commented on #771
I see, the new spyking_circus need hdbscan.
@yger : can you make a patch in `is_installed()` that depend on hdbscan installed or not.

And also you should import all component in the function not at module level.

[2022-07-01 14:59] alejoe91 commented on #770
@LiesDec can you paste the full dictionary?

[2022-07-01 15:01] LiesDec commented on #770
@alejoe91 Of course, here it is :)

[code]

[2022-07-01 15:03] phanhuynh commented on #329
Hello @samuelgarcia ! I reinstalled Anaconda and then reinstalled Neo and the problem is solved.  Bizarre.  Thank you!

[2022-07-01 15:10] alejoe91 commented on #770
Actually, we'll make a PR! :) give us a few minutes!
I think we never spot this because it only happens when the path is not the first kwarg

[2022-07-01 15:12] LiesDec commented on #770
@alejoe91 Okey thank you. Yes, I was thinking that indeed. Why do you think the first argument in my case in not path? Does that have something to do with the different streams of data?

[2022-07-01 15:14] yger commented on #771
what is the is_installed() method you are talking about?

[2022-07-01 15:24] phanhuynh commented on #702
Hi @alejoe91 , I tried 4 dockerized sorters on two other data sets, so 8 attempts in total.
For the first data set (neuropixel), it worked once (trideslous) and failed the remaining 3 times (Spykingcircus, IronClust, and Kilosort3).
For the second set (neuronexus 64 channels), it failed all 4 times.

There were two types of error messages.  The first one appeared 6 times, and the second occured on

[2022-07-01 15:35] chyumin commented on #771
@yger awesome. Thank you

[2022-07-01 15:47] alejoe91 commented on #770
I think this was introduced by a recent change in NEO that prepends the `all_annotations` and `stream_id` to any other kwarg:
[code]

We are working on a more general and elegant fix ;)

[2022-07-01 16:39] alejoe91 commented on #770
@LiesDec can you try this PR? https://github.com/SpikeInterface/spikeinterface/pull/773

This also allows for files to be in multiple folders

[2022-07-01 16:58] chyumin commented on #771
Solved in #772

[2022-07-01 16:58] #771 closed

[2022-07-01 17:23] samuelgarcia commented on #329
good to read that!

[2022-07-01 18:51] maxjuv opened #775 "typo in spikeinterface/spikeinterface/core/channelslicerecording.py ?"
Hello there !

I got some issues when I set a probe to my multi-recording (multirecording = si.concatenate_recordings(recording_list)). I got an assertion error from  line31  spikeinterface/spikeinterface/core/channelslicerecording.py
By inspecting the code below, I guess '==' should rather  be "!="
assert self._channel_ids.size == np.unique(self._channel_ids).size, 'ChannelSliceRecording : channe

[2022-07-01 19:54] samuelgarcia commented on #775
Salut Maxime.
No this is correct, we are checking that the size is identique the size of "unqiue" and so detect redundant channel ids which is not allowed by spikeinterface.

[2022-07-04 09:50] phanhuynh commented on #702
Hi @alejoe91 , fantastic!  Thank you!
The good news: for the Neuropixel data set, I successfully executed Tridesclous, and now I'm trying the other 3 sorters.
Bad news: for the Neuronexus dataset, I'm getting the second error message for all 4 sorters.

[2022-07-04 16:21] h-mayorquin opened #782 "Recorders with non voltage (non standard) channels and slicing channels"
In #761 we move the warnings of non standard units to `get_traces`. We achieved this by introducing an extra attribute:

https://github.com/SpikeInterface/spikeinterface/blob/486bc67d364745437ebf1ed90bfdef7fae255c1c/spikeinterface/core/baserecording.py#L109-L116

However, as far as I know this attribute (`self.has_non_standards_units`) is not copied when we slice the channels with `recorder.slice_

[2022-07-04 17:19] alejoe91 commented on #782
@h-mayorquin you can extend the `copy_metadata` function: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/base.py#L227

[2022-07-05 09:08] MNS57 commented on #751
Dear Alessio,

Actually, I think the topic we previously asked is running well, so it seems to be (probably) fine.

We would like to ask this following different question...

**How we can extract position of estimated neurons correctly?**

We could get positions of neurons by "st.localize_units" by the following command...

--------------------------------------------------------------------------

[2022-07-05 09:13] alejoe91 commented on #751
Hi @MNS57

That is the correct way to localize units (note that `localize_units` is deprecated now in favor of `compute_unit_locations` - which will be included in the next release).

What is the layout of the probe? It is very strange that you get NaNs in the localization. Can you inspect the template with `plot_unit_templates`?

[2022-07-05 09:22] samuelgarcia commented on #751
@MNS57 localize units have 2 main methods:
  * "center_of_mass" : super easy and fast. It is the baricenter of amplitudes of the templates over channels.
    This is super strange that you get nan with this methods.
    This method is planar only (2d)
  * "monopolar_triangulation" : it optimise a model of the position in 3D and the impatc peak-to-peak values of some electrodes.

[2022-07-05 10:40] samuelgarcia commented on #782
I think I would go for an annotation like this `'__has_non_standards_units__'` and not an attribute.

[2022-07-05 14:16] h-mayorquin commented on #782
@alejoe91 we should probably move this warning to `get_traces` to the neobase recording withing the library.

[2022-07-05 15:56] samuelgarcia commented on #782
what if you slice ? I think in base it is OK.

[2022-07-06 09:03] phanhuynh commented on #702
Hi @alejoe91 , do you have a rough idea of the timeline for solving this?  Thank you so much :)

[2022-07-06 09:06] alejoe91 commented on #702
Hi @phanhuynh

Can you try to name the folder without a space? like `_preprocessed_folder`. Maybe that extra space is causing issues...

[2022-07-06 09:25] phanhuynh commented on #702
I tried "_preprocessed_folder" but it's the same error:
(Also, I'm don't fully understand what you mean when you said "_prepocessed" has a space?)

[code]

[2022-07-06 09:28] alejoe91 commented on #702
Can you paste the content of the `_preprocessed` folder? Do you have a `binary.json` there?

[2022-07-06 10:08] yger opened #789 "Recordings in study looks like filtered"
I don't think this is normal, but when creating a study, the raw binary files in the raw folder seems to be filtered ("is_filtered": true in the .json file). But is it the case, really ? Because I think the sorters are filtering the files, ignoring this flag. So I guess this is just an error while setting the flag for a newly created binary file

[2022-07-06 10:23] alejoe91 commented on #789
It should depend on the recording!

[2022-07-06 10:34] yger commented on #789
This is for a MEArec recording, so could it be that they are already filtered? Hum.... I'll check

[2022-07-06 10:37] phanhuynh commented on #702
Yes, the binary.json file is there.  Here's the whole _prepocessed folder :  https://drive.google.com/file/d/1mLR8-nhmAgWD_E18Rze2Rsk8vhtyMTK-/view?usp=sharing

[2022-07-06 10:45] alejoe91 commented on #702
@samuelgarcia any idea?

[2022-07-06 11:12] alejoe91 commented on #789
Yes MEArec recordings are filtered by default! You can check the extractor ;)

[2022-07-06 11:29] yger commented on #789
Arg... But then, all the sorters are filtering by default, am I right? So recordings are filtered twice when making a study from MEArec recordings?

[2022-07-06 11:31] yger commented on #789
I was trying to compare circus 2 (based on sorting components) with KS. But then, KS is always filtering the data in a study, while circus can detect (thanks to your nice framework) if recording is filtered or not, and perform accordingly the filtering. This is why I noticed the discrepancy. Not a big deal, but it might affect quite a lot of studies we performed before with the study object, since

[2022-07-06 12:07] yger commented on #789
Actually, then @alejoe91  there might be a bug in MEArec, because my scripts are generated with the option

recordings_params["recordings"]["filter"] = False

But then, indeed, the flag is_filtered is set to True in the MEArec recordings. There is an error in one of the two softwares. Either they are filtered (and the line is not properly handled), either they are not, but SI thinks they are...

[2022-07-06 13:26] yger commented on #789
Well then, but what is annoying is that SI consider files from MEArec as filtered, even if this is not the case. If one day MEArec adds LFP content, then this is problematic. Moreover, I can certify you (I just tested it) that filtering or not the file change quite a lot the peak detection. So one must know what is done, and be sure all sorters are doing the same

[2022-07-07 01:21] johnmbarrett commented on #657
Hi, apologies for the slow response. No, this happens before extracting waveforms step when setting up the folder for spike sorting. The recording.dat that is fed to Kilosort is corrupted by the casting. To see what I mean, do the following:

1) Follow the steps in my original post
2) Kill the Matlab process before it finishes spike sorting
3) Start a new Matlab instance and navigate to the temp f

[2022-07-07 06:58] yger opened #793 "backend bug"
This is minor, but just to let you know some last PR broke something, since I got this error

backend_kwargs_vals = backend_plotter.backend_kwargs
AttributeError: type object 'TimeseriesPlotter' has no attribute 'backend_kwargs'

[2022-07-07 07:11] samuelgarcia commented on #657
uint16 play not well generally with sorters.
A good trick is to cast then to float32 or int16.
This can be done at the filetring stage with this:
[code]

In that case, rec_f will be filetred and then cast to int16 on the fly.
The drawback is that you will have temporary copy in your working folder.

[2022-07-07 07:50] alejoe91 commented on #793
fixing it!

[2022-07-07 23:28] johnmbarrett commented on #657
What if I don't want to filter the recording beforehand? Kilosort already has a filtering step. More generally, why should user need to know that Intan RHD files are internally stored as uint16? To my mind it would be better to abstract that sort of implementation detail behind the API, so the user can seamlessly mix and match different Extractors and Sorters, but if you disagree fair enough.

[2022-07-08 07:20] alejoe91 commented on #657
Hi @johnmbarrett

Thanks for the additional clarification! I agree this is an issue that should be solved on our side. A possible solution would be the following: when saving to binary in `int16` (or othe iteger types), we can check if the input data is `uint` and in that case we can make to offset and casting on the fly (similar to what we do with filtering, see [here](https://github.com/SpikeInt

[2022-07-08 12:02] #657 closed

[2022-07-08 17:25] lfrank opened #803 "Allow user to specify temporary directory for sorting"
MountainSort, and perhaps other sorters, use a specific temporary directory to write out data. Right now there is no way to specify that temporary directory as a parameter to the sorter. Run times for very large datasets are greatly accelerated if we can specify a local SSD / NVME drive as the temporary directory, and it would be very helpful if that parameter could be added and passed to the sort

[2022-07-08 17:57] magland commented on #803
@alejoe91 @lfrank
I just published new mountainsort4 (1.0.2)
There is now a tempdir parameter for mountainsort4 function
See
https://github.com/magland/mountainsort4/blob/3d9b6f5d62bb35e117c9cc71eda3e0a8ae2fd39e/mountainsort4/mountainsort4.py#L12-L13

[2022-07-08 19:51] johnmbarrett commented on #657
Looks good, just upgraded to the new version and ran my test script and all my spikes come out looking like spikes! Thanks for all your help

[2022-07-11 14:14] mfvd opened #807 "Resample recording"
Is there a way to resample a recording in the latest API?
Previously ```st.preprocessing.resample``` would do the job but is no longer available.

Cheers

[2022-07-11 14:38] alejoe91 commented on #807
We are still finailzing this: https://github.com/SpikeInterface/spikeinterface/pull/632

there are a few issues with resampling that need to be considered, but I think we can finalize and merge it next week!

[2022-07-11 16:08] alejoe91 opened #810 "fix widget doc to add backends"

[2022-07-11 17:18] alejoe91 commented on #807
Enjoy FENS! If you are ok I can take your files and your commits and make a clean PR ;)

[2022-07-11 20:22] maurotoro commented on #807
Absolutely! All for the greater good!

Suerte!

Sent from my almost-smart-phone

On Mon, Jul 11, 2022, 19:18 Alessio Buccino ***@***.***>
wrote:

[2022-07-12 14:16] miketrumpis opened #813 "Request: timeout in `ChunkRecordingExecutor` (ProcessPoolExecutor)"
I've been having some stalls in the `ProcessPoolExecutor` when creating some `WaveformExtractor` objects. Unfortunately, there aren't any factors that occur to me for debugging this. However, I made a quick fork from the v0.94.0 to include a timeout for the `map` call in the `ProcessPoolExecutor`, which at least raises an exception instead of hanging forever.

Very trivial changes. Happy to rebase

[2022-07-12 16:21] AlanoudAlsubhi opened #814 "mismatch between phy and si unit ids"
Hi,

I saw the fix for the mismatch between phy and si unit ids. I tried the solution but the problem still exists in my end.
Any suggestion of what I should try?

Thanks,
Alanoud

[2022-07-12 19:40] max-c-lim opened #815 "Difference between old (0.13.0) and new (0.94.0) bandpass filter"
Can someone please elaborate the difference between the old API's (version 0.13.0) and the new API's (version 0.94.0) bandpass filter and which is better?

When I use the old API's bandpass filter `spiketoolkit.preprocessing.bandpass_filter` with the default parameters, I get different results on the same recording from the new API's bandpass filter `spikeinterface.toolkit.preprocessing.bandpass_f

[2022-07-12 20:57] alejoe91 commented on #815
Hi @max-c-lim

The new API uses scipy as default, while the old one used a custom FFT based filter. The implementation of the new API is more stable and efficient.

Regarding scaling, if you loaded channel gains then each recording can return either the raw or the scaled traces, so you don't need to add a scale processing. You simply add the `return_scaled=True` when calling the `get_traces`.

[2022-07-12 20:59] alejoe91 commented on #814
Hi @AlanoudAlsubhi

Phy internally uses sequential IDs from 0 to N-1. Since spikeinterface IDs could be different, we save an additional property called `si_unit_id` that should show as an additional column in the phy unit list.

These `si_unit_ids` are then loaded back in spikeinterface if you load a curated phy output.

[2022-07-12 21:07] max-c-lim commented on #815
Thanks for the clarification!

I noticed that if I do not manually scale the recording and convert from uint16 to float32 before applying the bandpass filter, `get_traces` applies the bandpass filter on the uint16 data, scales the data, and then converts to float32. When the bandpass filter is applied on the uint16 data, it outputs many zeros, and important data is lost. I tried setting `dtype="fl

[2022-07-12 21:11] alejoe91 commented on #815
So this is a specific issue fo uint32 that we have fixed recently: https://github.com/SpikeInterface/spikeinterface/pull/798

Can you try to install from master?

[2022-07-12 21:24] max-c-lim commented on #815
Yes, the problem is fixed! Thank you!

For Kilosort2, do you recommend scaled or unscaled traces for the recording.dat file? I have been manually scaling the data so that Kilosort2 analyzes scaled data.

[2022-07-12 21:26] alejoe91 commented on #815
I recommend unscaled, since it doesn't make a difference for spike sorting and the temporary data is smaller. Note that when you extract waveforms after spike sorting the traces are scaled automatically, because then you want to look at uV ;)

[2022-07-12 21:28] max-c-lim commented on #815
The recording.dat file is in int16. The traces of my unscaled recordings are fairly small, and almost all of the data is rounded to 0 when converting from float32 to int16. Will this cause Kilosort2 to perform worse?

[2022-07-13 11:07] alejoe91 commented on #813
Hi @miketrumpis

Thanks for the report. Can you point to the ghanges that you made?

Cheers
Alessio

[2022-07-13 12:32] alejoe91 commented on #813
I see now you added a timeout!! Do you have any idea why the parallel process is failing?
What OS are you using? and what is the input recording (e.g. any fancy preprocessing?)

[2022-07-13 13:30] miketrumpis commented on #813
Pretty sure I've only seen it on Ubuntu 20.04.4. Correct me if I'm wrong, I believe the 0.94 version only uses spawning for multiprocessing.

The stalling scenario is either using a basic `WaveformExtractor` or a custom extension, in the `extract_waveforms_to_buffers` stage. The preprocessing stages channel selection and CAR, nothing too intensive.

I've wondered whether it's my extensions that ar

[2022-07-13 13:57] alejoe91 commented on #813
Actually it uses `loky` (default on ubuntu). On Windows default os `spawn`. We have a new job argument called `mp_context`. Can you try to run the parallel processing with this additional `mp_context="spawn"` argument?

Can I ask you which extensions? If you have something cool in mind, I suggest to open an issue or open a draft PR and we can definitely provide support :)

Thanks for the diffs!

[2022-07-13 20:23] samuelgarcia commented on #815
@max-c-lim : also other diff between 0.13 and new APi on filtering:
  * the new API use sosfilter
  * the 0.13 api were not handling margin super properly.

[2022-07-13 20:30] samuelgarcia commented on #813
@alejoe91 : we do not use loky. It was too bugy. The ProcessPoolExecutor is in python core.

@miketrumpis : I am not sure that this timout trick will be sustainable. it is very hard to predict the computation.
For me when it hangs forever, it is because interanlly a chunk make a woker bugy for a strange reason but the error is not propagated to the main process. The best in that case is to use n_j

[2022-07-13 21:29] miketrumpis commented on #813
I was taking another look at this too--so I presume that uses fork for linux and spawn for mac. Another reason to think spawn might change behavior.

That's a fair point -- the way I wrote it does not allow for a "None" default (current behavior). Still, it would be nice to have the option for a timeout if requested specifically, e.g. in the parameters to `WaveformExtractor`.

I will try your `n_j

[2022-07-13 22:16] max-c-lim commented on #815
@alejoe91
I use MaxWell Biosystems to make recordings. They are stored as .raw.h5 files and loaded with `MaxwellRecordingExtractor`. The raw recordings are `uint16`. The gain is `6.295`, and the offset is `0`.

Yes, when I cast to `int16` most of the data are zeros because the traces are small values that are rounded to 0. This does not happen when I use `spikeinterface.toolkit.preprocessing.scale

[2022-07-15 06:01] TdSNielsen commented on #587
I never managed to get Neo to work with the TDT data format directly, but I ended up exporting my data to float32 binary format, which seems to work.

[2022-07-15 06:01] #587 closed

[2022-07-15 07:33] TdSNielsen opened #818 "ProbeInterface: Defining a probe manually and attaching it to recording"
Hi,

I am probably making some basic mistake, but I have tried to follow the ProbeInterface documentation as best I could, in order to add the probe information required by the sorters. I am using custom made probes (from MicroProbes) and therefore am defining them manually. In my test data, I am using a 16-channel MEA consisting of 16 needles with the ends de-insulated, arrayed in two colums of 8

[2022-07-15 07:48] alejoe91 commented on #818
Hi Thomas,

The probe definition looks good. Since you want to sort single channels separately, note that you have to use `by_shank=True` when setting the probe:
[code]

Can you try to print `recording.get_probe()` after setting it?
What's the exact error you are getting?

Finally, to spike sort by group, you should use the [`run_sorter_by_property` ](https://github.com/SpikeInterface/spikeinterfa

[2022-07-15 07:59] TdSNielsen commented on #818
thanks for the quick answer, Alessio!

When I try to add the _by_shanks_ command, I get an error that it doesn't exist:
_TypeError: BaseRecording.set_probe() got an unexpected keyword argument 'by_shank'_

No, before trying to add _by_shank_, calling _print(recording.get_probe())_ caused an error (no probe information)...

Thanks, I will try to look into _run_sorter_by_property_ :)

[2022-07-15 08:08] alejoe91 commented on #818
oups my bad:

It should be: `recording = recording.set_probe(probe, group_mode="by_shank")`

It's very strange that it gives the no probe information error..I'll quickly try to reproduce the issue on my side.

[2022-07-15 08:33] alejoe91 commented on #818
So your code seems to be working on my side:

![image](https://user-images.githubusercontent.com/17097257/179185627-43badd4e-5dd3-40ea-bc6c-00833c945302.png)

Note that I'm using `rec.set_channel_groups()` directly instead of loading the shank ids

[2022-07-15 08:35] alejoe91 opened #819 "Why are channel groups only int?"
See https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/baserecording.py#L493

Especially when setting with `shank_ids`, I think we should enable at least str, since shank ids could have a name

@samuelgarcia

[2022-07-15 17:53] YangWenfei-philip opened #822 "Unable to run the demo python source code in the gettin start tutorial"
When i try to run the code, exception occurred. I tried to resolve the issue by downgrading the numpy version to 1.21.5, but the problem persisted.

Exception has occurred: ValueError
numpy.ndarray size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject
  File "/Users/wenfeiyang/Downloads/plot_getting_started.py", line 129, in <module>
    print('Installe

[2022-07-18 07:26] samuelgarcia commented on #819
Yep we can also put str.
I am OK with this.
We could have something more explicit like 'probeXshankY' as group key in case of complex montage.

[2022-07-18 10:39] phanhuynh commented on #702
Hello @samuelgarcia and @alejoe91 , I hope you enjoyed some good rest last week!
I'm curious if you have any new ideas on this issue :)  Thank you!

[2022-07-18 11:14] TdSNielsen commented on #818
Thanks for the support, Alessio!

_recording.get_probe()_ is also working on my side now, and _ss.run_sorter_by_property_ works for tridesclous, though it exited with a warning: _UserWarning: Cannot propagate registered recording to UnitsAggregationSorting_

One question: If I run each sorter with _ss.run_sorter_by_property_, will I be able to later load all the sorting data from the sorting folde

[2022-07-18 11:26] mfvd opened #823 "Sorting error when using joblib"
Hello,

I'm trying to run muntsinsort4 in parallel on a new computer (ubuntu 20.04.4 LTS) and get the error at the bottom of this issue. I've reinstalled joblib but it did not correct the issue. I'm trying to sort a 32 tetrode dataset to which I added probe information as follows:

[code]

For reference the code I'm using for sorting is the following:

[code]
______________________________________

[2022-07-18 11:50] PaolaGith commented on #587
Hi, may I ask how did you manage to upload the streamer (Rsn) data? I have never used spikeinterface before, but mountainsort directly. So usually I convert the TDT, both the "data tank" and the "streamer" data into matlab data and I create the .mda file as required by mountainsort. If I want to use spikeinterface, once I have my raw TDT data, in the folder I have 64 different files for the neural

[2022-07-18 12:55] alejoe91 commented on #823
Can you try `pip install loky`?

[2022-07-18 13:04] mfvd commented on #823
Hi Allesio,

loky is already installed with version 3.1.0

[2022-07-18 13:21] shirquinn opened #824 "exctract amplitudes from phy to spikeinterface"
Hi
I'm using kilosort for spike sorting, and you used to have an option of Filter = False that i don't see exist anymore

I tried uploading the phy data to spikeinterface (after doing the spike sorting in matlab directly on the un processed recording) with:
sorting_KS = si.read_phy(sorting_folder, exclude_cluster_groups=['noise'])
i extracted the waveforms with:
we = si.extract_waveforms(recording

[2022-07-19 07:34] alejoe91 commented on #824
Hi @shirquinn

Could you share the zipped phy folder (without the .dat file)?

We'll take a look. There is no way to upload amplitudes directly, so we need to understand why it is failing.

Cheers
Alessio

[2022-07-19 08:01] alejoe91 commented on #822
Hi @YangWenfei-philip

Can you try to `pip uninstall herdingspikes` and then reinstall it: `pip install herdingspikes`?

[2022-07-19 08:02] #736 closed

[2022-07-19 08:02] #751 closed

[2022-07-19 08:04] alejoe91 commented on #753
@h-mayorquin can you give it a shot based on the `NeoBaseSortingExtractor`?

[2022-07-19 08:05] alejoe91 commented on #757
We should either 1) port the probably out-of-date extractor or 2) remove the claim from the docs. I vote for 2) for now

[2022-07-19 08:06] MNS57 commented on #751
Thanks for your answer.

By seeing deeply our code, we could find where problem exist.

Let us to ask question in the future if we face any troubles.  Thanks.

[2022-07-19 08:07] alejoe91 commented on #768
@chyumin does this happen for all recordings? Maybe something just went wrong!

[2022-07-19 08:07] #775 closed

[2022-07-19 08:12] alejoe91 commented on #782
Hi suggest adding this to the `NeoBaseRecordingExtractor`:

[code]

This would have the same effect without "polluting" the base with NEO related stuff (the BaseRecording doesn't even know neo exists!!!)

[2022-07-19 08:13] #793 closed

[2022-07-19 08:14] alejoe91 commented on #814
@AlanoudAlsubhi is it clearer now?

[2022-07-19 08:22] samuelgarcia commented on #823
Oups.
Can you try with "n_jobs": 1 and check if it works without multi processing ?

[2022-07-19 08:29] samuelgarcia commented on #757
Also vote for 2

[2022-07-19 08:30] alejoe91 commented on #818
The `ss.run_sorter_by_property` returns already a Sorting object, but with an additional `group` property for each unit. Since internally the sorting output is distributed across several folders, I recommend saving the aggregated output in a single folder:
[code]

[2022-07-19 08:32] samuelgarcia commented on #782
ok for me.

[2022-07-19 08:32] samuelgarcia commented on #782
except the cascade of if that could be done in one line with and

[2022-07-19 08:34] alejoe91 commented on #815
Casting to int16 should not produce zeros. The `uint16` values CANNOT be close to zero, otherwhise they would be already zero since `unint` is an integer type. Does it make sense?

The problem of casting to int is only about overflow errors, but you could fix that by casting to `int32` instead.

[2022-07-19 08:44] TdSNielsen commented on #587
Hi @PaolaGith,

on this page you can find some information about different ways of converting to binary format (from either Python or Matlab):
https://www.tdt.com/docs/sdk/offline-data-analysis/data-conversion/

I used the Matlab script in the bottom because it enabled exporting the full float-32 information, rather than converting to int-16. Notice that if you use their script, there is an error

[2022-07-19 08:46] alejoe91 commented on #782
????

[2022-07-19 09:22] h-mayorquin commented on #782
All right, I will do this move.

[2022-07-19 09:25] h-mayorquin commented on #753
I will add this to my to-do list.

[2022-07-19 12:17] shirquinn commented on #824
Hi @alejoe91
Thanks for responding so quickly!
Here is the phy folder:
[https://drive.google.com/drive/folders/19I121G0RURpvQerJmAuHMT4AW_05E28d?usp=sharing](url)

[2022-07-19 13:16] alejoe91 commented on #824
@shirquinn actually could you add the dat file as well? Sorry just realized I need it :)

Also I need to know the number of channels, sampling frequency, and data type (I guess int16) (basically, how did you load the `recording_loaded`?)

[2022-07-19 13:34] mfvd commented on #823
@samuelgarcia In the meanwhile I managed to run the sorter by not specifying the ```engine```, neither the ```n_jobs```. but not when multi processing.

Also, caching a recording object, extracting waveforms and exporting to phy are extremely slow and can only be done when not using parallel processing. In fact, when extracting waveforms or exporting to phy, the kernel of my notebook crashes almos

[2022-07-19 19:57] samuelgarcia commented on #823
extacting waveforms is another story because for this we do not use joblib.

Can you try run sorter with joblib but with another sorter ?

And can you give us the error when extracting waveforms witj n_jobs>1 ?

[2022-07-20 04:37] PaolaGith commented on #587
Thanks Thomas! I already converted my data using TDTbin2mat so that I could use it with mountainsort. Does it makes sense to redo the convertion starting from the raw TDT data or can I convert the matlab structure? (sorry to bother you. I am new to python so I get lost sometimes)
According to the Spikeinterface documentation, BaseEvent module should retrieve events from files.

[2022-07-20 05:51] TdSNielsen commented on #587
Well, if you already have your data in a file format that can be read by the extractors module of SpikeInterface, that is fine. :)

[2022-07-20 06:43] alejoe91 commented on #587
For the stimulation artifacts, if you have the sample indices when the stimulation pulses are triggered, you can use the `preprocrssing.remove_artifacts()` function to blank out an interval at the occurrence of the pulse. I also plan to implement an average template removal soon method that should work well for electrical and opto stimulation.

[2022-07-20 11:24] shirquinn commented on #824
@alejoe91 here is the link to the phy folder with the dat file
[https://drive.google.com/file/d/1OKN4_DX_oIbfyUaxsPUGe-81_LZl2u2O/view?usp=sharing](url)

the original recording is a binary file recorded with intan amplifier and open ephys acquisition box (int16)
what i am looking to do is spike sort an un-processed data, and also use spikeinterface for extracting waveforms, amplitudes,pc etc. for

[2022-07-20 12:42] mfvd opened #833 "Error when checking installed sorters"
I'm getting this error when checking the installed sorters with ```ss.installed_sorters()```

[code]

[2022-07-20 14:01] alejoe91 commented on #833
Uninstall and reinstall `herdingspikes` ;)

[2022-07-20 15:43] phanhuynh commented on #702
I'm starting to worry that this error is related to changes made to the dockers (just a guess) -- which would mean I'd have to install each of these sorters locally.  I really hope that's not true.
Can you shed any light on this issue?

[2022-07-20 15:47] mfvd commented on #833
Thanks! Will do.

[2022-07-20 15:50] alejoe91 commented on #702
@phanhuynh maybe it would be easier if we chatted over zoom and tried a debug session. Can you send me an email so we can schedule?

[2022-07-21 07:42] phanhuynh commented on #702
Yes!  That would be great :) phan@bu.edu.  I'm free any time today and tomorrow.

[2022-07-21 08:00] max-c-lim commented on #815
Yes, this makes much more sense. Thanks for helping me so much!

[2022-07-21 08:00] #815 closed

[2022-07-21 11:45] PaolaGith commented on #587
Thanks again. I thought I could use the spikeinterface upoloading directly the TDT data as they come out from the streamer (the .sev files), avoiding the preprocessing stage with Matlab, but now I understand that I can't skip the preprocessing stage, and I still need to convert the data first. Since, for the data I already collected, I have the .mat files obtained with the Tdtbin2mat function, I w

[2022-07-21 19:13] Aryo-Zare opened #837 "Phy & unit summary plots show widely apart channels belonging to the same unit."
Hi Everyone

I’m spike sorting neuropixels 1.0 data via spikeinterface, with spykingcurcus & tridesclous exporting the results to phy for visualization & manual curation.
I have strange views on phy & spikeinterface created unit summary plots.

_some important information at the beginning : I added sync channel to continuous data : my recording has 385 chanels. I generateed the json file of probe

[2022-07-22 10:18] mfvd commented on #823
@samuelgarcia Sorry, I finally managed to do this and get the error below when trying to sort with tridesclous. I included warngins about the recording not having a probe because I defined my tetrodes beforehand (see original post on this thread).

[code]

[2022-07-22 10:23] mfvd commented on #833
@alejoe91 just uninstalled and reinstalled herdingspikes and get the same error

[2022-07-22 10:24] alejoe91 commented on #833
Since this is related to HS, maybe you can open an issue on the hs2 repo!

[2022-07-22 21:54] khl02007 opened #840 "saving `DeepInterpolatedRecording`"
@alejoe91 I'm unable to save a deepinterpolated recording with multiple jobs. getting this error:
`tensorflow/compiler/mlir/tools/kernel_gen/tf_gpu_runtime_wrappers.cc:30] 'cuModuleUnload(it.second)' failed with 'CUDA_ERROR_NOT_INITIALIZED'`. any clues?

![image](https://user-images.githubusercontent.com/9277197/180573208-648ee5e4-3482-4882-8ada-394db84c7e61.png)

[2022-07-24 12:09] chyumin commented on #768
@alejoe91 This happenned on toy data when running tests from spikeinterface-dockerfiles, but I also tested to run separately on a notebook and I got the same error.
With real data is working well

[2022-07-25 10:07] alejoe91 commented on #768
@chyumin can you try to install the sorter locally and see if the same error appears? How long is the test recording?

[2022-07-25 10:47] #833 closed

[2022-07-25 10:54] shirquinn commented on #824
Hi @alejoe91
i followed the videos and again the problem remains, this error also doesn't alow me to open the spikeinterface gui
IndexError: boolean index did not match indexed array along dimension 0; dimension is 43898 but corresponding boolean dimension is 298862
This error happens no matter if i sort the recording directly in matlab or through spikeinterface
Only if i sort a filtered recording

[2022-07-25 13:43] phanhuynh opened #841 "No module named \'spikeinterface\'\n'"
Hello team,
I've just git pulled the latest version of spikeinterface and set the SPIKEINTERFACE_DEV_PATH.
I'm getting the following error message:
[code]
Thank you so much in advance!

[2022-07-26 08:28] TdSNielsen opened #844 "Request: Explicit installation instructions"
Dear developers,
(I'm not sure if this should be an issue or a discussion)

this may be because I'm new to Python (and a bit dull), but I have had a lot of frustrations over getting all the dependencies to work over the last couple of months... I have tried to reinstall a couple of times, and have tried different approaches to installing, but can't quite get everything to work (at the moment strug

[2022-07-26 09:06] khl02007 commented on #840
Here is what I'm using in case it helps:

[code]

can save with `n_jobs=1` but when using `n_jobs` greater than 1, it just hangs

[2022-07-26 09:25] alejoe91 commented on #840
Thanks for the additional info @khl02007

Just to be sure, if you use `use_gpu=False` at instantiation, then the parallel processing runs fine?

[2022-07-26 15:05] Aryo-Zare commented on #837
I did some searching. If understood correctly the following line defines the channel indices later for sparisty, which then is probably used for showing them around the extremum channel :

https://github.com/SpikeInterface/spikeinterface/blob/7aac1053962bd4dac174d10b5457d48fda511469/spikeinterface/postprocessing/template_tools.py#L169
But is the output of this line the geomterically adjacent chann

[2022-07-27 11:18] alejoe91 commented on #837
Hi @Aryo-Zare

Sorry for my late reply. Would it be possible to share the code that you are using? Maybe we'd also need to look at the raw+sorted data to reproduce the issue on our side!

In general, throughout the code we use 'ind' or 'index' to refer to the index of the channel, and 'id' for the actual channel id. In the line you highlighted so we are referring to the indices. I'll double.check

[2022-07-27 18:27] Aryo-Zare commented on #837
Thanks Alessio for your feedback. no problem we're all super busy.

By 'actual channel id' do you mean physical location of the channel on the probe ?
And by 'index of the channel'('ind' or 'index' ) do you mean the channel number in the output recording ?

If this is the case in the above line should it not be the physical id of the channel ? And then these would be possibly later converted to th

[2022-07-27 19:44] khl02007 commented on #840
Hmm, actually even when `use_gpu=False` the parallel saving hangs - so maybe this is a parallelization issue rather than a GPU issue

[2022-07-27 19:46] khl02007 commented on #840
Parallel saving of other types of recordings (e.g. binary recording) works fine

[2022-07-27 22:50] lfrank opened #850 "memory usage problems in latest dev version using NWB"
We're experiencing much slower recording creation in the latest version and much increased memory usage.

The raw data are in NWB, and extracting ~90 minutes from a single tetrode ends up requiring > 80GB of RAM, even though the total memory was specified as 1G.
It also seems to take much long than it did a month or two ago as far as we can tell.

Any thoughts would be appreciated.

[2022-07-27 23:02] lfrank opened #851 "bug using mountainsort4 in new version"
Running the latest dev version and trying to use the latest MountainSort4 (1.0.2) from pypi gives an error:

[code]
@magland One easy solution would of course be to include __version__, but I don't know if that's how this should be solved.

[2022-07-28 01:34] khl02007 commented on #840
@alejoe91 another Q: for the parallel jobs with specified chunk duration, does it mean that each chunk is treated separately? that may be problematic for the edges where the chunk doesn't contain complete information to infer. in other words there should be overlaps between adjacent chunks and this should be `n_frames_before`  and `after` frames long.

[2022-07-29 15:50] lfrank commented on #850
@bendichter @alejoe91  Is this something either of you would have time to look at? I tried looking through the recording.save function and it wasn't obvious to me where one might, for example, delete old chunks to save RAM and/or make things more efficient.

I should add that we're using only one job here because in the past it didn't seem to help to increase the number of jobs.

[2022-07-29 22:03] vncntprvst commented on #841
Hi @phanhuynh
Could you provide a bit more detail about the commands and parameters leading to this error ?
Thanks

[2022-07-30 16:14] phanhuynh commented on #841
Hello Vincent,

Thank you for your response.  Unfortunately, I'll be out of my office until
mid August.

However, Alessio and I have been talking about this before so, hopefully,
he will be aware of the context.

Thank you!

On Sat, Jul 30, 2022, 12:03 AM Vincent Prevosto ***@***.***>
wrote:

[2022-07-31 15:01] #753 closed

[2022-08-01 12:36] alejoe91 commented on #850
Hi @lfrank

Could you share one of the datasets?

[2022-08-01 12:39] alejoe91 commented on #115
https://github.com/SpikeInterface/spikeinterface/pull/853

[2022-08-01 12:39] #115 closed

[2022-08-01 12:40] alejoe91 commented on #418
Added parallelization and improved implementationin general

[2022-08-01 12:40] #418 closed

[2022-08-01 12:41] alejoe91 commented on #254
Done by @ferchaure

[2022-08-01 12:41] #254 closed

[2022-08-01 12:52] alejoe91 commented on #307
Close fo inactivity

[2022-08-01 12:52] #307 closed

[2022-08-01 12:53] alejoe91 commented on #415
Closed for inactivity

[2022-08-01 12:53] #415 closed

[2022-08-01 12:55] alejoe91 commented on #455
implemented backup save to npz

[2022-08-01 12:55] #455 closed

[2022-08-01 12:58] alejoe91 commented on #474
implemented

[2022-08-01 12:58] #474 closed

[2022-08-01 12:58] alejoe91 commented on #482
closed for inactivity

[2022-08-01 12:59] #544 closed

[2022-08-01 12:59] #560 closed

[2022-08-01 14:10] #586 closed

[2022-08-01 14:15] github-actions[bot] opened #857 "Matlab file was changed"
This is a reminder issue.

Please recompile and rebuild image for the matlab-based sorters that uses the following changed files:

- `spikeinterface/sorters/waveclus/waveclus_snippets_master.m`

[2022-08-01 14:18] #500 closed

[2022-08-01 14:19] #581 closed

[2022-08-01 14:19] #590 closed

[2022-08-01 14:21] alejoe91 commented on #606
Seems the `presence_ratio` was not included in the `metrics`

[2022-08-01 14:21] #606 closed

[2022-08-01 14:22] alejoe91 commented on #608
Hi @jkb521

sorry for our very late reply. Could you provide some more info? What is the code you are running? How are you preprocessing the data?

[2022-08-01 14:23] alejoe91 commented on #610
This is not an error, but a warning that klusta units from different channel groups are renamed

[2022-08-01 14:23] #610 closed

[2022-08-01 14:24] #611 closed

[2022-08-01 14:24] alejoe91 commented on #619
@khl02007 was this fixed?

[2022-08-01 14:26] alejoe91 commented on #639
@ferchaure implemented the `SnippetExtractor` and `WaveClus` now supports running on snippets data: https://github.com/SpikeInterface/spikeinterface/pull/764

[2022-08-01 14:26] #639 closed

[2022-08-01 14:27] #670 closed

[2022-08-01 14:27] alejoe91 commented on #705
Any update on this?

[2022-08-01 14:28] alejoe91 commented on #716
Related to conda+joblib rather than SI

[2022-08-01 14:29] #789 closed

[2022-08-01 14:30] alejoe91 commented on #803
Fixed

[2022-08-01 14:30] #803 closed

[2022-08-01 17:55] h-mayorquin opened #858 "`has_scaled_traces()` method renamed to `has_scaled`"
I don't know if it was intended but one the commits in the last two days (Today being 2022-01-01) changed the name of `has_scaled_traces` to `has_scaled` in the master branch and broke our stuff in neuroconv:

https://github.com/catalystneuro/neuroconv/pull/45

I think is this new re-organization around the concept of snippets. This is the new function which also seems repeated and with a new name

[2022-08-01 17:58] magland commented on #851
Should be fixed in mountainsort4 1.0.3

[2022-08-01 18:03] alejoe91 commented on #858
Hi @h-mayorquin

I though I left the `has_scaled_traces()` for back compatibility, but I'll double check! In case it's not there we'll re-add it.

The rationale is that since now the BaseSnippets and BaseRecording inherit from the same class, the semantic of `has_scaled_traces()` only applies to the Recording, while `has_scaled()` is more general. Let's discuss about it tomorrow

[2022-08-01 18:05] h-mayorquin commented on #858
Yes, I think you accidentally removed it from `BaseRecording`.

[2022-08-01 23:09] lfrank commented on #850
@alejoe Thanks for checking in on this. We just discovered that it has to do with the h5py version: 2.10 is fast; 3.7 is slow and uses much more memory. I’ll pass this on to the pynwb people.

On Aug 1, 2022, at 5:36 AM, Alessio Buccino ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

Hi @lfrank<https://urldefense.com/v3/__

[2022-08-01 23:13] alejoe91 commented on #850
Closing then!

[2022-08-01 23:13] #850 closed

[2022-08-02 00:34] bendichter commented on #850
@lfrank Interesting! We'll have to look into that

[2022-08-02 08:05] #718 closed

[2022-08-02 08:06] alejoe91 commented on #752
Implemented SortingExtractor here https://github.com/SpikeInterface/spikeinterface/pull/856

[2022-08-02 08:06] #752 closed

[2022-08-02 08:06] alejoe91 commented on #757
@h-mayorquin could you make a small PR removing it from the list? :)

[2022-08-02 08:07] #763 closed

[2022-08-02 08:09] alejoe91 commented on #782
@h-mayorquin please go ahead!

[2022-08-02 08:15] alejoe91 commented on #840
@khl02007 can you try to add the argument: `mp_context="spawn"` to the `save()` call?

The extra frames are taken care of [here](https://github.com/SpikeInterface/spikeinterface/blob/678a31eca474027e7d8497e4f2bc7c8746bb2ee1/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py#L82-L100), since the "chunk" doesn't know it's a chunk!

[2022-08-02 08:16] alejoe91 commented on #840
BTW, that's on linux or Mac?

[2022-08-02 08:23] alejoe91 commented on #837
@Aryo-Zare maybe we could have a zoom call to discuss about this together. Can you send me an email?

[2022-08-02 08:26] alejoe91 commented on #844
@TdSNielsen thanks for your suggestion! I definitely agree that a step-by-step guide would be helpful! We are planning a release in September and we'll do our best to accompany it with an enhancement of the docs, including a setup guide "for dummies" ;)

[2022-08-02 08:39] alejoe91 commented on #851
@lfrank working on my side!

[2022-08-02 08:39] #851 closed

[2022-08-02 08:39] #857 closed

[2022-08-02 08:42] #858 closed

[2022-08-02 09:41] alejoe91 commented on #837
@Aryo-Zare I have a thought. Does this happen for every unit of just for a subset? By default, Phy uses a [`best_channels` sparsity](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/exporters/to_phy.py#L34-L42): the template is computed and the `N` channels with the largest amplitude are selected. The unit summary, instead, uses a [radius approach](https://github.com/Spi

[2022-08-02 09:42] alejoe91 commented on #824
@shirquinn unfortunately the zip file containing the recording seems broken... can you double check on your side?

[2022-08-02 14:06] lfrank commented on #850
As a follow up, we tracked this down to the version of h5py: 2.10 works well, 3.5, 3.6, and 3.7 all use 5-6x RAM and take 2-3x as long to write the recording.save.

For the moment our plan was to restrict our environment to version 2.10, but obviously that’s not a good long term solution.

On Aug 1, 2022, at 5:35 PM, Ben Dichter ***@***.***> wrote:

﻿
@⁠​lfrank Interesting! We'll have to look into

[2022-08-02 14:19] bendichter opened #862 "add API docs for low-level reader classes"

[2022-08-02 14:55] Aryo-Zare commented on #837
Hi @alejoe91

Regarding the units with related far apart channels this happens in all units.
This is also somewhat visible in the trace view in phy in which all extracted units are color coded and are all duplicated in a proximal-distal (respecting the probe) manner. Aside from phy, the heatmap or colored active electrode contact points in unit summay plots ( as I attached the figure above), also

[2022-08-02 16:42] #862 closed

[2022-08-02 16:50] lfrank opened #864 "Option to change datatype for whitening"
We store recording traces as int16 to save space and then whiten within mountainsort4 for sorting.

We also use whitened recordings for the metrics, and currently the whitened extractor is stored as int16 as well, which loses quite a lot of resolution as a result of the normalization that occurs during whitening.

It would be very helpful to have a dtype argument for whitening so we could stored t

[2022-08-02 21:18] khl02007 commented on #840
Yes, that works! thanks

oh good point! thanks for resolving this issue.

[2022-08-02 21:18] #840 closed

[2022-08-02 21:20] khl02007 commented on #619
will test this out and let you know

[2022-08-02 22:50] khl02007 commented on #619
oops, sorry I thought this was the one about masking out single samples. I don't think there has been a PR to address this - I had opened it to ask you guys your thoughts. what do you think - specify frames before and after, or keep the ms before and after and just infer the number of frames it corresponds to with the explicit timestamps?

[2022-08-03 15:03] hornauerp opened #867 "Multiprocessing of si_based_sorters fails with TypeError: cannot pickle 'weakref' object"
Hello,

Running Spyking Circus 2 (same goes for Tridesclous 2) on both a real dataset and a recording generated by `si.toy_example()` fail with a pickle error. Here the minimal reproducible example using a toy example:
[code]
This results in the following error message:

[code]
This was done on Windows 10, Python 3.10, and spikeinterface was installed from source.

Importantly, the real dataset pr

[2022-08-03 15:25] alejoe91 commented on #867
Thanks Philipp!

Can confirm that this is Windows-specific:
![image](https://user-images.githubusercontent.com/17097257/182646663-23ee34cb-5275-491b-9cdf-27303e8e0355.png)

Can you try to run `sorting_well_1 = si.run_sorter('tridesclous2', recording, job_kwargs={'n_jobs' : 1, 'chunk_duration' : '1s', 'verbose' : False})`?

Just to confirm that the it's a multiprocessing issue. Also does the save w

[2022-08-03 16:26] hornauerp commented on #867
Apparently the error only occurs when `'n_jobs' : -1` (which is the default), any other number of jobs runs without error.

[2022-08-03 16:39] colehurwitz opened #868 "0 length spike trains cause error in waveform extractors"
Hello! One of the researchers at Columbia ran into this issue with waveform extractors that I thought I would post here. If there are 0 length spike trains, the waveform extractor will throw an error. Is this the intended behavior? She can overcome this by getting rid of 0 length spike trains in Phy or by constructing a new sorting extractor (which excludes 0 length spike trains), but seems like t

[2022-08-03 16:57] alejoe91 commented on #867
ahhh! Interesting! We should handle the logic better then when -1 (n_jobs = n_cpus) is used

[2022-08-03 21:44] khl02007 commented on #864
Hi @lfrank, I learned that (1) we can specify the dtype when we call `save` on the whitened recording and (2) we can also specify the dtype of the waveforms when we call `extract_waveforms`. I will make these changes to our pipeline.

[2022-08-04 07:47] shirquinn commented on #824
@alejoe91 can you try this link?

[https://drive.google.com/drive/folders/1qsmuSNvlME1-zQyjCySoqXezbo-eA3t3?usp=sharing](url)

Thanks

[2022-08-04 08:11] alejoe91 commented on #824
No luck unfortunately. The decompression of the zip files fails on my side:
![image](https://user-images.githubusercontent.com/17097257/182797558-b4a4600a-81d7-4621-98e3-a43b524003f5.png)

Maybe just upload the entire folder to drive without zipping it?

[2022-08-04 10:54] shirquinn commented on #824
sorry about that... i've uploaded the folders without zipping now
https://drive.google.com/drive/folders/1qsmuSNvlME1-zQyjCySoqXezbo-eA3t3?usp=sharing

[2022-08-04 13:34] shirquinn commented on #824
Hi @alejoe91 , i've uploaded the folders to https://drive.google.com/drive/folders/1qsmuSNvlME1-zQyjCySoqXezbo-eA3t3?usp=sharing

This error happens with all of my recordings (when sorting the unfiltered recording, the amplitude extraction has an error, and the l ratio is not calculated)

Thank you for your help

[2022-08-04 13:35] alejoe91 commented on #824
@shirquinn I'm missing the `spike_times.npy` in the phy folder

[2022-08-04 13:38] alejoe91 commented on #824
But then do you extract the waveforms and amplitudes on the unfiltered traces? or for waveform extraction you filter them? Can you send the full script that you use?

[2022-08-04 13:50] shirquinn commented on #824
the folder with phy results is called 'sorted', it contains the spiketimes.npy:
https://drive.google.com/drive/folders/18uVOLmSa3uduMgOSP7TJ70NHKDfa4O38?usp=sharing
https://drive.google.com/file/d/15oGY--HDwrQXhDGTZjfnqgiSnE93HGM7/view?usp=sharing

the script:
https://drive.google.com/file/d/1fqG6W61gmeQVVV4hGbruGKgHY41ydl0C/view?usp=sharing

[2022-08-04 14:03] alejoe91 commented on #824
@shirquinn with the latest data you shared I could not reproduce the issue.
![image](https://user-images.githubusercontent.com/17097257/182866571-3fa7bd59-d5a5-41e9-b86d-b7b30ff347d7.png)

everything seems fine on my side. What version of spikeinterface are you using? Can you try to use the "master" version? We are going to make a release at the end of the month.

[2022-08-04 14:07] shirquinn commented on #824
@alejoe91 can you try extracting l ratio from these and tell me if its working ok on your end?
i am using the master version... i'll try to reinstall everything

[2022-08-04 14:09] alejoe91 commented on #824
But amplitude extraction didn't fail then, correct?

[2022-08-04 14:18] alejoe91 commented on #824
strange, I used exactly the same code (you can see my screenshot)! Please send me the full script

[2022-08-04 14:19] shirquinn commented on #824
Sorry @alejoe91 i'm an idiot, i figured out what was the problem, i'll spare us my embarrassment and close this issue :D

[2022-08-04 14:19] #824 closed

[2022-08-04 14:41] alejoe91 commented on #824
ehehehe! no worries! I'm happy to help and don't let yourself down ;)

[2022-08-05 08:24] alejoe91 commented on #868
Hi @colehurwitz

We have a function `sorting.remove_empty_units()` which returns the new "full" sorting.

I agree that this should be done automatically at waveform extraction. Something like:
[code]

I wouldn't apply the unit removal after spike sorting though. Empty units could mean that a template was found which didn't match any spikes, so it could be informative. Waht do you think?

[2022-08-05 08:38] betty-hbr opened #871 "Error "bad record dict" occurred when running "ss.run_sorters""
Hi all, I’m running 0.90.1 SpikeInterface with python 3.8.13, dataset was recorded using tetrode probes. And I encountered this error.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [57], in <cell line: 3>()
      1 # run spike sorting on entire recording
      2 working_folder = '/Us

[2022-08-05 08:45] alejoe91 commented on #871
Hi!

How did you get `recording_rb`? Can you paste the output of: `recording_rb.to_dict()`?

[2022-08-05 08:53] betty-hbr commented on #871
Hi
I get `recording_rb` as a result of `recording_rb = st.remove_bad_channels(recording_cmr, bad_threshold=5)`.
Here is the output of `recording_rb.to_dict()`:

{'class': 'spikeinterface.toolkit.preprocessing.remove_bad_channels.RemoveBadChannelsRecording',
 'module': 'spikeinterface',
 'kwargs': {'recording': {'class': 'spikeinterface.toolkit.preprocessing.common_reference.CommonReferenceRecordin

[2022-08-05 10:04] alejoe91 commented on #871
Ok, the problem is trhe following: you are using a `NumpyRecording` which is an in-memory recording that cannot be serialized.

In order to run the `run_sorters()` function, recordings need to be "saved" to a json file, but in-memory object son't support this.

So, you have 2 alternatives:
1. Save your recording to a binary object: `recording_rb = recording_rb.save(folder="my-folder", chunk_size=3

[2022-08-05 15:16] colehurwitz commented on #868
Yep! Great solution. I agree that the template could be informative, but one could remove these units temporarily for waveform extraction.

[2022-08-05 15:33] tinaxia2016 opened #874 "Export quality metrics from spikeinterface to phy"
Hi there, I'm a new user of the spikeinterface. I'm wondering if there is any example code for exporting the quality metrics from spikeinterface to phy. Being able to look at the quality metrics in the cluster view of phy will help the manual sorting step a lot.

Thanks in advance!

[2022-08-08 08:23] Aryo-Zare commented on #837
Hi @alejoe91

Sorry for my delayed feedback. Please find attached 2 pdf files depicting the distal & proximal parts of the probe layout I use.
[distal  .pdf](https://github.com/SpikeInterface/spikeinterface/files/9280055/distal.pdf)
[proximal  .pdf](https://github.com/SpikeInterface/spikeinterface/files/9280057/proximal.pdf)
Both of them show both the channel index & device channel indices.
As sho

[2022-08-08 09:07] betty-hbr commented on #871
Yes, it perfectly solved the problem !!!

Many thanks!!!

[2022-08-08 09:08] #871 closed

[2022-08-09 15:02] AlanoudAlsubhi commented on #814
Yeah but now I'm running into another thing that is confusing me. It might be related to this, not sure.

I'm using the `spikeinterface.postprocessing.get_template_extremum_channel(waveform_extractor, peak_sign: str = 'neg', mode: str = 'extremum', outputs: str = 'id')`

Some of the extremum channels are not consistent pre and post-curation. In this case it is just the first one.
Pre curation it i

[2022-08-09 15:21] alejoe91 commented on #814
Did you do some merges or just removed noisy units?

[2022-08-09 15:40] AlanoudAlsubhi commented on #814
I just removed noisy units

[2022-08-09 15:45] alejoe91 commented on #814
Ok, it seems that the mismatch is only for unit `0`, right?

I think this is happening:
Unit 0 probably have waveforms which are almost as large on two channels (0 and 11). When you extract waveforms, you subsample them (by default 500), so it is possible that different subsampling make the peak channel fall in one of the two channels.

Can you try to re-extract waveforms adding the `max_spikes_pe

[2022-08-09 16:36] AlanoudAlsubhi commented on #814
Thanks for the suggestions! Unfortunately, nothing changed.
But there is something interesting from plotting the templates Pre and Post. There seems to be something wrong with unit 0 post curation, `sorting_SC_phy_curated = spikeinterface.extractors.read_phy('phy_SC/', exclude_cluster_groups=['noise'])`.
![image](https://user-images.githubusercontent.com/79871345/183708087-ff399897-adcb-4e58-9ad7-

[2022-08-09 16:42] alejoe91 commented on #814
Yes indeed it looks wrong..can you try to compare the spike trains? If you share the phy folder I'll take a look

[2022-08-09 16:49] AlanoudAlsubhi commented on #814
[https://drive.google.com/drive/folders/1gQgiNWabO1npZYje4LfG7wkUrTG33K8T?usp=sharing](url)

[2022-08-10 07:47] alejoe91 commented on #814
@AlanoudAlsubhi thanks for the data and thanks for spotting this! Indeed there was a bug!

It is fixed in this PR: https://github.com/SpikeInterface/spikeinterface/pull/876

Can you try to install from there?

[2022-08-10 15:39] kortdriessen opened #877 "Error using pykilosort to sort concatenated recordings"
I am trying to sort some multichannel data using spikeinterface and pykilosort, and am getting an error that may be a bug. The process that caused it is the following:
1. I wrote each channel of the probe to a binary file, and loaded each of those files using `read_binary`. I get a `BinaryRecordingExtractor` with 16 channels and 16 corresponding segments.
2. I give that `BinaryRecordingExtractor`

[2022-08-10 17:17] colehurwitz commented on #874
@alejoe91 Is there a way to do this? I couldn't figure it out.

[2022-08-11 14:57] alejoe91 commented on #874
Hi guys,

If you have computed quality metrics (so `quality_metrics` is available as an extension), then they should be epxorted automatically as .tsv files. See: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/exporters/to_phy.py#L228-L237

Is it not working?

[2022-08-11 15:07] TomBugnon commented on #877
Thanks a lot for the quick fix, we'll give it a shot within a week or two

[2022-08-11 20:00] AlanoudAlsubhi commented on #814
This actually fixed the issue.
Thank you!

[2022-08-11 20:03] colehurwitz commented on #874
@tinaxia2016 I think this is how it works!

[2022-08-11 20:04] colehurwitz commented on #874
Thanks @alejoe91 👍

[2022-08-12 02:02] YangWenfei-philip commented on #822
I managed to resolved this issue, but when I run the data I encountered the following issue:

UserWarning: resource_tracker: There appear to be 9 leaked semaphore objects to clean up at shutdown

My computer has 16 Gb of RAM, and I managed to free up 12 Gb for this task and this still appear. Is there any solution?

[2022-08-12 07:32] alejoe91 commented on #822
Hi,

This is a warning, so don't worry about it ;)

Can you tell us when this happens? What is the code that is triggering it?

Cheers
Alessio

[2022-08-12 07:49] alejoe91 commented on #874
@tinaxia2016

To clarify: quality metrics are automatically exported to phy if you do the following before exporting.
[code]
where `we` is your `WaveformExtractor`. Internally, this makes a waveform extension called `quality_metrics`, meaning that you have a "quality_metrics" folder in your waveform folder that can be used by other functions (and reloaded when loading from folder)

[2022-08-12 07:49] #874 closed

[2022-08-12 09:54] #814 closed

[2022-08-12 15:30] tinaxia2016 opened #880 "Subsampled waveform looks weird in Phy"
Ideally, I would like to calculate WaveformExtractor "we" without setting a limit to "max_spikes_per_unit". But it requires the allocation of a large memory which exceeds my RAM. So I didn't change the default setting (max_spike_per_unit=500). Then I found that the waveform looks weird in Phy. Is this because of the subsampling on waveforms?

The code I use to calculate WaveformExtractor:
[code]

[2022-08-12 15:31] alejoe91 commented on #874
1. The AP stream from spikeGLX is already high pass filtered, but sometimes channels have an offset so imo it's better to refilter

2. I think that the mismatch is due to a different sparsity (the channels associated to each unit). In the ks sparsity is using the geometry, while by default SI uses the channels with the largest amplitude. If you have some noisy channels (in your case the bottom one

[2022-08-12 15:58] tinaxia2016 commented on #874
Thanks @alejoe91! I'm not sure whether this unit is clearly noise. I thought it was a good unit judging by the dip in the center of ACG. What's the acceptable range for ISI violation ratio?

[2022-08-12 16:17] alejoe91 commented on #874
We usually remove everything above 0.5, but I agree the ACG looks okayish! Maybe you can try to clean it up a bit in phy ;)

[2022-08-15 14:55] tinaxia2016 commented on #868
@alejoe91 When I try to use the function remove_empty_units(), I got the following error message:

[code]

error message:
[code]

[2022-08-16 08:39] Aryo-Zare opened #882 "typo!"
Hi Everyone

Just a small typo I want to mention which may make some headaches later for people :
https://github.com/SpikeInterface/spikeinterface/blob/678a31eca474027e7d8497e4f2bc7c8746bb2ee1/spikeinterface/sorters/sorterlist.py#L98
this warning should be  :   get_default_sorter_params()
Hence the two words 'default' & 'sorter' are reversed !

[2022-08-16 15:24] teristam opened #883 "Stability of the API"
Hi,

First, thank you so much for developing this amazing spike sorting package. I have been using it in our data pipeline. However, I notice that the API often undergo big breaking changes every once in a while and all our existing code breaks whenever we try to update the package. Does spikeinterface have any plan to freeze the external API? It is good to keep improving the package but if the AP

[2022-08-17 13:45] JuliaSprenger opened #885 "Container using system packages"
When running a sorter using `run_sorter_container` some system volumens are mounted. On ubuntu and using singularity this can lead to the system installation of spikeinterface (e.g. in `~.local/pythonX.X/site-packages`) to shadow the spikeinterface version installed in the container.
This can lead to confusing version conflicts, but can also be used to provide the container with a specific spikein

[2022-08-18 17:43] TomBugnon opened #886 "Recording's channel ids lost when adding a probe"
Hi,

When adding a probe with
[code]
the recording's channel ids are reverted to `[1, ..., nchans]`, even if the probe's contact ids are set beforehand with `prb.set_contact_ids(rec.get_channel_ids())`.

The doc is either unclear or absent on these points. What's the preferred way to add a probe and making sure not to mix up all the channels? What's the difference between contact id and channel id

[2022-08-18 18:27] TomBugnon opened #887 "Can't dump NumpyRecording extractor"
Hi,

When running `run_sorter` with a recording issued from a `NumpyRecording` object I get the following Error

```ss.run_sorter(sorter, si_recording, output_folder=kilosort_output_dir, verbose=True, **params)```

Here is where the error comes from:

    455         file_path = self._get_file_path(file_path, ['.json'])
    456         file_path.write_text(
--> 457             json.dumps(check_jso

[2022-08-18 18:40] TomBugnon commented on #887
Since we're at it, are NumpyRecordings supposed to be sortable?

I get this error from Kilsort2_5 when intending to sort one

Which is apparently indicative of kilosort not finding any spikes, either because the channel locations or the binary file are messed up.
I'm wondering if `write_recording_as_binary` works properly for NumpyRecording because the shape of the traces is (nsamples x nchans) wh

[2022-08-19 05:23] PaolaGith opened #888 "Spikeinterface-gui not working and not imported"
Hello,
I have issues with spikeinterface-gui starting from the import.

As described in the tutorial, I import
import spikeinterface_gui as sigui
in my jupyter notebook script.
But I get this error

ModuleNotFoundError                       Traceback (most recent call last)
Input In [3], in <cell line: 6>()
      3 from pathlib import Path
      5 import ephyviewer
**----> 6 import spikeinterface_

[2022-08-19 13:59] phanhuynh commented on #841
Hi Alessio,

I hope you've been well.  I'm curious if you have any news on this?

Thank you so much!

On Sat, Jul 30, 2022 at 6:14 PM Phan Huynh ***@***.***> wrote:

--
-Phan Huynh
+33 7 66 23 36 98

[2022-08-19 16:07] dustinf1989 opened #892 "Why does Combinato give me different results in SpikeInterface compared to from the terminal?"
I recently found out about SpikeInterface and think it is a great idea to compare Spike Sorting algorithms. I was using Combinato from the terminal (how it is described on its own GitHub) going through the [tutorial III ](https://github.com/jniediek/combinato/wiki/Tutorial-Real-Data) with the supplied file, CSC29.ncs. I then completed the same pipeline in SpikeInterface, but I get slightly differe

[2022-08-19 20:27] ferchaure commented on #892
Hi dustin

You are right, I will find a proper way to fix it and tag this issue. For the time being you can add this code to your pipeline:

[code]
And then run combinato using `fixed_recording `. The difference in results could be related to the scales, some steps in combinato are scale dependent.

Spikeinterface creates a local_options.py file with the parameters inside the folder, setting all

[2022-08-19 21:33] Zoe0793 commented on #823
Hello,
I am experiencing the same "UserWarning: There is no Probe attached to this recording. Creating a dummy one with contact positions" when running:

sorting_TDC = si.run_sorter_by_property("tridesclous", recording_tetrodes, grouping_property="group",
                                        working_folder="tds_by_group", engine="joblib",
                                            engine_kwarg

[2022-08-20 22:09] vncntprvst commented on #841
Hi Phan,
I've been able to reproduce that bug, but I haven't finished fixing it yet. I'll get back to it this week.
Vincent

[2022-08-21 01:15] khl02007 opened #895 "Error while running dockerized SpykingCircus"
@alejoe91 @yger
Running
[code]
returns

[code]

[2022-08-22 10:35] samuelgarcia commented on #844
Hi,
we already have this for user with few knowledge on python ecosystem.
https://github.com/SpikeInterface/spikeinterface/tree/master/installation_tips
The "quick installation" generally works for students in my lab that never install python on there machine.

[2022-08-22 12:08] samuelgarcia commented on #883
Hi,
we had a big big API breaking last year 0.13.0 to 0.90.0.
It was really was necessary to fix some error design in the spikeinterface infancy.
Despite this big API changing the felling is the same as before.

Since 0.90.0, normally we have very few "API change".
In short we try to, improve without breaking anything.
Sometimes we have some small changes that are easy to fix in pipeline.
I would

[2022-08-22 12:18] samuelgarcia commented on #885
Hi Julia,
when spikeinterface is already in the container, we should not have new installtion on the fly.
https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/runsorter.py#L468

regarding the logic, maybe if you have an old spikeinterface version, then a new one is installed.

[2022-08-22 12:28] samuelgarcia commented on #886
I not sure to understand.

The **channel_id** refer to name of the recording device (for instance openephys or blacbrock).
The **contact_id** refer to the name given by the probe manufacturer of the "channel" aka contact on the probe.

the role of `rec = rec.set_probe(prb)` is to link channel_id to contact_id which often complicated because of the wiring of the headstage. the probe have internaly

[2022-08-22 12:34] samuelgarcia commented on #887
Yes NumpyRecording can be sorted be very often sorter need a binary file as input so very often an intermediate file is written to the disk. This is the case for kilosort.
kilosort need a (nsample, nchans) shape, so the write_recording_as_binary should be OK.

The best way to avoid problems when you have a numpy recording is to "save" it so internally it will be binary file.

`rec2 = rec.save(fold

[2022-08-22 12:35] samuelgarcia commented on #888
Hi,
you should install sigui from source.
I will try to make a release soon.

[2022-08-22 18:49] colehurwitz opened #900 "ModuleNotFoundError: No module named 'spikeinterface.postprocessing'"
Hi all! I ran into an issue when installing spikeinterface. When I do a fresh install of spikeinterface:

`pip install spikeinterface`

I get an error when I do:

[code]
output:
`ModuleNotFoundError: No module named 'spikeinterface.postprocessing'`

This error goes away when I install spikeinterface locally (using `pip install -e .`).

Is this the intended behaviour or a bug?

[2022-08-22 18:50] colehurwitz commented on #900
Maybe this is related to: #888 ?

[2022-08-23 07:52] alejoe91 commented on #900
@colehurwitz the flattened modules `spikeinterface.postprocessing/preprocessing/qualitymetrics` are not released yet, so if you `pip install` you would still need the `toolkit` submodule. We are releasing within a couple of weeks :)

[2022-08-23 08:31] alejoe91 commented on #892
Merged now! https://github.com/SpikeInterface/spikeinterface/pull/894

[2022-08-23 08:32] alejoe91 commented on #895
@khl02007 can you heck the `log` file in the output folder?

[2022-08-24 04:22] BenATemple opened #905 "Recent trouble loading OpenEphys data"
Have recently had trouble loading OpenEphys data. Maybe has something to do with the new OpenEphys GUI?
Is anyone else experiencing the same?
Screenshot attached
![Screenshot from 2022-08-23 20-34-49](https://user-images.githubusercontent.com/87513570/186328304-3427fbe1-93f9-475b-b622-0a4f6b17beb2.png)
:

[2022-08-24 06:33] samuelgarcia commented on #905
Hi,
thanks for reporting this.
It is a bug in neo. The event (ttl) in your data is not managed correctly.
Could you open an issue in python-neo repo and also send us a small dataset that contain the same kind of data.

[2022-08-24 07:40] #882 closed

[2022-08-24 08:50] dustinf1989 commented on #892
Hi Fernando,

Thank you very much for the quick answer, and thanks for merging with the related issue. I can use `ScaleRecording` but how can I know what amount Combinato natively scales the data with?

I looked at the parameters for Combinato in SpikeInterface before and there are much fewer than the `options.py` file that comes with Combinato. Here are all of the parameters:

[code]

So what I'm

[2022-08-24 10:17] SusanL82 opened #906 "How to load probe file / channel grouping for neuralynx data?"
Hello,
I'm trying get spikeinterface working with neuralynx data and I'm running into some trouble when I try to get the tetrode grouping to work. I'm a little new to using python, so I apologize if this is a very obvious thing.

When I try to use load_probe_file, I get the error that "AttributeError: 'NeuralynxRecordingExtractor' object has no attribute 'load_probe_file'".
There's a similar error

[2022-08-24 12:19] dejanica93 opened #907 "Neuralynx data: .nrd and .ncs files"
Hello!

I was wondering how to use two different types of data files from recordings in Neuralynx system. I am recording with a microdrive that holds 4 tetrodes.
1. .nrd files (raw data), where all the spikes from all the channels are saved in a single .nrd file.
2. .ncs files (continuous data), where one .ncs file is generated per channel.

I want to be able to run in through spikeinterface for s

[2022-08-24 12:51] ferchaure commented on #892
Combiato shouldn't scaled the data again, but it requires inputs as uV. Check the gains of your recording :

`rec_gains=recording1.get_channel_gains()
`

If the aren't None, add them as the gain argument in ScaleRecording(recording, gain=rec_gains)

Yes, if the option isn't set on SpikeInterface, then the global options.py will be used. If you fine some option that could be relevant for reproducib

[2022-08-24 12:59] alejoe91 commented on #906
Hi @SusanL82

As the error suggests, the `load_probe_file` function doesn't exist. In order to load the `.prb` file, you have to use `probeinterface`:

[code]

The `by_probe` mode will group different tetrodes in different `groups`. You can check with:
[code]

[2022-08-24 14:48] BenATemple commented on #905
Yes, absolutely. Sending you an email w/data.
Thanks for your help, let's get this fixed! I think this will be a problem for anyone with updated OpenEphys

[2022-08-24 15:04] alejoe91 commented on #905
Can you send it to me too? :)

[2022-08-24 15:12] BenATemple commented on #905
Sure! What's your email?
Ben

On Wed, Aug 24, 2022 at 8:05 AM Alessio Buccino ***@***.***>
wrote:

--

Ben Temple
***@***.***
303.519.8029

[2022-08-24 15:13] BenATemple commented on #905
Yes! Just sent. Thanks a lot for your help guys

[2022-08-24 17:20] alejoe91 commented on #905
@BenATemple do you have neo and spikeinterface installed from source?

I can with no issue the the data you shared!

[2022-08-24 17:22] alejoe91 commented on #905
In particular, I think it was fixed with this commit: https://github.com/NeuralEnsemble/python-neo/commit/51a167c3b9925c43cdb63a3e282a75a8d3270005

[2022-08-24 17:23] BenATemple commented on #905
ok awesome! let me check when I'm in lab -- maybe I need to update neo
I have the dev version of spike interface from last summer, maybe I need to
update that too?

On Wed, Aug 24, 2022 at 10:22 AM Alessio Buccino ***@***.***>
wrote:

--

Ben Temple
***@***.***
303.519.8029

[2022-08-24 20:44] BenATemple commented on #905
Hm, I uninstalled spike interface and reinstalled the most updated version. Still having trouble loading the same data that you guys were able to load ...
![Screenshot from 2022-08-24 13-39-04](https://user-images.githubusercontent.com/87513570/186519822-3fe24aa2-f455-4b79-a08c-cd7f9517d295.png)
![Screenshot from 2022-08-24 13-39-24](https://user-images.githubusercontent.com/87513570/186519825-c63

[2022-08-24 21:03] BenATemple commented on #905
Interesting ... if I just delete the "events" folder (which holds the TTL pulses), then I am able to load OK.
Good temporary workaround but still can't figure out what's going on on my end ...
Thanks a lot for your help!

[2022-08-24 22:58] khl02007 commented on #895
here are the contents of `spikeinterface_log.json`
[code]

[2022-08-25 05:38] alejoe91 commented on #905
Try to `pip install --upgrade neo`

[2022-08-25 07:53] yger commented on #867
Just to comment, please note that SpykingCircus2 and tridesclous2 are still under development. They are mostly proof of concepts for now that si_based sorters are working, but we need to finish some tests on real GT data before properly validating them...

[2022-08-25 18:35] Zoe0793 opened #912 "Mapping tetrode data for run_by_sorter"
Hello,
I am implementing SI to run tridesclous and spyking circus on tetrode data. I have a .dat file and the channels are stored in order of consecutive tetrodes [ 0 1 2 .. 127]. However, when running ‘BinaryRecordingExtractor’ it is read in order [ 0 1 64 65 … 62 63 126 127], i.e. it skips every two channels and then loops back around.

I understood that I could simply use set_global_device_chan

[2022-08-25 20:07] shirquinn opened #913 "read open ephys v0.6"
Hi @alejoe91
when i try to read a binary file recorded with open ephys gui version 0.6.0 i get this error
the files are ordered differently in this new version, any chance you can adapt the code to read the files from the new version?

`ValueError                                Traceback (most recent call last)
Input In [7], in <cell line: 1>()
----> 1 recording = si.read_openephys(recording_file)

[2022-08-26 09:45] yger opened #914 "Specification of the dtype for Preprocessors"
I saw a discussion concerning the dtype of the whitening pre-processors, but I just want to highlight that there is some inconsistencies between the pre-processors: some can specify an output dtype (filtering, whitening), and some can not (CAR, artefacts, ...)

Maybe there should be something more abstract and general such that all pre-processors can control the dtype output?

[2022-08-26 10:06] samuelgarcia commented on #913
Hi,
you need to install neo from source, this should be fix already.

[2022-08-26 10:07] samuelgarcia commented on #913
Maybe same as #905

[2022-08-28 10:50] shirquinn commented on #913
@samuelgarcia , pip install --upgrade neo didn't solve it for me.
i'm not sure on how to install it from the source. Can you explain how to do that?
Thanks any way
Shir

[2022-08-28 10:50] shirquinn commented on #913
@samuelgarcia , pip install --upgrade neo didn't solve it for me.
i'm not sure on how to install it from the source. Can you explain how to do that?
Thanks any way
Shir

[2022-08-29 06:26] samuelgarcia commented on #913
Hi,
for source installation you need to do this
[code]

See https://github.com/SpikeInterface/spikeinterface#how-to-install-spikeinteface

[2022-08-29 08:02] yger commented on #895
Hi
It looks indeed like a crash of SC, without proper warnings/reasons. What is the amount of RAM that you have on the machine? Can you monitor a bit the usage during the run?

[2022-08-29 09:17] shirquinn commented on #913
oh i thought you ment installing neo from the neo github.
I reinstalled spikeinterface and still get this warning:
There is no possible labels for this event: Record Node 103#Acquisition_Board-100.Rhythm Data/TTL/

[2022-08-30 05:40] khl02007 commented on #895
@yger I have 64 GB of RAM. The recording is ~ 19 GB (~ 14 min, Neuropixels 1.0). I got this error when running with `num_workers=-1` (default). When I changed this to `num_workers=1`, sorting finishes without the error - so maybe it is a problem with RAM running out. But it is very slow (~4 hrs to sort). I will monitor the memory usage more and report back, but meanwhile do you see a way to speed

[2022-08-30 11:12] SusanL82 commented on #906
Thanks!
I think there is something off about my .prb (read_prb gives an error), but the channel IDs listed in there won't work for me here.

As it turns out, se.read_neuralynx() gives my tetrode wires in the order 1, 10, 11, 12, ..., 19, 2, 20 with the recording system's channel ID to each one (e.g. CSC1.ncs is recorded on channel AD12, CSC10.ncs is AD29...). I think I'll need a more complex file

[2022-08-30 12:15] samuelgarcia commented on #906
If you mention `load_probe_file` maybe you are reading an old presentation or tutorial.
This way of doing do not exists anymore.

The most recent tutorial is this one:
https://github.com/SpikeInterface/spiketutorials/tree/master/Official_Tutorial_SI_0.94_May2022

[2022-08-30 15:01] h-mayorquin commented on #907
@dejanica93
Did you manage to load the files, I have been trying to get some more experience with neuralynx files recently and would love to help you if you are still into this.

[2022-08-30 17:27] caniko commented on #907
@samuelgarcia, I have been helping Dejana today, and it seems like `__getitem__` is not implemented for `NeuralynxRecordingExtractor`. This is an issue because `si.concatenate_recordings` fails to when running [`si.append_recordings`](https://github.com/SpikeInterface/spikeinterface/blob/5debc19d6c69f9c4acf10dfabaeafeca62a10407/spikeinterface/core/segmentutils.py#L59) when it call index `0` on `Ne

[2022-08-30 19:42] caniko commented on #907
The bug was on our side! I have a PR idea that I will post because I think the `si.concatenate_recordings` is a little unforgiving when the number of recordings is one, and it makes no sense to provide a list of recordings.

I also had trouble running kilosort3 with docker, but that is another issue.

[2022-08-30 21:09] Zoe0793 commented on #912
I have checked again and I am getting the error stated above regardless of which parameters I set. I therefore want to just ask specifically about this issue:

{
"sorter_name": "tridesclous",
"sorter_version": "1.6.5",
"datetime": "2022-08-25T13:13:19.320525",
"runtime_trace": [],
"error": true,
"error_trace": "Traceback (most recent call last):\n File "C:\Users\Analysis\anaconda3\envs\si_env1\lib

[2022-08-31 06:49] samuelgarcia commented on #912
Hi Zoe,
sorry for the delay.

My guess is that you need to solve properly you channel mapping.
set_global_device_channel_indicies is an important step you need set properly.

COuld you send  us your code for reading your dataset and set the probe (aka channel mapping).
And alspo a google table with the channel mapping ?
Then I could help you.

We are about to release so the no so responssive these

[2022-08-31 22:46] Zoe0793 commented on #912
Hi Samuel,
No problem, I just wanted to give the most up to date info.
I have been exploring more this issue and for some reason cannot replicate the error now. Although it is now working, the order of channels read by the `read_binary` is still a little confusing. If you know anywhere in the code that tells this, it will be super useful, it appears to be skipping every channel and cycling back th

[2022-09-01 08:24] nasnass opened #917 "Trouble running Herdingspikes on Spikeinterface"
Hi!
I am having a bit of difficulties getting Herdingspikes to run using Spike interface. This is the error I am getting:

The extractor was not dumpable
Error running herdingspikes
Traceback (most recent call last):
File "C:\Users\nasya\anaconda3\envs\herdingspikes\lib\site-packages\spikeinterface\sorters\basesorter.py", line 200, in run_from_folder
SorterClass._run_from_folder(output_folder, sor

[2022-09-01 09:53] DradeAW opened #918 "si.extract_waveforms don't compute templates if folder exists"
Hi,

I came across a (not very likely) scenario where an unintended behaviour happens.

If you call `si.extract_waveforms(..., load_if_exists=True, precompute_template=("average", ))`, and the folder already exists **but** the file `templates_average.npy` is missing, then it will not precompute the templates.

In my case it was relevant because SpikeInterface crashed during the templates computati

[2022-09-01 10:10] DradeAW opened #919 "WaveformExtractor computing templates can reach limit open files"
Hi,

On Ubuntu, there is a limit to how many open files you can have at once (by default, I believe it's around 1,000-2,000).

But this means that if in the WaveformExtractor, we try to compute the template from >2,000 spikes, it can reach this limit and crash.

I believe the files should be open sequentially (i.e. 1 by 1) and put into the ram?

[2022-09-01 10:55] nasnass commented on #917
@samuelgarcia I have updated it, still same issue.

[2022-09-01 15:35] caniko commented on #907
We managed to load the files indeed. Just use the [neuralynx reader function](https://spikeinterface.readthedocs.io/en/latest/api.html?spikeinterface.extractors.read_neuralynx#spikeinterface.extractors.read_neuralynx).

[2022-09-01 15:45] h-mayorquin commented on #907
I am not stuck, I am trying to improve some readers and therefore I want to get other examples as the only ones that I have are in the gin tests : )

Thanks for the update!

[2022-09-01 16:46] h-mayorquin opened #923 "ProbeInterface 0.2.10 breaks SpikeGLX"
This is showcased here:
https://github.com/SpikeInterface/spikeinterface/runs/8140425281?check_suite_focus=true

This is generated from the changes here
https://github.com/SpikeInterface/probeinterface/pull/117

Which broke backwards compatibility on the output annotations of the function read_spikgelx here:
https://github.com/SpikeInterface/probeinterface/blob/97d93bfdd5127d278cbb8ca50330fa404200

[2022-09-01 16:49] h-mayorquin commented on #923
I have done some modifications on #922 for spikeglx.

[2022-09-01 16:51] h-mayorquin commented on #923
Oh, apparently this has been addressed here:
#916

[2022-09-01 16:54] dejanica93 commented on #907
Everything seems to work!
Thank you all for the help!

[2022-09-01 16:54] #907 closed

[2022-09-02 08:58] #923 closed

[2022-09-02 09:45] alejoe91 commented on #913
@shirquinn we just released NEO, ProbeInterface, and SpikeInterface. Should be fixed if you do:

[code]

[2022-09-02 09:46] alejoe91 commented on #905
@BenATemple we just released NEO, ProbeInterface, and SpikeInterface. Should be fixed if you do:

[code]

[2022-09-02 09:47] alejoe91 commented on #900
@colehurwitz  we just released NEO, ProbeInterface, and SpikeInterface. Should be fixed if you do:

[code]

[2022-09-05 07:10] alejoe91 commented on #913
@shirquinn for seaborn you should be able to remove the warning by upgrading the package. For the plot function, that's also just a warning or is it triggering an error?

[2022-09-06 16:00] phanhuynh commented on #841
Hello Vincent,

I hope you've been well.  I just wanted to check in on your progress.  It
would be great to be able to use Kilosort3.

Thank you so much!

On Sun, Aug 21, 2022 at 12:09 AM Vincent Prevosto ***@***.***>
wrote:

--
-Phan Huynh
+33 7 66 23 36 98

[2022-09-07 12:06] SusanL82 commented on #906
O, that's good to know. I didn't realize that the tutorials were so different.

I ended up using recording.set_channel_groups() and recording.set_channel_locations() directly instead. It seems to work ok now (there is an issue with mountainsort, but that seems unrelated to the channel mapping).

[2022-09-07 12:06] #906 closed

[2022-09-07 12:16] samuelgarcia commented on #906
An even more recent tutorial were published 2 day ago for the 0.95 releas (3 day ago)
https://github.com/SpikeInterface/spiketutorials/tree/master/Official_Tutorial_SI_0.95_Sep2022

[2022-09-07 13:06] olesnits opened #930 "EDF EXTRACTOR"
Hi,

I have used Edf Extractor with many files (MEA recordings), but always I have the same prolem - metadata of the file is not properly read (wrong time in seconds, wrong sampling frequency.) I guess the problem how it reads header. Hope you can fix it!

[2022-09-07 13:07] olesnits commented on #930
I have checked the same files with H5 extractor, and metadata was read correctly.

[2022-09-07 13:40] SusanL82 opened #931 "Mountainsort problem: Cannot propagate registered recording to UnitsAggregationSorting"
Hello,
I'm running into a problem with Mountainsort and I'm not sure how to solve it.
I'm not sure how to attach files, so you can see the input files and my script here: https://owncloud.cesnet.cz/index.php/s/BjAj0CBHM2pCWtP

I load my files (Neuralynx CSC) using spikeinterface, add our own channel grouping, concatenate segments (if > 1) and then run mountainsort by group. Like so:

sorting_MS =

[2022-09-07 15:55] alejoe91 commented on #930
@h-mayorquin can you take a look at this? :)

[2022-09-08 10:30] phanhuynh opened #932 "ArrayMemoryError when using tridesclous"
Hello team,
I've attached the error log for tridesclous.
The key phrase is:
[code]
Any thoughts?  Thank you very much!
[spikeinterface_log.txt](https://github.com/SpikeInterface/spikeinterface/files/9526041/spikeinterface_log.txt)

[2022-09-08 11:36] caniko opened #933 "`run_sorters()` with docker should run fine on Windows"
Hello, we were trying to get the spike sorters up with docker on some personal PCs in the lab. I thought this would be OK considering that WSL 2 makes GPU mounting possible on Windows.

To my surprise this is not supported on the `spikeinterface` side, we got an `AssertionError`. What exactly is the issue on the Windows side? I am sure that a significant portion of the non-technical audience uses

[2022-09-08 11:47] caniko commented on #932
Seems like you are out of memory (OOM), how much RAM do you have? You can also [increase your swap memory](https://superuser.com/questions/793304/how-to-increase-swap-memory-in-windows), but this will impact performance.

Unless there is a setting for PCs with low RAM, the best thing to do is to get a PC with more RAM.

[2022-09-08 11:57] alejoe91 commented on #933
Can you paste the error?

[2022-09-08 11:59] dejanica93 commented on #933
Input In [14], in <cell line: 3>()
      1 import spikeinterface.sorters as ss
----> 3 sorting = ss.run_kilosort3(
      4     recording=recording,
      5     output_folder="kilosort3",
      6     singularity_image=True)
      8 print(sorting)

File ~\PycharmProjects\spikeinterface\venv\lib\site-packages\spikeinterface\sorters\runsorter.py:454, in run_kilosort3(*args, **kwargs)
    453 def run_k

[2022-09-08 12:03] alejoe91 commented on #933
Can you updgrade to 0.95.1? Windows is now supported

[2022-09-08 17:10] olesnits opened #935 "AttributeError: module 'spikeinterface.extractors' has no attribute 'SubRecordingExtractor'"

[2022-09-08 17:10] olesnits opened #936 "AttributeError: module 'spikeinterface.widgets' has no attribute 'plot_spectrum'"

[2022-09-08 21:15] h-mayorquin commented on #930
@olesnits Do you think you could share your data with us?

[2022-09-09 07:31] olesnits commented on #930
hello! sorry, i can't. data is private from patient's. I can share with you notebook, where i open file with edf extractor and h5 extractor to see comparison in meta-data. or i can be avalaible for call to open data with you. let me know

[2022-09-09 07:41] alejoe91 commented on #935
Hi @olesnits

You should follow the documentation for the new API (version>=0.90).

The `SubRecordingExtractor` has been superseeded by 2 functions:

* `recording.channel_slice(channel_ids)`: select a subset of channels
* `recording.frame_slice(start_frame, end_frame)`: cut the recording in time

[2022-09-09 07:43] #936 closed

[2022-09-09 08:01] alejoe91 commented on #931
Hi @SusanL82

Don't worry, that is just a warning but it is indeed a useless and criptic one, so I removed it here: https://github.com/SpikeInterface/spikeinterface/pull/937
It does not affect the results :)

Here is an explanation: when you use the `ss.run_sorter_by_property`, the original recording is split in different subrecordings that are spike sorted separately. When spike sorting is finish

[2022-09-09 08:01] #931 closed

[2022-09-09 08:05] alejoe91 commented on #880
Hi @tinaxia2016

Sorry for our late reply. This is probably an issue with the sparsity assigned to each unit, which is the subset of channels on which the unit is visualized. You see that the channels do not correspond at all.
The default way that the sparsity is computed, is by taking the N channels with the largest amplitude. If you have very noisy channels, this can lead to weird results.

How

[2022-09-12 10:18] #807 closed

[2022-09-12 13:21] chyumin commented on #885
@JuliaSprenger Would you mind to test changes in #938 ?

[2022-09-13 06:18] samuelgarcia commented on #885
Hi Yu Min,
I am OK with the patch you did.
What I do not understand in that case of Julia is why we try to install spikeinterface package in the container when it is already installed. This should not happen.
Am I missing something ?

[2022-09-13 08:33] github-actions[bot] opened #943 "Matlab file was changed"
This is a reminder issue.

Please recompile and rebuild image for the matlab-based sorters that uses the following changed files:

- `spikeinterface/sorters/hdsort/hdsort_master.m`
- `spikeinterface/sorters/kilosort/kilosort_master.m`
- `spikeinterface/sorters/kilosort2/kilosort2_master.m`
- `spikeinterface/sorters/kilosort2_5/kilosort2_5_master.m`
- `spikeinterface/sorters/kilosort3/kilosort3_mas

[2022-09-13 10:28] chyumin commented on #885
Hi @samuelgarcia
I don't think we try to install

[2022-09-13 13:12] JuliaSprenger commented on #885
In general we install spikeinterface in the `run_sorter_in_container` function if it's not present in the container or there's an issue with the version installed in the container. In the context of this issue I tried to install a specific version as sometimes the sorters are not running with different spikeinterface versions outside and inside the container.

[2022-09-13 13:31] phanhuynh commented on #932
Hello Can, I'm not sure if my response came through via email (8 Sept):
Hi Can,
Thank you for your response.
However, the RAM on this computer is 128Go 3200 MHz DDR4 - 4x32Go ECC.
Seems like plenty.  What do you think?

[2022-09-13 13:44] chyumin commented on #885
I believe we don't have spikeinterface installed in any docker image, so it should always try to install, no?

What happens is that one of the system volumes that is binded in singularity mode is the host's `$HOME` folder, so one of the paths that Python searches for (and installs) packages is `/home/<user>/.local/pythonX.X/site-packages`, so when running in singularity mode it turns out that Pyth

[2022-09-13 13:46] alejoe91 commented on #932
@samuelgarcia thoughts?

[2022-09-13 13:47] caniko commented on #932
I don't know what kind of raw data you have, and why the array is so big, do you have 64 channels? I would use my NVME drive as swap or re-design my datastructures. Swap is really easy because it doesn't require much effort, and it can tell you how much memory the sorter really needs.

Did you try any other sorters?

[2022-09-13 13:59] phanhuynh commented on #932
Hi Can, thank you for the quick response.
Yes, this same data set worked with Kilosort3, Spyking Circus, and Iron Cluster.
I'll check if the ram is maxed out when I run it.  I'll also loked into Swap.  Thanks!

[2022-09-16 13:08] Dradeliomecus opened #947 "UnitsAggregationSorting fails to inherit property"
Hi,

I saw in the `UnitsAggregationSorting` code that there is a copying of properties if they are consistent over all sortings.

However, look at the following code:

[code]

I believe the property should be inherited in this case.

Thanks,
Aurélien W.

[2022-09-16 18:38] yger opened #949 "Bug in plot_spikes_on_traces()"
I was trying this function, sounds pretty cool, but with the ipywidgets backend this leads to a crash quite quickly after playing with the control bars (scrolling in time)

     71 waveform_idxs = spike_frames_to_plot[:, None] + np.arange(-we.nbefore, we.nafter) - frame_range[0]
---> 73 times = dp.timeseries["times"][waveform_idxs]
     74 # discontinuity

IndexError: index 32000 is out of bounds

[2022-09-16 19:32] hpay opened #950 "check_your_install.py DeprecationWarnings"
I'm trying to get started with spikeinterface. I've activated the recommended environment si_env using conda and installation_tips\full_spikeinterface_environment_windows.yml. When I run check_your_install.py I get a lot of DeprecationWarnings and the output:
[code]

the last DeprecationWarning after this is:
[code]
It then seems to stall and never returns to the command prompt.
[](url)
Full outpu

[2022-09-16 20:16] hpay commented on #950
If I comment out the line that runs spykingcircus (I don't actually need that particular spike sorter), I get:
[code]

[2022-09-18 22:46] mfvd opened #951 "Error when saving/caching"
Hi!
I'm getting en error when trying to cache a downsampled recording but not on a recording that was only filtered/re-referenced.
Not sure where the error is coming from.

Code I'm using
[code]

ERROR
[code]

[2022-09-19 07:38] samuelgarcia commented on #951
Hi,
this resample is quite new and well tested yet.
Sorry for that.
Could you try to run the same with n_jobs=1 and then send the error trace ?

[2022-09-19 11:34] mfvd commented on #951
Hi @samuelgarcia
No problem!
With `n_jobs=1` I don't get any error.  However, saving the binary file takes a long time, even with a significantly reduced recording (e.g. 100sec).

[2022-09-20 17:17] jtyoung84 opened #957 "Error in recording.py if chunk_size is greater than number of frames in recording"
Getting an error in `spikeinterace/core/recording.py` setting up a unit test for a small recording because the number of frames is less than the chunk size. In lines 36-38:

[code]
if `length <=chunk_size`, then an error is thrown.

[2022-09-20 17:37] alejoe91 commented on #957
Thanks for the report @jtyoung84

I wonder whether throwing an error is the correct behavior here. If you ask a chunk size of 1000 but only have 900 samples, then it's not possible to get the requested chunk size. What do you think?

[2022-09-20 17:41] jtyoung84 commented on #957
I think raising a custom error message might suffice. Maybe add a quick check if `length <= chunk_size`, then let the user know to set the chunk_size on their end?

[2022-09-20 17:44] alejoe91 commented on #957
Sounds good!

[2022-09-21 04:17] gwq123456 opened #958 "How to get data for clustering after run_sorter?"
Hello, When I execute run_sorter, how can I call the method to get the data after sorter for clustering operation?
Is there a relevant reference example？

Thank-you for your time,
gwq

[2022-09-22 12:31] #957 closed

[2022-09-22 20:08] #935 closed

[2022-09-22 20:09] alejoe91 commented on #933
@caniko @dejanica93 did you try with new version?

If it works, I'm going to close the issue!

[2022-09-23 10:39] Dradeliomecus commented on #947
Also, why are properties not propagated if not in all sortings?

[code]

cs_sorting = sorting.select_units([0, 3])
non_cs_sorting = sorting.select_units([1, 2, 4])

cs_sorting.set_property("lussac_category", np.array(['CS', 'CS'], dtype=object))
cs_sorting.get_property("lussac_category")

non_cs_sorting.get_property("lussac_category")

new_sorting = si.UnitsAggregationSorting([cs_sorting, non_cs_s

[2022-09-27 15:32] phanhuynh commented on #932
Hello team!
I've observed the RAM.  Nothing special happens but then it will max out to 100% right before crashing.
I've tried a few things from this [stackoverflow page](https://stackoverflow.com/questions/57507832/unable-to-allocate-array-with-shape-and-data-type):
1) check that the python shell is 64bits instead of 32bits (it was correctly 64bits).
2) I've changed the overcommit handling, and c

[2022-09-27 15:39] caniko commented on #932
I would advise against fp64 to uint8. You could try fp32 or even fp16, wouldn't go lower.

Note that your data will lose quality when deviating from the original to lower precision.

I would rather use a lot of swap. How much swap did you set?

[2022-09-27 18:44] alejoe91 opened #965 "Sorting properties not loaded after saving"
@samuelgarcia maybe due to the folder refactoring, sorting properties are not loaded anymore after `save()`:

[code]

Output:
[code]

Note that properties are correctly saved, but the `folder_metadata` is not added to the dictionary..

[2022-09-27 18:46] alejoe91 commented on #965
and here is the problem: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/base.py#L700

Making a patch now, we can find a better solution later..

[2022-09-28 03:56] BenATemple commented on #905
Forgot to confirm that this is fixed now -- thanks for your help!

[2022-09-28 05:01] #905 closed

[2022-09-28 08:13] khl02007 opened #969 "Cannot save `NwbRecordingExtractor` with multiple jobs"
When I try to save an `NwbRecordingExtractor` (after channel and frame slicing) I get the following error:

[code]

[2022-09-28 09:16] dejanica93 commented on #933
Yes, the new version worked, but now I have issues with running kilosort.
Sorry for the late response, and thanks for help!

[2022-09-28 11:40] yger opened #970 "Bug with memory mode of WaveformExtractor"
The memory mode of the waveform extractor sounds cool, but it looks like some features are not properly handled. For example if such a memory object is created, the computations of metrics is crashing, because expecting a folder. Not sure I'm using it properly, but still pasting the issue

File ~/github/spikeinterface/spikeinterface/qualitymetrics/quality_metric_calculator.py:175, in compute_quali

[2022-09-28 14:11] #933 closed

[2022-09-28 14:14] hpay opened #972 "WaveformExtractor error with consensus sorting"
I am using ironclust and ks2 to sort a toy example, and I'd like to export the agreed units to Phy. I do:
[code]
And the last line gives an error:

[code]

Sure enough, sorting.json in consensus_waveforms2 is missing anything in kwargs (unlike the other sorting.json files I've seen with spikeinterface which have sampling_frequency there at least):
{
    "class": "spikeinterface.comparison.multicom

[2022-09-28 14:46] samuelgarcia commented on #972
The trick is to save the `sorting_agreement` into a npz/folder format because it is not dumpable and this give errors in waveform extractor.

So you just do this:
[code]

[2022-09-28 16:43] khl02007 commented on #969
I was able to resolve this issue by upgrading to h5py=3.7

[2022-09-28 19:57] hpay commented on #972
Thank you @samuelgarcia for the fast reply, that works!

[2022-09-28 19:57] #972 closed

[2022-09-28 20:22] BenATemple opened #974 "Would be helpful to have tutorial for merged sorting"
It might be helpful to put a tutorial for MergeUnitsSorting on the Read The Docs.
I can merge one set of units at a time, but not more (so can't do my whole set of units).
This would be really helpful, unless there is a way to re-import merging done in Phy.
Thanks for your help!

[2022-09-28 20:34] alejoe91 commented on #974
@BenATemple of course you can reimport merging done in Phy!

[code]

Anyways, the `curation` module is still under development but we'll add some docs soon!

[2022-09-28 21:49] BenATemple commented on #974
Very nice, thank you!

On Wed, Sep 28, 2022 at 1:34 PM Alessio Buccino ***@***.***>
wrote:

--

Ben Temple
***@***.***
303.519.8029

[2022-09-29 02:37] hpay opened #978 "read_intan returns a recording with 0 duration"
I'm reading intan data (single file per signal type) as follows:
[code]

Everything is correct except **Total duration: 0 s**, which of course causes any further operations to fail.

When I read it the same file as binary it is ok (Total duration: 206.6 s):
[code]

I'd be happy to share this sample file in case that would help. It would be nice to use the read_intan function to avoid needing to se

[2022-09-29 07:43] samuelgarcia commented on #978
Hi.
the read_intan is based on neo implemenattion here https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/intanrawio.py.

This read_intan is really for the old formats : rhs and rhd.

I think the binary intan is somehow more recent and is not handle in read_intan.

[2022-09-29 08:07] samuelgarcia commented on #969
Does it was working with n_jobs=1 ?

[2022-09-29 10:32] caniko commented on #932
Tridesclous, and other spikesorters do have minimum requirements; however, the requirements are also affected by your own data. As I mentioned earlier, your data seems to be quite different from the usual. The data has the downstream effect of requiring larger `np.ndarray`s, which crashes the runtime because of system out of memory or OOM.

Also storage, 2TB, has no impact on this issue. This is s

[2022-09-29 11:05] samuelgarcia commented on #932
Hi,
I am sorry for so long delay.
Normally tridesclous is doing chunk processing. So normally it cusums very few ram (depending chunk size of course).

Norammly the input is memmaped (using np.memmap) so normally we can adress very very dataset with a few ram.
The OS should load onde mand every chunk in memory and clean it when not necessary anymore.

Normally tridesclous should not triggered swap

[2022-09-29 16:42] hpay commented on #978
Got it, thanks!

In case it's helpful for anyone else I wrote a small wrapper module to do this:

[code]

[2022-09-29 16:42] #978 closed

[2022-09-29 23:48] hpay commented on #569
I ran into a similar issue.  It's particularly apparent when plotting two recordings overlaid (e.g. filtered and filtered+CMR). Probe.json file is attached below.

When I run:
[code]
I get (zoomed in to show that the spikes match before and after CMR):
![order_false](https://user-images.githubusercontent.com/16298546/193160812-cb3c3bb5-ff21-4089-b398-4c22aaadbb50.png)

When I run:
[code]
I get (no

[2022-09-30 08:27] phanhuynh commented on #932
Hi Sam - no worries, I know you're super busy.  Great idea though about using docker.  Unfortunately, I get the error pasted below.
@Can, thank you for all your ideas!  I'll try them if I can't get docker to work.  But to answer your first question, the raw file is 20.6GB.

[code]

[2022-09-30 08:50] hpay opened #979 "export_to_phy runs out of memory and/or is slow"
My test recording is 32 channels, 1 hr long. Kilosort2 finds 29 units with normal firing rates (all but one less than 20 Hz, one 100 Hz). Running Win10 with 24 GB RAM.

When I run:

[code]

I get the error:

[code]

This is similar to https://github.com/SpikeInterface/spikeinterface/issues/648#issue-1252688905. Based on that I tried chunking:
[code]
and it now finishes but is pretty slow (17 min)

[2022-09-30 13:48] caniko commented on #932
Running on docker and failing would eliminate the possibility pf wrongful installation.

You can also try my repacked version pf spikeinterface with trideclous `pip install spikeinterface-poetry[tridesclous]` (this is supported only by myself). I didn't mention it because it seems like you are running the sorter, low chance of wrongful install.

Wish you the best of luck!

[2022-09-30 23:21] hpay commented on #950
(I ended up not using spike interface gui because I am more used to phy and it works well enough)

[2022-09-30 23:21] #950 closed

[2022-10-01 21:59] hpay commented on #979
Quick update, I changed n_jobs=-1 and that sped it up a bit. (From the docs, "n_jobs: Number of cores to use in parallel. Uses all available if -1")

To work around my small issue #2  in Phy

I did:
[code]

I'd still be curious about this

and if there's anything else obvious I should do to speed things up further. But not urgent since it is workable as is.

p.s. Thanks for making & maintaining th

[2022-10-05 13:10] #885 closed

[2022-10-06 10:44] alejoe91 commented on #917
@nasnass how are you running HerdingSpikes? I think there might be an error in how you pass the arguments, because the `recording` seems to be None...

[2022-10-06 10:46] alejoe91 commented on #958
Hi @gwq123456

What kind of cllustering operation are you referring to? You can get the spike trains wiht:

[code]

[2022-10-06 14:54] TomBugnon opened #987 "Avoid segmentation error during kilosort2 cluster splitting"
Hi
We have been experiencing [segmentation errors](https://github.com/MouseLand/Kilosort/issues/199) during cluster splitting with kilosort2.5
We resolved this [by installing a different version of the mkl library](https://github.com/MouseLand/Kilosort/issues/199#issuecomment-754971599) and, in our fork, [setting the corresponding (system specific) paths as environment variables in kilosort_master

[2022-10-06 15:14] alejoe91 commented on #979
Hi @hpay

Thanks for the report. Indeed the easiest way to speed it up is to use more jobs, but I'd recommend using a much smaller `chunk_duration`. I usually use `1s` and it seems to give a great compromise between speed and memory usage.

I'll take a look at the `max_channels_per_template` mismatch, probably it's a small bug on our side!

[2022-10-06 15:40] #965 closed

[2022-10-06 16:17] alejoe91 commented on #979
Mmm we can discuss about it!

@hpay what do you think? Pre-computing all the required data would take some extra lines of code, but in general you can control all of these aspects much better.

[2022-10-06 18:47] hpay commented on #979
Thanks for the clarification on `max_channels_per_template` and `sparsity_dict`!

I did a quick test of `export_to_phy`, assuming that if max_channels_per_template controls how many channels go into the PC computation, reducing that might also speed things up. On a small dataset, `max_channels_per_template = 1` took 1 min 22s, and `max_channels_per_template = 20` took 1 min 34s. Not a huge effect

[2022-10-07 22:37] brandonStell opened #992 "SpikeGLXRecordingExtractor recently broken?"
We're unable to load spikeGLX streams:

[code]

[code]

[code]

[2022-10-08 12:45] brandonStell commented on #992
Sorry, it seems that the the missing `.meta` files were the problem...

[2022-10-08 12:45] #992 closed

[2022-10-10 17:24] betty6you opened #994 "All the other sorter failed except of tridesclous"
Hi

I am using SpikeInterface to perform spike sorting on my binary file extracted from EDF.

But only "tridesclous" worked so far, the other sorters all failed.

Here is a copy of my code and output. https://github.com/betty6you/EDFRecordingExtractor/blob/main/EDF_extractor_test_1.ipynb

What will be the reason and how to solve it?

Many thanks!
Jing

[2022-10-11 09:27] Aryo-Zare opened #997 "export to phy output is different in the new version of spikeinterface (0.95) _ phy can not open it."
I encountered the problem while exporting the waveforms to phy for manual curation with the new version of spikeinterface (0.95).
With the previous version (0.94) which I had installed a few moonths ago, such a problem did not exist. The export to phy is done seemingly with no error, but phy can not open it.

More importantly, the output files of the extraction is different relative to the previou

[2022-10-11 09:40] caniko commented on #932
Yes, it is plenty; however, all it takes for OOM is either bugged code and/or loading too much into memory. Hope this was made clear earlier.

[2022-10-13 07:01] samuelgarcia commented on #997
I have very few knowledge on phy.

The hidden `.phy` folder is generated by phy itself I think.

About this problem with the amplitudes shape, I let @alejoe91 have a look!!

[2022-10-13 07:29] alejoe91 commented on #997
Hi @Aryo-Zare

Could you share the dataset with me? Seems to be an issue on our side in the shape of the computed amplitudes..

[2022-10-13 11:16] alejoe91 commented on #994
HI @betty6you

Looking at the notebook it seems that tridesclous only found 1 good unit..Is it possible that the recording doesn't have any clearly isolated unit? This could explain the spike sorters failure!

[2022-10-13 11:17] #974 closed

[2022-10-13 11:18] alejoe91 commented on #970
@yger now it's supported https://github.com/SpikeInterface/spikeinterface/pull/981

[2022-10-13 11:18] #970 closed

[2022-10-13 11:20] alejoe91 commented on #949
https://github.com/SpikeInterface/spikeinterface/pull/989

[2022-10-13 11:20] #949 closed

[2022-10-13 11:21] samuelgarcia commented on #951
Can you try this

[code]

And copy us the trace ?

[2022-10-13 11:21] #943 closed

[2022-10-13 11:22] #930 closed

[2022-10-13 11:29] alejoe91 commented on #919
We can try to fix it by adding this at the end of the [unit loop](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/waveform_tools.py#L330-L352):
`del wfs`

@Dradeliomecus can you try locally if it fixes your issue?

[2022-10-13 11:30] #913 closed

[2022-10-13 11:31] #900 closed

[2022-10-13 11:31] alejoe91 commented on #892
Hi guys, can we close this?

[2022-10-13 11:32] samuelgarcia commented on #888
No it is released.
Upgrade bith package an dit should work.

[2022-10-13 11:33] #886 closed

[2022-10-13 11:34] #883 closed

[2022-10-13 11:35] #877 closed

[2022-10-13 11:37] alejoe91 commented on #868
Hi @tinaxia2016

Sorry for the delay! Could you share the `phy` folder with me? I'll take a look!

[2022-10-13 11:37] #864 closed

[2022-10-13 11:38] #810 closed

[2022-10-13 11:39] alejoe91 commented on #844
@TdSNielsen we're closing this now, but we'd be happy to discuss more about how to improve documentation on our side!

[2022-10-13 11:39] #844 closed

[2022-10-13 11:40] #818 closed

[2022-10-13 11:41] #782 closed

[2022-10-13 11:43] #659 closed

[2022-10-13 11:44] samuelgarcia commented on #636
We close now, feel free to reopen.

[2022-10-13 11:44] #636 closed

[2022-10-13 11:45] #628 closed

[2022-10-13 11:46] #608 closed

[2022-10-13 11:46] #604 closed

[2022-10-13 11:48] alejoe91 commented on #602
HI @Yuhao-Zhang-SV

We refactored the plotting functions completely. Can you check if the error is still there after upgrading?
Closing for now, feel free to reopen!

[2022-10-13 11:48] #602 closed

[2022-10-13 11:50] alejoe91 commented on #569
Thanks for the additional report! We'll check on this!

[2022-10-13 11:51] alejoe91 commented on #527
maybe this discussion should be ported to the `mountainsort4` repo

[2022-10-13 11:51] #527 closed

[2022-10-13 11:52] #520 closed

[2022-10-13 11:52] Dradeliomecus commented on #919
I'll try, but shouldn't it be deleted automatically when the variable is overwritten?

I never understand how the garbage collecting works in Python ...

[2022-10-13 11:53] alejoe91 commented on #505
@matiasandina

Closing this for now, feel free to reopen or open another issue if you have other questions!

[2022-10-13 11:53] #505 closed

[2022-10-13 11:55] alejoe91 commented on #919
it should...then we can't explain the issue!

[2022-10-13 12:06] Dradeliomecus commented on #919
This is the line that crashes:
https://github.com/SpikeInterface/spikeinterface/blob/9f7b1ea48d2803c101cd2a1d18abd9ebf775e015/spikeinterface/core/waveform_tools.py#L160

[2022-10-13 12:57] Aryo-Zare commented on #997
Hi @alejoe91

I just tested another recording session today & this problem disappeared ! Even though I used the exact syntax as before. I'll further contact you if I see a consistent problem.
Aside from this, I'm trying to use cosine similarity index to perhaps manually check for very similar templates to merge. Together with automatic curation using quality metrics, this may relieve the need for

[2022-10-13 13:32] alejoe91 commented on #569
Should be fixed by this PR: https://github.com/SpikeInterface/spikeinterface/pull/1000

[2022-10-13 13:55] betty6you commented on #994
Thanks for your explanation.
I will try another file today.

Sent from my iPhone

On Oct 13, 2022, at 6:16 AM, Alessio Buccino ***@***.***> wrote:

﻿

HI @betty6you<https://github.com/betty6you>

Looking at the notebook it seems that tridesclous only found 1 good unit..Is it possible that the recording doesn't have any clearly isolated unit? This could explain the spike sorters failure!

—
Reply t

[2022-10-13 14:17] hpay commented on #569
Awesome!!

[2022-10-13 15:02] #569 closed

[2022-10-13 16:14] Aryo-Zare commented on #997
You're welcome Alessio,

Sure. Please find attached the cloud link for the files.
    https://ncloud.lin-magdeburg.de/s/QKTigdbPgRkifeG

The main recording session is zipped and is inside a folder named 'recording'. It's about 3 minutes.
If needed I also attached the probe jason file to generate your probe if you want.
I also uploaded the output of export_to_phy in a folder with the same name.

Pl

[2022-10-13 16:19] alejoe91 commented on #997
Thank you Aryo, can you also upload the sorting? you can just do `sorting.save(folder="sorting")`

[2022-10-13 16:57] alejoe91 commented on #997
Actually, I don't need it ;)

[2022-10-13 17:29] alejoe91 commented on #997
I found the issue (I think):

Your recording has less samples than the largest spike!!! That's why the amplitudes don't correspond, because the amplitude extraction uses the recording samples..

Are you sure you are using the correct recording?

This is what I tried:
[code]

So basically this means that the last spikes happen after the recording is finished. IMO we should check this and trigger an

[2022-10-13 17:41] #947 closed

[2022-10-13 17:42] alejoe91 commented on #605
@khl02007 any update on this?

[2022-10-14 00:48] miketrumpis opened #1004 "nwbextractors: handling offsets in the electrode table"
Hi, these lines are leading to a TypeError for me when multiplying the offsets by a scalar (`1e6`). I think when grabbing `offset = self._nwbfile.electrodes["offset"]` you actually need to do a slice syntax `[:]` to get a regular ndarray. I.e. the fix would be

[code]

This is with HDMF 3.4.6 and PyNWB 2.1.0

https://github.com/SpikeInterface/spikeinterface/blob/a21fac0b91c2502c6f50e609b85b753be26

[2022-10-14 04:31] miketrumpis commented on #1004
After thinking some more, I'm not sure it's safe to assume that the main electrode table has metadata that applies to all derived `ElectricalSeries`. As I understand, there is only one `electrodes` table in the NWB file, and any `ElectricalSeries` can refer to a range of rows in that table (that may well be my misunderstanding!). But if there's an offset meant to apply to the raw ADC counts, it wo

[2022-10-14 13:00] Aryo-Zare commented on #997
Thanks a lot Alessio for testing this.

I reran the analysis on the same recording. This time I got an error. I sorted the recording again & extracted the waveforms. The only change I made was increasing the 'detect_threshold' from spyking_circus from 7 to 9.

[code]

The previous commands before this :

[code]

It's strange. I'll see if it happens with other files.

[2022-10-14 16:56] TomBugnon opened #1010 "Avoid intermediate recording.dat file for SpikeGLXRecordingExtractor"
Hi all,

We are sorting enormous datasets for which the extra `recording.dat` binary copy becomes a serious issue, both in terms of speed and disk usage.
I see [here](https://github.com/SpikeInterface/spikeinterface/blob/37d40336cce3185acda29d76e5c90a7a970226d9/spikeinterface/sorters/kilosortbase.py#L120) that this step can be bypassed under certain conditions.

The `recording.dat` file is generat

[2022-10-16 18:36] khl02007 commented on #605
@alejoe91 I don't think this can be fixed unless spikeinterface (or probeinterface?) supports 3D channel location. But this isn't really an urgent issue so if you want to close it, go ahead.

[2022-10-17 07:44] alejoe91 commented on #605
I think that the best solution would be to implement the `read_nwb()` function in probeinterface, so you could do something like this:
[code]

Let's move the conversation to probeinterface!

[2022-10-17 07:44] #605 closed

[2022-10-17 08:09] samuelgarcia commented on #1010
Hi Tom,
many sorters need a binary files as input.
So for many input format (and also when a recording is preprocessed by spikeinetrface), a binary copy is done before running the sorter.
Recently we added the concetpt of "binary_compatible" for recording extractor to avoid making copy when the underlying file is in fact a binary.

See:
https://github.com/SpikeInterface/spikeinterface/blob/master/

[2022-10-17 17:36] tinaxia2016 commented on #880
Sorry for my late reply. Here is what I got with plot_unit_templates:
![image](https://user-images.githubusercontent.com/23267316/196244901-8c298caa-dc7c-485e-aa8b-0e6e38a66b74.png)

[2022-10-18 15:42] alejoe91 commented on #1004
@CodyCBakerPhD @bendichter @h-mayorquin

What do you guys think?

[2022-10-18 15:47] CodyCBakerPhD commented on #1004
Offsets were added to all `TimeSeries` children a while back as an attribute to the object alongside the conversion factor (and channel-wise conversion factor specific to `ElectricalSeries`). The whole offsets added to the electrode table thing was the pre-2.1.0 PyNWB workaround, so if you're pinning SI to >=2.1.0 you can just do away with the extra column here.

[2022-10-18 15:47] CodyCBakerPhD commented on #1004
That said, if channel-wise offsets are also requested for `ElectricalSeries`, I'd submit an issue for that on https://github.com/NeurodataWithoutBorders/nwb-schema/issues

[2022-10-18 15:50] miketrumpis commented on #1004
@CodyCBakerPhD I have wished for that exact thing, and hadn't gotten around to finding out the right venue to request it. TY!

[2022-10-18 15:53] CodyCBakerPhD commented on #1004
Cool - out of curiosity (and since I'm probably the one who will make the changes upstream), what format are you using that has different offsets per channel and would you be willing to share some files that showcase that property in their headers?

[2022-10-18 17:54] TomBugnon opened #1018 "Preprocessing of raw SpikeGLX data with spikeinterface"
Hi!

We (@grahamfindlay) are intending to sort very long (~48h) neuropixels 1.0 data, for which we are now hitting serious bottlenecks in terms of (pre)processing time and disk usage.

So far, we have been using Bill Karsh's CatGT tool to preprocess the raw SpikeGLX files, before feeding the preprocessed data into sorters via spikeinterface. CatGT takes care of concatenating the successive "trigge

[2022-10-18 18:24] h-mayorquin commented on #1004
You are correct that we are making assumption here that every the `ElectricalSeries` corresponds channel to channel with the electrode table. As this is not the case, we should use the `electrodes` property of the `ElectricalSeries` object (a region mapped to the dynamical table) to disambiguate and map properties correctly:
https://pynwb.readthedocs.io/en/stable/pynwb.ecephys.html#pynwb.ecephys.E

[2022-10-18 18:24] h-mayorquin commented on #1004
I am linking here the previous issue for backwards following and tracking:
https://github.com/SpikeInterface/spikeinterface/pull/846

[2022-10-18 19:18] samuelgarcia commented on #1018
Not yet, but Joe Mininski from London is working on it in coordination with Olivier Winter.

No, we do not have this.
Depending the complexity, this could be done easily or not.
All preprocessing have to be "lazy", so done on demand by `get_trace()` .
Does this gifx is somehow a detector with simple threshold and then zero masking or is it a complex processing ?
(We have `remove_artifacts()` but i

[2022-10-18 20:15] grahamfindlay commented on #1018
Thanks, Samuel.

It is a very simple procedure ([details](https://billkarsh.github.io/SpikeGLX/help/catgt_tshift/catgt_tshift/)). In short, it takes 3 parameters, `(A, B, C)`: When it detects a peak with amplitude of at least `||A mV||`, which rises at least as rapidly as `||B mV/sample-tick||`, it calls this an artifact. All samples are zero'd until amplitude settles back to `||C mV||` or less. E

[2022-10-18 21:08] JoeZiminski commented on #1018
Hi Graham, my names Joe and I'm working on porting some of the IBL tools to SpikeInterface with Olivier Winter. Currently have been focusing on the bad channel detection / interpolation (will post draft PR soon), but next the kfilt averaging.

Would also be happy to take a look at a opening a PR for the gifx detection this or next week if it would be useful.

Cheers,
Joe

[2022-10-19 03:51] miketrumpis commented on #1004
"Minimal" is hard with NWB haha.. still, this probably has more than necessary. I just spun up a new virtualenv with

[code]

[code]

[code]

[2022-10-19 03:57] miketrumpis commented on #1004
I'm afraid it is an experimental system. What specifically would be helpful to you?

[2022-10-19 16:02] TomBugnon commented on #1018
Thanks @samuelgarcia for the thorough response.

Hi @JoeZiminski  Great to hear that, we'll be happy to keep in touch regarding the timeline for the kfilt averaging, thank you!
We've mostly used gfix to clean stimulation artifacts, which is something that can be done by spikeinterface with the remove_artifacts function, so it is not crucial for us, but in general it might be interesting for spikei

[2022-10-19 17:55] alejoe91 commented on #1018
@yger is atively working on SC2, and solving some final caveats! When it's ready, we'll add some proper documentation :)

Pierre do you want to comment on this?

[2022-10-20 20:23] bassil-r opened #1024 "Possible backwards compatibility issue 95.1 "run" from principal_component.py in WaveformPrincipalComponent"
Hello, currently running the October 2022 SpikeTutorial and am running against an issue with the
I am to this point in the script:
![image](https://user-images.githubusercontent.com/116311152/197049411-b826f041-527e-46a5-bbb4-295ff9fced15.png)
The error appears:
![image](https://user-images.githubusercontent.com/116311152/197049534-39748468-670a-40a5-ae6b-50d0d6020c3f.png)

When reviewing the slig

[2022-10-20 20:28] alejoe91 commented on #1024
Hi!

The Oct22 tutorial was run using a beta version of the new release that will be out tomorrow! I'll update the requirements of the tutorial to point to the right version. Thank you for the report!

[2022-10-24 16:59] eejd commented on #329
Olá all,

I am also having trouble reading with the new Neo reader for the Legacy OpenEphys format. I don't know if anyone has this working, but my case is that the data is not loaded at all with a `index 0 is out of bounds for axis 0 with size 0` error. I have been reading through the code to try to find good points to debug the problem, but so far I don't have a good enough sense of the new Neo

[2022-10-25 10:03] JuliaSprenger commented on #329
Hi @eejd!
I am not sure what exactly causes the issue. Have you also tested this with the latest neo version (0.11.1)? If the issue persists, would it be possible for you to provide an example data session for debugging?

[2022-10-26 13:05] Aryo-Zare opened #1034 "spyking_circus error ."
I'm not sure if this error is totally related to the sorter (spyking_circus), or spike_interface.
In any case, I encountered this frequently. Sometimes this error would be resolved if I change (increase) the 'detect_threshold' from the sorter parameters.

But such tricks did not work in this case. Reason : unlike my previous successful trials which were on relatively short duration recordings (abo

[2022-10-27 12:37] phanhuynh commented on #932
Hello team,
The problem went away when I updated Spikeinterface ( `!pip install --upgrade spikeinterface`).
I can't believe I didn't try that earlier -- gaaaaaah!
Thank you again for your support!

[2022-10-27 13:29] alejoe91 commented on #932
Yaaaaayy!!! What version were you using?

[2022-10-27 14:07] alejoe91 commented on #932
Not sure, but glad it is solved!

[2022-10-27 14:07] #932 closed

[2022-10-27 14:15] Aryo-Zare commented on #1034
I just found a similar issue posted on the spyking-cirus page :

https://github.com/spyking-circus/spyking-circus/issues/377

The error reported by the sorter is similar. But seemingly the sorting process had already advanced further than in my case.
Even though the user was implementing it via docker. The user was also using spike-interface.

Unfortunately that issue is still open.

[2022-10-27 17:06] farazmoradi opened #1038 "Error while exporting large recording for manual curation"

[2022-10-27 17:10] #1038 closed

[2022-10-28 12:56] TomBugnon commented on #1018
Hi @samuelgarcia @alejoe91

I have been looking a bit into preprocessing raw SGLX data with SI, bypassing CatGT.
This plot shows traces (unscaled) for -
1- raw SGLX bin (SGLXExtractor)
2- catGT-processed bin file (only sample alignment) (SGLXExtractor)
3- CatGT + KS preprocessed file (BinExtractor('temp_wh.dat'))
4- raw SGLX bin + Spikeinterface preprocessing similar to CatGT+kilosort
5- raw SGLX

[2022-10-28 13:09] samuelgarcia commented on #1018
Hi Tom,
this is a super cool and positive feedback.
Any feedback about the speed (when you do the `rec.save(n_jobs=XXX)` ?

Regarding the scale : if you do not apply whittening (which force float32), we keep the same gain as the original file. In short the "bit to microVolt" gain is kept along your preprocess chain (even if internaly it is float at some steps like fft sample alignement).

If you n

[2022-10-28 13:17] TomBugnon commented on #1018
Ok great! I didn't see that there were specifically scaling preprocessing.

Will keep you posted on speed when doing some tests on longer recordings. I tried once `write_binary_recording` (no actual processing, only casting to int) with n_jobs=100 and 500G total_memory and it was quite bad: around 70h to copy   a ~43h recording, while catGT took around 30h to process/write the same amount of data.

[2022-10-28 13:18] samuelgarcia commented on #1018
I looking at your figure. Your gain is due to the whitening.
With whittening (which not recommend but some do) you expcet your signal be z-scored. This explain the sclae betweek -5 and 5.

[2022-10-28 13:21] alejoe91 commented on #1018
@TomBugnon can you try using these `job_kwargs`?
[code]
Personally, I found that smaller chunks makes processing faster!

[2022-10-28 13:21] samuelgarcia commented on #1018
Oups. This is slow. But 70h is for the full: align/CMR/bandpass/whiten ?
Not that MCR with median make it quite a bit slow. average would be faster.

By the way I would do CMR after bandpass to remove only commmon noise in high ferqs something like this no ?
align/bandpass/CMR/whiten or bandpass/align/CMR/whiten

[2022-10-28 13:23] samuelgarcia commented on #1018
@alejoe91 : with 100 jobs you also have to control the memory!!!!!
@TomBugnon : note that total_memory=500G will be 500/100=5Go trace chunk per worker.
Some steps need internal copy so maybe the chain consum many more. Did you check you are not swapping ?

[2022-10-28 16:00] eejd commented on #329
I believe I found the problem. There was a ".spikes" file with 0 extent (only header) that was loaded and was in array position [0] in 'spike_data'. So, the code was failing here: `wf_gain = 1000. / data_spike[0]['gains'][0]` and it was because there was no data in `data_spike[0]`. There should be a test for this corner case. I'm now testing the rest of my code using the new Neo code base using th

[2022-10-28 16:08] alejoe91 commented on #329
@eejd can you open an issue in Neo?

[2022-10-28 23:12] PicniCat opened #1039 "Error with pykilosort"
Hi,

I had a problem when running pykilosort. It's an index error: `IndexError: Index 0 is out of bounds for axis 1 with size 0`. Here's the code and results:
Running:
[code]
Returns:
[code]
Could you take a look and provide me with some advice?
The content of log.json is attached below:
[code]

Many thanks!

[2022-10-31 14:13] farazmoradi opened #1040 "Error while using Export to Phy"
Hi all,

Something strange happened while using export_to_phy for me. It was working properly on my previous recording, but when I switched to another data I got this Error!

IndexError                                Traceback (most recent call last)
c:\Users\fmora103\iCloudDrive\Desktop\Nastaran\Pattern-Seperation\Pattern-Seperation\SI_test copy.ipynb Cell 10 in <cell line: 3>()
      1 from spik

[2022-10-31 15:08] alejoe91 opened #1042 "[implementation] Implement "torch" peak detection"
### Current status

The IBL pipeline includes torch-based [voltage detector](https://github.com/cwindolf/spike-psvae/blob/ba0a985a075776af892f09adfd453b8d9db168b9/spike_psvae/detect.py#L350), which is currently not ported to SpikeInterface

### Proposed solution

The "torch" peak detection need to be ported to SpikeInterface and the semantics of the function needs to be unified to the other peak d

[2022-10-31 15:08] alejoe91 opened #1043 "[implementation] Finalize “destriping” IBL preprocessing"
The IBL's preprocessing pipeline includes the following steps which need to be ported and tested in SpikeInterface.
Reference white paper here: https://figshare.com/articles/online_resource/Spike_sorting_pipeline_for_the_International_Brain_Laboratory/19705522/3

- [x] Bad channel detection (#1070)
- [x] Bad channel interpolation/removal (#1025)
- [x] Phase shift (implemented [here](https://github

[2022-11-01 14:32] farazmoradi opened #1047 "Export to phy problems"
Hi,

I have done spike sorting using Kilosort 3 and export_to_phy to do manual curation. I did not receive an error while performing; however, when I wanted to use the Phy for manual curation, I received this error. It seems there is a problem with generating files by export_to_phy.

(base) E:\Spike_sorting\T9\Oct 19\phy>phy template-gui params.py --clear-state
10:30:59.954 [E] __init__:62

[2022-11-01 14:34] alejoe91 commented on #1047
Hi @farazmoradi

Can you share the phy folder?

[2022-11-01 14:37] farazmoradi commented on #1047
Sure, I just started uploading!

[2022-11-02 09:19] #837 closed

[2022-11-02 09:19] #1040 closed

[2022-11-03 08:22] alejoe91 commented on #1047
@farazmoradi I can't access the files (I need a uottawa account). Can you share them somewhere else, like on gdrive?

[2022-11-03 10:07] alejoe91 opened #1048 "[feat-core]: refactor API for saving to zarr"
Instead of `zarr_path`, use `folder` + `format="zarr"`

[2022-11-03 13:48] alejoe91 commented on #1039
Hi, what version of pykilosort are you using? Can you try using the latest version from IBL? https://github.com/int-brain-lab/pykilosort

[2022-11-03 13:49] alejoe91 commented on #1034
@yger any idea?

[2022-11-03 14:54] farazmoradi opened #1053 "Trimming recording"
Hi,

I have loaded a recording with BinaryRecordingExtractor. I want to cut the first hour of data as it was noisy and then perform the spike sorting. How do you do that?

[2022-11-03 15:03] alejoe91 commented on #1053
You can do the following:

[code]

[2022-11-03 15:46] Aryo-Zare commented on #1034
I found the source of the problem.  memory overflow.

As I had tested for high & low volume file sizes, the program would crash at processing large file volume sizes.

I tested on our LAB workstation (with 64 GB of RAM) & it ran without problem. Hence the problem is probably the amount of RAM available on the server. I had done previous analyses on the server. Though servers usually have a lot of

[2022-11-03 18:21] farazmoradi commented on #1053
Thanks a lot!

[2022-11-03 18:23] alejoe91 commented on #1053
No worries!

[2022-11-03 18:23] #1053 closed

[2022-11-03 20:30] kushalbakshi opened #1056 "extractor.read_spikeglx results in ValueError"
I'm attempting to read a raw ephys data file acquired using `neuropixels 1.0` probes and `spikeGLX` to export it as a NWB file and I'm running into the following ValueError when using the `extractors.read_spikeglx()` function:
[code]

The export was working without this error for the same files ~ Sept. 15, 2022. Please let me know if you have any suggestions to solve this or further questions abou

[2022-11-04 07:41] alejoe91 opened #1058 "[feat-core] Add save() function to WaveformExtractor"
When an existing `WaveformExtractor` is instantiated, it should be possible to `save()` it (including extensions) to a new folder.
(or to a zarr backend)

[2022-11-04 08:22] JoeZiminski commented on #1043
Thanks Alessio, bad channel interpolation and spatial filter are nearly done, just need to check a couple of things (aiming for PR today or Monday)

[2022-11-04 08:25] alejoe91 commented on #1043
Sounds great! No rush :)

[2022-11-08 06:35] hpay opened #1060 "Subselecting channels"
I'm trying to exclude bad channels but the channel_slice command doesn't act as I expect.

The probe associated with my original recording looks like this:
`pi.plotting.plot_probe(probe,with_channel_index=True)
`
![image](https://user-images.githubusercontent.com/16298546/200491834-d3a30c98-331c-4477-9cb3-675ca3631ae7.png)

Just as an example, say I want to keep the first 32 channels and discard t

[2022-11-08 09:15] samuelgarcia commented on #1060
Hi,
`plot_probe(probe,with_channel_index=True)` is useless and totally ambiguous (I should removed it)

You should do:
  * `probeinterface.plot_probe(probe,with_contact_id=True)` : the id of the contact given by the probe manufacturer
  * `probeinterface.plot_probe(probe,with_device_index=True)` : the index (0 based) in the recording

And the best is to use the widget submodule of spikeinterface:

[2022-11-08 09:35] yger commented on #1034
Hi all

Indeed, such a non informative crash is likely to be because of some memory error. However, SC should work well with 32Gb of RAM for large dataset, so I don't know what exactly went wrong here. In Spyking Circus, yes, you can also modify the size of the chunks. In [data], chunk_size = 30 (by default, and in s). This can be decrease if needed

[2022-11-08 09:40] yger commented on #895
This can be similar to #1034, but as said, I think that such a small recording should work fine even with 32Gb of RAM, so I am surprised and puzzled. When you are launching it with several cores, is the code faster at least? Because could be that MPI is not well installed. What do you have when you do, in a Python terminal

[2022-11-08 16:56] hpay commented on #1060
When I try with **with_contact_id**:
[code]
I don't see any channels labelled.
![image](https://user-images.githubusercontent.com/16298546/200626108-ad1adb3b-7555-4954-a65c-f8795e4969ee.png)

When I try with SI's function using **with_channel_ids** (before slicing) (note I had to get rid of "widgets" for this to run) (also note, this comes out the same if I do "**with_channel_index**" instead):
`s

[2022-11-08 20:18] samuelgarcia commented on #1060
As you see with `si.plot_probe_map(recording_raw, with_channel_ids=True)` channel 0-31 are not on the left but sprend in the 2 shanks.
This is why when you do `recording_raw = recording_raw.channel_slice(range(32))` you get the on the two side.
Keep in mind that `channel_slice` use **id**.
You should either : gie the list of ids (which is tedious) or use the "group" property to make the split.
Hav

[2022-11-09 01:32] h-mayorquin commented on #705
I think we can use the following function:

[code]

See https://github.com/dandi/dandi-hub/issues/36 for more context

[2022-11-09 07:51] samuelgarcia commented on #1056
Hi Kushal.
This is strange. Normaly, for spikeglx, the probe is handle automatically with channel indices.
Can you:
  1. try to update to latest probeinterface (we fix a bug about this recently)
  2. send us the ".meta" file from your spikeglx folder ?

[2022-11-09 10:21] DradeAW opened #1063 "Unhelpful error message with waveform extraction writing and insufficient space"
Hi,

I have the following code:
[code]

Which gave the following error message:
[code]

It was a pain to debug, but it turns out that the problem was due to my disk not having enough space left to extract the waveforms.

I think there should be a check to see if there is enough space left on the disk or a `try catch`, so that a more helpful error message can be thrown during multi-threading.

[2022-11-09 13:15] Yizhar-Lab opened #1065 "spikeinterface.extract_waveforms() raises an IndexError"
the param's passed are:

`spikeinterface.extract_waveforms(recording, sorting, wf_dir, load_if_exists=False, overwrite=True, ms_before=0.25, ms_after=0.75, max_spikes_per_unit=1e6,n_jobs=1, chunk_size=30000)`

`recording` is a 16-channel 'int16' binary recording and `sorting` is just a numpy sorting extracted from a csv file of manually sorted spike times. Here's the full traceback:

[code]

[2022-11-09 13:32] samuelgarcia commented on #1065
HI.
I think think one spike is outside the recording lenght.
Could you check ?
We should add a better message.

[2022-11-09 23:40] khl02007 commented on #895
@yger I agree that the problem is probably related to MPI but I'm not sure how to fix it. It doesn't run at all when more than 1 worker is used.

Here is the output
[code]

By the way, when I run SC without docker I get the same error (reproduced below)
[code]

[2022-11-10 09:39] Yizhar-Lab opened #1068 "specifying a unit's channel when extracting waveforms or computing quality metrics"
### Discussed in https://github.com/SpikeInterface/spikeinterface/discussions/1066

<div type='discussions-op-text'>

<sup>Originally posted by **Yizhar-Lab** November  9, 2022</sup>

I've a binary recording from 16-electrode bundles, where each electrode typically records different spikes/units, and the sorting is done manually for each channel separately. I created a NumpySorting object and ran

[2022-11-11 14:37] Aryo-Zare commented on #1034
Thanks a lot @yger for your response.

I use Spyking-cicrus indirectly via spike-interface. I've never ran it directly. Spike-interface itself doesn't have a parameter for this (chunksize).
I guess the command you mentioned ( data path / -c chunk_size = 30 ) is when running spyking-circus standalone. How can I instruct it via spike-interface ?
And it uses only half of the number of CPUs available.

[2022-11-11 14:38] Aryo-Zare commented on #895
Continued from #1034 :

I tested the MPI version on my LAB computer as you instructed. This compupter has windows operating system.
Microsoft MPI , (10, 1, 0)

Consequently I feel the problem is not necessarily from the amount of RAM, but is from MPICH.
I intially thought the amount of RAM (64GB) in my LAB computer is more than in the server, but I'm not sure about it. When I type the 'free' comma

[2022-11-11 16:43] a-zmz opened #1071 "not fitted error from running export_to_phy with compute_pc_features=True"
Hi,

I tried to use `export_to_phy` with `compute_pc_features=True`, but I got `nofittederror`.
Please find the complete error message below.
Have anyone had this issue and how could we solve it? Thanks!

[code]

[2022-11-14 15:52] luiztauffer opened #1073 "Can't load recording from json file"
Tested in both `master` branch and `0.96.1` versions.

Not sure exactly where the problem might be, either:
- Toy example
- to_dict()
- load_extractor

Reproducible example:
[code]

this yields:
[code]

[2022-11-14 16:02] samuelgarcia commented on #1073
Hi Luiz.
toy example generate Numpy based recording/sorting.
They are not dumpable because they use in memory buffer.
So the to_dict() is working but making this persistent in a json file is not possible.

If you want to have persistent toy you need to have
[code]

dump_to_json() should raise an error.

[2022-11-14 16:25] luiztauffer commented on #1073
hi @samuelgarcia
but a json file is being produced with the data, but the data is being stored as lists instead of np.arrays... it should be possible to read back from it, right?
`rec.save()` doesn't seem to give me an option to save is as JSON directly

This is making the basic example of running sorters from a container fail, since the container code presumes the recordings are stored as json fi

[2022-11-14 17:28] Yizhar-Lab commented on #1065
I checked and no spikes are outside the recording length. It seems like the error is not related to the recording length, but to the number of spikes - while there are only 62632 spikes, SI tries to index at 62632, which raises the error.

[2022-11-14 19:36] samuelgarcia commented on #1073
The `to_dict()` / `to_json()` is the concept of "dumpability". In other words, saving the kwargs to construct back the extractor with an init. It is not something for "saving". Saving is done with `save()` because it also also copy the data buffer.

The to_dict in the case of NumpyRecording contain the buffer as an array because it can be seriliaze for parralell processing but not for using this a

[2022-11-14 19:37] samuelgarcia commented on #1065
OK. Would it be easy to get this file to try to reproduce the bug ?

[2022-11-15 12:14] Aryo-Zare commented on #895
@yger
@alejoe91

I have some new insights that I want to share. On my side, this problem is resolved !

As it turns out, it was not the amount of RAM or the MPI vendor that caused the problem. The cause of the problem was non-optimal choice of the number of parallel threads of execution (CPU core threads).

I performed some benchmarking tests (below) that brought some strange, but very exciting re

[2022-11-15 12:48] Aryo-Zare commented on #1034
I found the solution to this : explained at #895.

[2022-11-15 13:31] DradeAW opened #1075 "Crash with aligned sorting and compute spike amplitudes"
Hi,

There is a bug when using `compute_spike_amplitudes` on an aligned sorting.
If a spike is not inside the recording window after alignment, it will cause a crash.

Here are the steps to reproduce:

[code]

[2022-11-15 16:59] TomBugnon opened #1076 "Multiprocessing fails with too many jobs when recording spans several files"
Hi Samuel, Alessio

Pfiou this one has been quite a headache to debug...

Here's what I'm doing:
1- For several files: create a single segment SpikeGLXRecordingExtractor
2- Select frames (shorten) single segment recordings
3- Concatenate segments from each files
4- Save to bin with `write_binary_recording`
This is with version 0.96.2.dev0,  commit df6e572f on master from 2days ago

`write_binary_r

[2022-11-15 18:35] samuelgarcia commented on #1076
Hi Tom,
I guess you are on linux.
On linux there a max open file hard limit which is generally set on 1000 for ubuntu.
With 30 files and 50 jobs (that all open the underlying files) you rapidely reach thus limits.

You can check it an check it using the `ulimit` linux command.
Tell if it works.

[2022-11-17 20:32] roybens opened #1077 "Can't run sorters using Docker"
I tried both mountainsort and kilosort3 and i get the same error. It is probably a simple one since it is occuring during cleanup:

sorting_KS3 = ss.run_kilosort3(recording, docker_image="spikeinterface/kilosort3-compiled-base")

FileNotFoundError                         Traceback (most recent call last)
Cell In [5], line 1
----> 1 sorting_MS4 = ss.run_mountainsort4(recording, docker_image="spikei

[2022-11-18 14:59] TomBugnon commented on #1076
I'm afraid this is not solved by increasing the open file limit (value showed by `ulimit -n`) to 500000 (lol)

[2022-11-18 17:19] DradeAW opened #1080 "WaveformExtractor.load_from_folder fails with unfiltered recording"
Using `WaveformExtractor.load_from_folder` will return an error if the recording is unfiltered. This is because the option `allow_unfiltered` isn't saved in the folder.

This is the line that crashes:
https://github.com/SpikeInterface/spikeinterface/blob/87e17cbcdb25a288e4c8f2c7813fbba743d1344e/spikeinterface/core/waveform_extractor.py#L144

I think we can either:
- Load with `allow_unfiltered=Tru

[2022-11-19 13:34] alejoe91 commented on #1071
Thanks for the report, @a-zmz

Did you compute principal components before exporting to phy?

[2022-11-19 13:36] alejoe91 commented on #1076
Thanks @TomBugnon

We'll try to investigate! Maybe it could be due to a preprocessing step..could you try by removing one by one the preprocessing functions?

[2022-11-19 13:40] alejoe91 commented on #1077
Hi @roybens

Can you run with `verbose=True` and report the output? For Linux, you might be getting a permission error if you didn't allowed docker to run without prove ledges..

Does this work? `docker run hello-world`?

[2022-11-19 14:03] alejoe91 commented on #1068
Hi @Yizhar-Lab

The best approach here is to use the grouping feature. First you set each channel to belong to a different group:
[code]
Now `recordings_dict` is a dictionary of 16 elements, with the group as key and a mono-channel recording as values.
You can similarly load your `NumpySorting` objects into a `sortings_dict` dictionary with the same structure and then extract waveforms for each ch

[2022-11-19 14:17] #1004 closed

[2022-11-20 07:20] roybens commented on #1077
Yes that worked, Thank you!

[2022-11-20 07:20] #1077 closed

[2022-11-21 09:58] #1048 closed

[2022-11-21 10:05] #1080 closed

[2022-11-21 14:03] alejoe91 commented on #1063
Thansk @DradeAW

Can you make a PR? Maybe we could estimate a rough folder size and then check that we have at least twice the space?

[2022-11-21 14:04] alejoe91 commented on #987
Fixed by https://github.com/SpikeInterface/spikeinterface/pull/893

[2022-11-21 14:04] #987 closed

[2022-11-21 14:07] alejoe91 commented on #979
Yes those are the main bottlenecks. Computing amplitudes is usually pretty fast, but PC can be very slow. In order to speed them up, we added an option to use `sparsity`, i.e, for each unit, to compute PCs only on sparse channels. I don't think that is correctly propagated to Phy yet. I'll double check and let you know

[2022-11-21 19:37] samuelgarcia commented on #1076
@TomBugnon : does your memory usage increase for always ?

@maxjuv laos experience some memmap problem that consums too much memory with spikeglx

[2022-11-22 09:31] alejoe91 commented on #1056
Hi @kushalbakshi

Thanks for the file! The probe gets loaded correctly by `probeinterface`:

[code]

Produces:
![image](https://user-images.githubusercontent.com/17097257/203277403-dd6c1eb4-db21-4d19-aed4-7e16560481e5.png)

Do you have a sync channel in the `ap.bin` file? That could explain the mismatch, since the probe has 384 channels, but the bin file has 385 (384 + SYNC). If that's the case, y

[2022-11-22 11:51] a-zmz commented on #1071
Hi Alessio, I did yea, and this error only occurs if i have PC calculated before calling `export_to_phy`, somehow it does not happen if PC is calculated within `export_to_phy`.

[2022-11-22 11:59] alejoe91 commented on #1071
Thanks for the clarification! I think that sparsity is currently not accounted for when PC are computed for all spikes, and that's what `export_to_phy` uses. Will try to write a patch in the next few days! Sorry about that!

[2022-11-22 12:18] a-zmz commented on #1071
ah i see, thanks!

[2022-11-22 19:28] esutlie opened #1088 "Crash during export_to_phy when compute_amplitudes=True"
When running export_to_phy with compute_amplitudes=True, the spike_amplitudes.py script throws an error when loading the sorting extractor. It appears to happen because the 'sampling_frequency' and 'multisortingcomparison' fields in the extractor dict are blank.

# Error traceback:
Exception in initializer:
Traceback (most recent call last):
  File "C:\Users\Elissa\Anaconda3\envs\spike_sorting\lib

[2022-11-22 22:08] kushalbakshi commented on #1056
I actually set `load_sync_channel=True` and it worked! So I think there was a mismatch between the `ap.bin` and `.meta` files. Thank you so much for your help.

[2022-11-23 06:50] alejoe91 commented on #1056
Great! Closing then :)

[2022-11-23 06:50] #1056 closed

[2022-11-23 09:16] alejoe91 opened #1089 "[implementation] Implement "nearest channel" localization method"
### Current issue

The current [`peak_localization`](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sortingcomponents/peak_localization.py) module implements the `center_of_mass` and `monopolar_triangulation` methods.
Some applications might use a very simple approach that localizes a spike/unit based on the nearest channel location.

### Proposed solution

Implement a

[2022-11-23 12:08] a-zmz opened #1091 "`export_to_phy` results do not show individual waveforms in phy WaveformView"
Hi,

I have managed to use `export_to_phy` for my ks3 output, and everything looks nice. However, in WaveformView, I can only see the mean waveform trace, not individual one. I tried to toggle mean and untoggle, does not resolve the problem... Please see screenshot of phy below.

Have anyone encountered this issue, and any idea how to resolve this? Thanks!

![image](https://user-images.githubuserc

[2022-11-23 12:21] #1091 closed

[2022-11-23 13:39] TomBugnon commented on #1076
@alejoe91 This happens also with the raw (concatenatesegment)recording, so not due to preprocessing

@samuelgarcia I didn't notice anyting weird regarding memory usage.

Has anyone been able to replicate this?

[2022-11-23 14:24] samuelgarcia commented on #1076
Apparently the memory usage from @maxjuv was only on widows finally.

[2022-11-23 14:28] alejoe91 commented on #1076
Thanks for looking into it @TomBugnon
Definitely this narrows it down!

[2022-11-23 14:41] maxjuv commented on #1076
Yep, On my linux cluster everyhting is fine. As mentionned, I have to increase my "ulimit -n" when I submits my jobs, otherwise I got a 'too many files open" error
On my local windows, when I use memmap, the RAM keeps growing upto ~98%. Although, the computer rarely swap, even if other memory-consuming softwares are launched. So windows may free some memory (used by memmap) on demand.

[2022-11-23 16:58] CodyCBakerPhD opened #1092 "Duplicated channel ID in check_recordings_equal"
This was caught by the `NwbRecordingExtractor`, which doesn't like having duplicate `channel_ids` specified (which I think is fine since it's a 'bad' input), but the source cause was this line of the the `check_recordings_equal` function: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/testing.py#L28

Code to reproduce:

Download [PlexonRecordingInterface_plexon_re

[2022-11-23 20:47] CodyCBakerPhD opened #1093 "Add RecordingExtractor for NeuroExplorer"
Neo RawIO here: https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuroexplorerrawio.py

Would be great to have a `NeuroExplorerRecordingExtractor` as well

Examples files: https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/src/master/neuroexplorer

[2022-11-23 21:14] alejoe91 commented on #1092
@CodyCBakerPhD I think we should check directly at the base extractor that IDs are unique, since the same holds for units too

[2022-11-23 21:47] CodyCBakerPhD commented on #1092
So at the `BaseExtractor.get_traces(..., channel_ids=some_channels)` level, check that the input to `channel_ids` is a unique set of string identifiers? And then correct the `ch = [rec.get_channel_ids()[0], rec.get_channel_ids()[-1]]` line to be guaranteed to always specify a list of unique channels?

[2022-11-23 22:15] olesnits opened #1094 "'recording' must be a RecordingExtractor"
Hello, when trying to use` spiketoolkit.preprocessing.resample(recording, resample_rate = 10000)` on actual recording extractor

I get such an error:

[code]

[2022-11-24 02:59] ABehal2020 opened #1095 "Spikeinterface not recognized in jupyter notebook"
When I try to run the first block of code from the October 2022 spikeinterface tutorial jupyter notebook (https://github.com/SpikeInterface/spiketutorials/tree/master/Official_Tutorial_SI_0.96_Oct22), I get an error:

[code]

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-a7cf2

[2022-11-24 08:25] alejoe91 commented on #1094
What's the output of `print(recording)`?

Can you make sure you are using the latest SI version? `pip install -U spikeinterface`

[2022-11-24 08:27] ABehal2020 commented on #1095
turns out it was sys.path issue of python vs. ipython - if anyone else runs into this issue, this worked for me: https://jonathansoma.com/course/foundations-2021/quick-fix-jupyter-module-not-found/

[2022-11-24 08:27] #1095 closed

[2022-11-24 08:28] alejoe91 commented on #1088
Hi @esutlie

The "problem" is that the `consensus` sorting is in memory, and cannot be saved to a file (which is required for parallel processing.

You can fix it by adding the following line after creating it: `consensus=consensus.save(folder='consensus')`

Let me know if that fixes it! And happy Thanksgiving!

[2022-11-24 08:56] alejoe91 commented on #1095
Great!

[2022-11-24 09:05] alejoe91 commented on #1092
@CodyCBakerPhD the problem is that the recording has 1 channel, so the `[0]` and `[-1]` channels are the same! I made that part of the test conditional to having >1 channels here #1096

[2022-11-24 12:16] olesnits commented on #1094
Alright.
So, when I print recording I get this:
`MCSH5RecordingExtractor: 252 channels - 1 segments - 25.0kHz - 240.200s
  file_path: privateinfo/.h5`

I have checked and updated the spike interface version to the last one:
`SpikeInterface version: 0.96.1`

Still get the same error with the resample function:
`AssertionError: 'recording' must be a RecordingExtractor`

[2022-11-24 12:29] alejoe91 commented on #1094
Can you paste the full error?

[2022-11-24 12:30] alejoe91 commented on #1094
Also could you share the file so I can take a look? A google drive link would be great!

[2022-11-24 12:32] olesnits commented on #1094
Can't unfortunately share a data due to hospital privacy.
here is full error:
`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-40-f0636d4209d9> in <module>
----> 1 data_r = spiketoolkit.preprocessing.resample(data, resample_rate = 10000)

D:\7 term KPI\python\lib\site-packages\spi

[2022-11-24 12:34] alejoe91 commented on #1094
Oh you are using `spiketoolkit`! You should use the new API directly from spikeinterface! You can read about the version compatibility at the end of this page: https://spikeinterface.readthedocs.io/en/latest/

The "old" API is not maintained anymore..

[2022-11-24 12:36] alejoe91 commented on #1094
Actually, I think you are mixing the 2 APIs. Instead of `spiketoolkit.preprocessing.resample`, you should do:
[code]

[2022-11-24 12:42] olesnits commented on #1094
oh yeah i just found this one:

[2022-11-24 12:42] olesnits commented on #1094
'resample': <class 'spikeinterface.preprocessing.resample.ResampleRecording'>,

[2022-11-24 12:43] alejoe91 commented on #1094
Uninstall `spiketoolkit`!!! ;)

[2022-11-24 12:46] olesnits commented on #1094
alright, it is working now. i just installed the spiketoolkit  to use the **resample** function. apparently it exists in the new API, you should mention this on the website for other people :)
Thank you!

[2022-11-24 13:30] #1092 closed

[2022-11-24 13:47] samuelgarcia opened #1099 "Find a proper way to handle recording when not compatible with microVolts"
Because spikeinertface is for spike sorting all the recording are supose to be compatible with microVolt.
And the get_trace(return_scaled=True) must give uV.
Something a recording has nothing to do with an extra cellular recording.
We need to handle this correctly with proper flags and/or annotations.
This would avoid patch like this #1098.

[2022-11-24 13:54] #1094 closed

[2022-11-24 14:13] alejoe91 opened #1100 "[feat-core] remove all classes (except for base) from init"
Since we encourage a functional approach, I suggest we remove all classes (e.g. for preprocessing, sorters, etc.) from the `__init__` file. This will make package exploration with tabs easier

@samuelgarcia?

[2022-11-24 15:25] samuelgarcia commented on #1100
No sure.
For notebook,
`rec, sorting = si.read_mearec()` si the way to go for me.
but in some pipeline having `rec = si.MEArecRecording` is also cool.
I think this could break lot of code for few benefit.
Lets think about this a bot more.